<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                    Closed
            </strong>
    </div>
    <div class="govuk-body ccs-font-weight-semi-bold govuk-!-width-two-thirds govuk-!-width-full-width">
    <%= "This contract offer was closed on #{format_date_time(@page_data[:date_contract_closed])}" %>
    </div>
    <div class = "govuk-!-padding-bottom-3">
     <%= govuk_details(('Contract offer history')) { "The supplier declined this contract on #{format_date_time@page_data[:date_contract_declined]}. <br/> You sent this contract offer to the supplier on #{format_date_time@page_data[:date_contract_sent]}.".html_safe} %>
    </div>
    <div class = "govuk-!-padding-bottom-6">
     <%= govuk_details(('Reason for declining')) { "The supplier's reason for declining was: #{@page_data[:reason_for_declining]}" } %>
    </div>
     
  
  <%= render partial: 'procurement_requirements' %>
  <%= render partial: 'call_off_contract_documents' %>
  
  <div class="govuk-body ccs-font-weight-semi-bold govuk-!-width-full-width govuk-!-padding-top-8">
    <%= "If you wish to reuse this procurement's requirements in a new/similar procurement, or further competition, please click on the button below to create a copy and save under a new contract name." %>


  <%= form_for @page_data[:model_object], url: '#', method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= govuk_continuation_buttons(pd, f,false,true,false,false) %>
  <%end %>
<%end %>