<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <p class="govuk-body govuk-!-width-three-quarters govuk-!-font-size-24">Please provide further information that will help us put your contract together.</p>
    <div class="govuk-!-width-full govuk-!-font-size-19">
        <dl class="govuk-summary-list govuk-body govuk-!-width-three-quarters">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell" scope="row"></th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%">Payment method</th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to  'Answer question', ccs_patterns_prototypes_payment_method_path %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%">Invoicing contact details</th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to  'Answer question', ccs_patterns_prototypes_invoicing_contact_details_path %></td>
                    <td class="govuk-table__cell"></td>
                </tr><tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%">Authorised representative</th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to  'Answer question', ccs_patterns_prototypes_authorised_representative_path %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%">Notices contact details</th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to  'Answer question',  ccs_patterns_prototypes_new_notices_contact_details_path %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%">Security policy</th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to  'Answer question', facilities_management_beta_procurements_path %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%">Local government pension scheme</th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to  'Answer question', ccs_patterns_prototypes_lgps_check_path %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
            </tbody>
        </table>
        </dl>
    </div>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
        <%= govuk_continuation_buttons(pd, f) %>
    <%end %>
<%end %>

