<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|  %>

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title ">
      Your contract was sent
    </h1>
    <div class="govuk-panel__body">
      The ‘<%= @page_data[:contact_name] %>’ (<%= @page_data[:contact_code] %>) contract was sent to <%= @page_data[:supplier_name] %>.
    </div>
  </div>

  <p><b>What happens next</b></p>
  <p>The supplier has 2 working days (48 hours) to accept or decline your offer.</p>
  <br>

  <p class=" govuk-!-font-weight-bold">1. If the supplier accepts the offer</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">the system will notify you that they have accepted your offer, and give you the suppliers contact details</li>
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">the supplier will sign the contract and send it back to you (offline)</li>
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">you will then sign the contract and send it back to the supplier (offline)</li>
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">you will confirm on this portal that the contract has been signed by both parties</li>
  </ul>
  <br>

  <p class=" govuk-!-font-weight-bold">2. If the supplier declines the offer</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">you will be notified that they have declined your offer, and provided a reason why</li>
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">you have the choice to: </li>
    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-2 "> 
      <span> - offer the contract to the next placed supplier (after reviewing their price)</span><br>
      <span> - switch to a further competition</span><br>
      <span> - change your requirements</span><br>
      <span> - stop the process</span>
    </div>
  </ul>
  <br>

  <p>If the supplier doesn't respond within 2 working days (48 hours), they are deemed to have declined the offer.</p>

  <%= form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
    <%= govuk_continuation_buttons(pd, f, false , false, false) %>
  <% end %>
<% end %>
