<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
                  Declined
          </strong>
  </div>
  <div class="govuk-body ccs-font-weight-semi-bold govuk-!-width-two-thirds govuk-!-width-full-width">
    <%= "The supplier declined this contract offer on #{format_date_time(@page_data[:date_contract_closed])}" %>
  </div>
  <div class= "govuk-body govuk-!-width-two-thirds ">
    <div class = "govuk-!-padding-bottom-3">
      <%= govuk_details(('Contract offer history')) { "You sent this contract offer to the supplier on #{format_date_time@page_data[:date_contract_sent]}."} %>
    </div>
    <%= govuk_details(('Reason for declining')) { "The supplier's reason for declining was: #{@page_data[:reason_for_declining]}" } %>
  </div>

  <%= render partial: 'procurement_requirements' %>
  <%= render partial: 'call_off_contract_documents' %>

  <div class= "govuk-grid-column-three-quarters govuk-!-padding-left-0">

    <p class="govuk-body-m ccs-font-weight-semi-bold govuk-!-padding-top-8">The supplier did not respond within the required timescale, so this has been automatically recorded as declined with 'no reponse' as the reason.</p>

    <h2 class="govuk-heading-m">Available next steps</h2>

    <p class="govuk-body-m ccs-font-weight-semi-bold govuk-!-margin-bottom-2">You can look at the next lowest priced supplier and the option of offering them your contract. Click on the 'View next supplier's price’ button below.</p>

    <p class="govuk-body-m ccs-font-weight-semi-bold govuk-!-margin-bottom-2">or</p>

    <p class="govuk-body-m ccs-font-weight-semi-bold ">You can close this procurement by clicking on the 'Close this procurement' button below, it will then be viewable in the closed section in your procurements dashboard. If you click on the procurement in the dashboard you will have the option to create a copy of the requirements for use in a new/similar procurement, or further competition. This is a quick way to amend some of your requirements and re-run the results.</p>

  </div>

  <%= form_for @page_data[:model_object], url: '#', method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= govuk_continuation_buttons(pd, f,true,true,true,true) %>
  <% end %>
<% end %>
