<%= govuk_page_content@page_description, @page_data[:model_object]) do |pd|  %>
  <span class="govuk-caption-m"><%= @procurement.name %></span>
  <h1 class="govuk-heading-xl">Important information</h1>
  <dd></dd>
    
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
      There are some elements of a direct award contract that cannot be amended.
      Please read the below information to ensure that a direct award is suitable for you.
    </span>
  </summary>
    
  <dl class="govuk-summary-list">
    <table class="govuk-table">
        <tbody class="govuk-table__body">
          <td class="govuk-table__cell">
            <b>Insurance</b>
            Fixed levels of insurance will apply and cannot be changed within a direct award. To view the levels and for further information, please see joint_schedule_3 - insurance requirements.
          </td>
          <td class="govuk-table__cell">
            <b>Indexation</b>
            Your supplier will have the opportunity to adjust their pricing using the CPI index data on the first anniversary of your contract start date. Further information on this can be found in call_off_schedule_5 - call-off pricing.
          </td>
          <td class="govuk-table__cell">
            <b>Services</b>
            The service specifications and service standards cannot be amended within a direct award. Please check within the service requirements and standards that you're happy with the details for the services you are buying.
          </td>
          <td class="govuk-table__cell">
            <b>Price</b>
            Your price has been calculated using rates that were submitted by suppliers when they competed to join the framework. There can be no further negotiation on the price within a direct award. 
          </td>
        </tbody>
    </table>
  </dl>
    
  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      If you wish to change any of the above criteria, you will need to consider switching to a further competition. 
    </strong>
  </div>
  
  <%= render('continue_button_footer') %>
  <%= form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
    <%= govuk_continuation_buttons(pd, f) %>
  <% end %>
<%end %>
