<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f|%>
        <%= govuk_prevent_submission(f, true) %>
        <%= govuk_grouped_field(f, 'This is the relevent contact for invoicing.', :select_an_invoicing_contact) do |ff, attr| %>
            <%= govuk_start_individual_field(ff,attr) do |a| %>
                <div class="govuk-radios">
                    <div class="govuk-radios__item govuk-!-margin-bottom-6">
                        <input class="govuk-radios__input" id="contact_name" name="select_an_invoicing_contact" type="radio" value="name"/>
                        <label class="govuk-label govuk-radios__label ccs-font-weight-semi-bold" for="direct_award">
                            <%= "#{@page_data[:invoicing_contact_full_name]}, #{@page_data[:invoicing_contact_job_title]}" %>
                            <span class="govuk-caption-m govuk-!-margin-top-2">
                                <%= @page_data[:invoicing_contact_address] %>
                            </span>
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="new_invoicing_contact" name="select_an_invoicing_contact" type="radio" value="new_contact"/>
                        <label class="govuk-label govuk-radios__label ccs-font-weight-semi-bold" for="direct_award">
                            Enter a new invoicing contact
                        </label>
                    </div>
                </div>
            <% end %>
        <% end %>
        <%= govuk_continuation_buttons(pd, f, false) %>
    <% end %>
<% end %>