<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f|%>
        <h1 class="govuk-body-l govuk-!-width-one-half">The next lowest supplier who can deliver the services to your buildings is <b>Next supplier LTD.</b></h1>
          <div class="govuk-body-l">
              The contract price with this supplier is <b>£1,000,020.</b>
          </div>
          <div>
              <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    About the price
                  </span>
                </summary>
                <div class="govuk-details__text govuk-!-width-three-quarters">
                  The price shown is the contract value, excluding VAT, based on the contract terms and service requirements you have entered.
                </div>
              </details>
          </div>
        <div>
          <div>
            <h2 class="govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24">Available next steps</div>
          </div>
          <ol class="govuk-list govuk-list--number govuk-!-width-three-quarters">
            <li class="govuk-!-font-weight-bold">You can offer your contract to this supplier</li>
              <ul class="govuk-list govuk-list--bullet govuk-!-width-three-quarters">
              <li >we have generated your contract documents using this suppliers details and pricing.</li>
              <li>the supplier will have 2 working days to respond to your offer.</li></ul>
            <li class="govuk-!-font-weight-bold">You can close this procurement</li>
              <ul class="govuk-list govuk-list--bullet govuk-!-width-three-quarters">
                <li>
                  by clicking on the button below, it will then be viewable in closed section in your procurements dashboard. 
                  You will then have the option to create a copy of the requirements for use in a new/similar procurement, or further competition
                </li>
              </ul>
            <li class="govuk-!-font-weight-bold">You can return to your procurements dashboard</li>
              <ul class="govuk-list govuk-list--bullet govuk-!-width-three-quarters">
                <li >you can simply return to your procurements dashboard in which you will find a saved copy of this contract for when you are ready </li>
              </ul>
          </ol>
        </div>
        <div class="govuk-!-width-one-half">
          <table class="govuk-table govuk-!-margin-bottom-0 govuk-!-width-three-quarters">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <%= image_tag('zip_image.png', :alt => 'download zip file', width: '60px') %>
                    </td>
                    <td class="govuk-table__cell">
                        <%= link_to 'Download Call-off contract', '#', class: 'govuk-!-font-size-20 govuk-link govuk-link--no-visited-state' %><br/>
                        <p class="govuk-hint govuk-!-margin-bottom-0">Created Tuesday 14th May 2019 at 11:49am</p>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <%= govuk_continuation_buttons(pd, f, true) %>
    <% end %>
<% end %>