<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
  
  <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f|%>
    <%= govuk_prevent_submission(f, true) %>
      <%= govuk_grouped_field(f, 'Please select the payment method that will be used', :route_to_market) do |ff, attr| %>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="BACS_payment" name="payment" type="radio" value="BACS_payment"/>
                <label class="govuk-label govuk-radios__label" for="route_to_market">
                  BACS payment
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="government_procurement_card" name="payment" type="radio" value="government_procurement_card"/>
                <label class="govuk-label govuk-radios__label" for="route_to_market">
                  Government procurement card
                </label>
            </div>
          </div>
        <%end %>
      <%end %>
  </form>
    <%= form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
    <%= govuk_continuation_buttons(pd, f, false) %>
  <% end %>
<%end%>
