<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
  <h1 class="govuk-!-width-two-thirds govuk-heading govuk-heading-l">Here are the contract prices by supplier shown in ascending order.</h1>
  <blockquote class="cmp-inset-text cmp-inset-text--neutral govuk-!-width-two-thirds govuk-!-font-size-27">
    <span><%=@page_data[:sorted_supplier_list].first[:name] %></span><span style="float:right"><%=number_to_currency(@page_data[:sorted_supplier_list].first[:price])%></span>
    <br/><span class="govuk-!-font-size-19">lowest priced supplier</span>
  </blockquote>
  <p class="govuk-body govuk-!-width-two-thirds">You are only shown the name of the <strong>lowest price supplier</strong>, as they can offer the best price for your requirements.</p>
  <div class="govuk-!-width-two-thirds govuk-!-font-size-19">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <%@page_data[:sorted_supplier_list].each_with_index do |s, i| %>
    <span><%="Supplier #{i+2}" %></span><span class="govuk-!-font-size-24" style="float:right"><%=number_to_currency(s[:price])%></span>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <%end %>
  </div>
  <div class="govuk-body govuk-!-width-two-thirds govuk-!-margin-bottom-4">
    <p>Your requirements have been priced using rates submitted by suppliers when they competed to the join the framework.</p>
    <p>If the lowest priced supplier declines the opportunity, the details of the second place supplier will be displayed to you with the option to proceed with them.</p>
    <p>Prices shown are contract values, excluding VAT, and are based on the contract term and service requirements that you have entered.</p>
    <p class="ccs-font-weight-semi-bold">You can switch to a further competition at any time.  You may wish to consider a further competition if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you feel you could achieve a more competitive price if suppliers had the opportunity to submit bespoke prices for your requirements</li>
      <li>you wish to further test quality</li>
      <li>you wish to alter any of the service standards, service specification or terms and conditions</li>
      <li>you have sufficient time in your procurement schedule</li>
    </ul>
  </div>
  <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
    <%= govuk_continuation_buttons(pd, f) %>
  <%end %>
<%end%>
