<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
  <h1 class="govuk-heading govuk-heading-l govuk-!-width-full">Based on information provided, this procurement is eligible for the following sub-lot:</h1>
  <h1 class="govuk-heading govuk-heading-l"><%= @page_data[:selected_sublot] %></h1>
  <h2 class="govuk-heading govuk-heading-m">Estimated cost<br/><span class="govuk-heading govuk-heading-l"><%= number_to_currency(@page_data[:estimated_cost]) %></span></h2>
  <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How your estimated cost was calculated
      </span>
    </summary>
    <div class="govuk-details__text">
      Your estimated cost has been calculated using a combination of framework and benchmark pricing, and your current cost.  <br/>This cost has been used to place you in the correct sub-lot.
    </div>
  </details>
  <h2 class="govuk-heading govuk-heading-m govuk-!-margin-bottom-0">There are <span style="font-size:larger"><%= @page_data[:no_suppliers] %></span> suppliers shortlisted</h2>
  <h2 class="govuk-heading govuk-heading-s govuk-!-margin-top-0">who are able to provide the services your require in your location(s)</h2>
  <%@page_data[:supplier_collection].each do |s| %>
    <p><%=s %></p>
    <hr class="govuk-!-width-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <%end %>
  <hr class="govuk-section-break--l govuk-section-break--visible"/>
  <h2 class="govuk-heading govuk-heading-m">Building and services summary</h2>
  <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%='Building'.pluralize(@page_data[:buildings].length) %> (<%=@page_data[:buildings].length %>)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul>
        <%@page_data[:buildings].each do |b| %>
        <li><%=b%></li>
        <%end %>
      </ul>
    </div>
  </details>
  <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%='Service'.pluralize(@page_data[:services].length) %> (<%=@page_data[:services].length %>)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul>
        <%@page_data[:services].each do |s| %>
          <li><%=s %></li>
        <%end %>
      </ul>
    </div>
  </details>
  <hr class="govuk-section-break--l govuk-section-break--visible"/>
  <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f|%>
    <%= govuk_prevent_submission(f, true) %>
    <%= govuk_grouped_field(f, 'Available routes to market', :route_to_market) do |ff, attr| %>
      <%= govuk_start_individual_field(ff,attr) do |a| %>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="direct_award" name="route_to_market" type="radio" value="direct"/>
            <label class="govuk-label govuk-radios__label" for="direct_award">
              <b>Direct award</b> (the most competitive direct award price is <%=number_to_currency(@page_data[:supplier_prices].min) %>)
            </label>
            <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is a direct award?
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <li>the award of a contract directly to the supplier with the lowest price for your requirements, without the need for further competition</li>
                  <li>the contract is awarded based on price only (using rates submitted by suppliers when they competed to join the framework</li>
                  <li>standard call-off terms and conditions</li>
                </ul>
              </div>
            </details>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="further_comp" name="route_to_market" type="radio" value="further"/>
            <label class="govuk-label govuk-radios__label" for="further_comp">
              Further competition
            </label>
            <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What is further competition?
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <li>shortlisted suppliers are invited to compete against each other to give you the best outcome</li>
                  <li>both price and quality are tested in a further competition</li>
                  <li>you can tailor service requirements and terms and conditions to suit your needs</li>
                  <li>a tender period is involved in a further competition, so timescales are long than a direct award</li>
                </ul>
              </div>
            </details>
          </div>
        </div>
      <%end %>
      <p>Any changes to the information provided may result in a different outcome.</p>
      <button class="govuk-button govuk-!-margin-right-2"><%=pd.navigation_details.primary_text %></button>
      <button class="govuk-button govuk-button--secondary"><%=pd.navigation_details.secondary_text %></button><br/>
      <%=link_to pd.navigation_details.return_text, url: pd.navigation_details.return_url, role: 'button', class: 'govuk-button govuk-!-margin-top-4' %>
      <br/><a href="javascript:window.print()" class="govuk-clearfix govuk-!-margin-top-6 govuk-link govuk-link--no-visited-state ccs-print-icon">Print this page</a>
    <%end %>
  <%end %>
<% end %>
