<% content_for :page_title, edit_page_title %>
<%= render partial: 'shared/error_summary', locals: { errors: @procurement.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span id="procurement-subtitle" class="govuk-caption-m govuk-!-font-size-24">
      <%= page_subtitle %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= edit_page_title %>
    </h1>
  </div>
</div>

<%= form_with url: show_path, model: @procurement, method: :put, html: { specialvalidation: true, novalidate: true } do |f| %>
  <%= render partial: "facilities_management/procurement_details/edit_partials/#{section}", locals: { f: f } %>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <%= f.submit(t('.save_and_return'), class: 'govuk-button', data: { module: 'govuk-button' }) %>
      <p>
        <%= link_to t('.return_to_requirements'), procurement_show_path, class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
