<% content_for(:page_title, t('.heading').html_safe) %>

<div class="govuk-grid-row" id="building-missing-region">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('.return_link'), facilities_management_procurement_summary_path(@procurement, summary: 'buildings_and_services'),  'aria-label': t('.return_link'), class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>
    <%= render partial: 'shared/error_summary', locals: { errors: @procurement_building.errors } %>
    <%= govuk_page_header(LayoutHelper::HeadingDetail.new(@procurement_building.name, @procurement.contract_name, nil, nil, nil)) %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.heading') %>
    </h2>
  </div>
</div>
<%= form_group_with_error(@procurement_building, :service_codes) do |displayed_error| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class='govuk-heading-m'>
        <%= t('.question') %>
      </h3>
      <%= displayed_error %>
      <p class='govuk-hint'>
        <%= t('.select_all_that_apply') %>
      </p>
    </div>
  </div>
  <div class="govuk-checkboxes buildings_and_services">
    <ul class="govuk-list">
      <li class="govuk-checkboxes__item ccs-select-all govuk-!-margin-bottom-4">
        <input class="govuk-checkboxes__input" id="box-all" name="box-all" type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="box-all">
          <%= t('.select_all') %>
        </label>
      </li>
      <li class="govuk-!-margin-bottom-4">
        <p class="govuk-body govuk-!-margin-bottom-0"><%= t('.or') %></p>
      </li>
      <%= f.collection_check_boxes(:service_codes, @procurement.services, :code, :name) do |c| %>
        <li class="govuk-!-margin-bottom-4">
          <div class="govuk-checkboxes__item">
            <%= c.check_box(class: 'govuk-checkboxes__input procurement-building__input') %>
            <%= c.label(class: 'govuk-label govuk-checkboxes__label') %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-two-thirds">
    <%= f.submit t('.save_and_return'), class: 'govuk-button', 'aria-label': t('.save_and_return'), name: 'buildings_and_services' %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('.return_link'), facilities_management_procurement_summary_path(@procurement, summary: 'buildings_and_services'),  'aria-label': t('.return_link'), class: 'govuk-link-no-visited-state govuk-!-font-size-19' %>
  </div>
</div>
