<% content_for(:page_title, t('.heading').html_safe) %>

<div class="govuk-grid-row" id="building-missing-region">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('.return_link'), facilities_management_rm3830_procurement_path(@procurement),  'aria-label': t('.return_link'), class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>
    <%= render partial: 'shared/error_summary', locals: { errors: @building.errors } %>
    <%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(t('.heading'), @procurement.contract_name, nil, nil, nil)) %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= @procurement_building.name %>
    </h2>
    <p>
      <%= t('.we_use_your_buildings') %>
    </p>
    <p>
      <%= t('.for_this_building') %>
    </p>
  </div>
</div>

<%= building_summary t('.building_name'), @procurement_building.name %>
<%= building_summary t('.building_address'), @procurement_building.full_address %>

<%= form_group_with_error(f.object, :address_region) do |displayed_error| %>
  <div id="select-region">
    <%= f.label :address_region, t('.select_region'), class: 'govuk-heading-s'%>
    <%= displayed_error %>
    <%= f.select :address_region, regions, { prompt: t('.prompt') }, { class: 'govuk-select govuk-!-width-one-third' } %>
  </div>
  <div id="region-selection" hidden>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
      <%= t('.region') %>
    </h3>
    <span id="building-region" class="govuk-body govuk-!-margin-bottom-2">
    </span>
    <br/>
    <hr class="govuk-section-break govuk-!-margin-bottom-2">
    <%= link_to t('.change_link'), '#', class: 'govuk-link govuk--link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.change_link_aria_label'), id: 'change-region', tabindex: -1 %>
  </div>
<% end %>
<hr class="govuk-section-break govuk-section-break--l">
<div>
  <%= f.submit 'Save and return', class: 'govuk-button', name: :add_missing_region, 'aria-label': 'Save and return' %><br/>
  <%= link_to t('.return_link'), facilities_management_rm3830_procurement_path(@procurement),  'aria-label': t('.return_link'), class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19' %>
</div>
