<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= building_name %>
    </h2>
    <p>
      <%= t('.we_use_your_buildings') %>
    </p>
    <p>
      <%= t('.for_this_building') %>
    </p>
  </div>
</div>

<%= building_summary t('.building_name'), building_name %>
<%= building_summary t('.building_address'), @procurement_building.full_address %>

<%= form_group_with_error(f.object, :address_region) do |displayed_error| %>
  <div id="building-missing-region">
    <div id="select-region">
      <%= f.label :address_region, t('.select_region'), class: 'govuk-heading-s'%>
      <%= displayed_error %>
      <%= f.select :address_region, regions, { prompt: t('.prompt') }, { class: 'govuk-select govuk-!-width-one-third' } %>
    </div>
    <div id="region-selection" hidden>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        <%= t('.region') %>
      </h3>
      <span id="building-region" class="govuk-body govuk-!-margin-bottom-2">
      </span>
      <br/>
      <hr class="govuk-section-break govuk-!-margin-bottom-2">
      <%= link_to t('.change_link'), '#', class: 'govuk-link govuk--link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.change_link_aria_label'), id: 'change-region', tabindex: -1 %>
    </div>
  </div>
<% end %>
