<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

    <%= form_tag @form_path, method: :get do %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <input type="hidden" name="lot" id="lot" value='1' >
      <%= govuk_form_group_with_optional_error(@journey, :under_threshold) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :under_threshold) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
            <h1 class="govuk-fieldset__heading">
              <%= t('.heading') %>
            </h1>
          </legend>

          <%= display_error(@journey, :under_threshold) %>

          <div class="govuk-radios--inline">
            <div class="govuk-radios__item">
              <%= radio_button_tag :under_threshold, 'yes', checked?(params[:under_threshold], 'yes'), class: 'govuk-radios__input' %>
              <%= label_tag :under_threshold, t('yes'), class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :under_threshold, 'no', checked?(params[:under_threshold], 'no'), class: 'govuk-radios__input' %>
              <%= label_tag :under_threshold, t('no'), class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= submit_tag t('common.submit'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>
    <% end %>

  </div>
</div>
