<%= add_optional_error_prefix_to_page_title(@journey.errors) %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

    <div id="ccs-error-sum" class="govuk-error-summary govuk-visually-hidden" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title"><%= t('common.error_summary_title') %></h2>
      <div class="govuk-error-summary__body">
        <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#central_government_yes">
              <%= t('activemodel.errors.models.legal_services/journey/check_suitability2.attributes.central_government.inclusion') %>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <%= form_tag @form_path, class: :'css-form', autocomplete: 'off', method: :get do %>

      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= govuk_form_group_with_optional_error(@journey, :central_government) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :central_government) do %>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
            <h1 class="govuk-fieldset__heading">
              <%= t('.heading') %>
            </h1>
          </legend>

          <span id="legal_services-error" class="govuk-error-message govuk-visually-hidden">
            <%= t('activemodel.errors.models.legal_services/journey/check_suitability2.attributes.central_government.inclusion') %>
          </span>

          <%= display_error(@journey, :central_government) %>

          <div class="govuk-radios--inline">
            <div class="govuk-radios__item">
              <%= radio_button_tag :central_government, 'yes', checked?(params[:central_government], 'yes'), class: 'govuk-radios__input', id: 'central_government_yes' %>
              <%= label_tag :central_government, t('Yes'), class: 'govuk-label govuk-radios__label', for: 'central_government_yes' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :central_government, 'yes', checked?(params[:central_government], 'no'), class: 'govuk-radios__input', id: 'central_government_no' %>
              <%= label_tag :central_government, t('No'), class: 'govuk-label govuk-radios__label', for: 'central_government_no' %>
            </div>

          </div>
        <% end %>
      <% end %>

      <%= submit_tag t('common.submit'), class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>

    <% end %>
  </div>
</div>

<script>
  function initFormVal(){

    $('#submit').click(function(e){
      var form = $('#main-content').find('form');
      var state = form.find('input[name="central_government"]');

      if(state.prop("checked") == true){

        form.submit();

      }else{
        e.preventDefault();

        var title = $('html').children('head').find('title');
        title.text('Error: '+ title.text().replace(/Error: /g,''));

        state.parents('.govuk-form-group').addClass('govuk-form-group--error');

        $('#ccs-error-sum').attr('tabindex','-1').focus().add('#legal_services-error').removeClass('govuk-visually-hidden');
      }
    });

  }

  function isValidatorLoaded(){
    if(window.jQuery){ initFormVal(); }
    else{ window.setTimeout('isValidatorLoaded();',100); }
  }
  isValidatorLoaded();
</script>
