<%= add_optional_error_prefix_to_page_title(@journey.errors) %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
    <%= render 'layouts/ccs_error_summary', title: t('common.there_is_a_problem') %>
    <%= form_tag @form_path, id: 'form-01', class: :'css-form', autocomplete: 'off', method: :get do %>

      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= govuk_form_group_with_optional_error(@journey, :central_government) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :central_government) do %>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
            <h1 class="govuk-fieldset__heading">
              <%= t('.heading') %>
            </h1>
          </legend>

          <%= display_error(@journey, :central_government) %>
          <%= render 'layouts/ccs_error_msg', error_msg: t('activemodel.errors.models.legal_services/journey/check_suitability2.attributes.central_government.inclusion') %>

          <div class="govuk-radios--inline">
            <div class="govuk-radios__item">
              <%= radio_button_tag :central_government, 'yes', checked?(params[:central_government], 'yes'), class: 'govuk-radios__input', id: 'central_government_yes' %>
              <%= label_tag :central_government, t('Yes'), class: 'govuk-label govuk-radios__label', for: 'central_government_yes' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :central_government, 'yes', checked?(params[:central_government], 'no'), class: 'govuk-radios__input', id: 'central_government_no' %>
              <%= label_tag :central_government, t('No'), class: 'govuk-label govuk-radios__label', for: 'central_government_no' %>
            </div>

          </div>
        <% end %>
      <% end %>

      <%= submit_tag t('common.submit'), class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>

    <% end %>
  </div>
</div>

<script>
  function initFormVal(){
      $("#form-01").validate({
        rules: {
          central_government: "required"
        },
        errorPlacement: function(error, element) {
          errorPlacementFnc(error, element);
        },
        success: function(error, element) {
          successFnc(error, element);
        },
        invalidHandler: function(event, validator) {
          invalidHandlerFnc(event, validator);
        }
      });
  }

  function isValidatorLoaded(){
    if(window.jQuery && $.validator){ initFormVal(); }
    else{ window.setTimeout('isValidatorLoaded();',100); }
  }
  isValidatorLoaded();
</script>
