<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :services_area) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :services_area) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('Do you need legal services for property and construction or rail?') %>
        </h1>
      </legend>
      <%= display_error(@journey, :services_area) %>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :services_area, 'yes', checked?(params[:services_area], 'yes'), class: 'govuk-radios__input' %>
          <%= label_tag :services_area, t('Yes, property and construction (Lot 3)'), class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :services_area, 'no', checked?(params[:services_area], 'no'), class: 'govuk-radios__input' %>
          <%= label_tag :services_area, t('Yes, rail (Lot 4)'), class: 'govuk-label govuk-radios__label' %>
        </div>
 <div class="govuk-radios__item">
          <%= radio_button_tag :services_area, 'other', checked?(params[:services_area], 'other'), class: 'govuk-radios__input' %>
          <%= label_tag :services_area, t('No'), class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
