<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

    <div id="ccs-error-sum" class="govuk-error-summary govuk-visually-hidden ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title"><%= t('common.error_summary_title') %></h2>
      <div class="govuk-error-summary__body">
        <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#yes_property">
              <%= t('activemodel.errors.models.legal_services/journey/choose_services_area.attributes.services_area.inclusion') %>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <%= form_tag @form_path, class: 'ccs-form', id: 'choose_services_area', method: :get do %>

      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>

      <%= govuk_form_group_with_optional_error(@journey, :services_area) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :services_area) do %>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.question') %>
            </h1>
          </legend>

          <%= display_error(@journey, :services_area) %>

          <span id="legal_services-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
            <%= t('activemodel.errors.models.legal_services/journey/choose_services_area.attributes.services_area.inclusion') %>
          </span>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <%= radio_button_tag :services_area, 'yes', checked?(params[:services_area], 'yes'), class: 'govuk-radios__input', id: 'yes_property' %>
              <%= label_tag :services_area, t('.opt_01'), class: 'govuk-label govuk-radios__label', for: 'yes_property' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :services_area, 'no', checked?(params[:services_area], 'no'), class: 'govuk-radios__input', id: 'yes_rail' %>
              <%= label_tag :services_area, t('.opt_02'), class: 'govuk-label govuk-radios__label', for: 'yes_rail' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :services_area, 'other', checked?(params[:services_area], 'other'), class: 'govuk-radios__input', id: 'no_other' %>
              <%= label_tag :services_area, t('.opt_no'), class: 'govuk-label govuk-radios__label', for: 'no_other' %>
            </div>

          </div>

        <% end %>
      <% end %>

      <%= submit_tag t('common.submit'), id: "submit", class: "govuk-button" %>

    <% end %>

  </div>
</div>
