<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

<%= form_tag @form_path, class: :'ccs-form', method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>

  <%= govuk_form_group_with_optional_error(@journey, :lot_region) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :lot_region) do %>
    <!-- add to fieldset *****************************
    aria-describedby: services-hint
    **************************************************
    -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <%= display_error(@journey, :central_government) %>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
              <%= t('.heading') %>
            </h1>
          </legend>

        </div>
      </div>

      <div id="ccs-dynamic-accordian" class="govuk-grid-row">

        <div id="accordion-default" class="govuk-grid-column-two-thirds">

          <p id="services-hint" class="govuk-heading-m govuk-!-font-size-27">
            <%= t('.hint') %>
          </p>

          <div class="govuk-checkboxes ccs-govuk-checkboxes--thin">

            <% lot1 = ['North East', 'North West','Yorkshire and the Humber','East Midlands', 'West Midlands','East of England', 'Greater London', 'South East','South West','Wales','Scotland','Northern Ireland','Full national coverage'] %>

            <% lot1.each do |lot_region| %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag(
                          "lot_region[]",
                          lot_region,
                          false,
                          class: "govuk-checkboxes__input",
                          id: "lot_region_i{lot_region}"
                        ) %>
                <label class="govuk-label govuk-checkboxes__label" for="lot_region<%= lot_region %>">
                  <%= lot_region %>
                </label>
              </div>
            <% end %>
          </div>

        </div>

        <section class="govuk-grid-column-one-third">
          <div id="css-list-basket">
            <%= submit_tag t('common.submit'), class: "govuk-button" %>

            <div>
              <h3 class="govuk-heading-m" data-txt01="<%= t('.txt01') %>" data-txt02="<%= t('.txt02') %>"><span></span> <span></span></h3>
              <a role="button" href="#" class="ccs-remove govuk-link--no-visited-state ccs-no-print" id="removeAll"><%= t('.remove_all') %></a>
              <ul class="govuk-list"></ul>
            </div>
          </div>
        </section>

      </div>

    <% end %>
  <% end %>

<% end %>

