<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

      <div id="ccs-error-sum" class="govuk-error-summary govuk-visually-hidden ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title"><%= t('common.error_summary_title') %></h2>
        <div class="govuk-error-summary__body">
          <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#region_North_East">
                <%= t('activemodel.errors.models.legal_services/journey/regional_legal_service.attributes.regional_legal_service.too_short') %>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <%= form_tag @form_path, class: 'ccs-form', id: 'regional_legal_service', method: :get do %>
        <%= hidden_fields_for_previous_steps_and_responses(@journey) %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <h1 class="govuk-caption-m govuk-!-margin-bottom-1">
              <%= t('.heading') %>
            </h1>

          </div>
        </div>

        <%= govuk_form_group_with_optional_error(@journey, :regional_legal_service) do %>

          <div id="ccs-dynamic-accordian" class="govuk-grid-row">
            <section id="accordion-default" class="govuk-grid-column-two-thirds">

              <%= govuk_fieldset_with_optional_error(@journey, :regional_legal_service) do %>

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-1">
                <%= t('.hint') %>
              </legend>

              <p class="govuk-body ccs-legend-download">
                <a href="#" class="govuk-link govuk-link--no-visited-state">View locations (<abbr title="Portable Document Format">PDF</abbr> 267<abbr title="Kilobyte">KB</abbr>)</a>
              </p>

              <%= display_error(@journey, :regional_legal_service) %>

              <span id="legal_services-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                <%= t('activemodel.errors.models.legal_services/journey/regional_legal_service.attributes.regional_legal_service.too_short') %>
              </span>

              <div class="govuk-checkboxes ccs-govuk-checkboxes--thin">

                <% lot1 = ['North East', 'North West','Yorkshire and the Humber','East Midlands', 'West Midlands','East of England', 'Greater London', 'South East','South West','Wales','Scotland','Northern Ireland'] %>

                <% lot1.each do |region| %>
                  <div class="govuk-checkboxes__item">
                    <% region_no_space = region.gsub(' ', '_') %>
                    <%= check_box_tag(
                                "regional_legal_service",
                                region,
                                false,
                                class: "govuk-checkboxes__input",
                                id: "region_#{region_no_space}"
                              ) %>
                    <label class="govuk-label govuk-checkboxes__label" for="region_<%= region_no_space %>">
                      <%= region %>
                    </label>
                  </div>

                <% end %>

                <p class="govuk-body govuk-!-margin-top-4">Or</p>

                <div class="govuk-checkboxes__item ccs-select-full">
                  <input type="checkbox" name="regional_legal_service" id="region_Full_national_coverage" value="Full national coverage" class="govuk-checkboxes__input">
                  <label class="govuk-label govuk-checkboxes__label" for="region_Full_national_coverage">
                    Full national coverage
                  </label>
                </div>

              </div>

              <%= submit_tag t('common.submit'), id: "submit01", class: "govuk-button govuk-!-margin-top-6 govuk-!-padding-left-7 govuk-!-padding-right-7" %>

            </section>

            <section class="govuk-grid-column-one-third">
              <div id="css-list-basket">
                <%= submit_tag t('common.submit'), id: "submit02", class: "govuk-button" %>
                <div>
                  <h3 class="govuk-heading-m" data-txt01="<%= t('.txt01') %>" data-txt02="<%= t('.txt02') %>"><span></span> <span></span></h3>
                  <a role="button" href="#" class="ccs-remove govuk-link--no-visited-state ccs-no-print" id="removeAll"><%= t('.remove_all') %></a>
                  <ul class="govuk-list"></ul>
                </div>
              </div>
            </section>

          </div>

        <% end %>
      <% end %>

    <% end %>
  </div>
</div>
