<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :lot1_region) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :lot1_region) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('Where do you need the regional legal services?') %> xxx
        </h1>
      </legend>
      <%= display_error(@journey, :central_government) %>
          <div class="govuk-checkboxes ccs-govuk-checkboxes--s">
             <% lot1 = ['North East', 'North West','Yorkshire and the Humber','East Midlands', 'West Midlands','East of England', 'Greater London', 'South East','South West','Wales','Scotland','Northern Ireland','Full national coverage'] %>
             <% lot1.each do |lot1_region| %>
               <div class="govuk-checkboxes__item">
               <% lot1_region_no_space = lot1_region.gsub(' ', '_') %>
                 <%= check_box_tag(
                            "lot1_region[]",
                            lot1_region,
                            false,
                            class: "govuk-checkboxes__input",
                            id: "lot1_region_#{lot1_region_no_space}"
                          ) %>
                      <label class="govuk-label govuk-checkboxes__label" for="lot1_region<%= lot1_region %>">
                        <%= lot1_region %>
                      </label>
                  </div>
                  <% end %>
                </div>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
