<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag @form_path, method: :get do %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= govuk_form_group_with_optional_error(@journey, :lot) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :lot) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              <%= t('.heading') %>
            </h1>
          </legend>

          <%= display_error(@journey, :select_lot) %>

          <div class="govuk-radios">
            <% LegalServices::Journey::SelectLot.lots.each do |lot| %>
              <div class="govuk-radios__item">
                <%= radio_button_tag :lot, lot.number, checked?(params[:lot], lot.number), class: 'govuk-radios__input' %>
                <%= label_tag :lot, lot_full_description(lot), class: 'govuk-label govuk-radios__label govuk-!-font-weight-bold' %>

                <span id=<%= "lot-#{lot.number}-item-hint" %> class="govuk-hint govuk-radios__hint">
                  <%= t(".lot#{lot.number}_extended_description") %>
                </span>

                <% if ['1', '2'].include? lot.number %>
                  <details class="govuk-details govuk-!-margin-bottom-5 govuk-!-margin-left-4">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        <%= lot_legal_services(lot) %>
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list">
                        <% LegalServices::Service.services_for_lot(lot.number).each do |service| %>
                          <li><%= service.name %></li>
                        <% end %>
                      </ul>
                    </div>
                  </details>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= submit_tag t('common.submit'), id: "submit", class: "govuk-button govuk-!-margin-top-2 govuk-!-padding-left-7 govuk-!-padding-right-7" %>

    <% end %>

  </div>
</div>
