<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead') %>
    </p>

    <p class="govuk-body">
      <%= t('.txt01') %> <a href="<%= t('common.general_legal_advice_services_url') %>"><%= t('.txt02_link') %></a> <%= t('.txt03') %>
    </p>

    <% unless landing_or_admin_page %>
      <%= link_to 'Back to start', legal_services_path, class: 'govuk-button govuk-!-margin-top-4 govuk-!-padding-left-4 govuk-!-padding-right-4' %>
    <% end %>
  </div>
</div>
