<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl govuk-!-margin-bottom-0">
      <%= t('.sub_heading') %>
    </span>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <%= t('.heading') %>
    </h1>

      <% sql_hash = {} %>
      <% params[:lot1].each do | arg | %>
        <% arg_no_slash = arg.gsub('/', '_') %>
        <% arg_no_space = arg_no_slash.gsub(' ', '_') %>
        <% arg = arg_no_space.downcase %>
        <% sql_str = "{:#{arg}=>'x'}" %>
        <% sql_hash1 = eval(sql_str) %>
        <% sql_hash = sql_hash.merge(sql_hash1) %>
      <%end %>
      <% sql_str ="{:region=>#{params[:region1]}}" %>
      <% sql_hash1 = eval(sql_str) %>
      <% sql_hash = sql_hash.merge(sql_hash1) %>
      <% lot =  LegalServices::Region.where(sql_hash) %>
      <% sql_hash1 = eval(sql_str) %>
      <% sql_hash = sql_hash.merge(sql_hash1) %>
      <% firms = [] %>
      <% lot1 = lot %>
      <% lot1.each do |lot| %>
        <% firms << lot.firm %>
      <% end %>
      <% firms.uniq! %>
      <% firms.shuffle %>

    <p><b><span class="govuk-!-font-size-27"><%= firms.count %></span> <%= t('.suppliers') %></b> <%= t('.suppliers_pt2') %></p>

    <%= link_to t('.download'), legal_services_suppliers_download_shortlist_path, role: 'button', class: 'govuk-button govuk-!-padding-left-6 govuk-!-padding-right-6 govuk-!-margin-top-2' %>

        <%= govuk_form_group_with_optional_error(@journey, :lot1_region) do %>

          <div class="ccs-search-results">
            <ul class="ccs-results-list govuk-!-margin-bottom-7">

              <% firms.each do |firm| %>
                <% lot_no_slash = firm.gsub('/', '_') %>
                <% lot_no_space = lot_no_slash.gsub(' ', '_') %>
                <% detail =  LegalServices::Details.for_sme(firm) %>
                <% sme_flag = detail.first.Is_an_SME %>
                <li class="govuk-list govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                  <a href="journey/supplier-details" class="govuk-heading-s govuk-link--no-visited-state ccs-no-underline">
                    <%= firm %>
                    <% if sme_flag == "Yes" %>
                    <abbr class="govuk-!-font-size-14 ccs-tag" title="Small and medium enterprise">SME</abbr>
                    <% end %>
                  </a>
                </li>
              <% end %>
            </ul>

            <nav aria-label="Pagination Navigation">
              <ul class="govuk-list ccs-pagination">
                  <li><a href="http://www.url.com" aria-current="true">1</a></li>
                  <li><a href="http://www.url.com">2</a></li>
                  <li><a href="http://www.url.com">3</a></li>
                  <li>&hellip;</li>
                  <li><a href="http://www.url.com">94</a></li>
                  <li class="ccs-last">
                      <a href="http://www.url.com" rel="next">Next page&nbsp;<b>&rarr;</b></a>
                  </li>
              </ul>
            </nav>

          </div>

        <% end %>

  </div>
</div>
