<div>
  <h2 class='govuk-heading-m'>
    <%= t('.heading_content_not_in_scope') %>
  </h2>
  <div>
    <h3 class='govuk-heading-s'>
      <%= t('.pdfs_and_docs') %>
    </h3>
    <p>
      <%= t('.many_of_our_older') %>
    </p>
    <p>
      <%= t('.some_of_our') %>
    </p>
    <p>
      <%= t('.plan_to_fix') %>
    </p>
    <p>
      <%= t('.accessibility_regulations_1') %>
      <%= link_to t('.accessibility_regulations_link_text'), t('.accessibility_regulations_link'), class: 'govuk-link govuk-link--no-visited-state' %>
      <%= t('.accessibility_regulations_2') %>
    </p>
    <p>
      <%= t('.any_new_PDFs') %>
    </p>
  </div>
</div>
