<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div>
  <h2 class='govuk-heading-m'>
    <%= t('.heading_what_to_do') %>
  </h2>
  <p>
    <%= t('.if_you_need') %>
  </p>
  <ul>
    <li> <%= t('.email') %> <%= mail_to t('.email_link'), t('.email_link'), class: 'govuk-link govuk-link--no-visited-state' %> </li>
    <li> <%= t('.call') %> </li>
  </ul>
  <p>
    <%= t('.well_consider') %>
  </p>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div>
  <h2 class='govuk-heading-m'>
    <%= t('.heading_reporting') %>
  </h2>
  <p>
    <%= t('.we_are_always_looking') %>
    <%= mail_to  t('.email_link'),  t('.email_link'), class: 'govuk-link govuk-link--no-visited-state' %>
  </p>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div>
  <h2 class='govuk-heading-m'>
    <%= t('.heading_enforcement') %>
  </h2>
  <p>
    <%= t('.equality') %>
    <%= link_to t('.equality_link_text'), t('.equality_link'), class: 'govuk-link govuk-link--no-visited-state' %>.
  </p>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div>
  <h2 class='govuk-heading-m'>
    <%= t('.heading_technical_information') %>
  </h2>
  <p>
    <%= t('.CCS_is_committed') %>
  </p>
  <p>
    <%= t('.this_website_partially_1') %>
    <%= link_to t('.accessibility_guidelines_link_text'), t('.accessibility_guidelines_link'), class: 'govuk-link govuk-link--no-visited-state' %>
  </p>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
