<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @challenge.errors } %>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.intro') %>
    </p>

    <%= form_tag challenge_user_path, class: 'ccs-form', id: 'cop_change_password_form', method: :post do %>

      <div class="govuk-form-group govuk-!-margin-bottom-4  <%= 'govuk-form-group--error' if @challenge.errors[:new_password].any? %>">
        <label class="govuk-label" for="password01">
          <%= t('.create_your_password') %>
        </label>

        <%= render '/layouts/password-strength', text: 'password01' %>

        <%= display_error(@challenge, :new_password) %>
        <%= password_field_tag :new_password, nil, class: "govuk-input govuk-!-width-two-thirds", id: "password01", autocomplete: "off" %>
      </div>

      <div class="govuk-form-group govuk-!-margin-bottom-7 <%= 'govuk-form-group--error' if @challenge.errors[:new_password_confirmation].any? %>">
        <label class="govuk-label" for="password02">
          <%= t('.confirm_your_password') %>
        </label>

        <%= display_error(@challenge, :new_password_confirmation) %>
        <%= password_field_tag :new_password_confirmation, nil, class: "govuk-input govuk-!-width-two-thirds", id: "password02", autocomplete: "off" %>
      </div>

      <%= hidden_field_tag :session, cookies[:crown_marketplace_challenge_session] %>

      <%= hidden_field_tag :username, cookies[:crown_marketplace_challenge_username] %>

      <%= hidden_field_tag :challenge_name, params[:challenge_name] %>

      <%= submit_tag t('.change_password_and_sign_in'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7", 'aria-label': "#{t('.change_password_and_sign_in')}" %>

    <% end %>



  </div>
</div>
