<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @challenge.errors } %>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.intro') %>
    </p>

    <%= form_with url: challenge_user_path, model: @challenge, method: :post, html: { novalidate: true } do |f| %>
      <%= govuk_password_input(
        :new_password,
        form: f,
        label: {
          text: t('.create_your_password'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: password_strength('password01')
        },
        form_group: {
          classes: 'govuk-!-width-two-thirds'
        },
        attributes: {
          id: "password01",
          autocomplete: 'off',
        }
      ) %>

      <%= govuk_password_input(
        :new_password_confirmation,
        form: f,
        label: {
          text: t('.confirm_your_password'),
          classes: 'govuk-label--m'
        },
        form_group: {
          classes: 'govuk-!-width-two-thirds'
        },
        attributes: {
          id: "password02",
          autocomplete: 'off',
        }
      ) %>

      <%= f.hidden_field :session, value: @challenge.session %>
      <%= f.hidden_field :username, value: @challenge.username %>

      <%= hidden_field_tag :challenge_name, params[:challenge_name] %>

      <%= govuk_button(t('.change_password_and_sign_in'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7', attributes: { aria: { label: t('.change_password_and_sign_in') } }) %>
    <% end %>
  </div>
</div>
