<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors }%>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <% if @result.email %>
        <%= t('.lead_html', email_link: mail_to(@result.email, @result.email, class: 'govuk-link')) %>
      <% else %>
        <%= t('.lead_no_email') %>
      <% end %>
    </p>

    <%= form_with url: confirm_email_path, model: @result, method: :post, html: { novalidate: true } do |f| %>
      <%= govuk_input(
        :confirmation_code,
        form: f,
        label: {
          text: t('.confirmation_code'),
          classes: 'govuk-label--m'
        },
        field_type: :number,
        classes: 'govuk-!-width-one-third',
        value: nil,
        attributes: {
          autocomplete: 'off',
        }
      ) %>

      <% if @result.email %>
        <%= f.hidden_field :email, value: @result.email, id: 'email' %>
      <% else %>
        <%= govuk_input(
          :email,
          form: f,
          label: {
            text: t('.email'),
            classes: 'govuk-label--m'
          },
          field_type: :email,
          classes: 'govuk-!-width-two-thirds',
          attributes: {
            autofocus: true,
            autocomplete: 'off',
            spellcheck: false,
            required: true
          }
        ) %>
      <% end %>

      <%= govuk_button(t('common.continue'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7', attributes: { aria: { label: t('common.continue') } }) %>
    <% end %>

    <% if @result.email %>
      <%= form_with url: resend_confirmation_email_path, model: @result, method: :post, html: { novalidate: true } do |f| %>
        <%= f.hidden_field :email, value: @result.email, id: 'resend-email' %>

        <p class="govuk-body govuk-!-margin-bottom-7">
          <%= f.submit t('.resend_the_confirmation_email'), id: "resend-the-confirmation-email", class: "govuk-link button_as_link", aria: { label: t('.resend_the_confirmation_email') } %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
