<a href="<%= request.referer %>" class="govuk-back-link">Back</a>

<%= render('errors/inline_error_summary') %>

<div>
  <fieldset class="govuk-fieldset" aria-describedby="">
    <strong class="govuk-heading-xl"> Supplier results</strong>

  </fieldset>
  <p class="govuk-!-font-size-36">
    <strong><span id="fm-long-list-supplier-count"><%= @supplier_count %></span> suppliers found</strong> who can
    provide the services in your regions
  </p>
  <p class="govuk-heading-m">Based on your selections, here are the shortlisted suppliers in all three sub-lots.<br>
    The sub-lots are value banded, subject to your total contract value.</p>

  <!-- Start of filter section -->
  <div class="govuk-grid-row">
    <a id="filter-toggle-btn" id="filter-toggle-btn" href="" class="govuk-button ccs-no-print govuk-!-margin-top-6" role="button">Hide
      filters</a><br>
    <div id="fm-filter-pane" class="govuk-grid-column-one-third">
      <%= render('facilities_management/long_list/filters') %>
    </div>

    <!-- Start of main list section -->
    <div id="CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
      <%= render('facilities_management/long_list/lot1a') %>
      <%= render('facilities_management/long_list/lot1b') %>
      <%= render('facilities_management/long_list/lot1c') %>
    </div>
  </div>
  <div class="govuk-grid-row ccs-no-print">
    <div class="govuk-!-margin-top-4">
      <span class="govuk-heading-m">Next steps</span><br>
      <span class="govuk-!-font-size-24">We will now ask you questions about your requirements, buildings and services.</span><br>
      <span class="govuk-!-font-size-24">Based on your answers, we will present your estimated cost, recommended sub-lot and a shortlist of suppliers.</span>
    </div>

    <%= form_tag '/facilities-management/standard-contract/questions', id: 'fm-long-list-form', method: :post do %>
      <%= hidden_field_tag 'current_choices', TransientSessionInfo[session.id].to_json %>
      <a id="fm-suppliers-continue-button" href="#" class="govuk-button ccs-no-print govuk-!-margin-top-4" role="button">Continue</a><br>
    <% end %>


    <p>
      <a id="FM-print-supplier-list" role="button" class="supplier-record__print-option ccs-no-print" href="">Print this
        page</a>
    </p>
  </div>
</div>

