<a href="/facilities-management/select-services" class="govuk-back-link ccs-no-print">Back</a>

<%= render('errors/inline_error_summary') %>

<div>
  <fieldset class="govuk-fieldset" aria-describedby="">
    <strong class="govuk-heading-xl"> Supplier results</strong>
    <div class="govuk-inset-text ccs-no-print">
      <strong>On this page</strong><br>
      <span>Based on your choices, we are showing suppliers in three different groups.</span>
   </div>
  </fieldset>
  <p class="govuk-!-font-size-36">
    <strong><%= @supplier_count %> suppliers found</strong> based on total contract value, when awarded.
  </p>

  <!-- Start of filter section -->
  <div class="govuk-grid-row">
    <a id="filter-toggle-btn" id="filter-toggle-btn" href="" class="govuk-button ccs-no-print" role="button">Hide filters</a><br>
    <div id="fm-filter-pane" class="govuk-grid-column-one-third">
      <%= render('facilities_management/long_list/filters') %>
    </div>

    <!-- Start of main list section -->
    <div id="CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
      <%= render('facilities_management/long_list/lot1a') %>
      <%= render('facilities_management/long_list/lot1b') %>
      <%= render('facilities_management/long_list/lot1c') %>
    </div>
  </div>
  <div class="govuk-grid-row ccs-no-print">
    <div class="govuk-inset-text">
      <strong>Next steps</strong><br>
      <span>We will now ask you questions about your procurement, buildings and costs.</span><br>
      <span>You can open a competition for suppliers after you have received an assessed value from us.</span>
    </div>

    <a id="suppliers-continue-button" href="/facilities-management/standard-contract/questions" class="govuk-button ccs-no-print" role="button">Continue</a><br>
    <p>
      <a id="FM-print-supplier-list" role="button" class="supplier-record__print-option ccs-no-print" href="" >Print this page</a>
    </p>
  </div>
</div>

