<%= content_for :page_title, t('.title') %>
<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
    <h1 class="govuk-panel__title">
        <%= t('.title') %>
    </h1>
    <div class="govuk-panel__body">
        <%= t('.number') %> <br />
        <%= @contract.contract_number %>
    </div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    <%= t('.info_1') %>
</h2>
<div class="govuk-body govuk-!-margin-bottom-5">
    <%= t('.contract_period') %><br />
    <%= "#{format_date @contract.contract_start_date}" %> and <%= "#{format_date @contract.contract_end_date}." %> 
</div>
<div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
   <%= t('.info_2') %><br />
  </h2>
  <h3 class="govuk-heading-s govuk-!-width-one-half govuk-!-margin-bottom-4">
   <%= t('.next') %>
  </h3>
</div>
<div class="govuk-heading-s govuk-!-width-two-thirds">
  <ol class="govuk-list govuk-list--number">
    <li class="govuk-!-margin-bottom-4">Download the contract award notification form.<br />
          <a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/RM3830-Contract-Award-Notification-Form-v3.docx" class="supplier-record__file-download supplier-record__file-download-doc govuk-!-margin-top-4">
            <%= t('.contract_award_notification_form', url: "https://assets.crowncommercial.gov.uk/wp-content/uploads/RM3830-Contract-Award-Notification-Form-v3.docx") %><span class="govuk-visually-hidden"><%= t('common.doc_html') %></span>
          </a>
    </li>
    <li>Complete the contract award notification form.</li>
    <li>Send your completed contract award notification form using the details below:
      <ul class="govuk-list govuk-list--bullet">
        <li> <%="#{t('.email_address')}" "#{t('.email_html')}".html_safe %> </li>
        <li> <%= t('.email_subject')%> </li>
      </ul>
    </li>
  </ol>
</div>
