<%= content_for :page_title, t('.title') %>
<div class="govuk-body ">    
    <div class="govuk-grid-row">
      <div class="govuk-width-container govuk-main-wrapper govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
        <%= t('.title') %>
        </h1>
        <div class="govuk-panel__body ">
          The '<%= @procurement.contract_name %>' (<%= @contract.contract_number %>)  procurement has been closed.
        </div>
      </div>
    </div>

    <div class=" govuk-!-width-three-quarters govuk-!-padding-top-4">
        <%= t('.info') %>
    </div>

</div>