<div class="master-vendor-record">

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-!-font-size-27"><%= master_vendor.name %></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><strong><%= t('.column1') %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric master-vendor-record__markup-column" scope="col"><strong><%= t('.column2') %><br><%= SupplyTeachers::Rate::TERMS['one_week'] %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric master-vendor-record__markup-column" scope="col"><strong><%= t('.column2') %><br><%= SupplyTeachers::Rate::TERMS['twelve_weeks'] %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric master-vendor-record__markup-column" scope="col"><strong><%= t('.column2') %><br><%= SupplyTeachers::Rate::TERMS['more_than_twelve_weeks'] %></strong></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% master_vendor.master_vendor_rates_grouped_by_job_type.each do |job_type, rates| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><%= SupplyTeachers::Rate::JOB_TYPES[job_type] %></th>
          <% if rates.length == 1 %>
            <% 3.times do %>
              <td class="govuk-table__cell govuk-table__cell--numeric master-vendor-record__markup-column"><%= number_to_percentage(rates.first.mark_up * 100, precision: 1) %></td>
            <% end %>          
          <% elsif rates.length == 3 %>
            <% rates.each do |rate| %>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_percentage(rate.mark_up * 100, precision: 1) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
