<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('supply_teachers.page_section') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl cmp-page-heading"><%= t('.header') %></h1>

    <p class="govuk-body"><%= number_to_human(@branches_count, units: :suppliers) %></p>
    <%= render partial: 'branch', collection: @branches %>
    <%= paginate @branches, views_prefix: 'shared', window: 2, outer_window: 1 %>
  </div>
</div>
