<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('supply_teachers.page_section') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl cmp-page-heading"><%= t('.header') %></h1>

    <details class="govuk-details govuk-!-margin-bottom-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('.do_next.header') %>
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <%= t('.do_next.further_competition_html', 
                advice_url: 'https://www.gov.uk/guidance/buying-for-schools/run-a-mini-competition') %>
            <%= t('.do_next.competition_online_html', 
                esourcing_url: 'https://www.gov.uk/government/publications/esourcing-suite-guidance-for-customers') %>
          </li>
          <li>
            <%= t('.do_next.sign_form_html',
                  framework_url: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3826',
                  form_url: 'https://assets.crowncommercial.gov.uk/wp-content/uploads/RM3826-Order-form-template-full-version-V1.docx') %>
          </li>
        </ul>
        <p class="govuk-body">
          <%= t('.do_next.more_help') %>
        </p>
      </div>
    </details>

    <p class="govuk-body"><%= number_to_human(@suppliers.count, units: :suppliers) %></p>
    <%= render partial: 'master_vendor', collection: @suppliers %>
  </div>
</div>
