<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('supply_teachers.page_section') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl cmp-page-heading"><%= t('.header') %></h1>

    <details class="govuk-details govuk-!-margin-bottom-5">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('.do_next.header') %>
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <%= t('.do_next.sign_form_html',
                  form_url: 'https://ccs-agreements.cabinetoffice.gov.uk/sites/default/files/contracts/RM3826%20Supply%20Teachers%20-%20Order%20Form%20Template%20%28Full%20Version%29%20V1.docx',
                  framework_url: 'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3826') %>
          </li>
          <li>
            <%= t('.do_next.contact_supplier') %>
          </li>
        </ul>
      </div>
    </details>

    <% if @suppliers.length == 1 %>
      <p class="govuk-body"><%= t('.one_vendor_found_html') %></p>
    <% end %>

    <% SupplyTeachers::Supplier.with_neutral_vendor_rates.each do |supplier| %>
      <div class="neutral-vendor-record">
        <h2 class="govuk-heading-m"><%= supplier.name %></h2>

        <% if supplier.neutral_vendor_contact_name.present? %>
          <p class="govuk-body">
            <strong><%= supplier.neutral_vendor_contact_name %></strong><br />
            <%= format_telephone_number(supplier.neutral_vendor_telephone_number) %><br />
            <%= mail_to(supplier.neutral_vendor_contact_email,
                        supplier.neutral_vendor_contact_email,
                        'aria-label': "Email #{supplier.neutral_vendor_contact_name} from #{supplier.name}") %>
          </p>
        <% end %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <% supplier.rates.each do |rate| %>
              <% if rate.percentage_mark_up? %>
              <p class="govuk-body">
                <%= t('.mark_up_html', mark_up:number_to_percentage(rate.mark_up * 100, precision: 1)) %>
              </p>
              <p class="govuk-body"><%= t('.mark_up_explanation_html') %></p>
              <% else %>
              <p class="govuk-body">
                <%= t('.daily_fee_html', daily_fee:number_to_currency(rate.daily_fee)) %>
              </p>
              <% end %>
            <% end %>

          </div>
          <div class="govuk-grid-column-one-third"></div>
        </div>

      </div>
    <% end %>
  </div>
</div>
