<div class="govuk-!-width-three-quarters">
  <%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(t('.heading'), @procurement.contract_name, nil, nil, nil)) %>
</div>
<%= content_for :page_title, t(".heading") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>
      <%= t('.page_details_1')%>
    </p>
    <p>
      <%= t('.page_details_2')%>
    </p>
  </div>
  <div class="govuk-grid-column-one-half procurement-add-buildings-container">
    <h2 class="govuk-heading-m">
     <%= t('.new_buildings')%>
    </h2>
    <p>
      <%= t('.new_buildings_details')%>
    </p>
    <%= link_to t('.add_a_building'), new_facilities_management_rm3830_procurement_edit_building_path(procurement_id: @procurement.id), class: 'govuk-button govuk-button--secondary' %>
    <%= govuk_details(t('.how_it_works')) do %>
      <p>
        <%= t('.how_it_works_1') %>
      </p>
      <p>
        <%= t('.how_it_works_2') %>
      </p>
      <p>
        <%= t('.how_it_works_3') %>
      </p>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      <%= t('.my_buildings') %>
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if current_user.buildings.any? %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 55%"><%= t('.building_name_and_address') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 30%"><%= t('.status') %></th>
            <td class="govuk-table__header govuk-!-font-weight-bold" style="width: 15%"></td>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= f.fields_for :procurement_buildings, @buildings, include_id: false do |pb_field|%>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-right-2">
                <div class="govuk-fieldset <%= 'govuk-form-group--error' if f.object.errors.any? && pb_field.object.status == 'Ready' %>">
                  <%= procurement_building_row(pb_field, pb_field.object) %>
                </div>
                <%= pb_field.hidden_field(:building_id, value: pb_field.object.id) %>
              </td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= govuk_tag(*pb_field.object.building_status)%></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to t('.details'), facilities_management_rm3830_procurement_edit_building_path(pb_field.object.id, procurement_id: @procurement.id), class: "govuk-link govuk-link--no-visited-state", aria: { label: t('.details_link_aria_label', building_name: pb_field.object.building_name) } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= f.fields_for :procurement_buildings, @hidden_buildings, include_id: false do |pb_field|%>
        <%= pb_field.hidden_field :active, value: @building_params[pb_field.object.id] %>
        <%= pb_field.hidden_field :building_id, value: pb_field.object.id %>
      <% end %>

      <input type="hidden" name="page" value="<%= params[:page]%>"/>
      <%= paginate @buildings, views_prefix: 'facilities_management/rm3830/procurements', f: f %>
    <% else %>
      <hr class="govuk-section-break govuk-section-break--visible">
        <p class="govuk-hint govuk-!-margin-top-2 govuk-!-margin-bottom-2">
          <%= t('.no_saved_buildings') %>
        </p>
      <hr class="govuk-section-break govuk-section-break--visible">
    <% end %>
  </div>
</div>
