<%= render('errors/inline_error_summary') %>
<br>
<div id="ccs-accordion-with-basket" class="procurement govuk-grid-row">
  <div class="locations chooser-component">
    <div class="govuk-grid-column-two-thirds">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('.question') %>
        </h1>
        <span class="govuk-caption-m">
          <%= t('.subtitle') %>
        </span>
      </legend>
      <div class="chooser-input">
        <%= govuk_accordion_with_checkboxes(
          'edit-regions',
          accordion_region_items(region_codes),
          'facilities_management_rm3830_procurement_region_codes',
          'facilities_management_rm3830_procurement[region_codes]'
        ) %>
      </div>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
      <%= render partial: 'facilities_management/shared/baskets/regions_basket' %>
    </div>
  </div>
</div>
