<% content_for :page_title, t('.heading') %>

<div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">
    <%= t('.heading') %>
  </h1>
  <p class="govuk-body">
    <%= t('.description') %>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="ccs-info-panel">
      <% if @searches.length > 0 %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 25%"><%= t('.name') %></th>
              <th scope="col" class="govuk-table__header" style="width: 25%"><%= t('.ref_number') %></th>
              <th scope="col" class="govuk-table__header" style="width: 50%"><%= t('.date_saved') %></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @searches.each do |search| %>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">
                  <%= link_to search.contract_name, facilities_management_rm6232_procurement_path(search), class: ' govuk-link--no-visited-state' %>
                </td>
                <td class="govuk-table__cell">
                  <%= search.contract_number %>
                </td>
                <td class="govuk-table__cell">
                  <%= format_date_time(search.updated_at) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <hr class="govuk-section-break govuk-section-break--visible">
        <p class="govuk-!-margin-top-4">
          <%= t('.you_do_not_have_any') %>
        </p>
        <hr class="govuk-section-break govuk-section-break--visible">
      <% end %>
    </div>
  </div>
</div>