<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <p class="govuk-body govuk-!-width-three-quarters govuk-!-font-size-24"><%= t('.contract_details_description') %></p>
    <div class="govuk-!-width-full govuk-!-font-size-19">
        <dl class="govuk-summary-list govuk-body govuk-!-width-three-quarters">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell" scope="row" width="45%"></th>
                    <td class="govuk-table__cell" width="45%"></td>
                    <td class="govuk-table__cell" width="10%"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header"><%= t('.payment_method') %></th>
                    <td class=" govuk-table__cell <%= 'govuk-link govuk-link--no-visited-state' if @page_data[:model_object][:payment_method].nil? %>">
                      <% case @page_data[:model_object][:payment_method] %>
                      <% when 'bacs' %>
                        <%= t('facilities_management.beta.procurements.edit.payment_method.bacs_payment') %>
                      <% when 'card' %>
                        <%= t('facilities_management.beta.procurements.edit.payment_method.government_procurement_card') %>
                      <% else %>
                        <%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'payment_method') %>
                      <% end %>
                    </td>
                    <td class="govuk-table__cell">
                      <%= link_to 'Change', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'payment_method') if @page_data[:model_object][:payment_method].present? %>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header"><%= t('.invoicing_contact_details') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state">
                      <% case @page_data[:model_object][:using_buyer_detail_for_invoice_details] %>
                      <% when true %>
                        <%= govuk_details("#{@current_user.buyer_detail.full_name}, #{@current_user.buyer_detail.job_title}", true) do %>
                            <%= mail_to @current_user.email, @current_user.email, class: 'govuk-link govuk-link--no-visited-state' %>  <br>
                            <%= "Address: #{@current_user.buyer_detail.full_organisation_address}"%>
                        <% end %>
                      <% when false %>
                        <%= govuk_details("#{@procurement.invoice_contact_detail.name}, #{@procurement.invoice_contact_detail.job_title}", true) do %>
                            <%= mail_to @procurement.invoice_contact_detail.email, @procurement.invoice_contact_detail.email, class: 'govuk-link govuk-link--no-visited-state' %>  <br>
                            <%= "Address: #{@procurement.invoice_contact_detail.contact_address}"%>
                        <% end %>
                      <% else %>
                        <%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'invoicing_contact_details') %>
                      <% end %>
                    </td>
                    <td class="govuk-table__cell">
                      <%= link_to 'Change', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'invoicing_contact_details') unless @page_data[:model_object][:using_buyer_detail_for_invoice_details].nil?%>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header"><%= t('.authorised_representative') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state">
                      <% case @page_data[:model_object][:using_buyer_detail_for_authorised_detail] %>
                      <% when true %>
                        <%= govuk_details("#{@current_user.buyer_detail.full_name}, #{@current_user.buyer_detail.job_title}", true) do %>
                            <%= mail_to @current_user.email, @current_user.email, class: 'govuk-link govuk-link--no-visited-state' %>  <br/>
                            <%= "Telephone: #{@current_user.buyer_detail.telephone_number}" %>  <br/>
                            <%= "Address: #{@current_user.buyer_detail.full_organisation_address}"%>
                        <% end %>
                      <% when false %>
                        <%= govuk_details("#{@procurement.authorised_contact_detail.name}, #{@procurement.authorised_contact_detail.job_title}", true) do %>
                            <%= mail_to @procurement.authorised_contact_detail.email, @procurement.authorised_contact_detail.email, class: 'govuk-link govuk-link--no-visited-state' %>  <br/>
                            <%= "Telephone: #{@procurement.authorised_contact_detail.telephone_number}"%> <br/>
                            <%= "Address: #{@procurement.authorised_contact_detail.contact_address}"%>
                        <% end %>
                      <% else %>
                        <%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'authorised_representative') %>
                      <% end %>
                    </td>
                    <td class="govuk-table__cell">
                      <%= link_to 'Change', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'authorised_representative') unless @page_data[:model_object][:using_buyer_detail_for_authorised_detail].nil? %>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header"><%= t('.notices_contact_details') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state">
                      <% case @page_data[:model_object][:using_buyer_detail_for_notices_detail] %>
                      <% when true %>
                        <%= govuk_details("#{@current_user.buyer_detail.full_name}, #{@current_user.buyer_detail.job_title}", true) do %>
                            <%= mail_to @current_user.email, @current_user.email, class: 'govuk-link govuk-link--no-visited-state' %>  <br/>
                            <%= "Address: #{@current_user.buyer_detail.full_organisation_address}"%>
                        <% end %>
                      <% when false %>
                        <%= govuk_details("#{@procurement.notices_contact_detail.name}, #{@procurement.notices_contact_detail.job_title}", true) do %>
                            <%= mail_to @procurement.notices_contact_detail.email, @procurement.notices_contact_detail.email, class: 'govuk-link govuk-link--no-visited-state' %>  <br/>
                            <%= "Address: #{@procurement.notices_contact_detail.contact_address}"%>
                        <% end %>
                      <% else %>
                        <%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'notices_contact_details') %>
                      <% end %>
                    </td>
                    <td class="govuk-table__cell">
                      <%= link_to 'Change', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'notices_contact_details') unless @page_data[:model_object][:using_buyer_detail_for_notices_detail].nil? %>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header"><%= t('.security_policy_document') %></th>
                    <td class=" govuk-table__cell <%= 'govuk-link govuk-link--no-visited-state' if @page_data[:model_object][:security_policy_document_required] %>", style="overflow-wrap: anywhere">
                      <% case @procurement.security_policy_document_required %>
                      <% when true %>
                          <!--<a href="<%#= asset_path() %>?format=doc" download> <%#= @procurement.security_policy_document_file.to_s.split('/').last %> </a> -->
                          <a href="#"> <%= @procurement.security_policy_document_file.to_s.split('/').last %> </a>
                      <% when false %>
                        Not applicable
                      <% else %>
                        <%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'security_policy_document') %>
                      <% end %>
                    </td>
                    <td class="govuk-table__cell">
                      <%= link_to 'Change', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'security_policy_document') unless @page_data[:model_object][:security_policy_document_required].nil? %>
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header"><%= t('.local_government_pension_scheme') %></th>
                    <td class=" govuk-table__cell <%= 'govuk-link govuk-link--no-visited-state' if @page_data[:model_object][:local_government_pension_scheme] %>">
                      <% case @page_data[:model_object][:local_government_pension_scheme] %>
                      <% when true %>
                        <%= govuk_details("Pension scheme details", true) do %>
                            <ul class="govuk-list govuk-list--bullet">
                              <% @procurement.procurement_pension_funds.order(created_at: :asc).each do | pension_fund | %>
                                <li> <%= "#{pension_fund.name}, #{pension_fund.percentage}%" %> </li>
                              <% end %>
                            </ul>
                        <% end %>
                        <%= link_to 'Add or remove pension funds', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'pension_funds'), class: "govuk-link--no-visited-state" %>
                      <% when false %>
                        Not applicable
                      <% else %>
                        <%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'local_government_pension_scheme') %>
                      <% end %>
                    </td>
                    <td class="govuk-table__cell">
                      <%= link_to 'Change', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'local_government_pension_scheme') unless @page_data[:model_object][:local_government_pension_scheme].nil? %>
                    </td>
                </tr>
            </tbody>
        </table>
        </dl>
    </div>
  <%= form_for @page_data[:model_object], url: facilities_management_beta_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
        <%= govuk_continuation_buttons(pd, f) %>
    <%end %>
<%end %>

