<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <p class="govuk-body govuk-!-width-three-quarters govuk-!-font-size-24"><%= t('.contract_details_description') %></p>
    <div class="govuk-!-width-full govuk-!-font-size-19">
        <dl class="govuk-summary-list govuk-body govuk-!-width-three-quarters">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell" scope="row"></th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%"><%= t('.payment_method') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'payment_method') %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%"><%= t('.invoicing_contact_details') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'invoicing_contact_details') %></td>
                    <td class="govuk-table__cell"></td>
                </tr><tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%"><%= t('.authorised_representative') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'authorised_representative') %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%"><%= t('.notices_contact_details') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'notices_contact_details') %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%"><%= t('.security_policy_document') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'security_policy_document') %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header" width="55%"><%= t('.local_government_pension_scheme') %></th>
                    <td class="govuk-link govuk-table__cell govuk-link--no-visited-state"><%= link_to 'Answer question', edit_facilities_management_beta_procurement_path(id: @page_data[:model_object].id, step: 'local_government_pension_scheme')  %></td>
                    <td class="govuk-table__cell"></td>
                </tr>
            </tbody>
        </table>
        </dl>
    </div>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
        <%= govuk_continuation_buttons(pd, f) %>
    <%end %>
<%end %>

