<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <h1 class="govuk-!-width-two-thirds govuk-body">
    <% if @page_data[:sorted_supplier_list].count > 1 %>
      <%= "There are <b>#{@page_data[:sorted_supplier_list].count} suppliers </b>".html_safe %>
      <%= t('.supplier_description_plural') %>
    <% else %>
      <%= "There is <b>#{@page_data[:sorted_supplier_list].count} supplier </b>".html_safe %>
      <%= t('.supplier_description_singular') %>
    <% end %>
  </h1>
  <blockquote class="cmp-inset-text cmp-inset-text--neutral govuk-!-width-two-thirds govuk-!-font-size-27 govuk-heading-l">
    <span><%= @page_data[:sorted_supplier_list].first[:name] %></span>
    <span style="float:right"><%= number_to_currency(@page_data[:sorted_supplier_list].first[:price]) %></span><br/>
    <span class="govuk-!-font-size-19"><%= t('.lowest_price_supplier') %> </span>
  </blockquote>

  <table class="govuk-summary-list govuk-!-width-two-thirds" >
    <hr class="govuk-section-break govuk-!-width-two-thirds govuk-section-break--visible">
    <tbody>
    <% @page_data[:sorted_supplier_list][1..-1].each_with_index do |s, i| %>
      <div class="govuk-summary-list__row">
        <tr class="govuk-summary-list__value govuk-heading-m govuk-!-margin-bottom-0">
          <td class= "govuk-!-width-full"><%= "Supplier #{i + 2}" %></td>
          <td align="right" style="min-width:10em"><%= number_to_currency(s[:price]) %></td>
        </tr>
      </div>
    <% end %>
    </tbody>
  </table>

  <div class="govuk-body govuk-!-width-two-thirds govuk-!-margin-bottom-4">
    <%= t('.description_html') %>
  </div>
  <%= form_for @page_data[:model_object], url: facilities_management_beta_procurement_path(@procurement.id), method: :patch, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= govuk_continuation_buttons(pd, f) %>
  <% end %>
<% end %>
