<a href="/facilities-management" class="govuk-back-link">Back</a>

<%= render('errors/inline_error_summary') %>

<div>
  <fieldset class="govuk-fieldset" aria-describedby="">
    <h2 class="govuk-heading-m">
      Where are your buildings located?
    </h2>
  </fieldset>
  <p class="govuk-caption-m">
    Choose one or more regions, based on building's location where you require facilities <br>management services.
  </p>
</div>
<div class="govuk-grid-column-two-thirds">


  <div class="govuk-accordion" data-module="accordion" id="region-accordion">
    <% @regions.each do |key, value| %>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="region-<%= key %>"><%= value %></span>
          </h2>
        </div>
        <div id="
          <% key %>-content" class="govuk-accordion__section-content CCS-fm-region-filter-check-box-label" aria-labelledby="<%= value %>">

          <% @subregions.each do |key2, value2| %>

            <% if key2.start_with?(key) %>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="<%= value2 %>">
                  <div id="location-checkboxes" class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="<%= key2 %>" name="<%= key %>" locationid="<%= value2 %>" type="checkbox" value="<%= key2 %>">
                      <label id="<%= key2 %>_label" class="govuk-label govuk-checkboxes__label CCS-fm-region-filter-check-box-label" for="<%= key2 %>">
                        <%= value2 %>
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            <% end %>
          <% end %>
          <p>or</p>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="<%= key + '_all' %>" name="<%= key + '_all' %>" locationid="<%= value + '_all' %>" type="checkbox" value="<%= key + '_all' %>">
            <label class="govuk-label govuk-checkboxes__label CCS-fm-region-filter-check-box-label" for="<%= key + '_all' %>">
              Select All
            </label>
          </div>
        </div>

      </div>
    <% end %>
  </div>
  <p>
    <%= form_tag '/facilities-management/buildings/select-services', id: 'save-locations-link-form', method: :post do %>
      <%= link_to 'Continue', '/facilities-management/select-services', role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8', id: 'save-locations-link', name: 'save-locations-link' %>
    <% end %>
  </p>
</div>
<div class="govuk-grid-column-one-third">
  <div class="filter-selection">
    <header>
      <div class="filter-selection__header">
        <a id="remove-all-locations-link" name="remove-all-link" class="remove-all js-filter" hidden href="">Remove all</a>
        <h2 id="selected-location-count" class="font-weight-700"></h2>
      </div>
    </header>
    <ul id="selected-fm-locations" class="govuk-!-padding-0 font-size--10"></ul>
  </div>
</div>
