<%= content_for :page_title, t('facilities_management.admin.supplier_rates.supplier_framework_rates.heading_title') %>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= facilities_management_admin_path %>">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.heading_title') %></li>
  </ol>
</div>

<%= render partial: 'shared/error_summary', locals: { errors: @errors } %>

<h1 class="govuk-heading-xl"><%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.heading_title') %></h1>
<p class="govuk-body govuk-!-font-weight-regular govuk-hint">
  <%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.leading_text') %>
</p>

<%= form_tag facilities_management_admin_update_average_framework_rates_path, class: 'ccs-form', method: :put, specialvalidation: true, novalidate: true, local: false do %>
  <% @full_services.each do |service| %>
    <table class="govuk-table ccs-errors">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold govuk-!-width-one-quarter left"><%= service['name'] %></th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left">
            <% if(service['value_type'] == 'money') %>
              <%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.rate_pound_a') %>
            <% else %>
              <%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.rate_percentage_a') %>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% service['work_package'].each do |work_pckg| %>
          <%- rate = work_pckg['rate_standard_a_or_blank'] %>
          <tr class="govuk-table__row">
            <td class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
              <div class="<%= 'govuk-form-group--error' if rate.invalid? %>">
                <% if rate.invalid? %>
                  <a name="framework-error"></a>
                <% end %>
                <label id="rates_<%= rate.id %>_label" for="rates_<%= rate.id %>">
                  <%= work_pckg['code'] %>
                  <%= work_pckg['name'] %>
                </label>
                <% if rate.invalid? %>
                  <span id="event-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span><%= t(".#{rate.errors.details[:framework].first[:error]}") %>
                  </span>
                <% end %>
              </div>
            </td>

            <td class="govuk-table__cell supplier-rates-td">
              <%= text_field_tag "rates[#{rate.id}]", rate.read_attribute_before_type_cast(:framework), class: "govuk-input govuk-input--width-3 #{'govuk-input--error' if rate.invalid?}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2 class="govuk-heading-xl govuk-!-font-weight-bold govuk-!-margin-bottom-2"><%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.heading_title_two') %></h2>

  <table class="govuk-table ccs-errors">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold govuk-!-width-two-quarters left">
          <%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.item') %>
        </th>
        <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left">
          <%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.rate') %>
        </th>
      <tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @variances.each do |rate_label, rate| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
            <div class="<%= 'govuk-form-group--error' if rate.invalid? %>">
              <% if rate.invalid? %>
                <a name="framework-error"></a>
              <% end %>
              <label id="rates_<%= rate.id %>_label" for="rates_<%= rate.id %>">
                <%= raw t("facilities_management.admin.supplier_rates.supplier_framework_rates.#{rate_label}") %>
              </label>
              <% if rate.invalid? %>
                <span id="event-name-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span><%= t(".#{rate.errors.details[:framework].first[:error]}") %>
                </span>
              <% end %>
            </div>
          </td>
          <td class="govuk-table__cell supplier-rates-td">
            <%= text_field_tag "rates[#{rate.id}]", rate.read_attribute_before_type_cast(:framework), class: "govuk-input govuk-input--width-3 #{'govuk-input--error' if rate.invalid?}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <input type="submit" name="update_benchmark_rates" value="<%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.update_button') %>" aria-label="<%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.update_button') %>" class="govuk-button" data-disable-with="Continue">
  <a href="<%= facilities_management_admin_path %>" class="govuk-link govuk-caption-m" alt="Return to admin dashboard" aria-label="Return to admin dashboard"><%= t('facilities_management.admin.supplier_rates.supplier_framework_rates.rtrn_link') %></a>
<% end %>
