<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-body">
       <%= t('.status') %>
    </span>
    <span class="govuk-!-padding-left-2">
      <%= govuk_tag(@procurement.buildings_and_services_status) %>
    </span>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">
      <%= t('.summary_html', buildings_link: link_to(t('.buildings_link_text'), show_path('buildings'), class: 'govuk-link govuk-link--no-visited-state')) %>
    </span>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<table class="govuk-table govuk-!-width-full">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 50%"> <%= t('.buildings') %> </td>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 50%"> <%= t('.services') %> </td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @active_procurement_buildings.each do |procurement_building| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-padding-right-2" style="vertical-align: top;">
          <%= link_to building_name(procurement_building), "/facilities-management/#{params[:framework]}/procurement-buildings/#{procurement_building.id}/buildings-and-services/edit", class: 'govuk-link--no-visited-state ccs-font-weight-semi-bold' %>
          <br/>
          <%= procurement_building.address_no_region %>
        </td>
        <% if procurement_building.service_codes.any? %>
          <td class="govuk-table__cell govuk-!-padding-right-2" style="vertical-align: top;">
            <%= govuk_details("#{pluralize(procurement_building.service_names.length, t('.service'))} selected") do %>
              <ul class="govuk-!-padding-left-3 govuk-!-margin-top-0">
                <% procurement_building.service_names.each_with_index do |service_name, index| %>
                  <li class="<%= 'govuk-!-padding-top-2' unless index == 0%>">
                    <%= service_name %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
        <% else %>
          <td class="govuk-table__cell govuk-!-padding-right-2" style="vertical-align: middle;">
            <span class="govuk-hint"> <%= t('.no_service_selected') %> </span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @active_procurement_buildings, views_prefix: 'shared' %>
