<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p><%= t('.instructions') %></p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('.buildings') %></th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" width="20" ><%= t('.status') %></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @active_procurement_buildings.each do |procurement_building| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-2">
            <%= link_to procurement_building.name, facilities_management_rm3830_procurement_building_path(procurement_building.id), class: 'govuk-link--no-visited-state ccs-font-weight-semi-bold' %>
            <br>
            <%= address_in_a_line(procurement_building.building) %>
          </td>
          <td class="govuk-table__cell"><%= govuk_tag(procurement_building.complete? ? :completed : :incomplete) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @active_procurement_buildings, views_prefix: 'shared' %>
  </div>
</div>
