<% if !@searches.empty? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 25%">Name</th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 15%">Saved</th>
        <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 5%"></td>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 20%">Stage</th>
        <td class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 40%"></td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @searches.each do |search| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
            <%= link_to search.contract_name, facilities_management_procurement_path(search) %>
          </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= format_date_time(search.updated_at.in_time_zone("London")) %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= procurement_state(search.aasm_state) %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to "Delete", facilities_management_procurement_path(search, delete: 'y'), :class => "govuk-link govuk-link--no-visited-state" if search.quick_search? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
    <span class="govuk-body"> <%= t('.no_searches') %></span>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3">
<% end %>
