<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5"><%= t('.heading') %></h1>

        <p class="govuk-body"><%= t('.statement_pt_1') %> <a href="<%= t('common.general_legal_advice_services_url') %>" class="govuk-link"><%= t('.statement_pt_2_link_text') %></a> <%= t('.statement_pt_3') %></p>

    </div>
</div>
