<%= content_for :page_title, t('.page_title')  %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">
      <%= full_lot_description(@lot.number, @lot.description) %>
    </span>
    <% if @suppliers.count.zero? %>
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"><%= t('.no_suppliers_found.heading') %></h1>
        <% if params[:central_government] == 'yes' %>
          <p class="govuk-body govuk-!-font-size-24">
            <%= t(
              '.no_suppliers_found.text_central_government_users_html',
               general_legal_advice_service_link: link_to(
                  t('.no_suppliers_found.general_legal_advice_services_link_text'),
                 t('.no_suppliers_found.general_legal_advice_services_link_url')
                )
              ) %>
          </p>
          <br>
          <p class="govuk-body">
            <%= t('.no_suppliers_found.contact_html', contact_link: link_to(t('.no_suppliers_found.contact_link_text'), t('common.ccs_contact_url'))) %>
          </p>
        <% else %>
          <p class="govuk-body govuk-!-font-size-24">
            <%=t('.no_suppliers_found.text') %>
          </p>
        <% end %>
        <%= link_to 'Back to start', legal_services_path, class: 'govuk-button govuk-!-margin-top-4 govuk-!-padding-left-4 govuk-!-padding-right-4' %>
      </div>
    <% else %>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-margin-top-0"><%= t('.heading') %></h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body">
            <%= t('.suppliers_found_html',
                  number: @suppliers.count,
                  suppliers: number_to_human(@suppliers.count, units: :legal_services_suppliers, format: '%u')) %>
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= link_to(
            t('.download_suppliers_list'),
              legal_services_suppliers_download_path(
              lot: params[:lot],
              services: params[:services],
              region_codes: params[:region_codes],
              jurisdiction: params[:jurisdiction],
              central_government: params[:central_government]
              ),
              class: 'govuk-button'
            ) %>
        </div>
      </div>
      <section class="govuk-grid-column-two-thirds ccs-search-results">
        <ul class="ccs-results-list">
          <%= render partial: 'supplier', collection: @suppliers %>
        </ul>
      </section>
    <% end %>
  </div>
</div>
