<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5"><%= t('.heading') %></h1>

        <p class="govuk-body-l"><%= t('.statement') %></p>

        <p class="govuk-body"><a href="<%= t('common.ccs_contact_url') %>" class="govuk-link"><%= t('.link_click_text') %></a> <%= t('.link_end_text') %></p>

    </div>
</div>
