<div id="facilities_management_contract" class="govuk-!-width-three-quarters">
    <h1 class="govuk-heading govuk-heading-m govuk-!-margin-bottom-5">
        <%= t('.are_you_sure_1') %> '<%= @procurement[:contract_name] %>' (<%= @contract[:contract_number] %>) <%= t('.are_you_sure_2') %>
    </h1>
    <div class="govuk-body govuk-!-margin-bottom-5">
        <%= t('.once_closed') %>
    </div>

    <div class="govuk-form-group <%= "govuk-form-group--error" if f.object.errors[:reason_for_closing].any? %>">
        <div id="contract-withdrawn-reason" class='govuk-!-margin-bottom-5' data-module="character-count" data-maxlength="500">
                <%= display_error(f.object, :reason_for_closing) %>
                <h1 class="govuk-heading govuk-heading-s">
                <%= t('.reason') %>
            </h1>
            <%= govuk_text_area_input_contracts(f, :reason_for_closing , true, ['rows', 10], ['maxlength', 500], [:class, 'govuk-!-margin-bottom-2']) %>
            <span id="facilities_management_procurement_supplier_character_left" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You have 500 characters remaining
            </span>
        </div>
    </div>
    <div class="govuk-body">
        <%= t('.closed_message') %>     
    </div>
</div>
