<%= render 'layouts/logo' %>
<div class="govuk-header__content">
  <%= render 'layouts/header-title', service: 'facilities_management', path: facilities_management_path %>
  <nav role="navigation" aria-label="Top Level Navigation">
    <ul id="navigation" class="govuk-header__navigation ">
      <% unless landing_or_admin_page || fm_buyer_landing_page || fm_supplier_landing_page || not_permitted_page || fm_landing_page %>
        <li class="govuk-header__navigation-item">
            <%= link_to 'Back to start', facilities_management_path, class: 'govuk-header__link' %>
        </li>
      <% end %>
      <%= navigation_link_supplier_and_buyer if not_permitted_page %>
      <%= render 'layouts/sign-out-link', sign_out_path: facilities_management_destroy_user_session_path %>
    </ul>
  </nav>
</div>
