<h1 class="govuk-body-l govuk-!-width-two-thirds"> <%= t('.next_lowest') %> <b><%= @procurement.procurement_suppliers.unsent.first.supplier.data['supplier_name'] %>.</b></h1>
  <div class="govuk-body-l">
      <%= t('.price')%> <b><%= format_money @procurement.procurement_suppliers.unsent.first.direct_award_value %>.</b>
  </div>

  <div>
      <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('.about_the_price') %>
          </span>
        </summary>
        <div class="govuk-details__text govuk-!-width-three-quarters">
          <%= t('.about_the_price_description') %>
        </div>
      </details>
  </div>

  <div class="govuk-body-l govuk-!-width-two-thirds">
    <%= link_to t('.download_documents'), facilities_management_procurement_documents_zip_path(procurement_id: @procurement.id, contract_id: @procurement.first_unsent_contract.id), class: 'govuk-button govuk-button--secondary' %>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
          <%= t('.download_docs_description') %>
      </strong>
    </div>
  </div>

  <h2 class="govuk-body-l govuk-!-font-weight-bold govuk-!-font-size-24"><%= t('.next_steps') %></h2>

  <div class="govuk-list govuk-list--number govuk-!-width-two-thirds govuk-!-padding-left-0">
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0"><%= t('.offer') %></p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
      <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('.offer_list_1') %></li>
      <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('.offer_list_2') %></li></ul>
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0"><%= t('.close')%></p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
      <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('.close_point_1') %></li>
      <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('.close_point_2') %></li></ul>
    <p class="govuk-!-font-weight-bold "><%= t('.return_to_dashboard') %></p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
      <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('.return_to_dashboard_description') %></li></ul>
  </div>
