<%= govuk_page_content(@page_description, @contract, params[:name] == 'withdraw') do |pd| %>
     <% case params[:name] %>
    <% when 'withdraw' %>
        <%= content_for :page_title, t('.page_title') %>
    <% else %>
        <%= content_for :page_title, pd.heading_details.text %>
    <% end %>
    <%= form_for @contract, url: facilities_management_procurement_contract_path, method: :put do |f| %>
        <% case params[:name] %>
        <% when 'withdraw' %>
            <%= render partial: 'closing_direct_award_offer', :locals=>{:f=>f} %>
            <div class= 'govuk-!-margin-top-5'>
                <%= f.submit(value:"Close this procurement", class: 'govuk-!-margin-right-4 govuk-button govuk-button--warning', data: { disable_with: false }, name: :close_procurement, 'aria-label': "Close this procurement") %>
                <%= link_to(pd.navigation_details.secondary_text, facilities_management_procurement_contract_path(@procurement), role: 'button', class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}") %> <br />
            </div>
        <% when 'next_supplier' %>
            <%= render partial: 'next_supplier', :locals=>{:f=>f} %>
            <div class= 'govuk-!-margin-top-5'>
                <%= f.submit(value:"Confirm and send offer to supplier", class: 'govuk-!-margin-right-4 govuk-button', data: { disable_with: false }, name: :send_contract_to_next_supplier, 'aria-label': "Confirm and send offer to supplier") %>
                <%= link_to(pd.navigation_details.secondary_text, facilities_management_procurement_contract_path(@procurement), role: 'button', class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}") %> <br />
                <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19') %>
            </div>
        <% else %>
            <%= render partial: 'confirmation_of_signed_contract', :locals=>{:f=>f} %>
            <div class= 'govuk-!-margin-top-5'>
                <%= f.submit(value:"Save and continue", class: 'govuk-!-margin-right-4 govuk-button', data: { disable_with: false }, name: :sign_procurement, 'aria-label': "Save and continue") %>
                <%= link_to(pd.navigation_details.secondary_text, facilities_management_procurement_contract_path(@procurement), role: 'button', class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}") %> <br />
            </div>
        <% end %>
    <% end %>
<% end %>
