<% content_for :page_title, t('.page_title').html_safe %>

<%= form_with model: @framework, url: local_update_path, method: :put, html: { specialvalidation: true, novalidate: true } do |f| %>
  <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        <%= t('.update_the_framework_dates') %>
      </h1>

      <div class="govuk-!-margin-top-5">
        <%= govuk_date_input(
          :live_at,
          form: f,
          fieldset: {
            legend: {
              text: t('.live_at_date', framework: @framework.id)
            }
          },
          hint: {
            text: t('.live_at_hint', current_date: Time.now.in_time_zone('London').strftime('%e/%-m/%Y'))
          },
          date_items: govuk_date_items
        ) %>
      </div>

      <div class="govuk-!-margin-top-5">
        <%= govuk_date_input(
          :expires_at,
          form: f,
          fieldset: {
            legend: {
              text: t('.expires_at_date', framework: @framework.id)
            }
          },
          hint: {
            text: t('.expires_at_hint', current_date: Time.now.in_time_zone('London').strftime('%e/%-m/%Y'))
          },
          date_items: govuk_date_items
        ) %>
      </div>

      <%= govuk_button(t('.save_and_return'), form: f, attributes: { name: t('.save_and_return') }) %>
      <p class="govuk-body">
        <%= link_to t('.return_to_frameworks', service_name: service_name), local_index_path, class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
