<% content_for :page_title, t('.page_title').html_safe %>

<%= form_with model: @framework, url: local_update_path, method: :put, html: { specialvalidation: true, novalidate: true } do |f| %>
  <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        <%= t('.update_the_framework_dates') %>
      </h1>

      <div class="govuk-!-margin-top-5">
        <%= govuk_form_group_with_optional_error(@framework, :live_at) do %>
          <%= f.label :live_at, t('.live_at_date', framework: @framework.framework), class: "govuk-label"%>
          <div id="live-at-hint" class="govuk-hint">
            <%= t('.live_at_hint', current_date: Time.now.in_time_zone('London').strftime('%e/%-m/%Y'))%>
          </div>
          <%= display_error(f.object, :live_at)%>
          <%= f.gov_uk_date_field :live_at, legend_options: { page_heading: false, visually_hidden: true }, aria: { describedby: 'ive-at-hint' } %>
        <% end %>
      </div>

      <div class="govuk-!-margin-top-5">
        <%= govuk_form_group_with_optional_error(@framework, :expires_at) do %>
          <%= f.label :expires_at, t('.expires_at_date', framework: @framework.framework), class: "govuk-label"%>
          <div id="expires-at-hint" class="govuk-hint">
            <%= t('.expires_at_hint', current_date: Time.now.in_time_zone('London').strftime('%e/%-m/%Y'))%>
          </div>
          <%= display_error(f.object, :expires_at)%>
          <%= f.gov_uk_date_field :expires_at, legend_options: { page_heading: false, visually_hidden: true }, aria: { describedby: 'expires-at-hint' } %>
        <% end %>
      </div>

      <%= f.submit t('.save_and_return'), class: 'govuk-button', aria: { label: t('.save_and_return')} %>
      <p class="govuk-body">
        <%= link_to t('.return_to_frameworks', service_name: service_name), local_index_path, class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
