<% content_for :page_title, t('.page_title', service_title: service_title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.page_title', service_title: service_title) %></h1>
    <p>
      <%= t('.this_section_allows', service_name: service_name) %>
    </p>

    <p>
      <%= t('.if_the_framework', current_date: format_date(Time.now.in_time_zone('London'))) %>
    </p>

    <p>
      <%= t('.the_admin_section') %>
    </p>

    <%= govuk_table(
      [
        {
          text: t('.framework'),
        },
        {
          text: t('.live_at')
        },
        {
          text: t('.expires_at')
        },
        {
          text: t('.status')
        },
        {
          text: t('.change')
        }
      ],
      @frameworks.map do |framework|
        [
          {
            text: framework.id
          },
          {
            text: format_date(framework.live_at)
          },
          {
            text: format_date(framework.expires_at)
          },
          {
            text: case framework.status
                  when :live
                    govuk_tag(t('.live'))
                  when :coming
                    govuk_tag(t('.coming'), :grey)
                  else
                    govuk_tag(t('.expired'), :red)
                  end
          },
          {
            text: link_to(t('.change'), "/#{service_param}/admin/frameworks/#{framework.id}/edit")
          }
        ]
      end,
      first_cell_is_header: true
    ) %>
  </div>
</div>
