<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= facilities_management_beta_admin_path %>">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">
      <a class="govuk-breadcrumbs__link" href="<%= facilities_management_beta_admin_management_report_path %>">
        <%= t('facilities_management.beta.admin.management_report.breadcrumb_text_management_report') %>
      </a>
    </li>
  </ol>
</div>

<h1 class="govuk-heading-xl"><%= t('facilities_management.beta.admin.management_report.heading_title') %></h1>
<h2 class="govuk-heading-l"><%= t('facilities_management.beta.admin.management_report.heading_sub') %></h2>

<div style="width: 3000px !important;">
  <table class="govuk-table govuk-!-margin-bottom-0 govuk-!-width-three-quarters">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0" width="70px"></td>
        <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-padding-bottom-0"></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= image_tag('zip_image.png', :alt => 'download zip file', width: '60px') %>
        </td>
        <td class="govuk-table__cell">
          <a href="<%= rails_blob_path(current_user.csv_export, disposition: "attachment") %>" type="<%= t('common.type_doc') %>" download>
            <%= t('facilities_management.beta.admin.management_report.heading_sub') %>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
