<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= facilities_management_beta_admin_path %>">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page"><a class="govuk-breadcrumbs__link" href="<%= facilities_management_beta_admin_management_report_path %>"><%= t('facilities_management.beta.admin.management_report.breadcrumb_text_management_report') %></a></li>
  </ol>
</div>


<h1 class="govuk-heading-xl"><%= t('facilities_management.beta.admin.management_report.heading_title') %></h1>
<h2 class="govuk-heading-l"><%= t('facilities_management.beta.admin.management_report.heading_sub') %></h2>
<h3 class="govuk-body-l"><%= t('facilities_management.beta.admin.management_report.heading_sub_detail') %></h3>


<div class="govuk-table__row">
<p class="govuk-heading-l govuk-!-margin-bottom-1">From</p>
<p class="govuk-!-font-weight-regular govuk-brand-light-grey">For example, 15 06 2020</p>

</div>

<%= form_for @management_report, url: "", method: :post, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
    <%= f.gov_uk_date_field :start_date, legend_options: { page_heading: false, visually_hidden: true } %>
<% end %>



<a href="<%= facilities_management_beta_admin_path %>" class="govuk-link govuk-caption-m" alt="Return to admin dashboard"><%= t('facilities_management.beta.admin.management_report.return_link') %></a>
