<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @upload.errors } %>
    <span class="govuk-caption-l govuk-!-margin-bottom-0"><%= t('.caption') %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5 cmp-page-heading"><%= t('.heading') %></h1>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-0"><%= t('.upload_title') %></h3>
    <span class="govuk-caption-m govuk-!-margin-bottom-7"><%= t('.upload_caption') %></span>
    <%= form_for @upload, html: { multipart: true } do |f| %>
      <%= govuk_form_group_with_optional_error(@upload, :suppliers) do %>
        <%= display_errors(@upload, :current_accredited_suppliers) %>
        <%= f.label :suppliers_data, class: "govuk-label" %>
        <%= f.file_field :suppliers_data, class: css_classes_for_file_upload(@upload, :suppliers_data) %>
        <%= f.hidden_field :suppliers_data_cache %>
      <% end %>
      <%= f.submit 'Upload data', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
