<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :nominated_worker, params[:nominated_worker] %>
  <%= hidden_field_tag :hire_via_agency, params[:hire_via_agency] %>
  <%= hidden_field_tag :school_payroll, params[:school_payroll] %>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      <%= t('.postcode_question') %>
    </label>
    <%= text_field_tag :postcode, params[:postcode], class: 'govuk-input' %>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="job_type">
      <%= t('.worker_type_question') %>
    </label>
    <select class="govuk-select" id="job_type" name="job_type">
      <%= options_from_collection_for_select(JobType.all, :code, :description, params[:job_type]) %>
    </select>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="term">
      <%= t('.worker_term_question') %>
    </label>
    <select class="govuk-select" id="term" name="term">
      <%= options_from_collection_for_select(Term.all, :code, :description, params[:term]) %>
    </select>
  </div>

  <%= submit_tag t('.submit'), class: "govuk-button" %>
<% end %>
