<%= link_to 'Back', @back_path, class: 'govuk-back-link' %>

<%= form_tag @form_path, method: :get do %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          What are you looking for?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :hire_via_agency, :yes, checked?(params[:hire_via_agency], 'yes'), class: 'govuk-radios__input' %>
          <%= label_tag :hire_via_agency_yes, 'Hire a worker via an agency', class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :hire_via_agency, :no, checked?(params[:hire_via_agency], 'no'), class: 'govuk-radios__input' %>
          <%= label_tag :hire_via_agency_no, 'Hire a managed service provider', class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    </fieldset>
  </div>
  <%= submit_tag 'Continue', class: "govuk-button" %>
<% end %>
