<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :looking_for, params[:looking_for] %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Do you want an agency to supply the worker?
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :worker_type, :agency_supplied, checked?(params[:worker_type], 'agency_supplied'), class: 'govuk-radios__input' %>
          <%= label_tag :worker_type_agency_supplied, 'Yes', class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :worker_type, :nominated, checked?(params[:worker_type], 'nominated'), class: 'govuk-radios__input' %>
          <%= label_tag :worker_type_nominated, "No, I have a worker I want the agency to manage (a 'nominated worker')", class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    </fieldset>
  </div>
  <%= submit_tag 'Continue', class: "govuk-button" %>
<% end %>
