<%= link_to 'Back', @back_path, class: 'govuk-back-link' %>

<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :nominated_worker, params[:nominated_worker] %>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      What is your school's postcode?
    </label>
    <%= text_field_tag :postcode, params[:postcode], class: 'govuk-input' %>
  </div>
  <%= submit_tag 'Continue', class: "govuk-button" %>
<% end %>
