<%= link_to 'Back', nominated_worker_question_path(params.permit(:nominated_worker)), class: 'govuk-back-link' %>

<%= form_tag school_postcode_answer_path, method: :get do %>
  <%= hidden_field_tag :nominated_worker, :yes %>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      What is your school's postcode?
    </label>
    <%= text_field_tag :postcode, params[:postcode], class: 'govuk-input' %>
  </div>
  <%= submit_tag 'Continue', class: "govuk-button" %>
<% end %>
