<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :looking_for, params[:looking_for] %>
  <%= hidden_field_tag :worker_type, params[:worker_type] %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('.question') %>
        </h1>
      </legend>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :payroll_provider, :school, checked?(params[:payroll_provider], 'school'), class: 'govuk-radios__input' %>
          <%= label_tag :payroll_provider_school, t('.answer_school_payroll'), class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :payroll_provider, :agency, checked?(params[:payroll_provider], 'agency'), class: 'govuk-radios__input' %>
          <%= label_tag :payroll_provider_agency, t('.answer_agency_payroll'), class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    </fieldset>
  </div>
  <%= submit_tag t('.submit'), class: "govuk-button" %>
<% end %>
