<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :nominated_worker, params[:nominated_worker] %>
  <%= hidden_field_tag :hire_via_agency, params[:hire_via_agency] %>
  <%= hidden_field_tag :school_payroll, params[:school_payroll] %>
  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="postcode">
        <%= t('.question') %>
      </label>
      <span id="postcode-hint" class="govuk-hint">
        <%= t('.question_hint') %>
      </span>
    </h1>
    <%= text_field_tag :postcode, params[:postcode], class: 'govuk-input' %>
  </div>
  <%= submit_tag t('.submit'), class: "govuk-button" %>
<% end %>
