<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :looking_for, params[:looking_for] %>
  <%= govuk_form_group_with_optional_error(@journey) do %>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('.question') %>
        </h1>
      </legend>
      <%= display_error(@journey) %>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :worker_type, :agency_supplied, checked?(params[:worker_type], 'agency_supplied'), class: 'govuk-radios__input' %>
          <%= label_tag :worker_type_agency_supplied, t('.answer_agency_supplied'), class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :worker_type, :nominated, checked?(params[:worker_type], 'nominated'), class: 'govuk-radios__input' %>
          <%= label_tag :worker_type_nominated, t('.answer_nominated_worker'), class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    </fieldset>
  <% end %>
  <%= submit_tag t('.submit'), class: "govuk-button" %>
<% end %>
