<h1 class="govuk-heading-m govuk-!-margin-bottom-2">
    <%= t('.call_out_leading_main') %>
</h1>
<table class="govuk-table govuk-!-margin-bottom-0 govuk-!-width-three-quarters">
    <tbody class="govuk-table__body">
        <% if ยก@procurement.contract_documents_zip.attached? %>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">
            </td>
        </tr>
        <tr class="govuk-table__row">
            
            <td class="govuk-table__cell" width="70px">
                <%= image_tag('zip_image.png', :alt => 'download zip file', width: '60px') %>
            </td>
            <td class="govuk-table__cell">
                <a href="<%= rails_blob_path(@procurement.contract_documents_zip, disposition: 'attachment') %>&format=<%= @procurement.contract_documents_zip.filename.to_s.split('.').last[0..2] %>" download> <%= @procurement.contract_documents_zip.filename.to_s %> </a>          
            <br/>
            <p class="govuk-hint govuk-!-margin-bottom-0">Created on <%= format_date_time_day(@contract.offer_sent_date) %></p>
            </td>
        </tr>
        <% else %>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
            </td>
            <td class="govuk-table__cell">
            </td>
        </tr>        
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header govuk-border-bottom_none">
                <%= t('.call_out_leading') %>
            </th>
            <td class="govuk-table__cell govuk-!-margin-bottom-0 govuk-border-bottom_none">
                <p class="govuk-!-margin-bottom-1">
                    <span class="govuk-!-margin-bottom-5 govuk-tag--grey govuk-!-font-size-16"><%= t('.colating') %></span>
                </p>
            </td>
        </tr>
        <tr class="govuk-table__row ">
            <th class="govuk-table__cell govuk-table__heade">
            </th>
            <td class="govuk-table__cell govuk-!-margin-bottom-0 govuk-border-top_none">
                <p class="govuk-hint govuk-!-margin-bottom-0 govuk-!-font-size-14"><%= t('.colating_message') %></p>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
