<% content_for :page_title, t('.add_address') %>

<div class="govuk-body govuk-grid-row buyer-details">
  <div class="govuk-grid-column-two-thirds" id="edit-contact-detail-address">
    <%= form_for @buyer_detail, url: facilities_management_buyer_detail_path(params[:framework], @buyer_detail, context: :update_address), method: :patch, html: { multipart: true, special_validation: true} do |f| %>
      <%= govuk_back_link( t('.back'), edit_facilities_management_buyer_detail_path(params[:framework], @buyer_detail)) %>

      <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>

      <div class="govuk-caption-m govuk-!-margin-top-2 govuk-!-margin-bottom-1">
        <%= current_user.email %>
      </div>
      <div class="govuk-caption-xl govuk-!-font-size-36">
      <%= t('.manage_details') %>
      </div>
      <h1 class="govuk-heading-xl">
        <%= t('.add_address') %>
      </h1>
      <fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-m">
          <%= t('.your_details') %>
        </h2>
        <%= form_group_with_error(f.object, :organisation_address_line_1) do |displayed_error, any_errors| %>
          <%= f.label :organisation_address_line_1, t('.building_and_street'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :organisation_address_line_1, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255 %>
        <% end %>
        <%= form_group_with_error(f.object, :organisation_address_line_2) do |displayed_error, any_errors| %>
          <%= f.label :organisation_address_line_2, class: 'govuk-visually-hidden' %>
          <%= displayed_error %>
          <%= f.text_field :organisation_address_line_2, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255 %>
        <% end %>
        <%= form_group_with_error(f.object, :organisation_address_town) do |displayed_error, any_errors| %>
          <%= f.label :organisation_address_town, t('.town_or_city'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :organisation_address_town, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255 %>
        <% end %>
        <%= form_group_with_error(f.object, :organisation_address_county) do |displayed_error, any_errors| %>
          <%= f.label :organisation_address_county, t('.county'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :organisation_address_county, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255 %>
        <% end %>
        <%= form_group_with_error(f.object, :organisation_address_postcode) do |displayed_error, any_errors| %>
          <%= f.label :organisation_address_postcode, t('.postcode'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :organisation_address_postcode, class: "govuk-input govuk-input--width-10 #{'govuk-input--error' if any_errors}", maxlength: 10 %>
        <% end %>
      </fieldset>
      <div class="govuk-!-margin-top-4">
        <%= f.submit t('.submit'), class: "govuk-button", 'aria-label': t('.submit') %>
      </div>
    <% end %>
    </div>
</div>
