<% content_for :page_title, t('.add_address') %>

<div class="govuk-body govuk-grid-row buyer-details">
  <div class="govuk-grid-column-two-thirds" id="edit-contact-detail-address">
    <%= form_for @buyer_detail, url: facilities_management_buyer_detail_path(params[:framework], @buyer_detail, context: :update_address), method: :patch, html: { multipart: true, special_validation: true} do |f| %>
      <%= govuk_back_link( t('.back'), edit_facilities_management_buyer_detail_path(params[:framework], @buyer_detail)) %>

      <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>

      <div class="govuk-caption-m govuk-!-margin-top-2 govuk-!-margin-bottom-1">
        <%= current_user.email %>
      </div>
      <div class="govuk-caption-xl govuk-!-font-size-36">
      <%= t('.manage_details') %>
      </div>
      <h1 class="govuk-heading-xl">
        <%= t('.add_address') %>
      </h1>
      <%= govuk_fieldset(
        legend: {
          text: t('.your_details'),
          classes: 'govuk-fieldset__legend--m'
        }
      ) do %>
        <%= govuk_input(
          :organisation_address_line_1,
          form: f,
          label: {
            text: t('.building_and_street')
          },
          classes: 'govuk-input--width-30',
          attributes: {
            maxlength: 255
          }
        ) %>

        <%= govuk_input(
          :organisation_address_line_2,
          form: f,
          label: {
            text: t('.building_and_street_line_2'),
            classes: 'govuk-visually-hidden'
          },
          classes: 'govuk-input--width-30',
          attributes: {
            maxlength: 255
          }
        ) %>

        <%= govuk_input(
          :organisation_address_town,
          form: f,
          label: {
            text: t('.town_or_city')
          },
          classes: 'govuk-input--width-20',
          attributes: {
            maxlength: 255
          }
        ) %>

        <%= govuk_input(
          :organisation_address_county,
          form: f,
          label: {
            text: t('.county')
          },
          classes: 'govuk-input--width-20',
          attributes: {
            maxlength: 255
          }
        ) %>

        <%= govuk_input(
          :organisation_address_postcode,
          form: f,
          label: {
            text: t('.postcode')
          },
          classes: 'govuk-input--width-10',
          attributes: {
            maxlength: 10
          }
        ) %>
      <% end %>
      <div class="govuk-!-margin-top-4">
        <%= govuk_button(t('.submit'), form: f, attributes: { aria: { label: t('.submit') } }) %>
      </div>
    <% end %>
    </div>
</div>
