<% content_for :page_title, t('.buyer_details') %>

<div class="govuk-body govuk-grid-row buyer-details" id="buyer_details">
  <div class="govuk-grid-column-two-thirds" id="edit-contact-detail">
    <%= form_for @buyer_detail, url: facilities_management_buyer_detail_path, method: :patch, html: { novalidate: true, specialvalidation: true, multipart: true } do |f| %>
      <%= link_to t('.back'), facilities_management_path, class: "govuk-back-link govuk-!-margin-bottom-2" unless (current_user.nil? || current_user.fm_buyer_details_incomplete?) %>
      <%= render partial: 'shared/error_summary', locals: {errors: f.object.errors, render_empty: false} %>

      <div class="govuk-caption-l govuk-!-margin-top-2">
        <%= current_user.email %>
      </div>
      <fieldset class="govuk-fieldset">
        <h1 class='govuk-!-margin-0'>
          <legend class="govuk-heading-xl">
              <%= t('.buyer_details') %>
          </legend>
        </h1>

        <h2 class="govuk-heading-m">
          <%= t('.your_details') %>
        </h2>
        <%= form_group_with_error(f.object, :full_name) do |displayed_error, any_errors| %>
          <%= f.label :full_name, t('.name'), class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :full_name, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255, required: true, autocomplete: "off" %>
        <% end %>

        <%= form_group_with_error(f.object, :job_title) do |displayed_error, any_errors| %>
          <%= f.label :job_title, class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :job_title, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255 %>
        <% end %>

        <%= form_group_with_error(f.object, :telephone_number) do |displayed_error, any_errors| %>
          <%= f.label :telephone_number, class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.number_field :telephone_number, class: "govuk-input #{'govuk-input--error' if any_errors} govuk-!-width-one-half", required:true, autocomplete: "off" %>
        <% end %>

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
          <%= t('.organisation_details') %>
        </h2>

        <%= form_group_with_error(f.object, :organisation_name) do |displayed_error, any_errors| %>
          <%= f.label :organisation_name, class: 'govuk-label' %>
          <%= displayed_error %>
          <%= f.text_field :organisation_name, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 255, required: true %>
        <% end %>

        <div class="govuk-!-margin-top-7">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
            <%= t('.organisation_address') %>
          </h2>
        </div>

        <%= render partial: 'contact_detail_address_container', locals: { f: f } %>

        <h2 class="govuk-heading-m">
          Sector
        </h2>
        <%= form_group_with_error(f.object, :central_government) do |displayed_error| %>

          <div class="govuk-heading-s govuk-!-margin-bottom-0">
            <%= t('.which_type_of_public_sector_org') %>
          </div>

          <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-3">
            <span class="govuk-caption-m"><%= t('.search_html', url: 'https://www.gov.uk/government/organisations') %></span>
          </div>
          <%= displayed_error %>
          <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6 govuk-!-margin-top-6">
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <%= f.radio_button :central_government, true, value: true, class: 'govuk-radios__input', required: true %>
                <%= f.label :central_government, t('.central_gov'), value: true, class: 'govuk-label govuk-radios__label' %>
              </div>
              <div class="govuk-radios__item">
                <%= f.radio_button :central_government, false, value: false, class: 'govuk-radios__input', required: true %>
                <%= f.label :central_government, t('.wider_public_sector'), value: false, class: 'govuk-label govuk-radios__label' %>
              </div>
            </div>
          </div>
        <% end %>

        <div>
          <%= f.submit t('.submit'), class: "govuk-button", 'aria-label': t('.submit')  %>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>
