<% content_for :page_title, t('.buyer_details') %>

<div class="govuk-body govuk-grid-row buyer-details" id="buyer_details">
  <div class="govuk-grid-column-two-thirds" id="edit-contact-detail">
    <%= form_for @buyer_detail, url: facilities_management_buyer_detail_path(params[:framework]), method: :patch, html: { novalidate: true, specialvalidation: true, multipart: true } do |f| %>
      <%= link_to t('.back'), facilities_management_index_path, class: "govuk-back-link govuk-!-margin-bottom-2" unless (current_user.nil? || current_user.fm_buyer_details_incomplete?) %>
      <%= render partial: 'shared/error_summary', locals: {errors: f.object.errors, render_empty: false} %>

      <div class="govuk-caption-l govuk-!-margin-top-2">
        <%= current_user.email %>
      </div>
      <fieldset class="govuk-fieldset">
        <h1 class='govuk-!-margin-0'>
          <legend class="govuk-heading-xl">
              <%= t('.buyer_details') %>
          </legend>
        </h1>

        <h2 class="govuk-heading-m">
          <%= t('.your_details') %>
        </h2>

        <%= govuk_text_input(
          f,
          :full_name,
          {
            label: {
              text: t('.name')
            },
            input: {
              attributes: {
                required: true,
                maxlength: 255,
                autocomplete: 'off',
              }
            }
          }
        )%>

        <%= govuk_text_input(
          f,
          :job_title,
          {
            label: {
              text: t('.job_title')
            },
            input: {
              attributes: {
                maxlength: 255
              }
            }
          }
        )%>

        <%= govuk_text_input(
          f,
          :telephone_number,
          {
            label: {
              text: t('.telephone_number')
            },
            input: {
              classes: 'govuk-!-width-one-half',
              attributes: {
                required: true,
                autocomplete: "off"
              }
            }
          }
        )%>

        <h2 class="govuk-heading-m govuk-!-margin-top-3">
          <%= t('.organisation_details') %>
        </h2>

        <%= govuk_text_input(
          f,
          :organisation_name,
          {
            label: {
              text: t('.organisation_name')
            },
            input: {
              attributes: {
                required: true,
                maxlength: 255
              }
            }
          }
        )%>

        <%= render partial: 'facilities_management/shared/find_address/find_address', locals: {
          f: f,
          find_address_helper: find_address_helper(f.object, true),
          cant_find_address_text: t('.cant_find_address'),
          submit_cant_find_address: false,
          address_title: t('.organisation_address')
        } %>

        <hr class="govuk-section-break govuk-section-break--m">

        <%= form_group_with_error(f.object, :central_government) do |displayed_error| %>
          <fieldset class="govuk-fieldset" aria-describedby="central_government-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <%= t('.central_government.legend') %>
            </legend>
            <div id="central_government-hint" class="govuk-hint">
              <%= t('.search_html', url: 'https://www.gov.uk/government/organisations') %>
            </div>
            <%= displayed_error %>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <%= f.radio_button :central_government, true, class: 'govuk-radios__input' %>
                <%= f.label :central_government, t('.central_government.options.true'), value: true, class: 'govuk-label govuk-radios__label' %>
              </div>
              <div class="govuk-radios__item">
                <%= f.radio_button :central_government, false, class: 'govuk-radios__input' %>
                <%= f.label :central_government, t('.central_government.options.false'), value: false, class: 'govuk-label govuk-radios__label' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <%= form_group_with_error(f.object, :contact_opt_in) do |displayed_error| %>
          <fieldset class="govuk-fieldset" aria-describedby="contact_opt_in-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <%= t('.contact_opt_in.legend') %>
            </legend>
            <div id="contact_opt_in-hint" class="govuk-hint">
              <%= t('.contact_opt_in.hint') %>
            </div>
            <%= displayed_error %>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <%= f.radio_button :contact_opt_in, true, class: 'govuk-radios__input' %>
                <%= f.label :contact_opt_in, t('.contact_opt_in.options.true'), value: true, class: 'govuk-label govuk-radios__label' %>
              </div>
              <div class="govuk-radios__item">
                <%= f.radio_button :contact_opt_in, false, class: 'govuk-radios__input' %>
                <%= f.label :contact_opt_in, t('.contact_opt_in.options.false'), value: false, class: 'govuk-label govuk-radios__label' %>
              </div>
            </div>
          </fieldset>
        <% end %>

        <div>
          <%= f.submit t('.submit'), class: "govuk-button", 'aria-label': t('.submit')  %>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>
