<div class="govuk-body building-services govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render('facilities_management/beta/procurements/shared/backlink_header') %>
    <span class="govuk-caption-m"><%= @procurement_building.procurement.name %> - <%= @procurement_building.name %></span>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <div class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key border-top">
          <%= t('.gia') %>
        </dt>
        <dd class="govuk-summary-list__value border-top">
          <%= t('.gia-summary') %>
        </dd>
        <dd class="govuk-summary-list__value border-top">
          <%= @building_data['gia'] %>
        </dd>
        <dd class="govuk-summary-list__actions border-top">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-top-6 govuk-!-padding-bottom-6">
          <%=t('.service') %>
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__value">
          <%= t('.volume_required_html') %>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <% @procurement_building.procurement_building_services.has_service_questions.each_with_index do |service, index| %>
          <% service.answer_store[:questions].each_with_index do |qa_h, i| %>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <% if i == 0 %>
                  <%= index + 1 %>. <%= service.name %>
                <% end %>
              </dt>
              <dd class="govuk-summary-list__value">
                <%= t(".#{qa_h[:question].to_s}") %>
              </dd>
              <dd class="govuk-summary-list__value">
                <%= qa_h[:answer].map(&:to_i).reduce(:+) if qa_h[:question] == :lift_data %>
                <%= qa_h[:answer].to_s unless qa_h[:question] == :lift_data  %>
              </dd>
              <dd class="govuk-summary-list__actions">
                <% link_text = 'Change' %>
                <% link_text = 'Answer question' if qa_h[:answer].blank? %>
                <%if qa_h[:question] == :lift_data %>
                <%= link_to link_text, facilities_management_beta_procurement_buildings_service_path(service) %>
                <%else %>
                <%= link_to link_text, edit_facilities_management_beta_procurement_building_path(@procurement_building, service_question: question_type(service, qa_h[:question])) %>
                <%end %>
              </dd>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-0">
      <%= link_to t('.back_to_detailed_summary'), facilities_management_beta_procurement_path(@procurement_building.procurement), class: 'govuk-link--no-visited-state'%>
    </div>
  </div>
</div>
