<%= content_for :page_title, @lot_name %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.rm3830.admin.supplier_framework_data.index.heading'), href: facilities_management_rm3830_admin_supplier_framework_data_path },
  { text: @lot_name }
)%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l"><%= @supplier.supplier_name %></span>
    <h1 class="govuk-heading-xl"><%= @lot_name %></h1>
    <%= govuk_warning_text(t('facilities_management.rm3830.admin.you_cannot_update.services')) %>
    <p class="govuk-body govuk-!-font-weight-regular govuk-hint">
      <%= t('.note') %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <% @full_services.each do |service| %>
      <%= govuk_table(
        [
          {
            text: t('.service'),
            classes: 'govuk-!-width-three-quarters'
          },
          {
            text: t('.selected')
          }
        ],
        service['work_package'].map do |work_pckg|
          [
            {
              text: "#{work_pckg['code']} #{work_pckg['name']}",
              classes: 'supplier-rates-td'
            },
            {
              text: @supplier_rate_data_checkboxes[work_pckg['code']] ? tag.span('', class: 'supplier-lot-data__true') : '',
              classes: 'supplier-rates-td supplier-lot-data'
            }
          ]
        end,
        first_cell_is_header: true,
        caption: {
          text: service['name'],
          classes: 'govuk-table__caption--m'
        }
      ) %>
    <% end %>

    <p>
      <%= link_to t('.return_button'), facilities_management_rm3830_admin_supplier_framework_data_path, class: 'govuk-link' %>
    </p>
  </div>
</div>
