<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= content_for :page_title, t('.heading') %>
    <%= admin_breadcrumbs(
      { text: t('facilities_management.rm3830.admin.supplier_framework_data.index.heading'), href: facilities_management_rm3830_admin_supplier_framework_data_path },
      { text: t('.heading') }
    )%>


    <span class="govuk-caption-l"><%= @supplier.supplier_name %></span>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <h2 class="govuk-heading-l govuk-!-font-weight-bold "><%= t('.services_and_prices') %></h2>
    <%= govuk_warning_text(t('facilities_management.rm3830.admin.you_cannot_update.services')) %>

    <p class="govuk-body govuk-!-font-weight-regular govuk-hint">
      <%= t('.note') %><br/>
      <%= t('.percentage_note') %>
    </p>
  </div>
</div>

<div style="width: 4000px !important;">
  <% @full_services.each do |service| %>
    <%= govuk_table(
      [
        {
          text: t('.service'),
          attributes: {
            style: 'width: 500px !important;'
          }
        },
        {
          text: t('.selected')
        }
      ] + list_service_types(service['code']).map do |service_type|
        {
          text: service_type[..-4]
        }
      end,
      service['work_package'].map do |work_pckg|
        [
          {
            text: "#{work_pckg['code']} #{work_pckg['name']}",
            classes: 'supplier-rates-td'
          },
          {
            text: @supplier_rate_data_checkboxes[work_pckg['code']] ? tag.span('', class: 'supplier-lot-data__true') : '',
            classes: 'supplier-rates-td supplier-lot-data'
          }
        ] + list_service_types_price.map do |service_type|
          rate = determine_rate_card_service_price_text(service_type, work_pckg['code'], @supplier_data_ratecard_prices, @supplier_data_ratecard_discounts)
          rate_is_money = service_type != 'Direct Award Discount (%)'
          {
            text: rate.present? ? "#{rate_is_money ? '£' : ''}#{rate * (rate_is_money ? 1.0 : 100.0)}#{rate_is_money ? '' : '%'}" : '',
            classes: 'supplier-rates-td'
          }
        end
      end,
      first_cell_is_header: true,
      caption: {
        text: service['name'],
        classes: 'govuk-table__caption--m'
      }
    ) %>
  <% end %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl"><%= t('.variances') %></h2>

    <%= govuk_table(
      [
        {
          text: t('.item'),
          classes: 'app-custom-class govuk-!-font-weight-bold govuk-!-width-two-thirds left',
          attributes: {
            style: 'width: 500px !important;'
          }
        },
        {
          text: t('.rate'),
          classes: 'app-custom-class govuk-!-font-weight-bold left'
        }
      ],
      variances.map.with_index do |variance, index|
        rate = @variance_supplier_data[variance_values[index].to_sym]
        rate_is_money = variance_names[index] == 'td_cleaning_html'

        [
          {
            text: t(".#{variance_names[index]}"),
            classes: 'govuk-!-font-weight-regular supplier-rates-td'
          },
          {
            text: rate ? "#{rate_is_money ? '£' : ''}#{rate * (rate_is_money ? 1.0 : 100.0)}#{rate_is_money ? '' : '%'}" : '',
            classes: 'supplier-rates-td'
          }
        ]
      end,
      first_cell_is_header: true
    ) %>

    <%= link_to t('.return_link'), facilities_management_rm3830_admin_supplier_framework_data_path, class: 'govuk-link govuk-!-font-size-19' %>
  </div>
</div>
