<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= content_for :page_title, t('.heading') %>
    <%= admin_breadcrumbs(
      { text: t('facilities_management.rm3830.admin.supplier_framework_data.index.heading'), href: facilities_management_rm3830_admin_supplier_framework_data_path },
      { text: t('.heading') }
    )%>


    <span class="govuk-caption-l"><%= @supplier.supplier_name %></span>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <h2 class="govuk-heading-l govuk-!-font-weight-bold "><%= t('.services_and_prices') %></h2>
    <%= govuk_warning_text(t('facilities_management.rm3830.admin.you_cannot_update.services')) %>

    <p class="govuk-body govuk-!-font-weight-regular govuk-hint">
      <%= t('.note') %><br/>
      <%= t('.percentage_note') %>
    </p>
  </div>
</div>

<div style="width: 4000px !important;">
  <% @full_services.each do |service| %>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"><%= service['name'] %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width: 500px !important;">
            <%= t('.service') %>
          </th>
          <th scope="col" class="govuk-table__header">
            <%= t('.selected') %>
          </th>
          <% list_service_types(service['code']).each do |service_type| %>
            <th scope="col" class="govuk-table__header">
              <%= service_type[..-4] %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% service['work_package'].each do |work_pckg| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header supplier-rates-td">
              <%= "#{work_pckg['code']} #{work_pckg['name']}" %>
            </th>
            <td class="govuk-table__cell supplier-rates-td supplier-lot-data">
              <% if @supplier_rate_data_checkboxes[work_pckg['code']] %>
                <span class="supplier-lot-data__true"></span>
              <% end %>
            </td>
            <% list_service_types_price.each do |service_type| %>
              <% rate = determine_rate_card_service_price_text(service_type, work_pckg['code'], @supplier_data_ratecard_prices, @supplier_data_ratecard_discounts) %>
              <% rate_is_money = service_type != 'Direct Award Discount (%)' %>
  
              <td class="govuk-table__cell supplier-rates-td">
                <%= "#{rate_is_money ? '£' : ''}#{rate * (rate_is_money ? 1.0 : 100.0)}#{rate_is_money ? '' : '%'}" if rate.present? %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-xl"><%= t('.variances') %></h2>

    <table class="govuk-table ccs-errors">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold govuk-!-width-two-quarters left" style="width: 500px !important;">
            <%= t('.item') %>
          </th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left">
            <%= t('.rate') %>
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% variances.each.with_index do |variance, index| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td" scop="row">
              <%= t(".#{variance_names[index]}") %>
            </th>
            <td class="govuk-table__cell supplier-rates-td">
              <% rate = @variance_supplier_data[variance_values[index].to_sym] %>
              <% rate_is_money = variance_names[index] == 'td_cleaning_html'%>

              <%= "#{rate_is_money ? '£' : ''}#{rate * (rate_is_money ? 1.0 : 100.0)}#{rate_is_money ? '' : '%'}" if rate %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.return_link'), facilities_management_rm3830_admin_supplier_framework_data_path, class: 'govuk-link govuk-!-font-size-19' %>
  </div>
</div>
