<%= content_for :page_title, @lot_name %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.rm3830.admin.supplier_framework_data.index.heading'), link: facilities_management_rm3830_admin_supplier_framework_data_path },
  { text: @lot_name }
)%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l"><%= @supplier.supplier_name %></span>
    <h1 class="govuk-heading-xl"><%= @lot_name %></h1>
    <%= warning_text(t('facilities_management.rm3830.admin.you_cannot_update.services')) %>
    <p class="govuk-body govuk-!-font-weight-regular govuk-hint">
      <%= t('.note') %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <% @full_services.each do |service| %>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m"><%= service['name'] %></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">
              <%= t('.service') %>
            </th>
            <th scope="col" class="govuk-table__header">
              <%= t('.selected') %>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% service['work_package'].each do |work_pckg| %>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header supplier-rates-td">
                <%= "#{work_pckg['code']} #{work_pckg['name']}" %>
              </th>
              <td class="govuk-table__cell supplier-rates-td supplier-lot-data">
                <% if @supplier_rate_data_checkboxes[work_pckg['code']] %>
                  <span class="supplier-lot-data__true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <p>
      <%= link_to t('.return_button'), facilities_management_rm3830_admin_supplier_framework_data_path, class: 'govuk-link' %>
    </p>
  </div>
</div>
