<div class="govuk-form-group" id="<%= day %>_form-group%>">
  <%= govuk_fieldset_with_optional_error service_hours, :service_hours, day.to_sym do %>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><%= day.to_s.humanize %></legend>
    <div class="govuk-form-group <%= 'govuk-form-group--error' if service_choice.errors.any? %>" data-propertyname="<%= day %>_service_choice">
      <%= display_potential_errors service_choice, :service_choice, f.object_name, nil, nil, day %>
      <div class="govuk-radios govuk-radios--conditional" data-module="radios">
        <%= display_error(f.object, day.to_sym) %>
        <div class="govuk-radios__item">
          <%= f.radio_button :service_choice, value = "not_required", class: 'govuk-radios__input', id: "#{day}_not_required", data: {propertyname: "#{day}_service_choice"} %>
          <%= f.label :service_choice, value: :not_required, for: "#{day}_not_required", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :service_choice, value = "all_day", class: 'govuk-radios__input', id: "#{day}_all_day", data: {propertyname: "#{day}_service_choice"} %>
          <%= f.label :service_choice, value: 'All day (24 hours)', for: "#{day}_all_day", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :service_choice, value = "hourly", class: 'govuk-radios__input', id: "#{day}_hourly", aria: {controls: "#{day}-conditional-specified"}, data: {propertyname: "#{day}_service_choice"} %>
          <%= f.label :service_choice, value: :hourly, for: "#{day}_hourly", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__conditional <%= 'govuk-radios__conditional--hidden' if service_choice[:service_choice] != 'hourly' %>" id="<%= day %>-conditional-specified">
          <%= govuk_fieldset_with_optional_error service_choice, :start_time do %>
            <legend style="padding-left: 0 !important">Start</legend>
            <div class="govuk-form-group <%= 'govuk-form-group--error' if model_attribute_has_error(service_choice, :start_time) %>" data-propertyname="<%= day %>_start_time">
              <%= display_potential_errors service_choice, :start_time, f.object_name, nil, nil, day %>
              <div class="govuk-date-input">
                <%= f.hidden_field :start_time, class: "#{day}_start_time govuk-visually-hidden", id: "start_time"  %>
                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-date-input__label" for="<%= day %>_start_hour"></label>
                  <%= f.text_field :start_hour, class: "govuk-input govuk-date-input__input #{'govuk-input--error' if model_attribute_has_error(service_choice, :start_time)} govuk-input--width-2", id: "#{day}_start_hour", maxlength: "2", type: "text", min: "0", max: "12" %>
                </div>
                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-date-input__label" for="<%= day %>_start_minute"></label>
                  <%= f.text_field :start_minute, class: "govuk-input govuk-date-input__input #{'govuk-input--error' if model_attribute_has_error(service_choice, :start_time)} govuk-input--width-2", id: "#{day}_start_minute", maxlength: "2", type: "text", min: "0", max: "59" %>
                </div>
                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-date-input__label" for="<%= day %>_start_ampm"></label>
                  <%= f.select :start_ampm, %w[AM PM], {}, class: "govuk-select #{'govuk-select--error' if model_attribute_has_error(service_choice, :start_time)} govuk-input--width-2", id: "#{day}_start_ampm" %>
                </div>
              </div>
            </div>
            <br/>
          <% end %>
          <%= govuk_fieldset_with_optional_error service_choice, :end_time do %>
            <legend style="padding-left: 0 !important">End</legend>
            <div class="govuk-form-group <%= 'govuk-form-group--error' if model_attribute_has_error(service_choice, :end_time) %>" data-propertyname="<%= day %>_end_time">
              <%= display_potential_errors service_choice, :end_time, f.object_name, nil, nil, day %>
              <div class="govuk-date-input">
                <%= f.hidden_field :end_time, class: "#{day}_end_time govuk-visually-hidden", id: "end_time" %>
                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-date-input__label" for="<%= day %>_end_hour"></label>
                  <%= f.text_field :end_hour, class: "govuk-input govuk-date-input__input #{'govuk-input--error' if model_attribute_has_error(service_choice, :end_time)} govuk-input--width-2", id: "#{day}_end_hour", maxlength: "2", type: "text", min: "0", max: "12" %>
                </div>
                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-date-input__label" for="<%= day %>_end_minute"></label>
                  <%= f.text_field :end_minute, class: "govuk-input govuk-date-input__input #{'govuk-input--error' if model_attribute_has_error(service_choice, :end_time)} govuk-input--width-2", id: "#{day}_end_minute", maxlength: "2", type: "text", min: "0", max: "59" %>
                </div>
                <div class="govuk-date-input__item">
                  <label class="govuk-label govuk-date-input__label" for="<%= day %>_end_ampm"></label>
                  <%= f.select :end_ampm, %w[AM PM], {}, class: "govuk-select #{'govuk-select--error' if model_attribute_has_error(service_choice, :end_time)} govuk-input--width-2", id: "#{day}_end_ampm" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% if day == :monday %>
        <button id="copy_details" class="govuk-button govuk-button--secondary" style="margin-bottom:0;" onclick="return false;" aria-label="<%=t('.copy_details') %>"><%=t('.copy_details') %></button>
      <% end %>
    </div>
  <% end %>
</div>
