<h3 class="govuk-heading-m"><%= t('how_many_floors_heading') %></h3>
<p class="govuk-caption-m"><%=t('lift_description') %></p>
<div class=" liftdatacontainer">
  <div class="liftdata">
    <%= hidden_field_tag "#{f.object_name}[lift_data][]", '' %>
    <% index = 0 %>
    <% until index == @lift_count %>
      <div class="govuk-form-group <%= 'govuk-form-group--error' if any_lift_error? @building_service, index %>" data-propertyname="Lift Data"
           style="<%= 'padding-left:1em' if @building_service.errors[:lift_data].any? %>" data-liftcount="<%= index + 1 %>">
        <label for="<%= "liftdata_#{index + 1}" %>" class="govuk-label"><%= "Lift #{index + 1}." %></label>
        <span class="govuk-caption-m">Number of floors</span>
        <%= display_potential_errors @building_service, :lift_data, f.object_name, method(:specific_lift_error?), index %>
        <%= f.text_field :lift_data, :multiple => true, value: @building_service[:lift_data]&.dig(index), id: "liftdata_#{index + 1}", class: 'govuk-input govuk-input--width-2', type: 'number', min: 1, max: 99, required: true, maxlength: 3 %>
        <%= f.button('Remove', action: 'removelift', value: index, class: "govuk-!-margin-left-2 govuk-button govuk-button--secondary #{'govuk-visually-hidden' if index < (@lift_count - 1)} removelift", data: {liftcount: index + 1}) if index > 0 %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>
  <%= button_to 'Add new lift', 'addnewlift', class: 'govuk-button govuk-button--secondary addliftbtn' %>
</div>