<%= form_group_with_error(f.object, :contact_name) do |displayed_error, any_errors| %>
  <%= f.label(:contact_name, t('.contact_name_question'), class: 'govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-left-0') %>
  <%= displayed_error %>
  <%= f.text_field :contact_name, class: "govuk-input govuk-input--width-30 govuk-!-margin-top-2 #{'govuk-input--error' if any_errors }", maxlength: 100 %>
<% end %>

<%= form_group_with_error(f.object, :contact_email) do |displayed_error, any_errors| %>
  <%= f.label(:contact_email, t('.contact_email_question'), class: 'govuk-label govuk-label--m') %>
  <div class="govuk-hint">
    <%= t('.contact_email_info') %>
  </div>
  <%= displayed_error %>
  <%= f.text_field :contact_email, class: "govuk-input govuk-input--width-20 govuk-!-margin-top-2 #{'govuk-input--error' if any_errors }" %>
<% end %>

<%= form_group_with_error(f.object, :contact_phone) do |displayed_error, any_errors| %>
  <%= f.label(:contact_phone, t('.contact_phone_question'), class: 'govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-left-0') %>
  <%= displayed_error %>
  <%= f.text_field :contact_phone, class: "govuk-input govuk-input--width-20 govuk-!-margin-top-2 #{'govuk-input--error' if any_errors }" %>
<% end %>