<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs({link_text: t('.heading')}) %>
<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>
<p class="govuk-body govuk-!-font-weight-regular govuk-hint">
  <%= t('.view_supplier_details') %>
</p>
<table class="govuk-table govuk-!-width-two-thirds">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('.supplier_name') %></th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('.supplier_contact_email') %></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @suppliers.each do |supplier| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
            <%= link_to supplier.supplier_name, facilities_management_admin_supplier_detail_path(id: supplier.supplier_id), class: 'govuk-link--no-visited-state' %>
          </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= contact_detail(:contact_email, supplier) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
