<%= content_for :page_title, t('.page_title', supplier_name: @supplier.supplier_name).html_safe %>
<%= admin_breadcrumbs(
  { link_text: t('facilities_management.admin.supplier_details.index.heading'), link_url: facilities_management_admin_supplier_details_path },
  { link_text: @supplier.supplier_name }
) %>
<%= govuk_page_header(LayoutHelper::HeadingDetail.new(t('.supplier_details'), @supplier.supplier_name, nil, nil, nil)) %>

<p class="govuk-body govuk-!-font-weight-regular govuk-hint">
  <%= t('.edit_supplier_details') %>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">
      <%= t('.supplier_account_information') %>
    </h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-font-weight-bold" width="50%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" width="40%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" width="10%"></td>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row"> <%= t('.current_user') %> </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= supplier_user_email %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_user), class: 'govuk-link--no-visited-state') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">
      <%= t('.supplier_contact_information') %>
    </h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-font-weight-bold" width="50%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" width="40%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" width="10%"></td>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row"> <%= t('.supplier_name') %> </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= contact_detail(:supplier_name) %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_name), class: 'govuk-link--no-visited-state') %></td>
        </tr>
        <% %i[contact_name contact_email contact_phone].each do |attribute| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-padding-right-2" scope="row"> <%= t(".#{attribute}") %> </th>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= contact_detail(attribute) %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_contact_information), class: 'govuk-link--no-visited-state') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">
      <%= t('.additional_supplier_information') %>
    </h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <td class="govuk-table__header govuk-!-font-weight-bold" width="50%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" width="40%"></td>
          <td class="govuk-table__header govuk-!-font-weight-bold" width="10%"></td>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% %i[duns registration_number].each do |attribute| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-padding-right-2" scope="row"> <%= t(".#{attribute}") %> </th>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= contact_detail(attribute) %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :additional_supplier_information), class: 'govuk-link--no-visited-state') %></td>
          </tr>
        <% end %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-padding-right-2" scope="row"> <%= t('.full_address') %> </th>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= full_address %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_address), class: 'govuk-link--no-visited-state') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
