<%= content_for :page_title, t('.page_title', supplier_name: @supplier.supplier_name).html_safe %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.admin.supplier_details.index.heading'), link: facilities_management_admin_supplier_details_path },
  { text: @supplier.supplier_name }
) %>
<%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(t('.supplier_details'), @supplier.supplier_name, nil, nil, nil)) %>

<p class="govuk-body govuk-!-font-weight-regular govuk-hint">
  <%= t('.edit_supplier_details') %>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.supplier_account_information')%>
    </h2>
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.current_user') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= supplier_user_email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_user), class: 'govuk-link--no-visited-state') %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.supplier_contact_information')%>
    </h2>
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.supplier_name') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= contact_detail(:supplier_name) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_name), class: 'govuk-link--no-visited-state') %>
          </dd>
        </div>
      <% %i[contact_name contact_email contact_phone].each do |attribute| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".#{attribute}") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= contact_detail(attribute) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_contact_information), class: 'govuk-link--no-visited-state') %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.additional_supplier_information')%>
    </h2>
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
      <% %i[duns registration_number].each do |attribute| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".#{attribute}") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= contact_detail(attribute) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :additional_supplier_information), class: 'govuk-link--no-visited-state') %>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.full_address') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= full_address %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@supplier, page: :supplier_address), class: 'govuk-link--no-visited-state') %>
        </dd>
      </div>
    </dl>
  </div>
</div>
