<%= content_for :page_title, t('.page_title', supplier_name: @supplier.supplier_name).html_safe %>
<%= admin_breadcrumbs(
  { text: t("facilities_management.#{@framework.downcase}.admin.supplier_details.index.heading"), href: supplier_details_index_path },
  { text: @supplier.supplier_name }
) %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">
    <%= @supplier.supplier_name %>
  </span>
  <%= t('.supplier_details') %>
</h1>

<%= framework_expired_warning(t("facilities_management.#{params[:framework].downcase}.admin.you_cannot_update.details")) %>

<p class="govuk-body govuk-!-font-weight-regular govuk-hint">
  <%= t('.edit_supplier_details') %>
</p>

<% if @supplier.user_information_required? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        <%= t('.supplier_account_information')%>
      </h2>
      <hr class="govuk-section-break govuk-section-break--visible">
      <dl class="govuk-summary-list">
        <div id="supplier-details--supplier_user" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.current_user') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= supplier_user_email %>
          </dd>
          <% unless @framework_has_expired %>
            <dd class="govuk-summary-list__actions">
              <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@framework, @supplier, page: :supplier_user), class: 'govuk-link--no-visited-state') %>
            </dd>
          <% end %>
        </div>
      </dl>
    </div>
  </div>
<% end %>

<% if @supplier.suspendable? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        <%= t('.supplier_status')%>
      </h2>
      <hr class="govuk-section-break govuk-section-break--visible">
      <dl class="govuk-summary-list">
        <div id="supplier-details--supplier_status" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.current_status') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_tag(*@supplier.current_status) %>
          </dd>
          <% unless @framework_has_expired %>
            <dd class="govuk-summary-list__actions">
              <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@framework, @supplier, page: :supplier_status), class: 'govuk-link--no-visited-state') %>
            </dd>
          <% end %>
        </div>
      </dl>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.supplier_contact_information')%>
    </h2>
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
        <div id="supplier-details--supplier_name" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.supplier_name') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= contact_detail(:supplier_name) %>
          </dd>
          <% unless @framework_has_expired %>
            <dd class="govuk-summary-list__actions">
              <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@framework, @supplier, page: :supplier_name), class: 'govuk-link--no-visited-state') %>
            </dd>
          <% end %>
        </div>
      <% if params[:framework] == 'RM3830' %>
        <% %i[contact_name contact_email contact_phone].each do |attribute| %>
          <div id="supplier-details--<%= attribute %>" class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= t(".#{attribute}") %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= contact_detail(attribute) %>
            </dd>
            <% unless @framework_has_expired %>
              <dd class="govuk-summary-list__actions">
                <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@framework, @supplier, page: :supplier_contact_information), class: 'govuk-link--no-visited-state') %>
              </dd>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.additional_supplier_information')%>
    </h2>
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
      <% %i[duns registration_number].each do |attribute| %>
        <div id="supplier-details--<%= attribute %>" class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".#{attribute}") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= contact_detail(attribute) %>
          </dd>
          <% unless @framework_has_expired %>
            <dd class="govuk-summary-list__actions">
              <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@framework, @supplier, page: :additional_supplier_information), class: 'govuk-link--no-visited-state') %>
            </dd>
          <% end %>
        </div>
      <% end %>
      <div id="supplier-details--full_address"class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.full_address') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= full_address %>
        </dd>
        <% unless @framework_has_expired %>
          <dd class="govuk-summary-list__actions">
            <%= link_to(t('.change'), edit_facilities_management_admin_supplier_detail_path(@framework, @supplier, page: :supplier_address), class: 'govuk-link--no-visited-state') %>
          </dd>
        <% end %>
      </div>
    </dl>
  </div>
</div>
