<h2 class="govuk-!-width-two-thirds govuk-body">
  <%= t('.there_are_suppliers_html', count: sorted_supplier_list.count, suppliers: supplier_plural) %>
  <% if sorted_supplier_list.count > 1 %>
    <%= t('.supplier_description_plural') %>
  <% else %>
    <%= t('.supplier_description_singular') %>
  <% end %>
</h2>
<blockquote class="cmp-inset-text cmp-inset-text--neutral govuk-!-width-two-thirds govuk-!-font-size-27 govuk-heading-l">
  <span id="selected-supplier"><%= sorted_supplier_list.first[:name] %></span>
  <span style="float:right"><%= number_to_currency(sorted_supplier_list.first[:price]) %></span><br/>
  <span class="govuk-!-font-size-19"><%= t('.lowest_price_supplier') %> </span>
</blockquote>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--visible">
    <dl class="govuk-summary-list">
      <% sorted_supplier_list[1..-1].each.with_index(2) do |supplier, index| %>
        <div class="govuk-summary-list__row govuk-heading-m">
          <dt class="govuk-summary-list__key">
            <%= "Supplier #{index}" %>
          </dt>
          <dd class="govuk-summary-list__value ccs-summary-list__value">
            <%= number_to_currency(supplier[:price]) %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>

<div class="govuk-body govuk-!-width-two-thirds govuk-!-margin-bottom-4">
  <p>
    <%= t('.pricing_description_1') %>
  </p>
  <p>
    <%= t('.pricing_description_2') %>
  </p>
  <p>
    <%= t('.pricing_description_3') %>
  </p>
  <p>
    <%= t('.pricing_description_4') %>
  </p>
  <p class='govuk-inset-text'>
    <%= t('.pricing_description_5') %>
  </p>
</div>
