<div class="govuk-body govuk-!-font-size-24 govuk-!-width-three-quarters">
  <%= t('.please_review')%><br/>
  <%= t('.once_satisfied')%>
</div>
<div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-9">
    <%= t('.requirements')%>
  </h2>
  <%= render partial: 'facilities_management/rm3830/procurements/contract_details/da_journey/summary_pages/procurement_requirements' %>

  <%= f.submit('Change requirements', class: 'govuk-button govuk-button--secondary', name: :change_requirements, 'aria-label': "Change requirements") %>
</div>

<div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
    <%= t('.contract_details')%>
  </h2>
  <%= render partial: 'facilities_management/rm3830/procurements/contract_details/da_journey/summary_pages/contract_details_summary' %>

  <%= f.submit('Change contract details', class: 'govuk-button govuk-button--secondary', name: :change_contract_details, 'aria-label': "Change contract details") %>
</div>

<div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
    <%= t('.generate_your_documents')%>
  </h2>
  <div class="govuk-hint govuk-!-width-three-quarters govuk-!-padding-left-5">
    <%= t('.click_generate_documents')%>
  </div>
</div>
