<div class="mc-supplier-record">
  <div class="govuk-grid-row supplier-record__header-group">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-font-size-27 mc-supplier-record__supplier-name"><%= supplier.name %></h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half mc-supplier-record__contact-details">
      <h3 class="govuk-heading-s mc-supplier-record__contact-name mc-supplier-record__contact-item">
        <%= supplier.contact_name %>
      </h3>
      <p class="govuk-body mc-supplier-record__contact-item">
        <%= supplier.contact_email %>
      </p>
      <p class="govuk-body mc-supplier-record__contact-item">
        <%= format_telephone_number(supplier.telephone_number) %>
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s mc-supplier-record__services-title">
        Services
      </h4>
      <ul class="govuk-list govuk-list--bullet">
        <% supplier.services_in_lot(lot_number).each do |service| %>
          <li><%= service.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
