<div class="mc-supplier-record">
  <div class="govuk-grid-row supplier-record__header-group">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-font-size-27 mc-supplier-record__supplier-name"><%= supplier.name %></h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s fm-supplier-record__contact-name">
        <%= supplier.contact_name.present? ?
              supplier.contact_name :
              t('.contact_name_missing') %>
      </h3>
      <p class="govuk-body">
        <%= supplier.contact_email.present? ?
              mail_to(supplier.contact_email) :
              t('.contact_email_missing') %>
      </p>
      <p class="govuk-body">
        <%= supplier.telephone_number.present? ?
              format_telephone_number(supplier.telephone_number) :
              t('.telephone_number_missing') %>
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <h4 class="govuk-heading-s mc-supplier-record__services-title">
        Services
      </h4>
      <ul>
        <% supplier.services_in_lot(lot_number).each do |service| %>
          <li><%= service.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
