<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <p class="govuk-heading-m govuk-!-margin-bottom-8"><%= t('.lead_text') %></p>
    <p class="govuk-body">
      <a href="<%=  management_consultancy_suppliers_download_path(lot: params[:lot], services: params[:services], region_codes: params[:region_codes])%>&format=xlsx" class="supplier-record__file-download" type="<%= t('common.type_xlsx') %>" download>
        <%= t('.download_supplier_shortlist') %> <span class="govuk-visually-hidden"><%= t('common.xlsx_html') %></span>
      </a>
    </p>

    <h2 class="govuk-heading-m"><%= t('.other_documents') %></h2>

    <ul class="govuk-list govuk-!-margin-top-6 govuk-section-break--visible">
      <li class="govuk-!-margin-bottom-3">
        <a href="<%= t('.expression_of_interest_template_link') %>" class="supplier-record__file-download" type="<%= t('common.type_doc') %>" download>
          <%= t('.expression_of_interest_template') %> <span class="govuk-visually-hidden"><%= t('common.doc_html') %></span>
        </a>
      </li>
    </ul>
    <%= link_to t('common.back_to_start'), '/management_consultancy/', class: 'govuk-!-margin-top-6 govuk-link govuk-!-font-size-19 govuk-link--no-visited-state' %>
  </div>
</div>
