<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">
      <%= framework_lot_and_description(@lot.number, @lot.description) %>
    </span>
    <% if @all_suppliers.count.zero? %>
      <h1 class="govuk-heading-xl"><%= t('.no_suppliers_found.heading') %></h1>
      <p class="govuk-body govuk-!-font-size-24">
        <%=t('.no_suppliers_found.text') %>
      </p>
      <br>
      <p class="govuk-body">
        <%= t('.no_suppliers_found.contact_html', contact_link: link_to(t('.no_suppliers_found.contact_link_text'), 'https://www.crowncommercial.gov.uk/contact')) %>
      </p>
    <% else %>
      <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
      <p class="govuk-body">
        <%= t('.suppliers_found_html',
              number: @all_suppliers.count,
              suppliers: number_to_human(@all_suppliers.count, units: :companies, format: '%u')) %>
      </p>
      <%= link_to(
        t('.download_suppliers_list'),
        management_consultancy_suppliers_download_path(
          lot: params[:lot],
          services: params[:services],
          region_codes: params[:region_codes]
          ),
          class: 'govuk-button'
        ) %>
      <br>
      <section class="govuk-grid-column-two-thirds ccs-search-results">
        <ul class="ccs-results-list">
          <%= render partial: 'supplier', collection: @suppliers %>
        </ul>
        <%= paginate @suppliers, views_prefix: 'shared', window: 2, outer_window: 1 %>
      </section>
    <% end %>
  </div>
</div>
