<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <p class="govuk-body">
      <%= t('.suppliers_found_html',
            number: @all_suppliers.count,
            suppliers: number_to_human(@all_suppliers.count, units: :companies, format: '%u')) %>
    </p>
    <p>
      <%= link_to(t('.download_suppliers_list'), management_consultancy_suppliers_download_path, class: 'govuk-button') unless @suppliers.empty? %>
    </p>
    <section class="govuk-grid-column-two-thirds ccs-search-results">
      <ul class="ccs-results-list">
        <%= render partial: 'supplier', collection: @suppliers, locals: { lot_number: @lot.number } %>
      </ul>
    </section>

    <%= paginate @suppliers, views_prefix: 'shared', window: 2, outer_window: 1 %>
  </div>
</div>
