<% unless @closed_contracts.empty? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"><%= t('.closed_contracts')%></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.contract_name')%></th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.buyer')%></th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.date')%></th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter" scope="col"><%= t('.status')%></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @closed_contracts.each do |closed_contract| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= link_to closed_contract.procurement.contract_name, facilities_management_supplier_contract_path(closed_contract.id), class: 'govuk-link govuk-link--no-visited-state' %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= closed_contract.procurement.user.buyer_detail.organisation_name %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= format_date closed_contract.closed_date %> </td>
          <td class="govuk-table__cell"> <%= FacilitiesManagement::Supplier::DashboardHelper::SUPPLIER_STATUS[closed_contract.aasm_state.to_sym] %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="govuk-table__caption--m"><%= t('.closed_contracts')%></h2>
  <hr class="govuk-section-break govuk-section-break--visible">
    <span class="govuk-hint govuk-!-margin-top-3"><%= t('.no_closed_contracts')%></span>
  <hr class="govuk-section-break govuk-section-break--visible">
<% end %>
