
<% if @procurement.optional_call_off_extensions_1.nil? and @procurement.optional_call_off_extensions_2.nil? and @procurement.optional_call_off_extensions_3.nil? and @procurement.optional_call_off_extensions_4.nil? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Optional call-off extensions
    </dt>
    <dd class="govuk-summary-list__value">
      None
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>

<% unless @procurement.optional_call_off_extensions_1.nil? %>
  <div class="govuk-summary-list__row ">
    <dt class="govuk-summary-list__key">
      Optional call-off extension 1
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @procurement.optional_call_off_extensions_1 %> <%= @procurement.optional_call_off_extensions_1 > 1 ? ' years' : 'year' %>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>

<% unless @procurement.optional_call_off_extensions_2.nil? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Optional call-off extension 2
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @procurement.optional_call_off_extensions_2 %> <%= @procurement.optional_call_off_extensions_2 > 1 ? ' years' : 'year' %>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>

<% unless @procurement.optional_call_off_extensions_3.nil? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Optional call-off extension 3
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @procurement.optional_call_off_extensions_3 %> <%= @procurement.optional_call_off_extensions_3 > 1 ? ' years' : 'year' %>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>

<% unless @procurement.optional_call_off_extensions_4.nil? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Optional call-off extension 4
    </dt>
    <dd class="govuk-summary-list__value">
      <%= @procurement.optional_call_off_extensions_4 %> <%= @procurement.optional_call_off_extensions_4 > 1 ? ' years' : 'year' %>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
<% end %>
