<tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:mobilisation_period].any? %>">
  <th scope="row" class="govuk-table__header govuk-!-font-size-19  <%= 'govuk-!-padding-left-2' if @procurement.unanswered_contract_date_questions? || @procurement.errors[:mobilisation_period].any? %>" width="30%">Mobilisation period</th>
  <td class="govuk-table__cell">
    <%= mobilisation_period %>
  </td>
  <td class="govuk-table__cell">
  </td>
</tr>
<% if @procurement.errors[:mobilisation_period].any? %>
  <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 govuk-form-group--error">
    <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2 " colspan="3"><%= display_error(@procurement, :mobilisation_period, false) %></td>
  </tr>
<% end %>

<% if @procurement.mobilisation_period_required %>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header govuk-!-font-size-19" width="30%">Mobilisation start date</th>
    <td class="govuk-table__cell">
      <%= format_date mobilisation_start_date unless @procurement.initial_call_off_start_date.blank?%>
    </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header govuk-!-font-size-19" width="30%">Mobilisation end date</th>
    <td class="govuk-table__cell">
      <%= format_date mobilisation_end_date unless @procurement.initial_call_off_start_date.blank?%>
    </td>
    <td class="govuk-table__cell">
    </td>
  </tr>
<% end %>
