<% content_for :page_title, t('.buyer_account_dashboard') %>

<%= render partial: 'facilities_management/rm3830/new_framework_banner' %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l"><%= @current_login_email %></span>
        <%= t('.buyer_account_title') %>
      </h1>
    </div>
  </div>
  <%= ccs_account_panel_row do %>
    <%= ccs_account_panel(t('.quick_view'), facilities_management_journey_question_path(slug: 'choose-services')) do %>
      <%= t('.new_procurement_desc') %>
    <% end %>
  <% end %>
  <%= ccs_account_panel_row do %>
    <%= ccs_account_panel(t('.start_procurement_link'), facilities_management_rm3830_what_happens_next_path) do %>
      <%= t('.start_procurement_desc') %>
    <% end %>
    <%= ccs_account_panel(t('.manage_procurements_link'), facilities_management_rm3830_procurements_path) do %>
      <%= t('.manage_procurements_desc') %>
    <% end %>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%= link_to t(".manage_buildings"), facilities_management_rm3830_buildings_path, class: 'govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state' %>
        <p>
          <%= t('.manage_buildings_desc') %>
        </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <%= link_to t('.manage_account_link'), edit_facilities_management_buyer_detail_path(params[:framework], @buyer_detail), class: 'govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state' %>
        <p>
          <%= t('.manage_account_desc') %>
        </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= link_to t('.further_information_link_description'), t('.further_information_link'), class: 'govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state', target: '_blank' %>
      <p>
        <%= t('.further_information_help') %>
      </p>
    </div>
  </div>
  <div class="govuk-!-margin-top-6 ">
    <strong class="govuk-heading-s">
      <%= t('.return_to_page') %>
    </strong>
  </div>
</div>
