<%= govuk_page_content(@page_description, @procurement_copy) do |pd|%>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        <%= t('.heading')%>
    </h1>
    <div>
        <p class="govuk-body-m govuk-!-width-one-half govuk-!-margin-bottom-3"><%= t('.once_saved')%></p>
        <ul class="govuk-list govuk-!-width-one-half govuk-list--bullet govuk-!-margin-bottom-6">
            <li><%= t('.you_will_have_option')%></li>
            <li><%= t('.you_will_be_able')%></li>
        </ul>
    </div>
    <%=form_for @procurement_copy, url: facilities_management_rm3830_procurement_copy_procurement_index_path, method: :post do |f, attr|%>
        <div class="govuk-!-width-one-half govuk-!-margin-bottom-6">
            <%= form_group_with_error(f.object, :contract_name) do |displayed_error, any_errors| %>
                <%= f.label :contract_name, t('.label'), class: 'govuk-heading-m' %>
                <%= displayed_error %>
                <%= f.text_field :contract_name, class: "govuk-input #{'govuk-input--error' if any_errors}", maxlength: 100, id: 'facilities_management_procurement_contract_name' %>
            <% end %>
        </div>
        <%= f.submit pd.navigation_details.primary_text, { class: 'govuk-button govuk-!-margin-right-4', 'aria-label': "#{pd.navigation_details.primary_text}" } %>
        <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}" %>
    <% end %>
<% end %>
