<div class="fm-supplier-record">
  <div class="govuk-grid-row supplier-record__header-group">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-font-size-27 fm-supplier-record__supplier-name"><%= supplier.name %></h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s fm-supplier-record__contact-name">
        <%= supplier.contact_name.present? ?
              supplier.contact_name :
              t('.contact_name_missing') %>
      </h3>
      <p class="govuk-body">
        <%= supplier.contact_email.present? ?
              mail_to(supplier.contact_email, supplier.contact_email, 'aria-label': "Email #{supplier.contact_name} from #{supplier.name}") :
              t('.contact_email_missing') %>
      </p>
    </div>
    <div class="govuk-grid-column-one-half">
      <% supplier.services_by_work_package_in_lot(lot_number).each do |work_package, services| %>
        <details class="govuk-details" aria-label='<%= "Services for #{work_package.name}"%>'>
          <summary class="govuk-details__summary">
            <%= work_package.name %>
          </summary>
          <div class="govuk-details__text">
              <% grouped_by_mandatory(services).each do |mandatory, services| %>
                <h4 class="govuk-heading-s fm-supplier-record__services-title">
                  <%= service_type(mandatory) %>
                </h4>
                <ul>
                  <% services.each do |service| %>
                    <li><%= service.name %></li>
                  <% end %>
                </ul>
              <% end %>
          </div>
        </details>
      <% end %>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
