<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs({ text: t('.heading') })%>

<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= t('.the_table_below') %>
    </p>
    <p>
      <%= t('.you_can_generate_a_new_report') %>
    </p>
    <%= govuk_button(t('.generate_a_new_report'), href: new_path, attributes: { aria: { label: t('.generate_a_new_report') } }) %>
  </div>
</div>

<% if @management_reports.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" width="15%"><%= t('.management_report') %></th>
            <th class="govuk-table__header" scope="col" width="20%"><%= t('.created_at') %></th>
            <th class="govuk-table__header" scope="col" width="40%"><%= t('.user') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @management_reports.each do |management_report| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-right-2">
                <%= link_to management_report.short_id, show_path(management_report.id), class: 'govuk-link govuk-link--no-visited-state' %>
              </td>
              <td class="govuk-table__cell govuk-!-padding-right-2">
                <%= format_date_time management_report.created_at %>
              </td>
              <td class="govuk-table__cell govuk-!-padding-right-2">
                <%= management_report&.user&.email || t('.user_deleted') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @management_reports, views_prefix: 'shared' %>
    </div>
  </div>
<% else %>
  <hr class="govuk-section-break govuk-section-break--visible">
  <p class="govuk-!-margin-top-4">
    <%= t('.you_do_not_have_any') %>
  </p>
  <hr class="govuk-section-break govuk-section-break--visible">
<% end %>