<%= content_for :page_title, t('.heading') %>
<% admin_breadcrumbs({ text: t('.heading') })%>

<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= t('.the_table_below') %>
    </p>
    <p>
      <%= t('.you_can_generate_a_new_report') %>
    </p>
    <%= govuk_button(t('.generate_a_new_report'), href: new_path, attributes: { aria: { label: t('.generate_a_new_report') } }) %>
  </div>
</div>

<% if @management_reports.any? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= govuk_table(
        [
          {
            text: t('.management_report'),
            attributes: {
              width: '15%'
            }
          },
          {
            text: t('.created_at'),
            attributes: {
              width: '20%'
            }
          },
          {
            text: t('.user'),
            attributes: {
              width: '40%'
            }
          }
        ],
        @management_reports.map do |management_report|
          [
            {
              text: link_to(management_report.short_id, show_path(management_report.id), class: 'govuk-link govuk-link--no-visited-state')
            },
            {
              text: format_date_time(management_report.created_at)
            },
            {
              text: management_report&.user&.email || t('.user_deleted')
            }
          ]
        end
      ) %>
      <%= paginate @management_reports, views_prefix: 'shared' %>
    </div>
  </div>
<% else %>
  <hr class="govuk-section-break govuk-section-break--visible">
  <p class="govuk-!-margin-top-4">
    <%= t('.you_do_not_have_any') %>
  </p>
  <hr class="govuk-section-break govuk-section-break--visible">
<% end %>