<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.admin.management_reports.index.heading'), href: index_path },
  { text: t('.heading') }
) %>

<%= render partial: 'shared/error_summary', locals: { errors: @management_report.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<%= form_with model: @management_report, url: index_path, method: :post, html: { specialvalidation: true, novalidate: true } do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-l">
        <%= t('.to_generate_file') %>
      </p>

      <%= govuk_date_input(
        :start_date,
        form: f,
        fieldset: {
          legend: {
            text: t('.from'),
            classes: 'govuk-fieldset__legend--l'
          }
        },
        hint: {
          text: t('.from_example')
        },
        date_items: govuk_date_items
      ) %>

      <%= govuk_date_input(
        :end_date,
        form: f,
        fieldset: {
          legend: {
            text: t('.to'),
            classes: 'govuk-fieldset__legend--l'
          }
        },
        hint: {
          text: t('.to_example')
        },
        date_items: govuk_date_items
      ) %>

      <hr class="govuk-section-break govuk-section-break--m">
      <%= govuk_button(t('.generate_report'), form: f, attributes: { aria: { label: t('.generate_report') } }) %>
    </div>
  </div>
<% end %>
