<%= content_for :page_title, t('.heading_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="<%= facilities_management_admin_path %>">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
          <a class="govuk-breadcrumbs__link" href="<%= new_facilities_management_admin_management_report_path %>">
            <%= t('.breadcrumb_text_management_report') %>
          </a>
        </li>
      </ol>
    </div>
    <h1 class="govuk-heading-xl"><%= t('.heading_title') %></h1>
    <h2 class="govuk-heading-l"><%= t('.heading_sub') %></h2>
    <h3 class="govuk-body-l"><%= t('.heading_sub_detail', start_date: @management_report.start_date.strftime('%d/%-m/%Y'), end_date: @management_report.end_date.strftime('%d/%-m/%Y')) %></h3>
    <%= render partial: @management_report.aasm_state %>

    <a href="<%= new_facilities_management_admin_management_report_path %>" class="govuk-button" alt=<%= t('.download_btn_text') %> aria-label=<%= t('.download_btn_text') %>><%= t('.download_btn_text') %></a>

    <a href="<%= facilities_management_admin_path %>" class="govuk-link govuk-caption-m" alt="Return to admin dashboard" aria-label="Return to admin dashboard"><%= t('.return_link') %></a>
  </div>
</div>
