<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="ccs-error-sum" class="govuk-error-summary <%= 'govuk-visually-hidden' unless @result.errors.any? %> ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        <%= t('common.error_summary_title') %>
      </h2>
      <div class="govuk-error-summary__body">
        <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list">
          <% @result.errors.keys.each do |attribute| %>
            <li>
              <%= link_to @result.errors[attribute].first, "##{error_id(attribute)}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= form_for resource, as: resource_name, url: facilities_management_new_user_session_path, html: {class: 'ccs-form', id: 'cop_sign_in_form'}, method: :post  do |f| %>
      <div class="govuk-form-group govuk-!-margin-bottom-4 <%= 'govuk-form-group--error' if @result.errors[:email].any? %>">
        <label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="email">
          <%= t('.email_address') %>
        </label>
        <span id="email-hint" class="govuk-hint">
                    <%= t('.email_hint_html') %>
                </span>

        <span id="email-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                    <%= t('activemodel.errors.models.ccs_patterns/home/cog_sign_in.attributes.cog_sign_in.please_enter_a_valid_email_address') %>
        </span>
        <%= display_error(@result, :email) %>
        <%=  f.email_field :email, class:"govuk-input govuk-!-width-two-thirds", id:"email", autocomplete:'email', spellcheck:'false', aria: {describedby: "email-hint"}  %>
      </div>

      <div class="govuk-form-group govuk-!-margin-bottom-7 <%= 'govuk-form-group--error' if @result.errors[:password].any? %>">
        <label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="password">
          <%= t('.password') %>
        </label>

        <span id="password-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                    <%= t('activemodel.errors.models.ccs_patterns/home/cog_sign_in.attributes.cog_sign_in.enter_your_password') %>
                </span>
        <%= display_error(@result, :password) %>
        <%= f.password_field :password, class: "govuk-input govuk-!-width-two-thirds", id: "password", autocomplete: "current-password" %>

      </div>

      <%= f.submit t('common.sign_in'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>

    <% end %>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= link_to t('ccs_patterns.home.cog_sign_in.create_ccs_account_html'), facilities_management_new_user_registration_path, class: "govuk-link" %>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= t('ccs_patterns.home.cog_sign_in.problems_signing_in') %>
    </h2>

    <ul class="govuk-list">
      <li>
        <%= link_to t('.forgotten_password_html'), facilities_management_new_user_password_path, class: 'govuk-link' %>
      </li>
    </ul>
  </div>
</div>



