<div id="fm-lot-1b-list" class="govuk-grid-column-one-third">
  <span class="govuk-heading-m css-fm-lot-headings">between £7m-50m</span>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Lot 1b</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @suppliers_lot1b.each do |supplier| %>
      <tr id="fm-supplier-<%= SecureRandom.uuid %>" name="<%= supplier['name'] %>" class="govuk-table__row" servicecode="<%= supplier['service_code'] %>" regioncode="<%= supplier['region_code'] %>">
        <td class="govuk-table__cell" scope="row">
          <%= check_box_tag 'facilities_management_procurement[suppliers_names][]',
                            supplier['name'], false, class: 'govuk-visually-hidden' %>
          <span><%= supplier['name'] %></span>
        </td>
      </tr>
      </tbody>
    <% end %>
    </table>
</div>
