<%= render 'facilities_management/rm3830/procurement_buildings/errors_on_show' %>
<%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(@procurement_building.name, @procurement.contract_name, nil, nil, nil)) %>
<%= content_for :page_title, t(".heading") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      <%= t('.heading') %>
    </h2>
    <span class="govuk-body ccs-font-weight-semi-bold">
      <%= t('.status') %> <span class=govuk-!-padding-left-2><%= govuk_tag_with_text(*procurement_building_status) %></span>
    </span>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-full govuk-body">
    <%= t('.help_line_1') %><br/>
    <%= t('.help_line_2') %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-body">
    <%= t('.list_title') %>
    <ol class="govuk-list govuk-list--number govuk-!-margin-top-2">
      <li> <%= t('.list_item_1') %> </li>
      <li> <%= t('.list_item_2') %> </li>
    </ol>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-body govuk-hint">
    <%= t('.volume_example') %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--s">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m" id="service_volumes">
      <%= t('.service_volumes') %>
    </h3>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible">
<table class="govuk-table govuk-!-width-full">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 35%"><%= t('.service_name') %></th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 40%"><%= t('.unit_of_measure_title') %></th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 15%"><%= t('.volume_required') %></th>
      <td class="govuk-table__header govuk-!-font-weight-bold" style="width: 10%"></td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% services_with_contexts(@volume_procurement_building_services) do |service, context| %>
      <% service_has_error = service_has_errors?(context) %>
      <% cell_classes = cell_class(context, service.uval, service_has_error)%>
      <tr id="<%= question_id(service, context, 'volume') %>" class="govuk-table__row <%= 'govuk-form-group--error' if service_has_error %>">
        <td class="<%= cell_classes %> <%= 'govuk-!-padding-left-2' if service_has_error %>"><%= service.name %></td>
        <td class="<%= cell_classes %>"><%= t(".unit_of_measure.#{context}") %></td>
        <% if service.send(context).blank? %>
          <td class="govuk-table__cell govuk-!-padding-right-2 <%= 'govuk-border-bottom_none' if service_has_error %>"><%= link_to t('.answer_question'), edit_facilities_management_rm3830_procurement_buildings_service_path(service, service_question: get_service_question(context)) %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2 <%= 'govuk-border-bottom_none' if service_has_error %>"></td>
        <% else %>
          <% case context %>
          <% when :lift_data, :service_hours %>
            <td class="<%= cell_classes %>"><%= service.uval %></td>
          <% else %>
            <td class="govuk-table__cell govuk-!-padding-right-2 <%= 'govuk-border-bottom_none' if service_has_error %>"><%= service.send(context) %></td>
          <% end %>
          <td class="<%= cell_classes %>"><%= link_to t('.change'), edit_facilities_management_rm3830_procurement_buildings_service_path(service, service_question: get_service_question(context)) %></td>
        <% end %>
      </tr>
      <% if context == :service_hours && service.uval.present? %>
        <tr class="govuk-table__row">
          <td class=" govuk-table__cell govuk-!-padding-right-2" colspan=2></td>
          <td class="govuk-table__cell govuk-!-padding-right-2 govuk-!-padding-top-0" colspan=2>
            <details class="govuk-details govuk-!-font-size-16" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <%= t('.detail_of_requirement') %>
                </span>
              </summary>
              <div class="govuk-details__text govuk-!-padding-bottom-0 govuk-!-padding-top-0">
                <%= simple_format service.detail_of_requirement, class: 'govuk-!-font-size-16'%>
              </div>
            </details>
          </td>
        </tr>
      <% end %>
    <% if service_has_error %>
      <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 govuk-form-group--error">
        <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="5">
          <span class="govuk-error-message">
            <%= t(".#{context}_error") %>
          </span>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      <%= t('.service_standards') %>
    </h3>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible">
<table class="govuk-table govuk-!-width-full">
  <% if @standards_procurement_building_services.any? %>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 35%"><%= t('.service_name') %></th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 40%"><%= t('.description') %></th>
        <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 15%"><%= t('.standard') %></th>
        <td class="govuk-table__header govuk-!-font-weight-bold" style="width: 10%"></td>
      </tr>
    </thead>
  <% end %>
  <tbody class="govuk-table__body">
    <% if @standards_procurement_building_services.any? %>
      <% @standards_procurement_building_services.each do |service| %>
        <tr id="<%= question_id(service, 'service_standard', nil) %>" class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= service.name %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t('.the_standard_required') %></td>
          <% if service.service_standard.nil?%>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to t('.answer_question'), edit_facilities_management_rm3830_procurement_buildings_service_path(service, service_question: 'service_standards') %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"></td>
          <% else %>
            <td class="govuk-table__cell govuk-!-padding-right-2"> <%= "Standard #{service.service_standard}" %> </td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to t('.change'), edit_facilities_management_rm3830_procurement_buildings_service_path(service, service_question: 'service_standards') %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-padding-right-2 govuk-caption-m"><%= t('.no_data') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.return_to_requirements'), facilities_management_rm3830_procurement_procurement_detail_path(@procurement, 'service-requirements'), class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19'%>
