<% errors = @procurement.errors %>
<% if errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      <%= t(".there_is_a_problem") %>
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errors[:"procurement_buildings.service_codes"].each_with_index do |procurement_building_error, index| %>
          <li>
            <%= link_to procurement_building_error, "##{errors.details[:"procurement_buildings.service_codes"][index][:building_name]}-#{errors.details[:"procurement_buildings.service_codes"][index][:error]}-error" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= govuk_page_header(LayoutHelper::HeadingDetail.new(t('.heading'), @procurement.contract_name, nil, nil, nil)) %>
<% content_for :page_title, t('.heading') %>

<div class="govuk-body">
  <div>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-6">
      <%= t('.sub_heading') %>
    </h2>
    <div class="govuk-body govuk-!-width-three-quarters">
      <%= t('.help_html') %>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-bottom-3">
  <div class="content browse">
    <div class="browse-panes section">
      <div id="root" class="pane root-pane govuk-!-width-one-half">
        <h3 class="govuk-heading-m">
          <%= t('.buildings') %>
        </h3>
        <div>
          <ul>
            <% f.object.active_procurement_buildings.order_by_building_name.each_with_index do |building, i| %>
              <li class="<%= building_tab_class(building, i) %>"  >
                <a id="<%= 'building-' + building.id %>" class="building-button govuk-!-font-size-19" href="#"><%= building.name %>
                  <strong class="<%= 'building-services-' + building.id %>">(0 services selected)</strong>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="section" class="section-pane pane with-sort govuk-!-width-one-half">
        <div class="pane-inner">
          <h3 class="govuk-heading-m">
            <%= t('.services') %>
          </h3>
          <%= f.fields_for :procurement_buildings do |ff| %>
            <% procurement_building = ff.object %>
            <% if procurement_building.active %>
              <%= ff.hidden_field :name, value: procurement_building.name %>
              <div id="<%= 'building-services-' + procurement_building.id %>" class="inner-pane services-pane <%= 'hidden-pane' if procurement_building.id != f.object.active_procurement_buildings.order_by_building_name.first.id %>">
                <div class="govuk-form-group">
                  <%= display_building_services_error procurement_building %>
                  <div class="govuk-checkboxes ccs-govuk-checkboxes--s govuk-checkboxes--small">
                    <ul id=<%= "#{procurement_building.name.parameterize(separator: '_')}-services" %>>
                      <li class="govuk-checkboxes__item ccs-select-all">
                        <input class="govuk-checkboxes__input box1-all" id="box-all<%= procurement_building.id %>" name="box-all" type="checkbox" value="">
                        <label class="govuk-label govuk-checkboxes__label" for="box-all<%= procurement_building.id %>">
                          Select all
                        </label>
                      </li>
                      <li>
                        <div class="govuk-checkboxes__item">
                          <p class="govuk-body govuk-!-margin-bottom-0">or</p>
                        </div>
                      </li>
                      <%= ff.collection_check_boxes(:service_codes, @services, :code, :name) do |c| %>
                        <li class="">
                          <div class="govuk-checkboxes__item">
                            <%= c.check_box(class: "govuk-checkboxes__input procurement-building__input #{procurement_building.name.parameterize(separator: '_')}-service-#{c.object.code.downcase}") %>
                            <%= c.label(class: "govuk-label govuk-checkboxes__label") %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>