<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <%= form_for @procurement, url: { action: "update" }, method: :put, html: { specialvalidation: true, multipart: false } do |f| %>

    <%= f.fields_for :authorised_contact_detail do |ff| %>
      <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0" id = "new_authorised_contact_details">
        <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:name].any? %>">
          <%= ff.label :name, t('.name'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'authorised_contact_detail.name-error' if ff.object.errors[:name].any?}" %>
          <%= display_error(ff.object, :name) %>
          <%= ff.text_field :name, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:name].any? } ", maxlength: 50 %>
        </div>

        <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:job_title].any? %>">
          <%= ff.label :job_title, t('.job_title'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'authorised_contact_detail.job_title-error' if ff.object.errors[:job_title].any?}" %>
          <%= display_error(ff.object, :job_title) %>
          <%= ff.text_field :job_title, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:job_title].any? } ", maxlength: 50 %>
        </div>

        <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:email].any? %>">
          <%= ff.label :email, t('.email'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'authorised_contact_detail.email-error' if ff.object.errors[:email].any?}" %>
          <%= display_error(ff.object, :email) %>
          <%= ff.text_field :email, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:email].any? } ", maxlength: 50 %>
        </div>

        <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:telephone_number].any? %>">
          <%= ff.label :telephone_number, t('.telephone_number'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'authorised_contact_detail.telephone_number-error' if ff.object.errors[:telephone_number].any?}" %>
          <%= display_error(ff.object, :telephone_number) %>
          <%= ff.text_field :telephone_number, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:telephone_number].any? } ", maxlength: 15 %>
        </div>

        <div class="govuk-heading-s govuk-!-margin-bottom-2">
          <%= t('.address') %>
        </div>
        <div id="fm-postcode-error-form-group" class="govuk-form-group govuk-!-margin-top-4 <%= "govuk-form-group--error" if ff.object.errors[:organisation_address_postcode].any? %>">
          <div class="">
            <div id="fm-postcode-lookup-container" class="<%= ' govuk-visually-hidden' if ff.object.organisation_address_line_1.present? && ff.object.organisation_address_postcode.present? %>">
              <div class="govuk-grid-row ">
                <div class="govuk-grid-column-one-half">
                  <%= ff.label :organisation_address_postcode, 'Postcode', class: 'govuk-label govuk-!-margin-bottom-1', id: "#{'authorised_contact_detail.organisation_address_postcode-error' if ff.object.errors[:organisation_address_postcode].any?}" %>
                  <% error_id = ff.object.errors[:organisation_address_postcode].any? ? "" : "fm-postcode-error" %>
                  <div class="govuk-error-message" id= <%=error_id%>></div>
                  <%= display_error(ff.object, :organisation_address_postcode) if ff.object.organisation_address_postcode.blank? %>
                  <%= ff.text_field :organisation_address_postcode, 'aria-label' =>'postcode', class: "govuk-input fm-postcode-input govuk-!-margin-bottom-4 govuk-!-width-full #{'govuk-input--error' if ff.object.errors[:organisation_address_postcode].any? }", id: 'buyer-details-postcode', maxlength: 10 %>
                </div>
              </div>
              <div class="govuk-!-margin-top-1 govuk-!-margin-bottom-2">
                <a role="button" class="govuk-button govuk-!-margin-bottom-2" id="buyer-details-find-address-btn" aria-label="<%= 'Find Address' %>"><%= 'Find Address' %></a>
              </div>
              <div class="govuk-!-margin-top-0">
                <%= link_to t('.missing_address'), edit_facilities_management_procurement_path(:step => 'new_authorised_representative_address'), class: "govuk-link--no-visited-state govuk-caption-m", id: 'add_new_authorised_contact_details_adress_1' %>
              </div>
            </div>

            <div id="fm-post-code-results-container" class="govuk-form-group govuk-visually-hidden">
              <%= ff.label :organisation_address_postcode, 'Postcode', class: 'govuk-heading-s govuk-!-margin-bottom-2' %>
              <div class="govuk-grid-row govuk-!-margin-top-0">
                <div class="govuk-grid-column-one-quarter">
                  <label id="fm-postcode-label" class="govuk-body"><%= ff.object.organisation_address_postcode %></label>
                </div>
                <div class="govuk-grid-column-one-quarter">
                  <a id="buyer-details-change-postcode" href="" class="govuk-link--no-visited-state"><%= t('.change') %></a>
                </div>
              </div>
              <div class= <%= "govuk-form-group--error" if ff.object.errors[:organisation_address_postcode].any? %>>
                <label class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-4"><%= t('.choose_address') %></label>
                <%= display_error(ff.object, :organisation_address_postcode) unless ff.object.organisation_address_postcode.blank? %>
                <div id="fm-address-error-form-group" class="govuk-form-group govuk-!-margin-bottom-0">
                  <select class="govuk-select govuk-!-width-full" aria-label="postcode-lookup-results" id="buyer-details-postcode-lookup-results" name="buyer-details-postcode-lookup-results">
                  </select>
                </div>
                <div class="govuk-!-margin-top-2">
                  <%= link_to t('.missing_address'), edit_facilities_management_procurement_path(:step => 'new_authorised_representative_address'), class: "govuk-link--no-visited-state govuk-caption-m", id: 'add_new_authorised_contact_details_adress_2' %>
                </div>
              </div>
            </div>
            <div class="govuk-!-margin-top-3<%= ' govuk-visually-hidden' unless ff.object.organisation_address_line_1.present? %>" id="selected-address-container">
              <div id="selected-address-label" class=" govuk-body govuk-!-margin-bottom-4">
                <%= @procurement.authorised_contact_detail.contact_address if @procurement.authorised_contact_detail.valid_contact_address? %>
              </div>
              <a id="change-selected-address-link" href="" class="govuk-link--no-visited-state"><%= t('.change') %></a>
              <%= ff.hidden_field :organisation_address_line_1, id: 'organisation-address-line-1' %>
              <%= ff.hidden_field :organisation_address_line_2, id: 'organisation-address-line-2' %>
              <%= ff.hidden_field :organisation_address_town, id: 'organisation-address-town' %>
              <%= ff.hidden_field :organisation_address_county, id: 'organisation-address-county' %>
            </div>
          </div>
        </div>
        <%= govuk_continuation_buttons(@page_description, f, false) %>
      </div>
    <% end %>
  <% end %>
<% end %>
