<div class="pension-row govuk-body govuk-row govuk-!-margin-bottom-6 <%= 'govuk-form-group--error' if ff.object.errors.any? %>">

    <% if ff.object.errors[:name].any? %>
        <span class="govuk-error-message"><%= ff.object.errors[:name].first  %></span>
    <% end %>

    <% if ff.object.errors[:percentage].any? %>
        <span class="govuk-error-message"><%= ff.object.errors[:percentage].first  %></span>
    <% end %>
    
    <div class="govuk-grid-column-one-half govuk-!-margin-right-2 govuk-!-padding-left-0">
        <p class="govuk-!-margin-bottom-2">
            <%= ff.label :name, t('.name_text'), class: 'pension-number', id: "#{"procurement_pension_funds[#{error_index}].name-error" if ff.object.errors[:name].any?}" %>
            <%= ff.hidden_field :case_sensitive_error %>
        </p>
        <p class="govuk-!-margin-bottom-0">
            <%= ff.text_field :name, class: "pension-name govuk-input govuk-!-width-full #{'govuk-input--error' if !ff.object.errors[:name].empty?}", maxlength: 150 %>
        </p>
    </div>
    <div>
        <p class="govuk-!-margin-bottom-2">
            <%= ff.label :percentage, t('.percentage_text'), id: "#{"procurement_pension_funds[#{error_index}].percentage-error" if ff.object.errors[:percentage].any?}" %>
        </p>
        <p class="govuk-!-margin-bottom-0">
            <%= ff.number_field :percentage, min: 0, max: 100, class: "pension-percentage govuk-input govuk-input--width-4 #{'govuk-input--error' if !ff.object.errors[:percentage].empty?}" %> %
            <%= link_to 'Remove', '#', class: 'remove-pension-record govuk-button govuk-button--secondary govuk-!-margin-left-4 govuk-!-margin-bottom-0', 'aria-label': "Remove"%>
            <%= ff.text_field :_destroy, as: :hidden, class: 'pension-destroy-box govuk-visually-hidden', 'tabindex': -1, "aria-label": "destroy" %>
        </p>
    </div>
</div>