<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <div class="govuk-form-group <%= 'govuk-form-group--error' if  @procurement.errors[:security_policy_document_required].any? %>">
    <div class="govuk-!-margin-top-3">
    <span class="govuk-heading-s govuk-!-margin-bottom-0">
      <%= t('.question') %>
    </span>
    </div>

    <div class="govuk-!-margin-top-3">
      <%= display_errors(@procurement, :security_policy_document_required, f.object_name) %>
      <div class="radio-content-toggle govuk-radios govuk-radios">
        <div class="govuk-radios__item">
          <%= f.radio_button :security_policy_document_required, true, class: "govuk-radios__input", required: true %>
          <%= f.label :security_policy_document_required, 'Yes', value: true, class: 'govuk-label govuk-radios__label' %>
          <div id="radio-inner-content" class="radio-inner-content govuk-!-margin-top-3 govuk-!-margin-bottom-3">
           <div class="<%= ' govuk-form-group govuk-form-group--error govuk-!-margin-left-3' if @procurement.errors[:security_policy_document_name].any? %>" data-propertyname="security policy document name"
                 style="<%= 'padding-left:1em' if @procurement.errors[:security_policy_document_name].any? %>" data-propertyname="Security policy document name">
            <h2 class="govuk-heading-m govuk-!-margin-left-3"><%= t('.document_name.title') %></h2>
              <div class="govuk-!-margin-left-3" data-propertyname="Security policy document name">
                <%= f.label :security_policy_document_name, t('.document_name.label'), class: "govuk-label" %>
                <%= display_errors @procurement, :security_policy_document_name %>
                <%= f.text_field :security_policy_document_name, class: 'govuk-input govuk-input--width-20' %>
              </div>
            </div>
            <div class="<%= ' govuk-form-group govuk-form-group--error govuk-!-margin-left-3' if @procurement.errors[:security_policy_document_version_number].any? %>" data-propertyname="security policy document version number"
                 style="<%= 'padding-left:1em' if @procurement.errors[:security_policy_document_version_number].any? %>" data-propertyname="Security policy document version number">
              <h2 class="govuk-heading-m govuk-!-margin-left-3 govuk-!-margin-top-8"><%= t('.document_version_number.title') %></h2>
              <div class="govuk-!-margin-left-3">
                <%= f.label :security_policy_document_version_number, t('.document_version_number.label'), class: "govuk-label" %>
                <%= display_errors @procurement, :security_policy_document_version_number %>
                <%= f.text_field :security_policy_document_version_number, class: 'govuk-input govuk-input--width-10' %>
              </div>
            </div>
            <div class="<%= ' govuk-form-group govuk-form-group--error govuk-!-margin-left-3' if @procurement.errors[:security_policy_document_date].any? %>" data-propertyname="security policy document date"
                 style="<%= 'padding-left:1em' if @procurement.errors[:security_policy_document_date].any? %>" data-propertyname="Security policy document date">
              <h2 class="govuk-heading-m govuk-!-margin-left-3 govuk-!-margin-top-8"><%= t('.document_date.title') %></h2>
              <div class="govuk-!-margin-left-3" data-propertyname="Security policy document date">
                <%= f.label :security_policy_document_date, t('.document_date.label'), class: "govuk-label" %>
                <%= display_errors @procurement, :security_policy_document_date %>
                <%= f.gov_uk_date_field :security_policy_document_date, legend_options: { page_heading: false, visually_hidden: true }, class: 'govuk-input govuk-input--width-20' %>
              </div>
            </div>
            <div class="<%= ' govuk-form-group govuk-form-group--error govuk-!-margin-left-3' if @procurement.errors[:security_policy_document_file].any? %>" data-propertyname="security policy document file"
                 style="<%= 'padding-left:1em' if @procurement.errors[:security_policy_document_file].any? %>" data-propertyname="Security policy document file">
              <h2 class="govuk-heading-m govuk-!-margin-left-3 govuk-!-margin-top-8"><%= t('.document.title') %></h2>
              <p class="govuk-!-margin-left-3"><%= t('.document.guidance') %></p>
              <div class="govuk-!-margin-left-3" data-propertyname="Security policy document file">
                <%= display_errors @procurement, :security_policy_document_file %>
                <% if !@procurement.security_policy_document_file.attachment.nil?%>
                <%= f.label :security_policy_document_file, 'Uploaded file', class: "govuk-label ccs-font-weight-semi-bold" %>
                <%= ActiveStorage::Blob.where(id: @procurement.security_policy_document_file.attachment.blob_id).first.filename %> </br>
                <%= f.file_field :security_policy_document_file %>
                <% else %>
                <%= f.label :security_policy_document_file, 'Upload a file', class: "govuk-label ccs-font-weight-semi-bold" %>
                <%= f.file_field :security_policy_document_file %>
                <% end %>
                <div class="govuk-warning-text govuk-!-margin-top-3">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <%= t('.guidance') %>
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :security_policy_document_required, false, class: 'govuk-radios__input', required: true %>
          <%= f.label :security_policy_document_required, 'No', value: false, class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </div>
  </div>
  <%= govuk_continuation_buttons(pd, f, false) %>
<% end %>
