<fieldset class="govuk-fieldset">
  <%= govuk_page_header(LayoutHelper::HeadingDetail.new(t('.tupe_title'), @procurement.contract_name, nil, nil, nil)) %>
<% content_for :page_title, t('.tupe_title') %>
<div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:tupe].any? %>" data-propertyname="TUPE"
    style="<%= 'padding-left:1em' if @procurement.errors[:tupe].any?%>">

  <%= hint_details(t('.first_question'), t('.body_text_html')) %>

  <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-4">
    <%= govuk_details(t('.what_you_need_to_know_title'), true) do %>
      <%= t('.what_you_need_to_know_html') %>
    <% end %>
  </div>

  <div class="govuk-!-margin-top-3">
    <%= display_errors(@procurement, :tupe)%>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <%= f.radio_button :tupe, true, class: 'govuk-radios__input' %>
        <%= f.label :tupe, 'Yes', value: true, class: 'govuk-label govuk-radios__label' %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :tupe, false, class: 'govuk-radios__input' %>
        <%= f.label :tupe, 'No', value: false , class: 'govuk-label govuk-radios__label' %>
      </div>
    </div>
  </div>
</div>
</fieldset>
