<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_procurements_path do |f|%>
        <%= govuk_grouped_field(f, 'Please confirm if both parties have signed and exchanged the contract', :select_an_invoicing_contact) do |ff, attr| %>
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contract-signed-yes" name="contract-signed-status" type="radio" value="no" <%= 'checked' if @page_data[:checked].to_s == 'yes' %>/>
                    <label class="govuk-label govuk-radios__label" for="contract-signed-yes">
                        Yes
                    </label>
                </div>
                <div id="contract-signed-yes-container" class="govuk-details__text govuk-!-padding-top-0 govuk-!-margin-left-3 govuk-!-margin-bottom-2 govuk-!-width-two-thirds  <%= 'govuk-visually-hidden' unless @page_data[:yes_is_used]%>">
                    <span class="govuk-body ccs-font-weight-semi-bold">
                        Enter contract start date
                    </span>
                    <span class="govuk-hint">
                        The contract start date is the 'effective date' - this is the date the final party signed the contract. For example, 01 11 2030.
                    </span>
                    <%= ff.gov_uk_date_field :contract_start_date, legend_options: { page_heading: false, visually_hidden: true } %>

                    <span class="govuk-body ccs-font-weight-semi-bold">
                        Enter contract end date
                    </span>
                    <span class="govuk-hint">
                        The contract end date should be the same as the end of your initial call-off period. For example, 01 11 2030.
                    </span>
                    <%= ff.gov_uk_date_field :contract_end_date, legend_options: { page_heading: false, visually_hidden: true } %>
                </div>

                <div class="govuk-radios__item" id="facilities_management_contract">
                    <input class="govuk-radios__input" id="contract-signed-no" name="contract-signed-status" type="radio" value="no" <%= 'checked' if @page_data[:checked].to_s == 'no' %>/>
                    <label class="govuk-label govuk-radios__label" for="contract-signed-no">
                        No
                    </label>
                </div>
                <div id="contract-signed-no-container" class="govuk-details__text govuk-!-padding-top-0 govuk-!-margin-left-3 govuk-!-width-two-thirds  <%= 'govuk-visually-hidden' unless @page_data[:no_is_used]%>" data-module="character-count" data-maxlength="100">
                    <%= govuk_label(ff, ff.object, :contract_not_signed, @page_data[:label_text]) %>
                    <%= govuk_text_area_input_contracts(ff, :contract_not_signed, true, ['rows', 10], ['maxlength', 100]) %>
                    <span id="facilities_management_procurement_supplier_character_left" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You have 100 characters remaining
                    </span>
                </div>

            </div>
        <% end %>
        <%= govuk_continuation_buttons(pd, f, true, false) %>
    <% end %>
<% end %>
