<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @response.errors } %>

    <%= govuk_fieldset(
      legend: {
        text: t('.heading'),
        classes: 'govuk-fieldset__legend--l',
        is_page_heading: true
      }
    ) do %>
      <p class="govuk-body-l">
        <%= t('.email_has_been_sent') %>
      </p>

      <p class="govuk-body-l">
        <%= t('.if_the_email_address_entered') %>
      </p>

      <p class="govuk-body-l govuk-!-margin-bottom-7">
        <%= t('.text_html') %>
      </p>

      <p class="govuk-body-l">
        <%= t('.reset_password_for_html', email_link: mail_to(@response.email, @response.email, class: 'govuk-link')) %>
      </p>

      <%= form_with url: edit_password_path, model: @response, method: :put, html: { novalidate: true } do |f| %>
        <%= govuk_password_input(
          :password,
          form: f,
          label: {
            text: t('.new_password'),
            classes: 'govuk-label--m'
          },
          hint: {
            text: capture do
              concat(tag.p(t('.password'), class: 'govuk-body'))
              concat(password_strength('password01'))
            end
          },
          form_group: {
            classes: 'govuk-!-width-three-quarters'
          },
          attributes: {
            id: "password01",
            autocomplete: 'off',
          }
        ) %>

        <%= govuk_password_input(
          :password_confirmation,
          form: f,
          label: {
            text: t('.confirm_new_password'),
            classes: 'govuk-label--m'
          },
          form_group: {
            classes: 'govuk-!-width-three-quarters'
          },
          attributes: {
            id: "password02",
            autocomplete: 'off',
          }
        ) %>

        <%= govuk_input(
          :confirmation_code,
          form: f,
          label: {
            text: t('.verify_code'),
            classes: 'govuk-label--m'
          },
          field_type: :number,
          classes: 'govuk-!-width-three-quarters',
          attributes: {
            maxlength: '6',
          }
        ) %>

        <%= f.hidden_field :email, value: @response.email %>

        <%= govuk_button(t('common.reset_password'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7', attributes: { aria: { label: t('common.reset_password') } }) %>
      <% end %>
    <% end %>
  </div>
</div>
