<%= content_for :page_title, t(".heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @response.errors } %>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead') %>
    </p>

    <%= form_with url: edit_password_path, model: @response, method: :post, html: { novalidate: true } do |f| %>
      <%= govuk_input(
        :email,
        form: f,
        label: {
          text: t('.email'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: t('.email_hint')
        },
        field_type: :email,
        classes: 'govuk-!-width-three-quarters',
        attributes: {
          autofocus: true,
          autocomplete: 'off',
          spellcheck: false,
          required: true
        }
      ) %>

      <%= govuk_button(t('common.send_reset_email'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7', attributes: { aria: { label: t('common.send_reset_email') } }) %>
    <% end %>
  </div>
</div>
