<%= content_for :page_title, @sublot_region_name %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.rm3830.admin.supplier_framework_data.index.heading'), link: facilities_management_rm3830_admin_supplier_framework_data_path },
  { text: @sublot_region_name }
)%>

<h2 class="govuk-caption-l govuk-!-margin-bottom-2 govuk-!-font-weight-regular"><%= @supplier.supplier_name %></h1>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= @sublot_region_name %></h2>
<%= framework_expired_warning(t('facilities_management.rm3830.admin.you_cannot_update.regions')) %>
<p class="govuk-body govuk-!-font-weight-regular govuk-hint"><%= t('.leading_text') %></p>

<%= form_with url: facilities_management_rm3830_admin_supplier_framework_datum_sublot_region_path, method: 'put', local: 'false', html: { specialvalidation: true }  do |f| %>
  <% @regions.each do |key, value| %>
    <fieldset class="govuk-fieldset">
      <h2 class="govuk-heading-m">
        <legend class="govuk-!-padding-left-0"><%= value %></legend>
      </h2>
      <div>
        <% @subregions.each do |key2, value2| %>
          <% if key2.start_with?(key) %>
            <div class="govuk-form-group">
              <div id="<%=key2%>-checkbox" class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <%= check_box_tag(
                          "regions[]",
                          key2,
                          @selected_supplier_regions[key2],
                          class: "govuk-checkboxes__input",
                          id: "#{key2}",
                          disabled: @framework_has_expired
                      ) %>
                  <label id="<%= key2 %>_label" class="govuk-label govuk-checkboxes__label" for="<%= key2 %>">
                    <%= value2 %>
                  </label>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <%= f.submit t('.update_button'), class: 'govuk-button', name: 'update_supplier_regions', aria: { label: t('.update_button') }, disabled: @framework_has_expired%>
<% end %>
<%= link_to t('.return_link'), facilities_management_rm3830_admin_supplier_framework_data_path, class: 'govuk-link govuk-caption-m' %>
