<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|  %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        Declined
    </strong>
  </div>

  <h2 class = "govuk-heading-s" ><%= @page_data[:status_message][:status] %></h2>

  <div class="govuk-inset-text">
    <%= @page_data[:status_message][:message] %> <br>
    <%= @page_data[:status_message][:message2] %>
  </div>
  
  <%= render partial: 'procurement_requirements' %>
  <%= render partial: 'buyer_contact_details' %>
  <%= render partial: 'call_off_contract_documents' %>
  
  <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary govuk-!-margin-top-9' %>

<% end %>
