<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|  %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
        Accepted and signed
    </strong>
  </div>
  <div class="govuk-body ccs-font-weight-semi-bold">
    Your contract starts on <%= @page_data[:procurement_data][:initial_call_off_period_start]&.strftime '%e %B %Y' %> and ends on <%= @page_data[:procurement_data][:optional_call_off_end_2]&.strftime '%e %B %Y' %>
  </div>
  <div class="govuk-body govuk-details__text">
    You accepted this contract offer on <%= @page_data[:procurement_data][:date_contract_accepted]&.strftime '%e %B %Y, %l:%M%P' %>. <br>
    This contract offer was received on <%= @page_data[:procurement_data][:date_contract_received]&.strftime '%e %B %Y, %l:%M%P' %>.
  </div>
  <%= render partial: 'procurement_requirements' %>
  <%= render partial: 'buyer_contact_details' %>
  <%= render partial: 'call_off_contract_documents' %>
  <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary govuk-!-margin-top-9' %>
<% end %>