<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p>
      <%= t('.description') %><br>
    </p>
  
    <div>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        <%= t('.contract_details') %>
      </h2>

      <%= render partial: 'facilities_management/shared/summary_tables/contract_summary_table', locals: { sections: ['contract_name', 'annual_contract_value', 'tupe', 'contract_period'] } %>
    </div>

    <div>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        <%= t('.services_and_buildings') %>
      </h2>

      <%= render partial: 'facilities_management/shared/summary_tables/contract_summary_table', locals: { sections: ['services', 'buildings', 'buildings_and_services'] } %>
    </div>
  </div>
</div>
