<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l">
      <%= t('.step_1') %>
    </h2>
    <p>
      <%= t('.we_have_used') %>
    </p>
    <p>
      <%= link_to_generated_file_for_download('#', :xlsx, t('.deliverables_matrix'), true) %>
    </p>
    <p>
      <%= link_to_generated_file_for_download('#', :odt, t('.supplier_brief'), true) %>
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-l">
      <%= t('.step_2') %>
    </h2>
    <p>
      <%= t('.on_the_framework_page_html', framework_page_link: link_to(t('.fm_framework_page'), t('.fm_framework_page_url'), class: 'govuk-link--no-visited-state')) %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.information_list.item_1') %></li>
      <li><%= t('.information_list.item_2') %></li>
      <li><%= t('.information_list.item_3') %></li>
      <li><%= t('.information_list.item_4') %></li>
    </ul>
  </div>
</div>
