<%= govuk_page_content(@page_description, @page_data[:model_object], false, true, false) do |pd| %>
  <div id="buildings-container">
    <%= link_to t('.create_new_button'), new_facilities_management_beta_building_path, class: "govuk-button ccs-no-print govuk-!-margin-bottom-6", role: "button" %>
    <div class="govuk-!-width-two-thirds">
      <p class="govuk-body-lead govuk-!-margin-bottom-2">
        <%= t('.start_paragraph') %>
      </p>
      <p>
        <%= t('.start_warning_html') %>
      </p>
    </div>
    <h2 class="govuk-heading-m govuk-!-margin-top-6"><%= t('.my_buildings_header') %></h2>
    <% if @page_data[:model_object].count.zero? %>
      <table style="border-collapse: collapse;">
        <thead>
        <tr>
          <th><span class="govuk-caption-m"><%= t('.no_buildings_text') %></span></th>
        </tr>
        </thead>
      </table>
    <% else %>
      <div class="govuk-table govuk-!-width-three-quarters" data-module="table">
        <table style="" class="ccs-at-govuk-table--3070">
          <thead>
          <tr>
            <th><%= t('.column_name_header') %></th>
            <th><%= t('.column_desc_header') %></th>
            <th><%= t('.column_lstup_header') %></th>
            <th><%= t('.column_status_header') %></th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <% @page_data[:model_object].each do |record| %>
            <% building = record['building_json'] %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= link_to building['name'].to_s, facilities_management_beta_building_path(record.id), class: 'govuk-link', 'aria-label' => t('.link_to_building_summary') %>
              </td>
              <td class="govuk-table__cell"><%= building['description'].to_s.length > 0 ? building['description'].to_s : '-' %></td>
              <td class="govuk-table__cell"><%= record['updated_at'].to_datetime.strftime("%d/%m/%Y") %>&nbsp;<%= record['updated_at'].to_datetime.strftime("%H:%M") %>&nbsp;BST</td>
              <td class="govuk-table__cell"><strong class="govuk-tag ccs-tag-<%= record['status'] == 'Ready' ? 'approved' : 'rejected' %>"><%= record['status'].to_s %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
