<%= govuk_page_content(@page_description, @page_data[:model_object], false, false, false) do |pd| %>
  <div class="govuk-!-width-two-thirds">
    <%= form_for @page_data[:model_object], url: facilities_management_beta_building_path(@page_data[:model_object].id), html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
      <input type="hidden" name="step" value="security"/>
      <%= govuk_grouped_field(f, t('.select_security'), :security_type, t('.security_description_html')) do |ff, attr| %>
        <p class="govuk-caption-m"><%=  %></p>
        <%= f.hidden_field :security_type %>
        <div class="govuk_radios">
          <% FacilitiesManagement::SecurityTypes.order(:sort_order).each do |security_type| %>
            <div class="govuk-radios__item">
              <%= ff.radio_button :security_type, security_type[:title], id: security_type[:id], class: 'govuk-radios__input' %>
              <%= ff.label :security_type, for: security_type[:id], class: 'govuk-label govuk-radios__label' do %>
                <%= security_type[:title] %>
                <span class="govuk-caption-m govuk-!-margin-top-1"><%= security_type[:description] %></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <br/>
        <%= govuk_start_individual_field(f, :other_security_type, {}, false, true, margin_if_security_has_other_error(ff.object)) do %>
          <div class="govuk-radios__item" data-module="other-expando">
            <div class="other_container">
              <%= ff.radio_button :security_type, 'other', class: 'govuk-radios__input' %>
              <%= ff.label :security_type, value: 'other', class: 'govuk-label govuk-radios__label' do
                t('.other')
              end %>
              <div data-element="other-expando--content" class="<%= 'govuk-visually-hidden ' if @page_data[:model_object].security_type != 'other'%> govuk-!-margin-top-2 govuk-!-padding-left-4"  style="margin-left:-2.4ex; border-left: 5px solid #bfc1c3">
                <div class="other_input ccs-character-count-container" data-module="ccs-character-count" data-maxlength="150" style="margin-left: 1.5ex">
                  <label class="govuk-label" for="<%= "#{f.object_name}[other_security_type]".gsub(/(\])?\[/, "_").chop %>"> <%= t('.describe_security') %></label>
                  <%= govuk_text_area_input(f, :other_security_type, true, rows: 3, maxlength: 150, style: 'margin-bottom: 1ex') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= govuk_continuation_buttons(pd, f, false, true, true, false, false, false) %>
      <p class="govuk-caption-m govuk-!-margin-top-3"><%= t('.next_step') %>&nbsp;<%= t('.building_details_summary') %></p>
    <% end %>
  </div>
<% end %>
