<%= govuk_page_content(@page_description, @page_data[:model_object], false, false, false) do |pd| %>
  <div class="govuk-!-width-two-thirds">
    <%= form_for @page_data[:model_object], url: facilities_management_beta_building_path(@page_data[:model_object].id), html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
      <input type="hidden" name="step" value="type"/>
      <%= govuk_grouped_field(f, t('.choose_building_type'), :building_type) do |ff, attr| %>
        <%= f.hidden_field :building_type %>
        <div class="govuk_radios">
          <% FacilitiesManagement::Building::BUILDING_TYPES[0..1].each do |building_type| %>
            <div class="govuk-radios__item">
              <%= ff.radio_button :building_type, building_type[:title], class: 'govuk-radios__input' %>
              <%= ff.label :building_type, value: building_type[:title], class: 'govuk-label govuk-radios__label' do %>
                <%= building_type[:title] %>
                <span class="govuk-caption-m govuk-!-margin-top-1"><%= building_type[:caption] %></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="govuk-body" style="margin-left:1ex">
          Or
        </div>
        <details class="govuk-details" style="margin-left:1.5ex" data-module="govuk-details"  <%= 'open="true"' if open_state_of_building_details(ff.object) %> >
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              <%= t('.view_more') %>
            </span>
          </summary>
          <div class="govuk-details__text" style="padding-bottom:0; margin-left:0.5ex">
            <% FacilitiesManagement::Building::BUILDING_TYPES.drop(2).each do |building_type| %>
              <div class="govuk-radios__item">
                <%= ff.radio_button :building_type, building_type[:id], class: 'govuk-radios__input' %>
                <%= ff.label :building_type, value: building_type[:id], class: 'govuk-label govuk-radios__label' do %>
                  <%= building_type[:title] %>
                  <span class="govuk-caption-m govuk-!-margin-top-1"><%= building_type[:caption] %></span>
                <% end %>
              </div>
            <% end %>
            <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-4 govuk-!-margin-left-2">
              Or
            </div>
            <%= govuk_start_individual_field(f, :other_building_type, {}, false, true, margin_if_type_has_other_error(ff.object)) do %>
              <div class="govuk-radios__item" data-module="other-expando">
                <div class="other_container">
                  <%= ff.radio_button :building_type, 'other', class: 'govuk-radios__input' %>
                  <%= ff.label :building_type, value: 'other', class: 'govuk-label govuk-radios__label' do
                    t('.other')
                  end %>
                  <div data-element="other-expando--content" class="<%= 'govuk-visually-hidden ' if @page_data[:model_object].building_type != 'other'%>govuk-!-margin-top-4 govuk-!-padding-left-4" style="margin-left:-2.4ex; border-left: 5px solid #bfc1c3">
                    <div class="other_input ccs-character-count-container" data-module="character-count" data-maxlength="150" style="margin-left: 1.5ex">
                      <label class="govuk-label" for="<%= "#{f.object_name}[other_building_type]".gsub(/(\])?\[/, "_").chop %>"> <%= t('.describe_building') %></label>
                      <%= govuk_text_area_input(f, :other_building_type, true, rows: 3, maxlength: 150, style: 'margin-bottom: 1ex') %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </details>
      <% end %>
      <%= govuk_continuation_buttons(pd, f, true, true, true, false, false, false) %>
      <p class="govuk-caption-m govuk-!-margin-top-3"><%= step_footer %></p>
    <% end %>
  </div>
<% end %>
