<h1 class="govuk-heading-m govuk-!-margin-bottom-0">
    2. Contract details
</h1>
<div class="govuk-!-width-full govuk-!-font-size-19">
    <dl class="govuk-summary-list govuk-body">
        <table class="govuk-table govuk-!-margin-bottom-6">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-width-one-third"></td>
                    <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-width-two-thirds"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header">Payment method</th>
                    <td class="govuk-table__cell"><%= @page_data[:model_object][:payment_method] %></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header">Invoicing contact details</th>
                    <td class="govuk-table__cell">
                        <% @page_data[:model_object][:invoicing_contact_details].each do |icd| %>
                          <%= govuk_details(icd[:invoicing_contact]) do %>
                            <% icd[:address].each do |a| %>
                              <li><%= a%></li>
                            <% end %>
                          <% end %>
                        <% end %>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header">Authorised representative</th>
                    <td class="govuk-table__cell">
                    <% @page_data[:model_object][:authorised_representative].each do |ar| %>
                      <%= govuk_details(ar[:representative]) do %>
                        <% ar[:address].each do |a| %>
                          <li><%= a%></li>
                        <% end %>
                      <% end %>
                    <% end %>
                    </td>
                </tr>
                    <th class="govuk-table__cell govuk-table__header">Notices</th>
                    <td class="govuk-table__cell">
                    <% @page_data[:model_object][:notices].each do |n| %>
                      <%= govuk_details(n[:notice_contact]) do %>
                        <% n[:address].each do |a| %>
                          <li><%= a%></li>
                        <% end %>
                      <% end %>
                    <% end %>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header">Security policy</th>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link"><%= "#{@page_data[:model_object][:security_policy]}" %></a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header">Local Government Pension Scheme</th>
                    <td class="govuk-table__cell"><%= @page_data[:model_object][:local_government_pension_scheme] %></td>
                </tr>
            </tbody>
        </table>
    </dl>
</div>
