<div class="govuk-form-group <%= 'govuk-form-group--error' if @contract.errors.any? %>">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-width-two-thirds">
      <%= t('.description') %>
  </legend>
  <%= display_error(f.object, :contract_signed, false) %>
  <%= govuk_radios_conditional do %>
    <%= govuk_radios_conditional_item(f, :contract_signed, true, 'Yes') do %>
      <div class="govuk-hint govuk-radios__hint govuk-!-width-two-thirds">
        <%= t('.yes_caption') %>
      </div>
    <% end %>
    <%= govuk_radios_conditional_area(:contract_signed, true, class: 'govuk-!-width-two-thirds') do %>
      <div class="govuk-!-margin-top-4">
        <div class="govuk-!-margin-top-2">
          <div class="govuk-body ccs-font-weight-semi-bold govuk-!-margin-bottom-0">
            <%= t('.contract_start_date') %>
          </div>
          <div class="govuk-hint" name="contract_start_date">
            <%= t('.contract_start_date_caption') %>
          </div>
        </div>
        <%= display_error(@contract, :contract_start_date) %>
        <%= f.gov_uk_date_field :contract_start_date, legend_options: { page_heading: false, visually_hidden: true } %>
      </div>
      <div class="govuk-!-margin-top-4">
        <div class="govuk-!-margin-top-2">
          <div class="govuk-body ccs-font-weight-semi-bold govuk-!-margin-bottom-0">
            <%= t('.contract_end_date') %> <br />
          </div>
          <div class="govuk-hint" name="contract_end_date">
            <%= t('.contract_end_date_caption') %>
          </div>
        </div>
        <%= display_error(@contract, :contract_end_date) %>
        <%= f.gov_uk_date_field :contract_end_date, legend_options: { page_heading: false, visually_hidden: true } %>
      </div>
    <% end %>
    <%= govuk_radios_conditional_item(f, :contract_signed, false, 'No') do %>
      <div class="govuk-hint govuk-radios__hint govuk-!-width-two-thirds">
        <%= t('.no_caption') %>
      </div>
    <% end %>
    <%= govuk_radios_conditional_area(:contract_signed, false, class: 'govuk-!-width-two-thirds') do %>
      <%= f.label :reason_for_not_signing, t('.contract_will_not_be_signed_reason'), class: 'govuk-body ccs-font-weight-semi-bold' %>
      <hr class="govuk-section-break govuk-!-margin-top-4">
      <%= display_error(f.object, :reason_for_not_signing) %>
      <%= govuk_character_count(f, :reason_for_not_signing, 100, 5) %>
    <% end %>
  <% end %>
</div>