<table class="govuk-table govuk-!-width-three-quarters">
    <caption class="govuk-table__caption govuk-table__caption--m"><%= t('.requirements') %></caption>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-padding-0" width="45%"></td>
            <td class="govuk-table__cell govuk-!-padding-0" width="55%"></td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= heading_text %></th>
            <td class="govuk-table__cell"><%= heading_value %></td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.contract_name') %></th>
            <td class="govuk-table__cell"><%= @procurement.contract_name %></td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.contract_number') %></th>
            <td class="govuk-table__cell"><%= @contract.contract_number %></td>
        </tr>
        <tr>
            <th class="govuk-table__cell govuk-table__header"><%= t('.contract_value') %></th>
            <td class="govuk-table__cell"><%= format_money @contract.direct_award_value %></td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.framework') %></th>
            <td class="govuk-table__cell"> <%= t('.framework_details')%> </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.route_to_market') %></th>
            <td class="govuk-table__cell"> <%= t('.direct_award')%> </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.initial_call_off_period') %></th>
            <td class="govuk-table__cell">
                <%= govuk_details(initial_call_off_period) {initial_call_off_period_description} %>
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.mobilisation_period') %></th>
            <td class="govuk-table__cell">
            <% if @procurement.mobilisation_period_required %>
                <%= govuk_details(mobilisation_period) { mobilisation_period_description } %>
            <% else %>
                None
            <% end %>
            </td>
        </tr>
        <% if @procurement.extensions_required %>
          <% @procurement.optional_call_off_extensions.sorted.each do |optional_call_off_extension| %>
            <tr class="govuk-table__row">
                <th class="govuk-table__cell govuk-table__header"><%= t('.optional_call_off_extension', extension: optional_call_off_extension.extension + 1) %></th>
                <td class="govuk-table__cell">
                    <%= govuk_details(optional_call_off_extensions_period(optional_call_off_extension)) { extension_period_description(optional_call_off_extension.extension) } %>
                </td>
            </tr>
          <% end %>
        <% end %>
        <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-table__header"><%= t('.date_of_first_indexation') %></th>
            <td class="govuk-table__cell"><%= date_of_first_indexation %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-table__header"><%= t('.buildings_services') %></th>
          <td class="govuk-table__cell">
            <% active_procurement_buildings.each.with_index do |procurement_building, index| %>
              <div class="<%= 'govuk-!-margin-bottom-2' unless index == active_procurement_buildings.size - 1 %>">
                <%= govuk_details(procurement_building.building_name) do %>
                    <ul class="govuk-list govuk-list--bullet">
                      <% procurement_building.service_codes.each do |code| %>
                        <li><%= work_packages_names[code] %></li>
                      <% end %>
                    </ul>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
    </tbody>
</table>
