<hr class="govuk-section-break govuk-section-break--visible">
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 25%"><%= t('facilities_management.procurements.spreadsheet_imports.failed.building_name') %></th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 30%"><%= t('facilities_management.procurements.spreadsheet_imports.failed.service_name') %></th>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 45%"><%= t('facilities_management.procurements.spreadsheet_imports.failed.error_description') %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% error_list.each do |error| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= error[:building_name] %></td>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= error[:service_name] %></td>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= error_message(:service_volume_errors, error[:attribute], :invalid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>