<%= content_for :page_title, t('.header') %>
<div class="govuk-body">
  <div class="govuk-grid-row govuk-!-padding-left-3">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l"><%= @current_login_email %></span>
      <%= t('.header') %>
    </h1>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-1"><%= t('.supplier_data') %></span>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <%= ccs_account_panel_row do %>
    <%= ccs_account_panel(t('.supplier_data'), facilities_management_rm6232_admin_supplier_data_path) do %>
      <%= t('.manage_supplier_data') %>
    <% end %>

    <%= ccs_account_panel(t('.audit_logs'), facilities_management_rm6232_admin_change_logs_path) do %>
      <%= t('.view_logs') %>
    <% end %>
  <% end %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-heading-m govuk-!-margin-0"><%= t('.management_report') %></span>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <%= ccs_account_panel_row do %>
    <%= ccs_account_panel(t('.management_report'), facilities_management_rm6232_admin_management_reports_path) do %>
      <%= t('.management_report_detail') %>
    <% end %>
  <% end %>
</div>
