<%= content_for :page_title, t('.heading') %>
<% admin_breadcrumbs({ text: t('.supplier_framework_data'), href: facilities_management_rm3830_admin_supplier_framework_data_path },
                      { text: t('.heading') })%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl"><%= t('.caption') %></span>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <%= govuk_button(t('.create_new'), href: new_facilities_management_rm3830_admin_upload_path) unless @framework_has_expired %>
    <hr class="govuk-section-break govuk-section-break--m">
  </div>
</div>

<% if @latest_upload.present? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= govuk_table(
        [
          {
            text: t('.name')
          },
          {
            text: t('.date')
          },
          {
            text: t('.download')
          }
        ],
        [
          [
            {
              text: t('.file_name')
            },
            {
              text: format_date_time(@latest_upload.created_at)
            },
            {
              text: link_to_file_for_download("#{rails_blob_path(@latest_upload.supplier_data_file, disposition: 'attachment', key: :rm3830_admin_upload_id, value: @latest_upload.id)}&format=xlsx", :xlsx, t('.download'), false)
            }
          ]
        ],
        caption: {
          text: t('.current_data')
        }
      ) %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_table(
      [
        {
          text: t('.name')
        },
        {
          text: t('.date')
        },
        {
          text: t('.status')
        }
      ],
      @uploads.map do |upload|
        [
          {
            text: link_to(t('.upload_name', number: upload.short_uuid), facilities_management_rm3830_admin_upload_path(upload))
          },
          {
            text: format_date_time(upload.created_at)
          },
          {
            text: govuk_tag(*upload_status_tag(upload.aasm_state))
          }
        ]
      end,
      caption: {
        text: t('.table_caption')
      }
    ) %>
    <%= paginate @uploads, views_prefix: 'shared', window: 0, outer_window: 2 %>
  </div>
</div>
