<%= content_for :page_title, t('.heading', number: @upload.short_uuid) %>
<%= admin_breadcrumbs({ text: t('.supplier_framework_data'), href: facilities_management_rm3830_admin_supplier_framework_data_path },
                      { text: t('.manage_supplier_framework_data'), href: facilities_management_rm3830_admin_uploads_path },
                      { text: t('.heading', number: @upload.short_uuid) })%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-bottom-0"><%= t('.caption') %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.heading', number: @upload.short_uuid) %></h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.status') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= govuk_tag(*upload_status_tag(@upload.aasm_state)) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.datetime') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= format_date_time @upload.created_at %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<%= render(partial: 'in_progress') unless @upload.failed? || @upload.published? %>
<%= render(partial: 'failed') if @upload.failed? %>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <caption class="govuk-table__caption"><%= t('.files') %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><%= t('.name') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.download') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr>
          <td class="govuk-table__cell"><%= t('.file_name') %></td>
          <td class="govuk-table__cell"><%= link_to_file_for_download("#{rails_blob_path(@upload.supplier_data_file, disposition: 'attachment', key: :rm3830_admin_upload_id, value: @upload.id)}&format=xlsx", :xlsx, t('.download'), false) %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to t('.return'), facilities_management_rm3830_admin_uploads_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
  </div>
</div>
