<%= content_for :page_title, t('.heading', number: @upload.short_uuid) %>
<%= admin_breadcrumbs({ text: t('.supplier_framework_data'), href: facilities_management_rm3830_admin_supplier_framework_data_path },
                      { text: t('.manage_supplier_framework_data'), href: facilities_management_rm3830_admin_uploads_path },
                      { text: t('.heading', number: @upload.short_uuid) })%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-bottom-0"><%= t('.caption') %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.heading', number: @upload.short_uuid) %></h1>

    <%= govuk_summary_list(
      [
        {
          key: {
            text: t('.status')
          },
          value: {
            text: govuk_tag(*upload_status_tag(@upload.aasm_state))
          }
        },
        {
          key: {
            text: t('.datetime')
          },
          value: {
            text: format_date_time(@upload.created_at)
          }
        }
      ],
      classes: 'govuk-summary-list--no-border'
    ) %>
  </div>
</div>

<%= render(partial: 'in_progress') unless @upload.failed? || @upload.published? %>
<%= render(partial: 'failed') if @upload.failed? %>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_table(
      [
        {
          text: t('.name')
        },
        {
          text: t('.download')
        }
      ],
      [
        [
          {
            text: t('.file_name')
          },
          {
            text: link_to_file_for_download("#{rails_blob_path(@upload.supplier_data_file, disposition: 'attachment', key: :rm3830_admin_upload_id, value: @upload.id)}&format=xlsx", :xlsx, t('.download'), false)
          }
        ]
      ],
      caption: {
        text: t('.files')
      }
    ) %>
    <%= link_to t('.return'), facilities_management_rm3830_admin_uploads_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
  </div>
</div>
