<% if @contract.aasm_state == 'sent' %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6 govuk-body govuk-inset-text" >
        <%= t('.buyer_awaiting_response') %> 
    </div>
<% else %>
    <div class="<% 'govuk-!-width-two-thirds' unless @contract.aasm_state == 'sent' %> govuk-!-margin-bottom-6" >
        <%= govuk_details('Contract offer history', true) do %>
            <% case @contract.aasm_state%>
            <% when 'accepted', 'signed', 'not_signed', 'withdrawn' %>
                <%= "You accepted this contract offer on #{format_date_time(@contract.supplier_response_date)}.<br/>".html_safe %>
            <% when 'expired' %>
                <%= "This contract offer was closed on #{format_date_time(@contract.contract_closed_date)}.<br/>".html_safe %>
            <% end %>
            <%= "This contract offer was received on #{format_date_time(@contract.offer_sent_date)}." unless @contract.aasm_state == 'sent' %>
        <% end %>
    </div>
<% end %>

<div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
    <% case @contract.aasm_state %>
    <% when 'declined' %>
        <%= govuk_details('Reason for declining', true) do %>
            <%= "Your reason for declining was: '#{@contract.reason_for_declining}'." %>
        <% end %>
    <% when 'withdrawn' %>
        <%= govuk_details('Reason for withdrawing', true) do %>
            <%= "The buyer's reason for withdrawing this contract offer was: '#{@contract.reason_for_closing}'."%>
        <% end %>
    <% end %>
</div>
