<h1 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
    <%= t('.what_happens_next') %>
</h1>
<div class="govuk-body govuk-!-width-three-quarters">
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <%= govuk_details('1. You review the contract offer', true) do %>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.list01_1') %></li>
            <li><%= t('.list01_2') %></li>
        </ul>
    <% end %>
    <div class="govuk-!-margin-bottom-4 govuk-!-margin-top-4">
        <%= govuk_details('2. Accept or decline the contract offer', true) do %>
            <ul class="govuk-list govuk-list--bullet">
                <li><%= t('.list02_1') %></li>
                <li><%= t('.list02_2') %></li>
            </ul>
        <% end %>
    </div>
    <%= govuk_details('3. No response', true) do %>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.list03_1') %></li> 
        </ul>
    <% end %>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
</div>