<li>
  <div class="govuk-grid-column-two-thirds">
    <a href="/" class="govuk-heading-s govuk-link--no-visited-state CSS-no-underline"><%= result[:name] %></a><br>

    <b>[[ <%= t('apprenticeships.home.search_results.result_level_label') %></b>]] <br>
    <%= result[:level] %>
  </div>

  <div class="govuk-grid-column-one-third govuk-body CCS-at-results-list__providers">
    <span class="govuk-!-font-size-16">
      <span class="govuk-!-font-size-27"><%= result[:providers] %></span> <%= t('apprenticeships.home.search_results.providers_label') %>
      </span>
  </div>
</li>
