<div class="govuk-grid-row supplier-record__header-group">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-link"><%= result[:name] %></h2>
    <p><strong><%= t('apprenticeships.home.search_results.result_level_label') %></strong> <%= result[:level] %></p>
    <p><strong><%= result[:providers] %> <%= t('apprenticeships.home.search_results.providers_label') %></strong></p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">