<li>
  <a href="/" class="govuk-heading-s govuk-link--no-visited-state CSS-no-underline"><%= result[:name] %></a><br>

  <b><%= t('apprenticeships.home.search_results.result_level_label') %></b> <br>
  <%= result[:level] %><br>
  <b><%= result[:providers] %> <%= t('apprenticeships.home.search_results.providers_label') %></b>
</li>


<div class="xgovuk-grid-row supplier-record__header-group">
  <div class="xgovuk-grid-column-full">
    <h3 class="xgovuk-heading-m xgovuk-!-font-size-27 xgovuk-link"><%= result[:name] %></h3>


    <b><%= t('apprenticeships.home.search_results.result_level_label') %></b> <br>
    <%= result[:level] %><br>
    <b><%= result[:providers] %> <%= t('apprenticeships.home.search_results.providers_label') %></b>
  </div>
</div>
<!--hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"-->