<div class="xgovuk-grid-row xsupplier-record__header-group">
  <div class="xgovuk-grid-column-full">
    <h3 class="xgovuk-heading-m xgovuk-!-font-size-27 xgovuk-link"><%= result[:name] %></h3>


    <b><%= t('apprenticeships.home.search_results.result_level_label') %></b> <br>
    <%= result[:level] %><br>
    <b><%= result[:providers] %> <%= t('apprenticeships.home.search_results.providers_label') %></b>
  </div>
</div>
<!--hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"-->