<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('apprenticeships.page_section') %>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>

    <p class="govuk-heading-m"><%= t('.lead_text') %></p>

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive"><%= t('.warning_title') %></span>
            <%= t('.warning_text') %>
        </strong>
    </div>

    <p class="govuk-body">
        <a href="/apprenticeships/downloads/example?format=csv" class="supplier-record__file-download" type="<%= t('common.type_csv') %>" download>
            <%= t('.download_training_provider_list_link') %> <%= t('common.csv_html') %>
        </a>
    </p>

    <p class="govuk-body"><%= t('.the_following_documents_text') %>: </p>

    <ul class="govuk-list govuk-!-margin-top-6">
        <li class="govuk-!-margin-bottom-3">
            <a href="/apprenticeships/downloads/example?format=doc" class="supplier-record__file-download" type="<%= t('common.type_doc') %>" download>
                Basic terms and conditions <%= t('common.doc_html') %>
            </a>
        </li>
        <li class="govuk-!-margin-bottom-3">
            <a href="/apprenticeships/downloads/example?format=doc" class="supplier-record__file-download" type="<%= t('common.type_doc') %>" download>
                Customer guidance template <%= t('common.doc_html') %>
            </a>
        </li>        
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-weight-bold">Selections used to generate your shortlist</h2>

    <p class="govuk-body">For audit purposes, please find below the list of choices and requiements that you have entered to generate this shortlist. Print this page, to keep a copy of this for your records.</p>

    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Print this page</a></p>




     
    <p style="width: 100%; text-align: right; margin: 80px 0 50px 0;"><small><i><a href="/apprenticeships/training_details">Temporary link to next page > (remove)</a></i></small></p>

    </div>
  </div>