<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('apprenticeships.page_section') %>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= t('.title') %></h1>

      <p class="govuk-heading-m"><%= t('.lead_text_html') %></p>

      <p class="govuk-body"><%= t('.body_text_01_html') %></p>

      <%= link_to t('common.back_to_start'), '/apprenticeships/' , role: 'button', class: 'govuk-button govuk-!-margin-top-4' %>

    </div>
  </div>
