<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('apprenticeships.page_section') %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= t('.title') %></h1>

      <p class="govuk-heading-m"><%= t('.content_text') %></p>

      <p class="govuk-body"><%= t('.go_back_text_html') %></p>

      <p class="govuk-body"><%= t('.contact_support_text_html') %></p>


     
      <p style="width: 100%; text-align: right; margin: 80px 0 50px 0;"><small><i><a href="/apprenticeships/training_details">Temporary link to next page > (remove)</a></i></small></p>

    </div>
  </div>