pe<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('apprenticeships.page_section') %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<%= form_tag apprenticeships_search_results_path, method: :get do %>
  <label class="govuk-label govuk-label--xl" for="search">
    <%= t('Sorry, no training providers were found STUB') %>
  </label>
  <span id="more-detail-hint" class="govuk-hint">
    We were unable to find any training providers that match your requirements.
   <br/>
     Go back and check your requirements to make sure they are all correct.
   <br/>
     Contact CCS Support for further assistance. 
  </span>
</div> 
</div> 
 <%= link_to t('.Continue'), 'training_provider' , role: 'button', class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8', 'aria-label': t('.Continue') %>
<% end %>
</div> 
