<%= content_for :page_title, t('.page_title')  %>
<%= content_for :page_section, t('apprenticeships.page_section') %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-caption-xl"><%= t('.caption') %></h1>
    <h2 class="govuk-heading-xl">
      <%= @provider.title %>
      <strong class="govuk-tag">
        <%= t('.national_provider_label') %>
      </strong>
    </h2>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-tabs" data-module="tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#training-information">
            <%= t('.training_information_tab') %>
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#provider-information">
            <%= t('.provider_information_tab') %>
          </a>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="training-information">
        <h2 class="govuk-heading-l"><%= t('.training_information_title') %></h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.apprenticeship_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.apprenticeship %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.ofsted_apprenticeship_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.ofsted_apprenticeship %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.level_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.level %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.duration_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.duration %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.funding_band_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.funding_band %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.ability_to_bespoke_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.ability_to_bespoke %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.experience_in_this_apprenticeship_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.experience_in_this_apprenticeship %></td>
          </tr>
          </tbody>
        </table>
        <h3><%= t('.about_the_apprenticeship_title') %></h3>
        <p><%= simple_format(@provider.about_apprenticeship) %></p>
        <div>
          <h4><%= t('.time_demand_label') %></h4>
          <p><%= option_availability(@provider.day_release) %> <%= t('.day_release_label') %></p>
          <p><%= option_availability(@provider.block_release) %> <%= t('.block_release_label') %></p>
          <p><%= option_availability(@provider.at_your_location) %> <%= t('.at_your_location_label') %></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <%= t('.explain_time_demand_label') %>
              </span>
            </summary>
            <div class="govuk-details__text">
              <%= t('.explain_time_demand_details') %>
            </div>
          </details>
          <h4><%= t('.delivery_method_label') %></h4>
          <p><%= option_availability(@provider.classroom_based) %> <%= t('.classroom_based_label') %></p>
          <p><%= option_availability(@provider.online) %> <%= t('.online_label') %></p>
          <p><%= option_availability(@provider.workplace_based) %> <%= t('.workplace_based_label') %></p>
          <p><%= option_availability(@provider.blended) %> <%= t('.blended_label') %></p>
          <h4><%= t('.classroom_sharing_label') %></h4>
          <p><%= option_availability(@provider.classroom_sharing_open) %> <%= t('.classroom_sharing_open_label') %></p>
          <p><%= option_availability(@provider.classroom_sharing_closed) %> <%= t('.classroom_sharing_closed_label') %></p>
          <p><%= option_availability(@provider.classroom_sharing_public) %> <%= t('.classroom_sharing_public_label') %></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <%= t('.explain_classroom_sharing_label') %>
              </span>
            </summary>
            <div class="govuk-details__text">
              <%= t('.explain_classroom_sharing_details') %>
            </div>
          </details>
          <h4><%= t('.training_availability_label') %></h4>
          <p><%= option_availability(@provider.training_availability_open) %> <%= t('.training_availability_open_label') %></p>
          <p><%= option_availability(@provider.training_availability_closed) %> <%= t('.training_availability_closed_label') %></p>
          <p><%= option_availability(@provider.training_availability_public) %> <%= t('.training_availability_public_label') %></p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                <%= t('.explain_training_availability_label') %>
              </span>
            </summary>
            <div class="govuk-details__text">
              <%= t('.explain_training_availability_details') %>
            </div>
          </details>
        </div>
      </section>
      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="provider-information">
        <h2 class="govuk-heading-l"><%= t('.provider_information_title') %></h2>
        <p>
          <strong class="govuk-tag">
            <%= t('.national_provider_label') %>
          </strong>
          <%= t('.national_provider_title') %>
        </p>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.overall_ofsted_rating_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.overall_ofsted %> (<%= link_to t('.view_report'), '#' %>)</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.experience_in_delivering_apprenticeships_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.experience_in_delivering_apprenticeships %></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><strong><%= t('.recruitment_support_label') %></strong></td>
            <td class="govuk-table__cell"><%= @provider.recruitment_support %></td>
          </tr>
          </tbody>
        </table>
        <h3><%= t('.about_the_provider_title') %></h3>
        <p><%= simple_format(@provider.about_provider) %></p>
        <h3><%= t('.other_apprenticeships_standards_title') %></h3>
        <ul class="govuk-list govuk-list--bullet">
          <%= list_from_array(@provider.apprenticeships_standards) %>
        </ul>
      </section>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="cmp-sidebar">
      <h3><%= t('.contact_details_title') %></h3>
      <p>
        <strong><%= t('.email') %></strong>
        <br>
        <%= link_to @provider.email, 'mailto:' + @provider.email %>
      </p>
      <p>
        <strong><%= t('.phone_number') %></strong>
        <br>
        <%= @provider.phone %>
      </p>
      <p>
        <strong><%= t('.website') %></strong>
        <br>
        <%= link_to @provider.website, @provider.website %>
      </p>
      <p>
        <strong><%= t('.address') %></strong>
        <br>
        <%= @provider.address %>
      </p>
    </div>
  </div>
</div>