<div class="govuk-body">
  <p>
    <%= t('.we_use_ga') %>
  </p>

  <p>
    <%= t('.ga_list.title') %>
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    <li><%= t('.ga_list.item_1') %></li>
    <li><%= t('.ga_list.item_2') %></li>
    <li><%= t('.ga_list.item_3') %></li>
    <li><%= t('.ga_list.item_4') %></li>
  </ul>

  <p>
    <%= t('.we_dont_collect') %>
  </p>

  <p>
    <%= t('.we_dont_allow') %>
  </p>
</div>
