<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p>
      <%= t('.what_are_cookies') %>
    </p>
    <p>
      <%= t('home.cookies.website_has_4_services') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('home.cookies.facilities_management') %></li>
      <li><%= t('home.cookies.legal_services') %></li>
      <li><%= t('home.cookies.management_consultancy') %></li>
      <li><%= t('home.cookies.supply_teachers') %></li>
    </ul>
    <p>
      <%= t('.policy_will_apply') %>
    <p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.measure_website_use.title') %>
    </h2>

    <div>
      <h3 class="govuk-heading-s">
        <%= t('home.cookies.measure_website_use.ga') %>
      </h3>

      <%= render partial: 'home/ga_cookies_info' %>

      <p>
        <%= t('.ga_sets_following_cookies') %>
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% (1..3).each do |i| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".ga_cookies.row_#{i}.name") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".ga_cookies.row_#{i}.purpose") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".ga_cookies.row_#{i}.expires") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <div>
      <h3 class="govuk-heading-s">
        <%= t('home.cookies.measure_website_use.glassbox') %>
      </h3>

      <%= render partial: 'home/glassbox_cookies_info' %>

      <p>
        <%= t('.glassbox_sets_following_cookies') %>
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
            <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% (1..2).each do |i| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".glassbox_cookies.row_#{i}.name") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".glassbox_cookies.row_#{i}.purpose") %></td>
              <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".glassbox_cookies.row_#{i}.expires") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.strictly_necessary_cookies') %>
    </h2>

    <h3 class="govuk-heading-s">
      <%= t('.cookies_banner') %>
    </h3>

    <p>
      <%= t('.you_may_see_a_banner') %>
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-2" style="word-break: break-all;"><%= Marketplace.cookie_settings_name %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".cookie_banner_cookies.row_1.purpose") %></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".cookie_banner_cookies.row_1.expires") %></td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-s">
      <%= t('.reg_and_sign_in') %>
    </h3>

    <p>
      <%= t('.reg_and_sign_in_cookies') %>
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.name') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.purpose') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('home.cookies.expires') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% (1..4).each do |i| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-padding-right-2" style="word-break: break-all;"><%= t(".reg_and_sign_in_cookie.row_#{i}.name") %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".reg_and_sign_in_cookie.row_#{i}.purpose") %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= t(".reg_and_sign_in_cookie.row_#{i}.expires") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('.change_your_settings') %>
    </h2>

    <p>
      <%= t('.change_settings_html', change_settings_link: link_to(t('.change_settings_link_text'), cookie_settings_path, class: 'govuk-link--no-visited-state') ) %>
    </p>

    <p>
      <%= t('.last_updated') %>
    </p>
  </div>
</div>
