<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" id="cookie-settings-saved" <%= 'hidden' unless params[:cookies_updated] %>>
    <%= govuk_notification_banner(t('.cookies_saved'), true) %>
  </div>
  <div class="govuk-grid-column-three-quarters" id="cookie-settings-not-saved" hidden>
    <%= govuk_notification_banner(t('.cookies_not_saved'), classes: 'ccs-notification-banner--error', title_text: t('.error')) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p>
      <%= t('.what_are_cookies') %>
    </p>
    <p >
      <%= t('.why_we_use_them') %>
    </p>
    <p>
      <%= t('home.cookies.website_has_4_services') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('home.cookies.facilities_management') %></li>
      <li><%= t('home.cookies.legal_services') %></li>
      <li><%= t('home.cookies.management_consultancy') %></li>
      <li><%= t('home.cookies.supply_teachers') %></li>
    </ul>
    <p>
      <%= t('.settings_will_apply') %>
    <p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('.cookie_settings') %>
    </h2>
    <p>
      <%= t('.the_number_we_use') %>
    </p>
  </div>
</div>

<%= form_with method: :put, id: 'update-cookie-setings', html: { specialvalidation: true } do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">
        <%= t('home.cookies.measure_website_use.title') %>
      </h2>

      <%= govuk_radios(
        :ga_cookie_usage,
        [
          {
            value: true,
            checked: cookie_preferences_settings['usage'],
            label: {
              text: t('.use_cookies.ga')
            }
          },
          {
            value: false,
            checked: !cookie_preferences_settings['usage'],
            label: {
              text: t('.dont_use_cookies.ga')
            }
          }
        ],
        fieldset: {
          legend: {
            text: t('home.cookies.measure_website_use.ga'),
            classes: 'govuk-heading-m',
          }
        },
        hint: {
          text: render(partial: 'home/ga_cookies_info')
        }
      ) %>

      <hr class="govuk-section-break govuk-section-break--m">

      <%= govuk_radios(
        :glassbox_cookie_usage,
        [
          {
            value: true,
            checked: cookie_preferences_settings['glassbox'],
            label: {
              text: t('.use_cookies.glassbox')
            }
          },
          {
            value: false,
            checked: !cookie_preferences_settings['glassbox'],
            label: {
              text: t('.dont_use_cookies.glassbox')
            }
          }
        ],
        fieldset: {
          legend: {
            text: t('home.cookies.measure_website_use.glassbox'),
            classes: 'govuk-heading-m',
          }
        },
        hint: {
          text: render(partial: 'home/glassbox_cookies_info')
        }
      ) %>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">
        <%= t('home.cookies.strictly_necessary_cookies') %>
      </h2>
      <p>
        <%= t('.essential_cookies') %>
      </p>
      <p>
        <%= t('.always_need_to_be_on') %>
      </p>
      <%= link_to t('.find_out_more'), cookie_policy_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= govuk_button(t('.save_changes'), attributes: { id: 'save-cookie-settings-button' }) %>
    </div>
  </div>
<% end %>