<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p>
      <%= t('.what_are_cookies') %>
    </p>
    <p>
      <%= t('home.cookies.website_has_4_services') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('home.cookies.facilities_management') %></li>
      <li><%= t('home.cookies.legal_services') %></li>
      <li><%= t('home.cookies.management_consultancy') %></li>
      <li><%= t('home.cookies.supply_teachers') %></li>
    </ul>
    <p>
      <%= t('.policy_will_apply') %>
    <p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.measure_website_use.title') %>
    </h2>

    <div>
      <h3 class="govuk-heading-s">
        <%= t('home.cookies.measure_website_use.ga') %>
      </h3>

      <%= render partial: 'home/ga_cookies_info' %>

      <p>
        <%= t('.ga_sets_following_cookies') %>
      </p>

      <%= govuk_table(
        [
          {
            text: t('home.cookies.name')
          },
          {
            text: t('home.cookies.purpose')
          },
          {
            text: t('home.cookies.expires')
          }
        ],
        (1..3).map do |i|
          [
            {
              text: t(".ga_cookies.row_#{i}.name"),
              classes: 'govuk-!-padding-right-2'
            },
            {
              text: t(".ga_cookies.row_#{i}.purpose"),
              classes: 'govuk-!-padding-right-2'
            },
            {
              text: t(".ga_cookies.row_#{i}.expires"),
              classes: 'govuk-!-padding-right-2'
            }
          ]
        end
      ) %>
    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <div>
      <h3 class="govuk-heading-s">
        <%= t('home.cookies.measure_website_use.glassbox') %>
      </h3>

      <%= render partial: 'home/glassbox_cookies_info' %>

      <p>
        <%= t('.glassbox_sets_following_cookies') %>
      </p>

      <%= govuk_table(
        [
          {
            text: t('home.cookies.name')
          },
          {
            text: t('home.cookies.purpose')
          },
          {
            text: t('home.cookies.expires')
          }
        ],
        (1..2).map do |i|
          [
            {
              text: t(".glassbox_cookies.row_#{i}.name"),
              classes: 'govuk-!-padding-right-2'
            },
            {
              text: t(".glassbox_cookies.row_#{i}.purpose"),
              classes: 'govuk-!-padding-right-2'
            },
            {
              text: t(".glassbox_cookies.row_#{i}.expires"),
              classes: 'govuk-!-padding-right-2'
            }
          ]
        end
      ) %>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('home.cookies.strictly_necessary_cookies') %>
    </h2>

    <h3 class="govuk-heading-s">
      <%= t('.cookies_banner') %>
    </h3>

    <p>
      <%= t('.you_may_see_a_banner') %>
    </p>

    <%= govuk_table(
      [
        {
          text: t('home.cookies.name')
        },
        {
          text: t('home.cookies.purpose')
        },
        {
          text: t('home.cookies.expires')
        }
      ],
      [
        [
          {
            text: Marketplace.cookie_settings_name,
            classes: 'govuk-!-padding-right-2',
            attributes: {
              style: 'word-break: break-all;'
            }
          },
          {
            text: t(".cookie_banner_cookies.row_1.purpose"),
            classes: 'govuk-!-padding-right-2'
          },
          {
            text: t(".cookie_banner_cookies.row_1.expires"),
            classes: 'govuk-!-padding-right-2'
          }
        ],
        [
          {
            text: t(".cookie_banner_cookies.row_2.name"),
            classes: 'govuk-!-padding-right-2',
            attributes: {
              style: 'word-break: break-all;'
            }
          },
          {
            text: t(".cookie_banner_cookies.row_2.purpose"),
            classes: 'govuk-!-padding-right-2'
          },
          {
            text: t(".cookie_banner_cookies.row_2.expires"),
            classes: 'govuk-!-padding-right-2'
          }
        ]
      ]
    ) %>

    <h3 class="govuk-heading-s">
      <%= t('.reg_and_sign_in') %>
    </h3>

    <p>
      <%= t('.reg_and_sign_in_cookies') %>
    </p>

    <%= govuk_table(
      [
        {
          text: t('home.cookies.name')
        },
        {
          text: t('home.cookies.purpose')
        },
        {
          text: t('home.cookies.expires')
        }
      ],
      (1..4).map do |i|
        [
          {
            text: t(".reg_and_sign_in_cookie.row_#{i}.name"),
            classes: 'govuk-!-padding-right-2',
            attributes: {
              style: 'word-break: break-all;'
            }
          },
          {
            text: t(".reg_and_sign_in_cookie.row_#{i}.purpose"),
            classes: 'govuk-!-padding-right-2'
          },
          {
            text: t(".reg_and_sign_in_cookie.row_#{i}.expires"),
            classes: 'govuk-!-padding-right-2'
          }
        ]
      end
    ) %>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m">
      <%= t('.change_your_settings') %>
    </h2>

    <p>
      <%= t('.change_settings_html', change_settings_link: link_to(t('.change_settings_link_text'), cookie_settings_path, class: 'govuk-link--no-visited-state') ) %>
    </p>

    <p>
      <%= t('.last_updated') %>
    </p>
  </div>
</div>
