<div id="building-address-details-form">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    <%= t('.add_address_header') %>
  </h2>
  <p class="govuk-caption-m">
    <%= t('.description') %>
  </p>

  <%= govuk_text_input(
    f,
    :address_line_1,
    {
      label: {
        text: t('.line_1_of_2')
      },
      input: {
        classes: 'govuk-input--width-20',
        attributes: {
          maxlength: 100,
        }
      }
    }
  )%>

  <%= govuk_text_input(
    f,
    :address_line_2,
    {
      label: {
        text: t('.line_2_of_2')
      },
      input: {
        classes: 'govuk-input--width-20',
        attributes: {
          maxlength: 100,
        }
      }
    }
  )%>

  <%= govuk_text_input(
    f,
    :address_town,
    {
      label: {
        text: t('.town_or_city')
      },
      input: {
        classes: 'govuk-input--width-10',
        attributes: {
          maxlength: 30,
        }
      }
    }
  )%>

  <%= govuk_text_input(
    f,
    :address_postcode,
    {
      label: {
        text: t('.postcode')
      },
      input: {
        classes: 'govuk-input--width-10',
        attributes: {
          maxlength: 9,
        }
      }
    }
  )%>
</div>
