<div id="building-details-form">

  <%= govuk_text_input(
    f,
    :building_name,
    {
      label: {
        text: t('.building_name.label'),
        classes: 'govuk-label--m'
      },
      hint: {
        text: t('.building_name.hint'),
        id: 'building-name-hint'
      },
      input: {
        classes: 'govuk-input--width-20',
        attributes: {
          required: true,
          maxlength: 50,
          aria: {
            describedby: 'building-name-hint'
          }
        }
      }
    }
  )%>
  <%= govuk_text_input(
    f,
    :description,
    {
      label: {
        text: t('.description.label'),
        classes: 'govuk-label--m'
      },
      hint: {
        text: t('.description.hint'),
        id: 'building-description-hint'
      },
      input: {
        classes: 'govuk-input--width-20',
        attributes: {
          required: true,
          maxlength: 50,
          aria: {
            describedby: 'building-description-hint'
          }
        }
      }
    }
  )%>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" >
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
        <%= t('.what_is_address') %>
      </h2>
      <span class="govuk-caption-m govuk-!-margin-top-0">
        <%= t('.what_is_address_description') %>
      </span>
    </div>
  </div>


  <%= render partial: 'facilities_management/shared/find_address/find_address', locals: {
    f: f,
    find_address_helper: find_address_helper(f.object, false),
    cant_find_address_text: t('.cant_find_address'),
    submit_cant_find_address: f.object.id.nil?,
    address_title: t('.address')
  } %>
  <%= render partial: 'facilities_management/shared/find_address/find_region', locals: { f: f } %>
</div>