<div class="govuk-!-width-three-quarters govuk-!-font-size-19">
    <div class="govuk-summary-list govuk-body">
        <table class="govuk-table govuk-!-margin-bottom-6">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-padding-top-0" width="45%"></td>
                    <td class="govuk-table__cell govuk-!-padding-top-0" width="55%"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header"><%= @procurement.user.buyer_detail.organisation_name %></th>
                    <td class="govuk-table__cell" id="contact-details-drop-down">
                        <%= govuk_details('Contact details', true) do %>
                            <%= "Name: #{@procurement.user.buyer_detail.full_name}"%> <br>
                            <%= "Telephone: #{@procurement.user.buyer_detail.telephone_number}"%> <br>
                            <%= mail_to @procurement.user.email, @procurement.user.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %> <br>
                            <%= "Address: #{@procurement.user.buyer_detail.full_organisation_address}"%> 
                        <% end %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
