<h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
  <%= t('.what_happens_next') %>
</h2>
<div class="govuk-body govuk-!-width-three-quarters" id="what-happens-next-details">
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <div class="govuk-!-margin-bottom-4">
      <%= govuk_details(t('.list01_title'), true) do %>
          <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-!-padding-top-2"><%= t('.list01_1') %></li>
            <li class="govuk-!-padding-top-2"><%= t('.list01_2') %></li>
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-2"><%= t('.list01_3') %></li>
          </ul>
      <% end %>
    </div>
    <div class="govuk-!-margin-bottom-4">
        <%= govuk_details(t('.list02_title'), true) do %>
            <ul class="govuk-list govuk-list--bullet">
              <li class="govuk-!-padding-top-2"><%= t('.list02_1') %></li>
              <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-2"><%= t('.list02_2') %></li>
            </ul>
        <% end %>
    </div>
    <div class="govuk-!-margin-bottom-4">
      <%= govuk_details(t('.list03_title'), true) do %>
          <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-!-padding-top-2"><%= t('.list03_1') %></li> 
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-2"><%= t('.list03_2') %></li> 
          </ul>
      <% end %>
    </div>
    <div class="govuk-!-margin-bottom-4">
      <%= govuk_details(t('.list04_title'), true) do %>
          <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-!-padding-top-2 govuk-!-padding-bottom-2"><%= t('.list04_1') %></li> 
          </ul>
      <% end %>
    </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
</div>