<%= govuk_page_content(@page_description, @contract) do |pd| %>
  <%= content_for :page_title, pd.heading_details.text %>
  <%= form_for @contract, url: facilities_management_supplier_contract_path do |f| %>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-width-two-thirds">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.contract_name') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @procurement.contract_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.contract_number')%>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @contract.contract_number %>
        </dd>
      </div>
    </dl>
    <div class="govuk-form-group <%= 'govuk-form-group--error' if @contract.errors.any? %>">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <%= "#{t('.form_title')} #{@procurement.user.buyer_detail.organisation_name}?" %>
        </legend>
        <%= display_error(f.object, :contract_response, false) %>
        <%= govuk_radios_conditional do %>
          <%= govuk_radios_conditional_item(f, :contract_response, true, t('.yes')) %>
          <%= govuk_radios_conditional_item(f, :contract_response, false, t('.no')) %>
          <%= govuk_radios_conditional_area(:contract_response, false, class: 'govuk-!-width-one-half') do %>
            <%= govuk_label(f, f.object, :reason_for_declining, { reason_for_declining: t('.reason_for_declining')}) %>
            <%= display_error(f.object, :reason_for_declining) %>
            <hr class="govuk-section-break govuk-!-margin-top-4">
            <%= govuk_character_count(f, :reason_for_declining, 500, 5) %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
    <div class= 'govuk-!-margin-top-5'>
      <%= f.submit(pd.navigation_details.primary_text, class: 'govuk-button govuk-!-margin-right-4', 'aria-label': "#{pd.navigation_details.primary_text}", name: [pd.navigation_details.primary_name, 'commit'].find(&:present?)) %>
      <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}" %>
    </div>
  <% end %>
<% end %>

