<%= govuk_page_content(@page_description, @contract) do |pd| %>
<%= content_for :page_title, pd.heading_details.text %>
    <%= form_for @contract, url: facilities_management_supplier_contract_path do |f| %>
        <table class='govuk-table'>
            <tbody>
                <tr>
                    <td class='ccs-font-weight-semi-bold' style="width: 16%"><%= t('.contract_name') %></td>
                    <td style="width: 82%"><%= @procurement.contract_name %></td>
                </tr>
                <tr>
                    <td class='ccs-font-weight-semi-bold' style="width: 16%"><%= t('.contract_number')%></td>
                    <td style="width: 82%"><%= @contract.contract_number %></td>
                </tr>
            </tbody>
        </table>
        <div id="facilities_management_contract" class="govuk-form-group <%= 'govuk-form-group--error' if @contract.errors.any? %>">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading"><%= "#{t('.form_title')} #{@procurement.user.buyer_detail.organisation_name}?" %></h1>
            </legend>
            <%= display_error(f.object, :contract_response, false) %>
            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <%= f.radio_button :contract_response, true, value: true, class: 'govuk-radios__input', id: "contract-accepted-yes", 'aria-label': 'Yes' %>
                    <%= f.label :contract_response, "Yes", value: true, class: 'govuk-label govuk-radios__label' %>
                </div>
                <div class="govuk-radios__item">
                    <%= f.radio_button :contract_response, false, value: false, class: 'govuk-radios__input', id: 'contract-accepted-no', 'aria-label': 'No' %>
                    <%= f.label :contract_response, "No", value: false, class: 'govuk-label govuk-radios__label' %>
                </div>
                <div id="contract-accepted-no-container" class="govuk-details__text govuk-!-padding-top-1 govuk-!-padding-bottom-1 govuk-!-margin-left-3 govuk-!-width-one-half  <%= 'govuk-visually-hidden' if @contract.contract_response || @contract.contract_response.nil? %>" data-module="character-count" data-maxlength="500">
                    <%= govuk_label(f, f.object, :reason_for_declining, {reason_for_declining: t('.reason_for_declining')}) %>
                    <%= display_error_label(f.object, :reason_for_declining, '', "#{f.object_name}_reason_for_declining") %>
                    <%= govuk_text_area_input_contracts(f, :reason_for_declining, true, ['rows', 5], ['maxlength', 500], [:class, 'govuk-!-margin-bottom-2 govuk-!-margin-top-4']) %>
                    <span id="facilities_management_procurement_supplier_character_left" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You have 500 characters remaining
                    </span>
                </div>
            </div>
        </div>
        <div class= 'govuk-!-margin-top-5'>
            <%= f.submit(pd.navigation_details.primary_text, class: 'govuk-button govuk-!-margin-right-4', 'aria-label': "#{pd.navigation_details.primary_text}", data: { disable_with: false }, name: [pd.navigation_details.primary_name, 'commit'].find(&:present?)) %>
            <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}" %>
        </div>
    <% end %>
<% end %>
