<%= govuk_page_content(@page_description, @contract) do |pd| %>
<%= content_for :page_title, pd.heading_details.text %>
  <%= render partial: 'contract_summary_head' %>

  <%= render partial: 'contract_offer_details' %>

  <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
    <%= t('.requirements') %>
  </h1>
  <div class="govuk-!-font-size-19">
    <%= render partial: 'procurement_requirements_head' %>
    <%= render partial: 'facilities_management/procurements/contracts/procurement_requirements' %>

    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
      <%= t('.buyer_contact_details') %>
    </h1>
    <%= render partial: 'buyer_contact_details' %>

    <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= t('.call_off_contract_documents') %>
    </h1>
    <%= render partial: 'facilities_management/procurements/contracts/call_off_contract_documents' %>

    <%= render partial: 'received_contract_offer' if @contract.aasm_state == 'sent' %>
    <%= render partial: 'accepted_contract_offer' if @contract.aasm_state == 'accepted' %>

    <%= render partial: 'contract_summary_foot' %>

    <% case @contract.aasm_state %>
    <% when 'sent' %>
      <div class='govuk-!-margin-top-5'>
        <%= link_to(pd.navigation_details.primary_text, edit_facilities_management_supplier_contract_path(@contract.id), role: 'button', class: 'govuk-link govuk-!-font-size-19 govuk-button', 'aria-label': "#{pd.navigation_details.primary_text}") %>
        <br/>
        <%= link_to(pd.navigation_details.return_text, @page_description.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-label': "#{pd.navigation_details.return_text}") %>
      </div>
    <% else %>
      <div class='govuk-!-margin-top-5'>
        <%= link_to(pd.navigation_details.secondary_text, @page_description.navigation_details.secondary_url, role: 'button', class: 'govuk-link govuk-!-font-size-19 govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}" ) %>
      </div>
    <% end %>
  </div>
<% end %>
