<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <% @journey.params.each do |(key, value)| %>
    <%= hidden_field_tag key, value %>
  <% end %>
  <%= govuk_form_group_with_optional_error(@journey, :location) do %>
    <label class="govuk-label govuk-label--m" for="postcode">
      <%= t('.postcode_question') %>
    </label>
    <span class="govuk-hint">
      <%= t('.question_hint') %>
    </span>
    <%= display_error(@journey, :location) %>
    <%= text_field_tag :postcode, params[:postcode], class: css_classes_for_input(@journey, :location, ['govuk-input--width-10']) %>
  <% end %>

  <%= govuk_form_group_with_optional_error(@journey, :job_type) do %>
    <label class="govuk-label govuk-label--m" for="job_type">
      <%= t('.worker_type_question') %>
    </label>
    <select class="govuk-select" id="job_type" name="job_type">
      <%= options_from_collection_for_select(SupplyTeachers::JobType.all, :code, :description, params[:job_type]) %>
    </select>
  <% end %>

  <%= govuk_form_group_with_optional_error(@journey, :term) do %>
    <label class="govuk-label govuk-label--m" for="term">
      <%= t('.worker_term_question') %>
    </label>
    <select class="govuk-select" id="term" name="term">
      <%= options_from_collection_for_select(SupplyTeachers::Term.all, :code, :description, params[:term]) %>
    </select>
  <% end %>

  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
