<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :worker_type, params[:worker_type] %>
  <%= hidden_field_tag :looking_for, params[:looking_for] %>
  <%= hidden_field_tag :payroll_provider, params[:payroll_provider] %>
  <%= govuk_form_group_with_optional_error(@journey) do %>
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="postcode">
        <%= t('.question') %>
      </label>
      <span id="postcode-hint" class="govuk-hint">
        <%= t('.question_hint') %>
      </span>
    </h1>
    <%= display_error(@journey, :location) %>
    <%= text_field_tag :postcode, params[:postcode], class: 'govuk-input' %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
