<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_field_tag :value_band, params[:value_band] %>
  <%= govuk_form_group_with_optional_error(@journey, :region_codes) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :region_codes) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('.question') %>
        </h1>
        <%= display_error(@journey, :region_codes) %>
      </legend>
      <% FacilitiesManagement::Region.all.group_by(&:nuts1_code).each do |parent_region_code, regions| %>
        <h3 class="govuk-heading-m"><%= t(".nuts1.#{parent_region_code}") %></h3>

        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <% regions.each do |region| %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag(
                  "region_codes[]",
                  region.code,
                  @journey.current_step.region_codes.include?(region.code),
                  class: "govuk-checkboxes__input",
                  id: "region_#{region.code}"
                ) %>
                <label class="govuk-label govuk-checkboxes__label" for="region_<%= region.code %>">
                  <%= region.name %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
