<% unless fc_chosen %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl govuk-!-font-weight-bold"> <%= t('.summary_header') %></h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"> <%= "Your procurement summary reference number is #{@procurement.contract_number}"%>.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <%= govuk_details(t('.description_header')) do %>
        <p class="govuk-body-m"><%= t('.description_text') %></p>

        <ul class="govuk-list govuk-list--bullet govuk-body-m">
          <li><%= t('.description_list_1') %></li>
          <li><%= t('.description_list_2') %></li>
          <li><%= t('.description_list_3') %></li>
          <li><%= t('.description_list_4') %></li>
          <li><%= t('.description_list_5') %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <h3 class="govuk-heading-l"><%= t('.file_download') %></h3>
      <p class="govuk-body-l"><%= t('.download_file_in_format') %></p>
      <%= link_to_generated_file_for_download(facilities_management_rm3830_procurement_further_competition_spreadsheet_path(@procurement.id), :xlsx, t('.file_name', procurement_name: @procurement.contract_name), true) %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.what_happens_next_title') %></h2>
    <p><%= t('.what_happens_next_description') %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_step_by_step_navigation(
      [
        {
          title: t('.step_1.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_1.list.item_1')
                },
                {
                  text: t('.step_1.list.item_2')
                },
                {
                  text: t('.step_1.list.item_3')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_2.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_2.list.item_1')
                },
                {
                  text: t('.step_2.list.item_2')
                },
                {
                  text: t('.step_2.list.item_3')
                },
                {
                  text: t('.step_2.list.item_4')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_3.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_3.list.item_1')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_4.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_4.list.item_1')
                },
                {
                  text: t('.step_4.list.item_2')
                },
                {
                  text: t('.step_4.list.item_3')
                }
              ]
            }
          ]
        },
        {
          title: t('.step_5.title'),
          content: [
            {
              type: :list,
              items: [
                {
                  text: t('.step_5.list.item_1')
                }
              ]
            }
          ]
        }
      ]
    ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.esourcing') %></h2>
    <p> <%= t('.esourcing_description_html', link: link_to(t('.esourcing_description_link_text'), t('.esourcing_description_link_url'))) %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.more_information') %></h2>
    <p> <%= t('.facilities_management_framework_html', link: link_to(t('.facilities_management_framework_link_text'), t('.facilities_management_framework_link_url'))) %></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.more_information_1') %></li>
      <li><%= t('.more_information_2') %></li>
      <li><%= t('.more_information_3') %></li>
      <li><%= t('.more_information_4') %></li>
      <li><%= t('.more_information_5') %></li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-3">
    <%= govuk_details(t('.help')) do %>
      <p class="govuk-body-m">
        <%= t('.help_description') %>
        <br/>
        <br/>
        <%= t('.help_description_1')%>
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-3">
    <p class="govuk-!-font-weight-bold">
      <% if fc_chosen %>
        <%= t('.save_as_fc_instructions') %>
      <% else %>
        <%= t('.make_a_copy')%>
      <% end %>
    </p>
  </div>
</div>
