<%= content_for :page_title, t('.heading') %>
<% admin_breadcrumbs(
  { text: t('facilities_management.rm6232.admin.supplier_data.index.heading'), href: facilities_management_rm6232_admin_supplier_data_path },
  { text: t('facilities_management.rm6232.admin.uploads.index.heading'), href: facilities_management_rm6232_admin_uploads_path },
  { text: t('.heading') }
)%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @upload.errors } %>
    <span class="govuk-caption-xl"><%= t('.caption') %></span>
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><%= t('.download_templates') %></h2>
    <p><%= t('.you_can_download') %></p>
    <div>
      <%= link_to_public_file_for_download(t('.template_file_path'), :zip, t('.template_file_name'), false, class: 'govuk-button govuk-button--secondary') %>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><%= t('.upload_title') %></h2>
    <span class="govuk-caption-m govuk-!-margin-bottom-7"><%= t('.upload_caption') %></span>
    
    <%= form_with model: @upload, url: facilities_management_rm6232_admin_uploads_path, method: :post, html: { specialvalidation: true, novalidate: true } do |f| %>
      <% FacilitiesManagement::RM6232::Admin::Upload::ATTRIBUTES.each do |file| %>
        <%= govuk_file_upload(
          file,
          form: f,
          label: {
            text: t(".file_label.#{file}")
          },
          javascript: true
        ) %>
      <% end %>
      <%= govuk_button(t('.upload_data'), form: f, attributes: { name: t('.upload_data') }) %>
      <br/>
      <%= link_to t('.return'),  facilities_management_rm6232_admin_uploads_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
    <% end %>
  </div>
</div>
