<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors }%>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= t('.heading_html') %>
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-8">
      <%= t('.lead') %>
    </p>
    <%= form_for resource, as: resource_name, url: registration_path, html: {specialvalidation: true, novalidate: true, class: 'ccs-form', id: 'cop_register'}, method: :post do |f| %>
      <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">

        <div class="govuk-form-group <%= 'govuk-form-group--error' if @result.errors[:email].any? %>">
          <label class="govuk-label" for="email">
            <%= t('.email') %>
          </label>

          <span id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
            <%= t('.email_hint') %>
          </span>

          <%= display_error(@result, :email) %>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", class:"govuk-input govuk-!-width-three-quarters", id: "email", spellcheck: false, required: true, aria: {describedby: "email-hint"} %>
        </div>

      </fieldset>

      <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">


        <label class="govuk-label govuk-label--m" for="password01">
          <%= t('.create_password') %>
        </label>

        <div class="govuk-form-group <%= 'govuk-form-group--error' if @result.errors[:password].any? %>">

          <p class="govuk-body govuk-!-margin-bottom-1">Your password must have:</p>

          <%= render '/layouts/password-strength', text: 'password01' %>

          <%= display_error(@result, :password) %>
          <%= f.password_field :password, autocomplete: "off", id: "password01", class: "govuk-input govuk-!-width-three-quarters"  %>
        </div>

        <div class="govuk-form-group  <%= 'govuk-form-group--error' if @result.errors[:password_confirmation].any? %>">
          <label class="govuk-label" for="password02">
            <%= t('.confirm_password') %>
          </label>

          <%= display_error(@result, :password_confirmation) %>
          <%= f.password_field :password_confirmation, autocomplete: "off", id: "password02", class: "govuk-input govuk-!-width-three-quarters"  %>
        </div>

      </fieldset>

      <%= f.submit t('common.create_account'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7 govuk-!-margin-bottom-8", name: 'Create account', 'aria-label': t('common.create_account') %>

    <% end %>

  </div>
</div>
