<body onload="pageInit()">
<h1>CCS Tests</h1>
<p>CCS Facilities Management - Direct Award Calculator Test Harness</p>
<%= form_tag '', id: 'test_calc_form', onsubmit: 'return submit()', method: :post do %>
  <div style="position: absolute; left: 1100px; border: 0">

  </div>

  <%= hidden_field_tag 'current_choices', 'abcde' %>

  <div style="border-style: solid; width: 200px; position: absolute; top: 30px; left: 500px;padding-left: 20px;">
    <button type="submit">Submit</button>
    Value:&nbsp;
      <%= number_to_currency(@report.direct_award_value, precision: 2) %>
  </div>

  <%
    uoms = CCS::FM::UnitsOfMeasurement.all.group_by(&:service_usage)
    uom2 = {}
    uoms.map { |u| u[0].each { |k| uom2[k] = u[1] } }
  %>

  <div style="border-style: solid; width: 500px; position: absolute; top: 130px; left: 0px;padding-left: 20px;">
    <p><b>Regions</b> ( select all
      <input type="checkbox" name="select-all-regions" id="select-all-regions" onClick="selectAll(this,'[name^=region-]')">
      )
    </p>

    <% region_code_names = Nuts2Region.to_h %>
    <% nuts2_code = nil %>
    <% Nuts3Region.all.sort_by { |r| r.nuts2_code}.each do |x| %>

      <% if nuts2_code != x.nuts2_code %>
        <% if nuts2_code %>
          <br/>
        <% end %>
        <%=   "#{region_code_names[x.nuts2_code]}" %>
        <%   nuts2_code = x.nuts2_code %>
        <br/>
      <% end %>

      <input type="checkbox" name="region-<%= "#{x.code}" %>" id=<%= "#{x.code}" %> value=<%= "#{x.code}" %> >
      <label>
        <%= x.name %>
      </label>
      <br/>
    <% end %>
  </div>

  <div style="border-style: solid; width: 500px; position: absolute; top: 130px; left: 530px;padding-left: 20px;">
    <p>  <b>Services</b> ( select all
      <input type="checkbox" name="select-all-services" id="select-all-services" onClick="selectAll(this,'[name^=service-]')">
      )
    </p>
    <% work_package_code = nil %>
    <% topline = true %>
    <% FacilitiesManagement::Service.all.sort_by { |s| [s.work_package_code, s.code[s.code.index('.') + 1..-1].to_i] }.each do |s| %>
      <% if work_package_code != s.work_package_code %>
        <% if work_package_code %>
          <br/>
        <% end %>
        <% if uom2[s.code] && topline%>
          <hr style="border-style: none;"/>
        <% end %>

        <%=   "#{s.work_package_code}" %>
        <%   work_package_code = s.work_package_code %>
        <br/>
      <% end %>


      <input type="checkbox" name="service-<%= "#{s.code}" %>" id=<%= "#{s.code}" %> value=<%= "#{s.code}" %> >
      <label>
        <%= "#{s.code} #{s.name}" %>
      </label>
      <br/>
      <!--
      <%= "#{uom2[s.code]}" if uom2[s.code] %>
      -->

      <% if uom2[s.code] %>
        <% uom2[s.code].each do |x| %>
          <label>
            <%= x['title_text'] %>
            <input type="number" name="uom-<%= "#{s.code}" %>"  style="width: 50px;" min = "0"/>
            <%= x['unit_text'] %>
            <br/>
            [<%= x['example_text'] %>]
          </label>

          <hr style="border-style: groove;"/>
          <% topline = false %>

        <% end %>
      <% end %>
    <% end %>
  </div>


  <div style="border-style: solid; width: 500px; position: absolute; top: 130px; left: 1060px;padding-left: 20px;">
    <p><b>Inputs</b>
    </p>
      <label>
        Start Date
        <input type="text" id="startdate" name="startdate" placeholder="YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter a date in this format YYYY/MM/DD"/>
      </label>
      <label>Contract Length
        <input type="textbox" name="contract-length" id="contract-length" value="3">
        years
      </label>
      <label>
        General Internal Area
        <input type="number" name="gia" id="gia" value="" min = "1">
        (square metres)
      </label>
      <br/>
      <label>
        in London
        <input type="checkbox" name="isLondon" id="isLondon">
      </label>
      <label>
        tupe
        <input type="checkbox" name="tupe" id="tupe">
      </label>

      <br/>
      <label>
        building type
        <select name="building-type">
          <option value="General office - Customer Facing">General office - Customer Facing</option>
          <option value="General office - Non Customer Facing">General office - Non Customer Facing</option>
          <option value="Call Centre Operations">Call Centre Operations</option>
          <option value="Restaurant and Catering Facilities">Restaurant and Catering Facilities</option>
          <option value="Pre-School">Pre-School</option>
          <option value="Primary School">Primary School</option>
          <option value="Secondary Schools">Secondary Schools</option>
          <option value="Special Schools">Special Schools</option>
          <option value="Universities and Colleges">Universities and Colleges</option>
          <option value="Community - Doctors, Dentist, Health Clinic">Community - Doctors, Dentist, Health Clinic</option>
          <option value="Nursing and Care Homes">Nursing and Care Homes</option>
        </select>
      </label>

  </div>

<% end %>
</body>
<script language="JavaScript">
    //alert('hello')
    function pageInit()
    {
        test_calc_form.onsubmit = submit
        document.getElementById('startdate').value = new Date().toISOString().split('T')[0]
    }

    function selectAll(source, pattern)
    {
        // checkboxes = document.getElementsById('service');
        checkboxes = document.querySelectorAll(pattern)
        for(var i in checkboxes)
            checkboxes[i].checked = source.checked;
    }

    function submit(event)
    {

        var gia = test_calc_form.gia.value || 0

        if (isNaN(test_calc_form.gia.value) || gia == 0)
        {
            test_calc_form.gia.focus()
            alert('Please enter a number for Gross Internam Area (GIA)')
            return false
        }
        // event.preventDefault()

        // document.getElementById('test_calc_form').trigger('submit')

        return true

    }
</script>