<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_for (@player) do | f | %>
	<p> 
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</p>
	<p> 
		<%= f.label :first_name %>
		<%= f.text_field :last_name %>
	</p>
	</p>
     <% end %>
    </div>
  </div>
</div>
