<div class="govuk-grid-row">
  <h2 class="govuk-heading-m">
    <%= t('.heading') %>
  </h2>

  <span id="hint-radio-c" class="govuk-hint govuk-!-font-size-20">
    <%= t('.content_html') %>
  </span>
  <div class="content browse">
    <div class="browse-panes section">
      <div id="root" class="pane root-pane">
        <h2 class="govuk-heading-m" tabindex="-1"><%= t('.your_buildings') %></h2>
        <ul>
          <% f.object.procurement_buildings.active.each_with_index do |building, i| %>
            <li class="<%= 'active' if i == 0 %>">
              <a id="<%= 'building-'+i.to_s %>" class="building-button govuk-!-font-size-19" href="#"><%=building.name %> <strong class="<%= 'building-services-'+i.to_s %>">(0 selected)</strong></a>
            </li>
          <% end %>
          <%= link_to t('.change_buildings'), edit_facilities_management_beta_procurement_path(:step => 'procurement_buildings'), class: "govuk-link--no-visited-state govuk-!-margin-top-2 govuk-!-font-size-19"%>
        </ul>
      </div>
      <div id="section" class="section-pane pane with-sort">
        <%= f.fields_for :procurement_buildings do |procurement_building|%>
          <%= procurement_building.hidden_field :name, value: procurement_building.object.name %>
          <div id="<%= 'building-services-'+procurement_building.index.to_s %>" class="pane-inner services-pane <%= 'hidden-pane' if procurement_building.index > 0 %>">
            <div class="govuk-form-group <%= 'govuk-form-group--error' if procurement_building.object.errors.any? %>">
              <h2 tabindex="-1" class="govuk-heading-m govuk-!-margin-top-7">Choose from <%= @services.count %> services</h2>
              <%= display_error_no_attr(procurement_building.object, :service_codes) %>
              <div class="govuk-checkboxes ccs-govuk-checkboxes--s govuk-checkboxes--small">
                <ul>
                  <%= procurement_building.collection_check_boxes(:service_codes, @services, :code, :name) do |c| %>
                    <li class="">
                      <div class="govuk-checkboxes__item">
                        <%= c.check_box(class: "govuk-checkboxes__input procurement-building__input") %>
                        <%= c.label(class: "govuk-label govuk-checkboxes__label") %>
                      </div>
                    </li>
                  <% end %>
                  <li>
                    <div class="govuk-checkboxes__item">
                      <p class="govuk-body govuk-!-margin-bottom-0">or</p>
                    </div>
                  </li>
                  <li class="govuk-checkboxes__item ccs-select-all">
                    <input class="govuk-checkboxes__input box1-all" id="box-all<%= procurement_building.index %>" name="box-all" type="checkbox" value="">
                    <label class="govuk-label govuk-checkboxes__label" for="box-all<%= procurement_building.index %>">
                      Select all
                    </label>
                  </li>
                  <li class="govuk-checkboxes__item govuk-!-margin-top-5 govuk-!-padding-left-0">
                    <a href="#" class="govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-padding-left-0">+ Add more services</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>