<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f|%>
        <div class="govuk-!-width-two-thirds">
        <%= govuk_grouped_field(f, t('.caption'), :select_an_invoicing_contact) do |ff, attr| %>
                <div class="govuk-radios">
                    <div class="govuk-radios__item govuk-!-margin-bottom-6">
                        <input class="govuk-radios__input" id="contact_name" name="select_an_invoicing_contact" type="radio" value="name"/>
                        <label class="govuk-label govuk-radios__label" for="direct_award">
                            <%= "#{@page_data[:model_object].user.buyer_detail.full_name}, #{@page_data[:model_object].user.buyer_detail.job_title}" %>
                            <span class="govuk-caption-m govuk-!-margin-top-2">
                                <%= @page_data[:model_object].user.buyer_detail.full_organisation_address %>
                            </span>
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <%= f.radio_button :using_buyer_detail_for_invoice_details, false, class: 'govuk-radios__input' %>
                        <%= f.label :using_buyer_detail_for_invoice_details, value: false, class: 'govuk-label govuk-radios__label ccs-font-weight-semi-bold' do %>
                        <%= t('.new') %>
                        <% end %>
                    </div>
                </div>
        <% end %>
        </div>
        <%= govuk_continuation_buttons(pd, f, false) %>
    <% end %>
<% end %>
