<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
  <div class="<%= 'govuk-form-group--error' if  @procurement.errors[:local_government_pension_scheme].any? %>">
    <div class="govuk-heading-m govuk-!-width-three-quarters">
      <%= t('.description')%>
    </div>
    <div class="govuk-radios">
    <%= display_error(@procurement, :local_government_pension_scheme) %>
        <div class="govuk-radios__item">
          <%= f.radio_button :local_government_pension_scheme, true, value: true, class: 'govuk-radios__input' %>
          <%= f.label :local_government_pension_scheme, "Yes", value: true, class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :local_government_pension_scheme, false, value: false, class: 'govuk-radios__input' %>
          <%= f.label :local_government_pension_scheme, "No", value: false, class: 'govuk-label govuk-radios__label' %>
        </div>
    </div>
  </div>
  <%= govuk_continuation_buttons(pd, f, false) %>
<%end%>
