<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>

    <%= form_for @procurement, url: {action: "update"}, method: :put, html: { specialvalidation: false, multipart: true } do |f| %>
        <%= f.fields_for :notices_contact_detail do |ff|%>
        
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0" id="new_notices_contact_details_adress">
            
            <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:organisation_address_line_1].any? %>">
            <%= ff.label :organisation_address_line_1, t('.building_and_street'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'notices_contact_detail.organisation_address_line_1-error' if ff.object.errors[:organisation_address_line_1].any?}" %>
            <%= display_error(ff.object, :organisation_address_line_1) %>
            <%= ff.text_field :organisation_address_line_1, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:organisation_address_line_1].any? } ", maxlength: 50 %>
            <div class="govuk-form-group govuk-!-margin-top-3">
              <%= ff.text_field :organisation_address_line_2,'aria-label' =>'address_line_2', class: "govuk-input #{'govuk-input--error' if ff.object.errors[:organisation_address_line_1].any? } ", maxlength: 50 %>
            </div>
            </div>
            
            <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:organisation_address_town].any? %>">
            <%= ff.label :organisation_address_town, t('.town_or_city'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'notices_contact_detail.organisation_address_town-error' if ff.object.errors[:organisation_address_town].any?}" %>
            <%= display_error(ff.object, :organisation_address_town) %>
            <%= ff.text_field :organisation_address_town, class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if ff.object.errors[:organisation_address_town].any? }", maxlength: 50 %>
            </div>

            <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:organisation_address_county].any? %>">
            <%= ff.label :organisation_address_county, t('.county'), class: 'govuk-label govuk-!-margin-bottom-3' %>
            <%= display_error(ff.object, :organisation_address_county) %>
            <%= ff.text_field :organisation_address_county, class: "govuk-input govuk-!-width-two-thirds ", maxlength: 50 %>
            </div>

            <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:organisation_address_postcode].any? %>">
            <%= ff.label :organisation_address_postcode, t('.postcode'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{'notices_contact_detail.organisation_address_postcode-error' if ff.object.errors[:organisation_address_postcode].any?}" %>
            <%= display_error(ff.object, :organisation_address_postcode) %>
            <%= ff.text_field :organisation_address_postcode, class: "govuk-input govuk-!-width-one-third #{'govuk-input--error' if ff.object.errors[:organisation_address_postcode].any? }", maxlength: 50 %>
          </div>
        <%= govuk_continuation_buttons(@page_description, f, false) %>
        </div>
        <% end %>
    <% end %>
<% end %>
