<div class="govuk-grid-row">
  <div class="buildings chooser-component">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds chooser-input">

        <h1 class="govuk-heading-xl govuk-!-padding-top-0 "><%= t('.heading')%></h1>
        <div class="chooser-section govuk-form-group <%= 'govuk-form-group--error' if f.object.errors.any? %>"  data-section="buildings" data-sectionname="buildings">
          <h2 class="govuk-heading-m">
            <%= t('.sub_heading') %>
          </h2>

          <span id="hint-radio-c" class="govuk-hint govuk-!-font-size-20">
            <%= t('.content') %>
          </span>
          <%= display_error_no_attr(f.object, :procurement_buildings) %>
          <%= f.fields_for :procurement_buildings do |procurement_building|%>
            <%= procurement_building.hidden_field :name, value: procurement_building.object.name %>
            <%= procurement_building.hidden_field :address_line_1, value: procurement_building.object.address_line_1 %>
            <%= procurement_building.hidden_field :address_line_2, value: procurement_building.object.address_line_2 %>
            <%= procurement_building.hidden_field :town, value: procurement_building.object.town %>
            <%= procurement_building.hidden_field :county, value: procurement_building.object.county %>
            <%= procurement_building.hidden_field :postcode, value: procurement_building.object.postcode %>
            <div class="chooser-input govuk-form-group <%= 'govuk-form-group--error' if f.object.errors.any? %>" sectionname="buildings" section="buildings">

              <fieldset class="govuk-fieldset">
                <div id="buildings-checkboxes" class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <%= procurement_building.check_box :active, class: 'govuk-checkboxes__input', title: procurement_building.object.name, sectionid: procurement_building.object.name %>
                    <%= procurement_building.label :active, class: "govuk-label govuk-checkboxes__label", style: "padding-top:0" do %>
                      <%= procurement_building.object.name %>
                      <br />
                      <span class="govuk-hint govuk-!-margin-bottom-0"><%= procurement_building.object.full_address %></span>
                    <% end %>
                  </div>
                </div>
              </fieldset>
            </div>
          <% end %>
        </div>
        <div class="govuk-!-margin-top-9">
          <%= link_to '+ Add more buildings', facilities_management_beta_buildings_management_path, class:"govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-padding-left-0" %>
        </div>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
        <div class="basket" style="display: block">
          <div>
            <h3 class="govuk-heading-m" data-txt01="<%= t('.buildings_selected') %>" data-txt02="<%= t('.no_buildings_selected') %>">
              <span id="selected-buildings-count">0</span> <span><%= t('.buildings_selected') %></span></h3>
            <a class="govuk-!-padding-left-2 remove-link" role="button" href="#"><%= t('.remove_all') %></a><br />
            <ul style="margin-top:10px;" class="govuk-list"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>