<h1 class="govuk-heading-xl govuk-!-padding-top-0 govuk-!-margin-0"><%= t('.tupe_title') %></h1>
<div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:tupe].any? %>" data-propertyname="TUPE"
    style="<%= 'padding-left:1em' if @procurement.errors[:tupe].any?%>">
  <div class="govuk-!-margin-top-3">
  <span class="govuk-heading-s govuk-!-margin-bottom-0">
    <%= t('.first_question') %>
  </span>
    <span class="govuk-caption-m govuk-!-margin-top-0">
    <%= t('.body_text_html') %>
  </span>
  </div>

  <div class="govuk-!-margin-top-3">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t('.what_you_need_to_know_title') %>
    </span>
      </summary>
      <div class="govuk-details__text">
        <%= t('.what_you_need_to_know_html') %>
      </div>
    </details>
  </div>

  <div class="govuk-!-margin-top-3">
    <%= display_error_label @procurement, :tupe, '', 'facilities_management_procurement_tupe_true' %>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <%= f.radio_button :tupe, true, value: true, class: 'govuk-radios__input' %>
        <%= label :tupe, true, 'Yes', class: 'govuk-label govuk-radios__label' %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :tupe, false, value: false, class: 'govuk-radios__input' %>
        <%= label :tupe, false, 'No', class: 'govuk-label govuk-radios__label' %>
      </div>
    </div>
  </div>
</div>
