<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend">
    <h1 class="govuk-heading-xl govuk-!-padding-top-0 govuk-!-margin-0"><%= t('.tupe_title') %></h1>
  </legend>
<% content_for :page_title, t('.tupe_title') %>
<div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:tupe].any? %>" data-propertyname="TUPE"
    style="<%= 'padding-left:1em' if @procurement.errors[:tupe].any?%>">
  <div class="govuk-!-margin-top-3">
  <span class="govuk-heading-s govuk-!-margin-bottom-0">
    <%= t('.first_question') %>
  </span>
    <span class="govuk-caption-m govuk-!-margin-top-0">
    <%= t('.body_text_html') %>
  </span>
  </div>

  <div class="govuk-!-margin-top-3">
    <%= govuk_details(t('.what_you_need_to_know_title'), true) do %>
      <%= t('.what_you_need_to_know_html') %>
    <% end %>
  </div>

  <div class="govuk-!-margin-top-3">
    <%= display_errors(@procurement, :tupe)%>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <%= f.radio_button :tupe, true, class: 'govuk-radios__input' %>
        <%= f.label :tupe, 'Yes', value: true, class: 'govuk-label govuk-radios__label' %>
      </div>
      <div class="govuk-radios__item">
        <%= f.radio_button :tupe, false, class: 'govuk-radios__input' %>
        <%= f.label :tupe, 'No', value: false , class: 'govuk-label govuk-radios__label' %>
      </div>
    </div>
  </div>
</div>
</fieldset>
