<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <%= form_for @page_data[:model_object], url: facilities_management_beta_procurements_path do |f| %>
    <div class="govuk-form-group">
      <%= f.label 'Building and street', class: 'govuk-label govuk-!-margin-bottom-1' %>
      <%= govuk_text_input(f, :building, :two_thirds, [:maxlength, 255]) %>
    </div>
    <div class="govuk-form-group">
      <%= govuk_text_input(f, :street, :two_thirds, [:maxlength, 255]) %>
    </div>
    <%= govuk_grouped_fields(f, '', :town_or_city, :county) do |ff, attr| %>
      <%= govuk_start_individual_field(ff, :town_or_city, @page_data[:label_text]) do |a| %>
        <%= govuk_text_input(ff, :town_or_city, :one_half, [:maxlength, 255]) %>
      <% end %>
    <% end %>
    <div class="govuk-heading-s govuk-!-margin-bottom-2">
      Postcode
    </div>
    <p><%= @page_data[:postcode] %></p>
    <%= govuk_continuation_buttons(pd, f, false) %>
  <% end %>
<% end %>
