<h2 class="govuk-heading-m" id="subsection-title">
  <%= t('.header') %>
</h2>
<p class="govuk-body"><%= t('.introduction') %></p>
<h3 class="govuk-heading-s"><%= t('.option1_header') %></h3>
<p class="govuk-body">
  <%= t('.option1_body_html1') %>
</p>
<p class="govuk-body">
  <%= t('.option1_body_html2') %>
</p>
<p class="govuk-body"><%= t('.option_separator') %></p>
<h3 class="govuk-heading-s"><%= t('.option2_header') %></h3>
<p class="govuk-body">
  <%= t('.option2_body_html') %>
</p>
