<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('supply_teachers.page_section') %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :location) do %>
    <label class="govuk-label govuk-label--m" for="postcode">
      <%= t('.postcode_question') %>
    </label>
    <span class="govuk-hint">
      <%= t('.question_hint') %>
    </span>
    <%= display_error(@journey, :location) %>
    <%= text_field_tag :postcode, params[:postcode], class: css_classes_for_input(@journey, :location, ['govuk-input--width-10']) %>
  <% end %>

  <%= govuk_form_group_with_optional_error(@journey, :job_type) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :job_type) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <%= t('.worker_type_question') %>
      </legend>
      <%= display_error(@journey, :job_type) %>
      <div class="govuk-radios">
        <% SupplyTeachers::JobType.roles.each do |job_type| %>
          <div class="govuk-radios__item">
            <%= radio_button_tag :job_type, job_type.code, checked?(params[:job_type], job_type.code), class: 'govuk-radios__input' %>
            <%= label_tag "job_type_#{job_type.code}", job_type.description, class: 'govuk-label govuk-radios__label' %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= govuk_form_group_with_optional_error(@journey, :term) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :term) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <%= t('.worker_term_question') %>
      </legend>
      <%= display_error(@journey, :term) %>
      <div class="govuk-radios">
        <% SupplyTeachers::Term.all.each do |term| %>
          <div class="govuk-radios__item">
            <%= radio_button_tag :term, term.code, checked?(params[:term], term.code), class: 'govuk-radios__input' %>
            <%= label_tag "term_#{term.code}", term.description, class: 'govuk-label govuk-radios__label' %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
