<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'journey/error_summary', locals: { errors: @journey.errors } %>
    <%= form_tag @form_path, method: :get do %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= govuk_form_group_with_optional_error(@journey, :looking_for) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :looking_for) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.question') %>
            </h1>
          </legend>
          <%= display_error(@journey, :looking_for) %>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= radio_button_tag :looking_for, :worker, checked?(params[:looking_for], 'worker'), class: 'govuk-radios__input' %>
              <%= label_tag :looking_for_worker, t('.answer_worker'), class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= radio_button_tag :looking_for, :managed_service_provider, checked?(params[:looking_for], 'managed_service_provider'), class: 'govuk-radios__input' %>
              <%= label_tag :looking_for_managed_service_provider, t('.answer_managed_service_provider'), class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= submit_tag t('common.submit'), class: "govuk-button" %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="cmp-sidebar" role="complementary">
      <%= render partial: 'managed_service_providers_explanation' %>
    </aside>
  </div>
</div>
