<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= content_for :page_title, 'What is your school postcode?' %>
<%= content_for :page_section, 'Find supply teachers and agency workers' %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :location) do %>
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="postcode">
        <%= t('.question') %>
      </label>
    </h1>
    <span id="postcode-hint" class="govuk-hint">
      <%= t('.question_hint') %>
    </span>
    <%= display_error(@journey, :location) %>
    <%= text_field_tag :postcode, params[:postcode], class: css_classes_for_input(@journey, :location, ['govuk-input--width-10']) %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
