<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
    <%= form_tag @form_path, method: :get do %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= govuk_form_group_with_optional_error(@journey, :contract_start_date) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :contract_start_date) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.contract_start_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :contract_start_date) %>
          <span id="contract-start-hint" class="govuk-hint">
            <%= t('.contract_start_question_hint') %>
          </span>
          <div class="govuk-date-input" id="contract-start">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="contract_start_date_day">
                  Day
                </label>
                <%= text_field_tag :contract_start_date_day, @journey.current_step.contract_start_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :contract_start_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="contract_start_date_month">
                  Month
                </label>
                <%= text_field_tag :contract_start_date_month, @journey.current_step.contract_start_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :contract_start_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="contract_start_date_year">
                  Year
                </label>
                <%= text_field_tag :contract_start_date_year, @journey.current_step.contract_start_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :contract_start_date, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :days_per_week) do %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            <%= t('.days_per_week_question') %>
          </h1>
        </legend>
        <%= display_error(@journey, :days_per_week) %>
        <span class="govuk-hint">
          <%= t('.days_per_week_question_hint') %>
        </span>
        <%= text_field_tag :days_per_week, params[:days_per_week], class: css_classes_for_input(@journey, :days_per_week, ['govuk-input--width-3']) %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :day_rate) do %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            <%= t('.day_rate_question') %>
          </h1>
        </legend>
        <%= display_error(@journey, :day_rate) %>
        <span class="govuk-hint">
          <%= t('.day_rate_question_hint') %>
        </span>
        <div class="calculator-form__day-rate">
          <%= text_field_tag :day_rate, params[:day_rate], class: css_classes_for_input(@journey, :day_rate, ['govuk-input--width-10 calculator-form__day-rate-input']) %>
          <i class="govuk-body calculator-form__day-rate-icon"><%= t('.day_rate_icon') %></i>
        </div>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :markup_rate) do %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            <%= t('.markup_rate_question') %>
          </h1>
        </legend>
        <%= display_error(@journey, :markup_rate) %>
        <span class="govuk-hint">
          <%= t('.markup_rate_question_hint') %>
        </span>
        <div class="calculator-form__markup-rate">
          <%= text_field_tag :markup_rate, params[:markup_rate], class: css_classes_for_input(@journey, :markup_rate, ['govuk-input--width-10 calculator-form__markup-rate-input']) %>
          <i class="govuk-body calculator-form__markup-percentage-icon"><%= t('.markup_percentage_icon') %></i>
        </div>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :hire_date) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :hire_date) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.hire_date_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :hire_date) %>
          <span id="hire-date-hint" class="govuk-hint">
            <%= t('.hire_date_question_hint') %>
          </span>
          <div class="govuk-date-input" id="hire-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="hire_date_day">
                  Day
                </label>
                <%= text_field_tag :hire_date_day, @journey.current_step.hire_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :hire_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="hire_date_month">
                  Month
                </label>
                <%= text_field_tag :hire_date_month, @journey.current_step.hire_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :hire_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="hire_date_year">
                  Year
                </label>
                <%= text_field_tag :hire_date_year, @journey.current_step.hire_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :hire_date, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :holiday_1_start_date) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :holiday_1_start_date) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.holiday_1_start_date_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :holiday_1_start_date) %>
          <span id="holiday-1-start-date-hint" class="govuk-hint">
            <%= t('.holiday_1_start_date_question_hint') %>
          </span>
          <div class="govuk-date-input" id="holiday-1-start-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_1_start_date_day">
                  Day
                </label>
                <%= text_field_tag :holiday_1_start_date_day, @journey.current_step.holiday_1_start_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_1_start_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_1_start_date_month">
                  Month
                </label>
                <%= text_field_tag :holiday_1_start_date_month, @journey.current_step.holiday_1_start_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_1_start_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_1_start_date_year">
                  Year
                </label>
                <%= text_field_tag :holiday_1_start_date_year, @journey.current_step.holiday_1_start_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_1_start_date, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :holiday_1_end_date) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :holiday_1_end_date) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.holiday_1_end_date_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :holiday_1_end_date) %>
          <span id="holiday-1-end-date-hint" class="govuk-hint">
            <%= t('.holiday_1_end_date_question_hint') %>
          </span>
          <div class="govuk-date-input" id="holiday-1-end-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_1_end_date_day">
                  Day
                </label>
                <%= text_field_tag :holiday_1_end_date_day, @journey.current_step.holiday_1_end_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_1_end_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_1_end_date_month">
                  Month
                </label>
                <%= text_field_tag :holiday_1_end_date_month, @journey.current_step.holiday_1_end_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_1_end_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_1_end_date_year">
                  Year
                </label>
                <%= text_field_tag :holiday_1_end_date_year, @journey.current_step.holiday_1_end_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_1_end_date, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :holiday_2_start_date) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :holiday_2_start_date) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.holiday_2_start_date_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :holiday_2_start_date) %>
          <span id="holiday-2-start-date-hint" class="govuk-hint">
            <%= t('.holiday_2_start_date_question_hint') %>
          </span>
          <div class="govuk-date-input" id="holiday-2-start-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_2_start_date_day">
                  Day
                </label>
                <%= text_field_tag :holiday_2_start_date_day, @journey.current_step.holiday_2_start_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_2_start_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_2_start_date_month">
                  Month
                </label>
                <%= text_field_tag :holiday_2_start_date_month, @journey.current_step.holiday_2_start_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_2_start_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_2_start_date_year">
                  Year
                </label>
                <%= text_field_tag :holiday_2_start_date_year, @journey.current_step.holiday_2_start_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_2_start_date, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :holiday_2_end_date) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :holiday_2_end_date) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.holiday_2_end_date_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :holiday_2_end_date) %>
          <span id="holiday-2-end-date-hint" class="govuk-hint">
            <%= t('.holiday_2_end_date_question_hint') %>
          </span>
          <div class="govuk-date-input" id="holiday-2-end-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_2_end_date_day">
                  Day
                </label>
                <%= text_field_tag :holiday_2_end_date_day, @journey.current_step.holiday_2_end_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_2_end_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_2_end_date_month">
                  Month
                </label>
                <%= text_field_tag :holiday_2_end_date_month, @journey.current_step.holiday_2_end_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_2_end_date, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="holiday_2_end_date_year">
                  Year
                </label>
                <%= text_field_tag :holiday_2_end_date_year, @journey.current_step.holiday_2_end_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :holiday_2_end_date, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= govuk_form_group_with_optional_error(@journey, :notice_date_day, :notice_date_month, :notice_date_year) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :notice_date_day, :notice_date_month, :notice_date_year) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.notice_date_question') %>
            </h1>
          </legend>
          <%= display_errors(@journey, :notice_date_day, :notice_date_month, :notice_date_year) %>
          <span id="notice-date-hint" class="govuk-hint">
            <%= t('.notice_date_question_hint') %>
          </span>
          <div class="govuk-date-input" id="notice-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notice_date_day">
                  Day
                </label>
                <%= text_field_tag :notice_date_day, @journey.current_step.notice_date_day, pattern: '[0-9]*', class: css_classes_for_input(@journey, :notice_date_day, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notice_date_month">
                  Month
                </label>
                <%= text_field_tag :notice_date_month, @journey.current_step.notice_date_month, pattern: '[0-9]*', class: css_classes_for_input(@journey, :notice_date_month, %w[govuk-date-input__input govuk-input--width-2]) %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notice_date_year">
                  Year
                </label>
                <%= text_field_tag :notice_date_year, @journey.current_step.notice_date_year, pattern: '[0-9]*', class: css_classes_for_input(@journey, :notice_date_year, %w[govuk-date-input__input govuk-input--width-4]) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= submit_tag t('common.submit'), class: "govuk-button" %>
    <% end %>
  </div>
</div>
