<div class="supplier-record">
  <div class="govuk-grid-row supplier-record__header-group">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-font-size-27 supplier-record__supplier-name"><%= branch.supplier_name %></h2>
      <% if branch.name.present? %>
        <h3 class="govuk-heading-s supplier-record__branch"><%= t('.branch') %>: <span class="supplier-record__branch-name"><%= branch.name %></span></h3>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        <strong><%= branch.contact_name %></strong><br />
        <%= format_telephone_number(branch.telephone_number) %><br />
        <%= mail_to(branch.contact_email, branch.contact_email, 'aria-label': "Email #{branch.contact_name} from #{branch.supplier_name}") %>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
        <% if branch.rate %>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-font-size-36 supplier-record__markup-rate">
              <%= number_to_percentage(branch.rate * 100, precision: 1) %>
            </p>
            <p class="govuk-body-s supplier-record__markup-rate-units"><%= t('.markup') %></p>
          </div>
        <% end %>
        <% if branch.distance %>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-font-size-36 supplier-record__distance">
              <%= number_with_precision(metres_to_miles(branch.distance), precision: 1) %>
            </p>
            <p class="govuk-body-s supplier-record__distance-units"><%= t('.miles') %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</div>
