<div class="govuk-!-padding-3 supplier-record__calculator <%= 'supplier-record__calculator--muted' unless branch.worker_cost %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h4 class="govuk-heading-s"><%= t('.heading') %></h4>
    </div>
  </div>
  <span class="govuk-error-message govuk-visually-hidden">
        <span class="govuk-visually-hidden"><%= t('.error') %></span><%= t('.error_message') %>
      </span>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group govuk-!-margin-0">
        <label class="govuk-label govuk-!-font-size-16" for="daily_rate_<%= branch.id %>">
          <%= t('.daily_rate') %>
        </label>
        <div class="calculator-form__day-rate">
          <%= text_field_tag "daily_rate[#{branch.id}]", branch.daily_rate, class: 'govuk-input govuk-input--width-10 calculator-form__day-rate-input' %>
          <i class="govuk-body calculator-form__day-rate-icon">£</i>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body supplier-record__worker-cost">
        <%= branch.fixed_term_length ? number_to_currency(branch.fixed_term_length) : '&nbsp;'.html_safe %>
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
        <%= t('.fixed_term_length') %>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body supplier-record__agency-fee">
        <%= branch.finders_fee ? number_to_currency(branch.finders_fee) : '&nbsp;'.html_safe %>
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
        <%= t('.finders_fee') %>  <%= number_to_percentage(branch.rate * 100, precision: 1, format: "<strong>%n%</string>".html_safe) %>
      </p>
    </div>
  </div>
</div>