<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl cmp-page-heading"><%= t('.header') %></h1>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-s"><%= t('.inputs_header') %></h2>
      <ul class="govuk-list govuk-list--bullet">
        <% @journey.inputs.each do |question_key, answer| %>
        <li class="cmp-inset-text__list-item"><%= t(".inputs.#{question_key}") %>: <%= answer %></li>
        <% end %>
      </ul>
    </div>

    <p class="govuk-body">
      <% if @location %>
        <span class="govuk-body-l"><%= @branches.count %></span> <%= t('.results_found_with_location_html', range: number_to_human(@radius_in_miles, units: :miles), postcode: @location.postcode) %>
        <% @alternative_radiuses.each do |radius| %>
          <%= link_to(
                number_to_human(radius, units: :miles),
                supply_teachers_branches_path(@journey.params.merge(radius: radius))
              ) %>
        <% end %>
      <% else %>
        <span class="govuk-body-l"><%= @branches.count %></span> <%= t('.results_found') %>
      <% end %>
    </p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <% if @branches.any? %>
      <%= render partial: 'branch', collection: @branches %>
    <% end %>
  </div>
</div>
<div class="govuk-grid-row ccs-no-print">
  <div class="govuk-grid-column-full">
    <p class="govuk-body supplier-record__print-option">
      <a href="javascript:window.print()" class="govuk-link"><%= t('.print') %></a>
    </p>
    <p class="govuk-body supplier-record__print-option">
      <%= link_to t('.download'), supply_teachers_branches_path(@journey.params.merge(format: :xlsx)), { class: 'supplier-record__file-download', 'aria-label': t('.download_aria_label') } %>
    </p>
    <p class="govuk-body supplier-record__print-option">
      <% if link_to_calculator? %>
      <%= link_to t('.download_with_calculator'), supply_teachers_branches_path(@journey.params.merge(format: :xlsx, calculations: 'yes')), { class: 'supplier-record__file-download', 'aria-label': t('.download_with_calculator_aria_label') } %>
      <% end %>
    </p>
  </div>
</div>
