<%= content_for :page_title, @branch.supplier.name  %>
<%= content_for :page_section, t('supply_teachers.page_section') %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-!-margin-bottom-0 app-content__section-heading"><%= t('supply_teachers.branches.branch.header') %></p>
    <h1 class="govuk-heading-xl"><%= @branch.supplier.name %></h1>

    <div class="cmp-inset-text--neutral govuk-grid-column-full govuk-!-padding-top-3 govuk-!-padding-left-0">
      <div class="govuk-grid-column-one-third">
        <p><strong><%= t('supply_teachers.branches.branch.branch_name') %></strong>: <br/> <%= @branch.name %></p>
        <p><strong><%= t('supply_teachers.branches.branch.region') %></strong>: <br/> <%= @branch.region %></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p><strong><%= t('supply_teachers.branches.branch.contact_name') %></strong>: <br/> <%= @branch.contact_name %></p>
        <p><strong><%= t('supply_teachers.branches.branch.contact_email') %></strong>: <br/> <%= link_to @branch.contact_email, 'mailto:' + @branch.contact_email %></p>
        <p><strong><%= t('supply_teachers.branches.branch.phone_number') %></strong>: <br/> <%= @branch.telephone_number %></p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p>
          <strong><%= t('c.address') %></strong>:<br/>
          <%= @branch.address_1 %><br/>
          <%= @branch.address_2 %><br/>
          <%= @branch.town %><br/>
          <%= @branch.county %><br/>
          <%= @branch.postcode %>
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-full govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><strong><%= t('supply_teachers.branches.branch.column1') %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric master-vendor-record__markup-column" scope="col"><strong><%= t('supply_teachers.branches.branch.column2') %><br><%= SupplyTeachers::RateTerm['one_week'] %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric master-vendor-record__markup-column" scope="col"><strong><%= t('supply_teachers.branches.branch.column2') %><br><%= SupplyTeachers::RateTerm['twelve_weeks'] %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric master-vendor-record__markup-column" scope="col"><strong><%= t('supply_teachers.branches.branch.column2') %><br><%= SupplyTeachers::RateTerm['more_than_twelve_weeks'] %></strong></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @branch.supplier.rates_grouped_by_job_type.each do |job_type, rates| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><%= SupplyTeachers::JobType[job_type] %></th>
          <% if rates.length == 1 %>
            <% 3.times do %>
              <td class="govuk-table__cell govuk-table__cell--numeric master-vendor-record__markup-column"><%= number_to_percentage(rates.first.mark_up * 100, precision: 1) %></td>
            <% end %>
          <% elsif rates.length == 3 %>
            <% rates.each do |rate| %>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_percentage(rate.mark_up * 100, precision: 1) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>