<div class="govuk-!-width-two-thirds">
  <p class="govuk-body-l">
    <%= t('.intro-text') %>
  </p>

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-s"><%=t('.insurance_heading') %></h2>
    <p>
      <%=t('.insurance_body_html') %>
      <a href="<%= asset_path(t(".contract_documents.joint_schedule_3.file_name"), skip_pipeline: true) %>?format=pdf" type="<%= t('common.type_pdf') %>" download> <%= t(".contract_documents.joint_schedule_3.title") %> </a>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-s"><%=t('.indexation_heading') %></h2>
    <p>
      <%=t('.indexation_body_html') %>
      <a href="<%= asset_path(t(".contract_documents.call_off_schedule_5.file_name"), skip_pipeline: true) %>?format=pdf" type="<%= t('common.type_pdf') %>" download> <%= t(".contract_documents.call_off_schedule_5.title") %> </a>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-s"><%= t('.services_heading') %></h2>
    <p>
      <%= t('.services_body_html_1') %>
      <a href="<%= asset_path(t(".contract_documents.service_requirements_and_standards.file_name"), skip_pipeline: true) %>?format=pdf" type="<%= t('common.type_pdf') %>" download> <%= t(".contract_documents.service_requirements_and_standards.title") %> </a>
      <%= t('.services_body_html_2') %>
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-s"><%=t('.price_heading') %></h2>
    <p><%=t('.price_body_html') %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <%= warning_text(t('.warning_text')) %>
</div>
