<h3 class="govuk-heading-m govuk-!-margin-bottom-1">About the contract</h3>
<table class="govuk-table small">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row" style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
    <td class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
      <table style="width:100%; border-collapse: collapse">
        <tr>
          <th style="width:40%" scope="row" class="govuk-table__header govuk-border-bottom_none <%= 'govuk-!-padding-left-2 govuk-form-group--error' if @procurement.errors[:contract_name].any? %>">Contract
            name
          </th>
          <td style="width:40%" class="govuk-table__cell govuk-border-bottom_none">
            <% if @procurement.contract_name.nil? %>
              <%= link_to "Answer question", edit_facilities_management_beta_procurement_path(:step => 'contract_name'), :class => "govuk-link" %>
            <% else %>
              <%= @procurement.contract_name %>
            <% end %>
          </td>
          <td style="text-align:right" class="govuk-table__cell govuk-border-bottom_none"><%= link_to "Change", edit_facilities_management_beta_procurement_path(:step => 'contract_name'), :class => "govuk-link" unless @procurement.contract_name.nil? %></td>
        </tr>
        <% if @procurement.errors[:contract_name].any? %>
          <tr>
            <td class="govuk-!-padding-left-2 govuk-form-group--error" colspan="3"><%= display_error(@procurement, :contract_name, false) %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr class="govuk-table__row" style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
    <td class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
      <table style="width:100%; border-collapse: collapse">
        <tr>
          <th style="width: 40%" scope="row" class="govuk-table__header govuk-border-bottom_none <%= 'govuk-!-padding-left-2 govuk-form-group--error' if @procurement.errors[:estimated_cost_known].any? %>">Estimated
            annual cost
          </th>
          <td style="width: 40%" class="govuk-table__cell govuk-border-bottom_none">
            <% if @procurement.estimated_cost_known.nil? %>
              <%= link_to "Answer question", edit_facilities_management_beta_procurement_path(:step => 'estimated_annual_cost'), :class => "govuk-link" %>
            <% else %>
              <%= "£#{number_with_delimiter(@procurement.estimated_annual_cost, :delimiter => ',')}" if @procurement.estimated_cost_known? %>
              <%= t('.no_cost_provided') unless @procurement.estimated_cost_known? %>
            <% end %>
          </td>
          <td style="text-align:right" class="govuk-border-bottom_none"><%= link_to "Change", edit_facilities_management_beta_procurement_path(:step => 'estimated_annual_cost'), :class => "govuk-link" unless @procurement.estimated_cost_known.nil? %></td>
        </tr>
        <% if @procurement.errors[:estimated_cost_known].any? %>
          <tr>
            <td class="govuk-!-padding-left-2 govuk-form-group--error" colspan="3"><%= display_error(@procurement, :estimated_cost_known, false) %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr class="govuk-table__row" style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
    <td class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
      <table style="width:100%; border-collapse: collapse">
        <tr>
          <th style="width:40%" scope="row" class="govuk-border-bottom_none govuk-table__header <%= 'govuk-!-padding-left-2 govuk-form-group--error' if @procurement.errors[:tupe].any? %>">TUPE</th>
          <td style="width:40%" class="govuk-table__cell govuk-border-bottom_none">
            <% if @procurement.tupe.nil? %>
            <%=  link_to "Answer question", edit_facilities_management_beta_procurement_path(:step => 'tupe'), :class => "govuk-link" %>
            <% else %>
            <%=  @procurement.tupe? ? 'Yes' : 'No'  %>
            <% end %>
          </td>
          <td style="text-align: right" class="govuk-table__cell govuk-border-bottom_none"><%= link_to "Change", edit_facilities_management_beta_procurement_path(:step => 'tupe'), :class => "govuk-link" unless @procurement.tupe.nil? %></td>
        </tr>
        <% if @procurement.errors[:tupe].any? %>
          <tr>
            <td class="govuk-border-bottom_none govuk-!-padding-left-2 govuk-form-group--error" colspan="3"><%= display_error(@procurement, :tupe, false) %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
  </tbody>
</table>
