<div class="govuk-grid-row govuk-!-margin-top-6">

  <span class="govuk-heading-m govuk-!-margin-bottom-0">
    Do you want the option to extend your call-off contract?
  </span>

  <span class="govuk-caption-m govuk-!-margin-top-0">
    Including this in your contract gives you the option to extend the end date of the<br>
    agreement. Call-off contracts can be let for a maximum period of 10 years,<br>
    inclusive of mobilisation period and all call-off extensions.
  </span>

  <div class="govuk-radios govuk-!-margin-top-3">

    <div class="govuk-radios__item">
      <input class="govuk-radios__input govuk-!-margin-left-0" id="fm-calloff-ext-yes" name="ext-group" type="radio" value="yes" <%= unless @procurement.optional_call_off_extensions_1.nil? then
                                                                                                                                       'checked'
                                                                                                                                     end %>>
      <label class="govuk-label govuk-radios__label govuk-label--s" for="show">
        Yes
      </label>
      <!-- Content for when yes is selected hidden when no is selected -->
      <div id="radio-inner-content" class="radio-inner-content govuk-!-margin-top-3">

        <div id="ext1-container" class="ext-container">
          <span class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-top-1 govuk-!-margin-bottom-0">Extension period 1</span>
          <%= f.number_field :optional_call_off_extensions_1, class: 'govuk-input govuk-input--width-5 govuk-!-margin-left-3', max: '7' %><span class=""> years</span>
        </div>

        <div id="ext2-container" class="ext-container <%= if @procurement.optional_call_off_extensions_2.nil? then
                                                            'govuk-visually-hidden'
                                                          end %>">
          <span class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-top-5 govuk-!-margin-bottom-0">Extension period 2</span>
          <%= f.number_field :optional_call_off_extensions_2, class: 'govuk-input govuk-input--width-5 govuk-!-margin-left-3', max: '7' %><span class=""> years</span>
          <button id="fm-ext2-remove-btn" class="govuk-button govuk-button--secondary <%= unless @procurement.optional_call_off_extensions_3.nil? then
                                                                                            'govuk-visually-hidden'
                                                                                          end %>">Remove</button>
        </div>

        <div id="ext3-container" class="ext-container <%= if @procurement.optional_call_off_extensions_3.nil? then
                                                            'govuk-visually-hidden'
                                                          end %>">
          <span class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-top-5 govuk-!-margin-bottom-0">Extension period 3</span>
          <%= f.number_field :optional_call_off_extensions_3, class: 'govuk-input govuk-input--width-5 govuk-!-margin-left-3', max: '7' %><span class=""> years</span>
          <button id="fm-ext3-remove-btn" class="govuk-button govuk-button--secondary <%= unless @procurement.optional_call_off_extensions_4.nil? then
                                                                                            'govuk-visually-hidden'
                                                                                          end %>">Remove
          </button>
        </div>

        <div id="ext4-container" class="ext-container <%= if @procurement.optional_call_off_extensions_4.nil? then
                                                            'govuk-visually-hidden'
                                                          end %>">
          <span class="govuk-heading-s govuk-!-margin-left-3 govuk-!-margin-top-5 govuk-!-margin-bottom-0">Extension period 4</span>
          <%= f.number_field :optional_call_off_extensions_4, class: 'govuk-input govuk-input--width-5 govuk-!-margin-left-3', max: '7' %><span class=""> years</span>
          <button id="fm-ext4-remove-btn" class="govuk-button govuk-button--secondary">Remove</button>
        </div>

        <button id="fm-add-contract-ext-btn" class="govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-margin-top-3">+ Add another extension period</button>

      </div>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input govuk-!-margin-left-0" id="fm-calloff-ext-no" name="ext-group" type="radio" value="no">
      <label class="govuk-label govuk-radios__label govuk-label--s" for="hide">
        No
      </label>
    </div>
  </div>
</div>
