<%= govuk_page_content(@page_description, @page_data[:model_object], false, true) do |pd| %>
  <%= form_for @procurement, url: facilities_management_beta_procurement_path(@procurement.id, step: :continue_to_change_contract_value), method: :patch, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= f.hidden_field :lot_number_selected_by_customer, value: true %>
    <% unless @procurement.some_services_unpriced_and_no_buyer_input? %>
      <h2 class="govuk-heading govuk-heading-m govuk-!-width-three-quarters"><%= t('.heading') %></h2>
      <h2 class="govuk-caption-m govuk-!-width-three-quarters"><%= t('.description_html') %></h2>
      <%= govuk_grouped_field(f, nil, :lot_number) do |ff, attr| %>
        <%= govuk_start_individual_field(ff, attr.first, {}, false, false) do |a| %>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <%= f.radio_button :lot_number, '1a', class: 'govuk-radios__input' %>
              <%= f.label :lot_number, value: '1a', class: 'govuk-label govuk-radios__label' do %>
                <%= t('.lot_number_1a_description') %>
              <% end %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :lot_number, '1b', class: 'govuk-radios__input' %>
              <%= f.label :lot_number, value: '1b', class: 'govuk-label govuk-radios__label' do %>
                <%= t('.lot_number_1b_description') %>
              <% end %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :lot_number, '1c', class: 'govuk-radios__input' %>
              <%= f.label :lot_number, value: '1c', class: 'govuk-label govuk-radios__label' do %>
                <%= t('.lot_number_1c_description') %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class='govuk-body-l govuk-!-width-three-quarters'>
        <%= t('.contract_value_heading')%>
      </div>
      <div class='govuk-body'>
        <h3 class='govuk-heading-m govuk-!-margin-bottom-1'>
            <%= t('.partialy_estimated_contract_value') %>
        </h3>
        <div class='govuk-!-font-size-24'>
          <%= format_money @procurement.assessed_value, 0 %>
        </div>
      </div>
      <div class='govuk-body'>
        <h3 class='govuk-heading-m govuk-!-margin-bottom-1'>
            <%= t('.sugested_sublot') %>
        </h3>
        <div class='govuk-!-font-size-24'>
        <% if @procurement.assessed_value < 7e6 %>
          <%= t('.sub_lot_1a') %>
        <% elsif @procurement.assessed_value <= 5e7 %>
          <%= t('.sub_lot_1b') %>
        <% else %>
          <%= t('.sub_lot_1c') %>
        <% end %>
        </div>
      </div>
      <div class='govuk-body'>
      <h3 class='govuk-heading-m govuk-!-margin-bottom-1'>
          <%= t('.following_services_are_not_included') %>
      </h3>
      <div class='govuk-!-font-size-24'>
        <%= govuk_details("#{t('.service').pluralize(@page_details[:unpriced_services].size)} (#{@page_details[:unpriced_services].size})", true) do %>
          <ul class="govuk-list govuk-list--bullet">
            <% @page_details[:unpriced_services].each do |service| %>
              <li><%= service %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
      <% if @procurement.assessed_value <= 5e7 %>
        <div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors.any? %>">
          <fieldset class='govuk-fieldset'>
            <legend class='govuk-fieldset__legend govuk-fieldset__legend--m'>
              <h1 class='govuk-fieldset__heading govuk-!-width-three-quarters govuk-!-margin-bottom-2'>
                <%= t('.can_you_estimate_cost') %>
              </h1>
              <span class='govuk-hint govuk-!-font-size-19 govuk-!-width-three-quarters'>
                <%= t('.help_place_sublot_html') %>
              </span>
            </legend>
            <%= display_errors(@procurement, :lot_number)%>
            <div class="govuk-radios">
              <% if @procurement.assessed_value < 7e6 %>
                <div class="govuk-radios__item">
                  <%= f.radio_button :lot_number, '1a', class: 'govuk-radios__input' %>
                  <%= f.label :lot_number, value: '1a', class: 'govuk-label govuk-radios__label' do %>
                    <span class='ccs-font-weight-semi-bold'><%= t('.sub_lot_1a') %></span>
                    <span class='govuk-hint'><%= t('.sub_lot_1a_hint')%></span>
                  <% end %>
                </div>
              <% end %>
              <div class="govuk-radios__item">
                <%= f.radio_button :lot_number, '1b', class: 'govuk-radios__input' %>
                <%= f.label :lot_number, value: '1b', class: 'govuk-label govuk-radios__label' do %>
                  <span class='ccs-font-weight-semi-bold'><%= t('.sub_lot_1b') %></span>
                  <span class='govuk-hint'><%= t('.sub_lot_1b_hint')%></span>
                <% end %>
              </div>
              <div class="govuk-radios__item">
                <%= f.radio_button :lot_number, '1c', class: 'govuk-radios__input' %>
                <%= f.label :lot_number, value: '1c', class: 'govuk-label govuk-radios__label' do %>
                  <span class='ccs-font-weight-semi-bold'><%= t('.sub_lot_1c') %></span>
                  <span class='govuk-hint'><%= t('.sub_lot_1c_hint')%></span>
                <% end %>
              </div>
            </div>
          </fieldset>
        </div>
        <div class='govuk-body govuk-!-font-size-24'>
          <%= t('.not_able_to_select_range') %>
        </div>
      <% else %>
        <%= f.hidden_field(:lot_number, value: '1c') %>
      <% end %>
    <% end %>
    <%= govuk_continuation_buttons(pd, f) %>
  <% end %>
<% end %>