<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-font-size-24">
    Contract period
  </dt>

  <dd class="govuk-summary-list__value">
    <a class="govuk-link" href="#">
      Answer all questions
    </a>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Initial call-off period
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.initial_call_off_period %> years
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Initial call-off period start date
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.initial_call_off_start_date %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Initial call-off period end date
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.initial_call_off_end_date %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Mobilisation period
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.mobilisation_period %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Optional call-off extension 1
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.optional_call_off_extensions_1 %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Optional call-off extension 2
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.optional_call_off_extensions_2 %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Optional call-off extension 3
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.optional_call_off_extensions_3 %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Optional call-off extension 3
  </dt>
  <dd class="govuk-summary-list__value">
    <%= @procurement.optional_call_off_extensions_3 %>
  </dd>
  <dd class="govuk-summary-list__actions">
  </dd>
</div>
