<div class="<%= section_name %> data-section" data-section="<%= section_name %>" >
  <div class="govuk-grid-row filter-component-container-grey" style="margin-bottom: 20px">
    <div class="govuk-grid-row filter-component-container-grey" style="float: left">
      <strong class="govuk-heading-m govuk-!-margin-0 govuk-!-padding-1">
        <%= section_title %>
      </strong>
    </div>
    <div class="govuk-grid-row govuk-!-padding-1 filter-component-container-grey" style="float: right">
      <%= link_to change_title, change_link, class: 'govuk-link govuk-!-font-size-19'  unless @procurement.persisted? %>
      <%= link_to change_title, edit_facilities_management_beta_procurement_path(@procurement.id, step: section_name + 's'), class: 'govuk-link govuk-!-font-size-19'  if @procurement.persisted? %>
    </div>

    <div class="govuk-grid-row filter-component-container-grey" style="clear: both">
      <details class="govuk-details" data-module="govuk-details" style="background-color: white; padding: 10px; margin: 10px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= "#{collection.length} selected" %>
          </span>
        </summary>
        <div class="govuk-details__text ">
          <ul class="govuk-list govuk-list--bullet govuk-body-m">
            <% collection.each do |item| %>
              <li><%= item.name.gsub(160.chr("UTF-8"), " ") %></li>
            <% end %>
          </ul>
        </div>
      </details>
    </div>
  </div>
</div>
