<div class="filter-panel">
  <% if @change %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a id="" href="" style="width:100%" class="filter-toggle govuk-button ccs-no-print govuk-!-margin-top-6" role="button"><%= t('.hide_filters')%></a><br/>
      </div>
    </div>
  <% end %>
  <div class="govuk-grid-row">
    <div class="filter-pane govuk-grid-column-one-third">
      <div class="govuk-!-padding-2 filter-component-container">
        <div class="govuk-grid-row ccs-no-print govuk-!-padding-0">
          <div class="govuk-grid-column-full"><strong class="govuk-heading-m"><%=t('.apply_filters') %></strong></div>
        </div>
        <%= render partial: 'filter_data_section', locals: { section_name: 'region', section_title: t('.region'), change_title: t('.change_add_region'), collection: @regions, superset: @procurement.region_codes} %>
        <%= render partial: 'filter_data_section', locals: { section_name: 'service', section_title: t('.service'), change_title: t('.change_add_service'), collection: @services, superset: @procurement.service_codes} %>
      </div>
    </div>
    <!-- Start of main list section -->
    <div id="proc-CCS-fm-suppliers-long-list" class="filter-pane-target govuk-grid-column-two-thirds">
      <%= render partial:'facilities_management/beta/procurements/long_list/lot1a'%>
      <%= render('facilities_management/beta/procurements/long_list/lot1b') %>
      <%= render('facilities_management/beta/procurements/long_list/lot1c') %>
    </div>
  </div>
</div>