<div class="govuk-!-margin-top-3">
  <%= f.hidden_field :tupe, class: 'tupe_indicator' %>
  <div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:initial_call_off_period].any?%>" data-propertyname="Initial call-off period">
    <%= f.label :initial_call_off_period, 'Initial call-off period', class: "govuk-heading-m govuk-!-margin-bottom-0"%>
    <p class="govuk-caption-m govuk-!-margin-top-0 govuk-!-width-two-thirds">
      The initial period in which the services are provided. This is the date you want services to begin and can be a maximum of 7 years.
    </p>
    <%= display_errors(f.object, :initial_call_off_period)%>
    <%= f.number_field :initial_call_off_period, class: "govuk-input govuk-input--width-4 #{'govuk-input--error' if @procurement.errors[:initial_call_off_period].any?}", min:1, maxlength:2, max: 7 %>
    <span class="govuk-label--s govuk-!-margin-left-2"> years </span>
  </div>
</div>

<div class="govuk-!-margin-top-5">
  <div class="govuk-form-group initial_call_off_start_date <%= 'govuk-form-group--error' if @procurement.errors[:initial_call_off_start_date].any?%>"
       data-propertyname="Initial call-off start date">
    <%= f.label :initial_call_off_start_date, 'Initial call-off start date', class: "govuk-heading-s govuk-!-margin-bottom-0"%>
    <span class="govuk-caption-m">For example, 28 2 2021</span>
    <%= display_errors(f.object, :initial_call_off_start_date)%>
    <%= f.gov_uk_date_field :initial_call_off_start_date, legend_options: { page_heading: false, visually_hidden: true } %>
  </div>
  
  <div class="govuk-form-group initial_call_off_end_date <%= 'govuk-form-group--error' if @procurement.errors[:initial_call_off_end_date].any?%>"
       data-propertyname="Initial call-off end date">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="initial_call_off_end_date_label">
    <legend class="govuk-fieldset__legend">
      <%= f.label :initial_call_off_end_date, 'Initial call-off end date', class: "govuk-heading-s govuk-!-margin-bottom-0", id: 'initial_call_off_end_date_label'%>
    </legend>
    <%= display_error_label(@procurement, :initial_call_off_end_date, '', "#{f.object_name}_initial_call_off_end_date_dd") %>
      <div class="govuk-date-input" id="date-input">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="contract-end-date-dd">
              Day
            </label>
            <input readonly class="govuk-input govuk-date-input__input govuk-input--width-2 fm-read-only-date-field" id="contract-end-date-dd" name="contract-end-date-dd" >
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="contract-end-date-mm">
              Month
            </label>
            <input  readonly class="govuk-input govuk-date-input__input govuk-input--width-2 fm-read-only-date-field" id="contract-end-date-mm" name="contract-end-date-mm" >
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="contract-end-date-yyyy">
              Year
            </label>
            <input  readonly class="govuk-input govuk-date-input__input govuk-input--width-4 fm-read-only-date-field" id="contract-end-date-yyyy" name="contract-end-date-yyyy" >
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
