<div class="govuk-grid-row quicksearchassistant" action="<%= params[:action]%>" classification="procurement" module="facilities_management">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <%= render partial: 'filter_details', locals: { form: f } %>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-5">
      <h2 class="govuk-heading-m"><%= t('.continue_headline') %></h2>
    </div>
    <div class="govuk-grid-row">
      <p class="govuk-caption-l"><%= t('.continue_text') %></p>
    </div>
    <% unless @procurement.persisted? %>
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <h2 class="govuk-heading-m"><%= t('.save_headline') %></h2>
      </div>
      <div class="govuk-grid-row">
        <p class="govuk-caption-l"><%= t('.save_text') %></p>
      </div>
      <div class="govuk-grid-row">
        <%= govuk_form_field @procurement, f, :name, t('.new_name_label'), {'data-module' => 'character-count', 'data-maxlength' => 100}, {:class => 'govuk-input--width-20'} do%>
          <%= validation_error(@procurement, :name, :too_long, t('.name_text_length_warning') ) %>
          <%= validation_error(@procurement, :name, :too_short, t('.name_text_required') ) %>
        <%end %>
        <div class="govuk-caption-m govuk-!-margin-top-3" data-module="character-count" data-maxlength="100">
          <div class="govuk-form-group">
            <%= f.label :name, t('.new_name_label'), class: 'govuk-label' %>
            <%= validation_error(@procurement, :name, :too_long, t('.name_text_length_warning') ) %>
            <%= validation_error(@procurement, :name, :too_short, t('.name_text_required') ) %>
            <%= f.text_field :name, maxlength: 150, required: true, class: 'govuk-input govuk-input--width-20 js-character-count' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
