<%= govuk_page_content(@page_description, @page_data[:model_object], false, true) do |pd| %>
  <% unless @procurement.lot_number_selected_by_customer %>
    <h1 class="govuk-heading govuk-heading-l govuk-!-width-two-thirds"><%= t('.sub-text') %></h1>
    <h1 class="govuk-heading govuk-heading-l"><%= t('.sub-lot') %>&nbsp;<%= @page_data[:selected_sublot] %></h1>
    <h2 class="govuk-heading govuk-heading-m"><%= t('.estimated_cost') %>
    <br/><span class="govuk-heading govuk-heading-l"><%= number_to_currency(@page_data[:estimated_cost], precision: 0) %></span></h2>
    <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('.estimated_cost_how') %>
        </span>
      </summary>
      <div class="govuk-details__text govuk-!-width-two-thirds">
        <%= t('.estimated_cost_calc_html') %>
      </div>
    </details>
  <% else %>
    <h1 class="govuk-heading govuk-heading-l govuk-!-width-three-quarters"><%= t('.sub-text-FC-unpriced') %></h1>
    <h1 class="govuk-heading govuk-heading-l govuk-!-margin-bottom-1">
      <%= t(".sub-lot-#{@procurement.lot_number}") %>
    </h1>
    <div class="govuk-hint">
      <%= t(".hint-text-unpriced-sub-lot-#{@procurement.lot_number}") %>
    </div>
  <% end %>
  <h2 class="govuk-heading govuk-heading-m govuk-!-margin-bottom-0"><%= t('.suppliers_shortlisted_html', count: @page_data[:no_suppliers]) %></h2>
  <h2 class="govuk-heading govuk-heading-s govuk-!-margin-top-0"><%= t('.who_are') %></h2>
  <% @page_data[:supplier_collection].each do |s| %>
    <p><%= s %></p>
    <%= '<hr class="govuk-!-width-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">'.html_safe unless s.equal?(@page_data[:supplier_collection].last) %>
  <% end %>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-width-two-thirds"/>
  <h2 class="govuk-heading govuk-heading-m"><%= t('.building_services_summary') %></h2>
  <div class="govuk-!-margin-bottom-4">
    <%= govuk_details "#{'Building'.pluralize(@page_data[:buildings].length)} (#{@page_data[:buildings].length})", true do %>
      <ul class="govuk-list govuk-list--bullet">
        <% @page_data[:buildings].each do |b| %>
          <li><%= b %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <%= govuk_details "#{'Service'.pluralize(@page_data[:services].uniq.length)} (#{@page_data[:services].uniq.length})", true do %>
      <ul class="govuk-list govuk-list--bullet">
        <% @page_data[:services].uniq.each do |s| %>
          <li><%= s %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-width-two-thirds"/>
  <%= form_for @procurement, url: facilities_management_beta_procurement_path(@procurement.id), method: :patch, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= govuk_grouped_field(f, t('.available_routes_to_market'), :route_to_market) do |ff, attr| %>
      <%= f.hidden_field :route_to_market %>
      <%= govuk_start_individual_field(ff, attr, {}, false, false) do |a| %>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= f.radio_button :route_to_market, 'da_draft', class: 'govuk-radios__input' %>
            <%= f.label :route_to_market, value: 'da_draft', class: 'govuk-label govuk-radios__label' do %>
              <%= t('.direct_award_label_html', price: number_to_currency(@page_data[:supplier_prices].min, precision: 0)) %>
            <% end %>
            <%= govuk_details t('.what_is_da') do %>
              <ul class="govuk-list govuk-list--bullet">
                <%= t('.da_list_html') %>
              </ul>
            <% end %>
          </div>
          <div class="govuk-radios__item">
            <%= f.radio_button :route_to_market, 'further_competition', class: 'govuk-radios__input' %>
            <%= f.label :route_to_market, value: 'further_competition', class: 'govuk-label govuk-radios__label' do %>
              <%= t('.further_competition_html') %>
            <% end %>
            <%= govuk_details t('.what_is_fc') do %>
              <ul class="govuk-list govuk-list--bullet">
                <%= t('.fc_list_html') %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end if @page_data[:model_object].eligible_for_da %>
    <%= contained_content(t('.available_routes_to_market')) do %>
      <%= f.hidden_field :route_to_market, value: 'further_competition' %>
      <%= govuk_details t('.what_is_fc') do %>
        <ul class="govuk-list govuk-list--bullet">
          <%= t('.fc_list_html') %>
        </ul>
      <% end %>
    <% end unless @page_data[:model_object].eligible_for_da %>
    <p><%= t('.any_changes') %></p>
    <%= govuk_continuation_buttons(pd, f) %>
    <a href="javascript:window.print()" class="govuk-clearfix govuk-!-margin-top-6 govuk-link govuk-link--no-visited-state ccs-print-icon">Print
      this page</a>
  <% end %>
<% end %>
