<%if @delete %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= t('.delete_message') %>
    </strong>
  </div>
<%end %>
<% if @building_count.zero? && @procurement.detailed_search? %>
  <%= render partial: 'no_buildings' %>%
<% else %>
  <div class="govuk-grid-row">
    <%= link_to 'Back', @back_link, class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' if @procurement.detailed_search? %>
  </div>
  <%= form_for @procurement, url: facilities_management_beta_procurement_path(@procurement.id), method: :put, html: { multipart: true } do |f| %>
    <div class="govuk-grid-row">
      <div id="ccs-error-sum" class="govuk-error-summary  <%= 'govuk-visually-hidden' unless f.object.errors.any? %> ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          <%= t('common.error_summary_title') %>
        </h2>
        <div class="govuk-error-summary__body">
          <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list">
            <% f.object.errors.keys.each do |attribute| %>
              <li>
                <%= link_to f.object.errors[attribute].first, "##{error_id(attribute)}" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <span class="govuk-caption-xl"><%= @procurement.detailed_search? ? t('.detailed_search') : t('.quick_search') %> - <%= @procurement.name %></span>
    </div>

    <div class="procurement govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= govuk_form_group_with_optional_error(@procurement, :name) do %>
          <% if @procurement.quick_search? %>
            <%= render partial: 'quick_search_form', locals: { f: f, step: params[:step] } %>
          <% else %>
            <%= render partial: "facilities_management/beta/procurements/edit/#{params[:step]}", locals: { f: f } %>
          <% end %>
        <% end %>
        <%= f.hidden_field :step, value: params[:step] if params[:step] %>
        <div class="govuk-grid-row govuk-!-margin-top-5">
          <% if @delete %>
            <%= link_to t('.confirm_delete'), facilities_management_beta_procurement_path(@procurement), :method => 'delete', class: "govuk-button govuk-button--warning" %>
            <%= link_to t('.cancel'),  facilities_management_beta_procurements_url, class: "govuk-button govuk-button--secondary govuk-!-margin-left-3" %>
          <% elsif %w[regions services].include? params[:step] %>
            <%= f.submit t('.save'), class: 'govuk-button', name: 'next_step' %>
          <% else %>
            <%= f.submit t('.save_and_continue'), class: 'govuk-button', name: @procurement.detailed_search? ? 'next_step' : 'start_detailed_search' %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3'  if @procurement.detailed_search? %>
            <%= f.submit t('.save_for_later'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3'  if @procurement.quick_search? %>
          <%end %>
        </div>

        <% if params[:step] && @procurement.detailed_search? %>
          <div class="govuk-grid-row">
            <span class="govuk-caption-m"><%= t(".next_step.#{params[:step]}") %></span>
          </div>
        <% end %>

        <% if @procurement.detailed_search? %>
          <div class="govuk-grid-row govuk-!-margin-top-3">
            <%= link_to 'Back to detailed search summary', facilities_management_beta_procurement_path(@procurement), class: 'govuk-link--no-visited-state' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
