<%= form_for @procurement, url: facilities_management_beta_procurements_path, method: :patch, html: { multipart: true } do |f| %>
<%if @delete %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= t('.delete_message') %>
    </strong>
  </div>
<%end %>
<span class="govuk-caption-l govuk-!-padding-top-0"><%= t('.search_result') %></span>
<h1 class="govuk-heading-xl govuk-!-padding-top-0"><%= @procurement.name %></h1>
<p><%= t('.search_show_body_html') %></p>
<div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
  <div class="procurement govuk-row">
    <%if @change %>
      <h2 class="govuk-heading-m"><%= t('.continue_to_procurement') %></h2>
      <p><%= t('.continue_body_html') %></p>
      <%= render partial:'edit_procurement', locals: {delete: @delete, change: @change} %>
    <%else %>
      <%= render partial:'destroy_procurement', locals: {delete: @delete, change: @change} %>
    <%end %>
  </div>
</div>
<div class="govuk-!-margin-top-5 ccs-no-print">
  <a id="print-short-list" href="" class="govuk-link--no-visited-state print-page">Print this page</a>
</div>
<% end %>

<% if @change %>
<script type="text/javascript" charset="utf-8" async="false" defer="defer">
    window.addEventListener("load", function () {
        QuickSearchResultsAssistant.init("procurement", "edit", "facilities_management", '<%= @procurement.id %>');
    });
</script>
<%end %>
