<div class="govuk-body">
    <div class="grid-column-two-thirds">
      <a class="govuk-back-link govuk-!-margin-top-6 ccs-no-print" aria-label="Back to the previous page" href=".">Back</a>
      <% if @deleted %>
        <div class="govuk-grid-row">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Your search was deleted
            </h1>
            <div class="govuk-panel__body">
              '<%= @what_was_deleted %>' search result was deleted.
            </div>
          </div>
        </div>
      <% end %>

      <h1 class="govuk-heading-xl"><%= t('.manage_procurements') %></h1>

      <a class="govuk-button govuk-!-margin-top-4  govuk-!-margin-bottom-8 govuk-!-padding-left-5 govuk-!-padding-right-5" href="/facilities-management/choose-services">Start a new procurement</a>

      <h1 class="govuk-heading-m">Searches</h1>

      <%= render partial: 'facilities_management/beta/procurements/dashboard_tables/searches' %>

      <h1 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Direct award</h1>

      <h1 class="govuk-heading-m">In draft</h1>

      <%= render partial: 'facilities_management/beta/procurements/dashboard_tables/in_draft' %>

      <h1 class="govuk-heading-m govuk-!-margin-top-8">Sent offers</h1>

      <%= render partial: 'facilities_management/beta/procurements/dashboard_tables/sent_offers' %>

      <h1 class="govuk-heading-m govuk-!-margin-top-8">Contracts</h1>

      <%= render partial: 'facilities_management/beta/procurements/dashboard_tables/contracts' %>

      <h1 class="govuk-heading-m govuk-!-margin-top-8">Closed</h1>

      <%= render partial: 'facilities_management/beta/procurements/dashboard_tables/closed' %>

    </div>
</div>
