<a href="<%= request.referer %>" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl"><%= t('.search_results') %></h1>
<p class="govuk-caption-l"><%= t('.search_result_body_html') %></p>
<%= form_for @procurement, url: facilities_management_beta_procurements_path, method: :post, html: { multipart: true } do |f| %>
  <%= govuk_form_group_with_optional_error(@procurement, :name) do %>
      <%= display_errors(@procurement, :name) %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a id="filter-toggle-btn" id="filter-toggle-btn" href="" style="width:100%" class="govuk-button ccs-no-print govuk-!-margin-top-6" role="button"><%= t('.hide_filters')%></a><br/>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div id="fm-filter-pane">
          <div class="govuk-!-padding-2 CCS-fm-supplier-filter-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half"><strong class="govuk-heading-m ccs-no-print"><%=t('.apply_filters') %></strong></div>
            </div>
            <%= render partial: 'filter_section', locals: {section_name: 'region', section_title: t('.region'), change_title: t('.change_add_region'), collection: @regions, superset: @procurement.region_codes} %>
            <%= render partial: 'filter_section', locals: {section_name: 'service', section_title: t('.service'), change_title: t('.change_add_service'), collection: @services, superset: @procurement.service_codes} %>
          </div>
        </div>
      </div>
      <!-- Start of main list section -->
      <div id="CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
        <%= render('facilities_management/long_list/lot1a') %>
        <%= render('facilities_management/long_list/lot1b') %>
        <%= render('facilities_management/long_list/lot1c') %>
      </div>
      <h2 class="govuk-heading-m"><%= t('.continue_headline') %></h2>
      <p class="govuk-caption-l"><%= t('.continue_text') %></p>
      <h2 class="govuk-heading-m"><%= t('.save_headline') %></h2>
      <p class="govuk-caption-l"><%= t('.save_text') %></p>
      <p class="govuk-caption-m">
        <%= f.text_field :name, maxlenth: 100, class: 'govuk-input govuk-input--width-20' %>
        <br />
        <span class="govuk-caption-m">You have <span id="fm-procurement-name-chars-left">100</span> characters remaining</span>
      </p>
      <%= f.submit t('.save_your_search'), class: 'govuk-button' %>
      <%= f.submit t('.save_for_later'), name: 'save_for_later', class: 'govuk-button govuk-button--secondary govuk-!-margin-left-4' %><br/>
      <%= link_to t('.cancel_text'), facilities_management_beta_procurements_path, class: 'govuk-link'%>
    </div>
    <% end %>
  <div class="govuk-row">
  </div>
<% end %>
