<%= form_for @procurement, url: facilities_management_beta_procurements_path, method: :post, html: { multipart: true } do |f| %>
  <%= govuk_form_group_with_optional_error(@procurement, :name) do %>
      <%= display_errors(@procurement, :name) %>
      <a id="filter-toggle-btn" id="filter-toggle-btn" href="" class="govuk-button ccs-no-print govuk-!-margin-top-6" role="button">Hide
      filters</a><br>
      <div id="fm-filter-pane" class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <% @regions.each do |region| %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag(
                  "facilities_management_procurement[region_codes][]",
                  region.code,
                  @procurement.region_codes.include?(region.code),
                  class: "govuk-checkboxes__input",
                  id: "facilities_management_procurement_region_codes_region_#{region.code}"
                  )
                %>
                <label class="govuk-label govuk-checkboxes__label" for="region_<%= region.code %>">
                  <%= region.name %>
                </label>
              </div>
            <% end %>
            <% @services.each do |service| %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag(
                  "facilities_management_procurement[service_codes][]",
                  service.code,
                  @procurement.service_codes.include?(service.code),
                  class: "govuk-checkboxes__input",
                  id: "facilities_management_procurement_service_codes_service_#{service.code}"
                  )
                %>
                <label class="govuk-label govuk-checkboxes__label" for="service_<%= service.code %>">
                  <%= service.name %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Start of main list section -->
      <div id="CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
        <%= render('facilities_management/long_list/lot1a') %>
        <%= render('facilities_management/long_list/lot1b') %>
        <%= render('facilities_management/long_list/lot1c') %>
      </div>
      <h2><%= t('.continue_headline') %></h2>
      <p><%= t('.continue_text') %></p>
      <h2><%= t('.save_headline') %></h2>
      <p><%= t('.save_text') %></p>
      <div>
        <%= f.text_field :name %>
      </div>
    <% end %>
  <%= f.submit 'Create', class: 'govuk-button' %>
<% end %>
