<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd|%>
  <h1 class="govuk-heading govuk-heading-l govuk-!-width-two-thirds"><%= t('.sub-text') %></h1>
  <h1 class="govuk-heading govuk-heading-l"><%= t('.sub-lot') %>&nbsp;<%= @page_data[:selected_sublot] %></h1>
  <h2 class="govuk-heading govuk-heading-m"><%= t('.estimated_cost') %><br/><span class="govuk-heading govuk-heading-l"><%= number_to_currency(@page_data[:estimated_cost]) %></span></h2>
  <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%= t('.estimated_cost_how') %>
      </span>
    </summary>
    <div class="govuk-details__text govuk-!-width-two-thirds">
      <%=t('.estimated_cost_calc_html') %>
    </div>
  </details>
  <h2 class="govuk-heading govuk-heading-m govuk-!-margin-bottom-0"><%= t('.suppliers_shortlisted_html', count:@page_data[:no_suppliers])%></h2>
  <h2 class="govuk-heading govuk-heading-s govuk-!-margin-top-0"><%= t('.who_are') %></h2>
  <%@page_data[:supplier_collection].each do |s| %>
    <p><%=s %></p>
    <hr class="govuk-!-width-one-third govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <%end %>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-width-two-thirds"/>
  <h2 class="govuk-heading govuk-heading-m"><%= t('.building_services_summary') %></h2>
  <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%='Building'.pluralize(@page_data[:buildings].length) %> (<%=@page_data[:buildings].length %>)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul>
        <%@page_data[:buildings].each do |b| %>
          <li><%=b%></li>
        <%end %>
      </ul>
    </div>
  </details>
  <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%='Service'.pluralize(@page_data[:services].length) %> (<%=@page_data[:services].length %>)
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul>
        <%@page_data[:services].each do |s| %>
          <li><%=s %></li>
        <%end %>
      </ul>
    </div>
  </details>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-width-two-thirds"/>
  <%=form_for @page_data[:model_object], url: facilities_management_beta_procurement_set_route_to_market_path(@procurement.id), method: :put, html: {specialvalidation: true, novalidate: true, multipart: true } do |f|%>
    <%= f.hidden_field :route_to_market%>
    <%= govuk_prevent_submission(f, true) %>
    <%= govuk_grouped_field(f, 'Available routes to market', :route_to_market) do |ff, attr| %>
      <%= govuk_start_individual_field(ff,attr) do |a| %>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= f.radio_button :route_to_market, 'direct_award', class:'govuk-radios__input' %>
            <%= f.label :route_to_market, value: 'direct_award', class: 'govuk-label govuk-radios__label' do %>
              <%= t('.direct_award_label_html', price: number_to_currency(@page_data[:supplier_prices].min)) %>
            <%end %>
            <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <%= t('.what_is_da') %>
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <%= t('.da_list_html') %>
                </ul>
              </div>
            </details>
          </div>
          <div class="govuk-radios__item">
            <%= f.radio_button :route_to_market, 'further_competition', class:'govuk-radios__input' %>
            <%= f.label :route_to_market, value: 'further_competition', class: 'govuk-label govuk-radios__label' do %>
              <%= t('.further_competition') %>
            <%end %>
            <details class="govuk-details govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  <%= t('.what_is_fc') %>
                </span>
              </summary>
              <div class="govuk-button-secondary govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <%= t('.fc_list_html') %>
                </ul>
              </div>
            </details>
          </div>
        </div>
      <%end %>
      <p><%= t('.any_changes') %></p>
      <%= govuk_continuation_buttons(pd, f) %>
      <br/><a href="javascript:window.print()" class="govuk-clearfix govuk-!-margin-top-6 govuk-link govuk-link--no-visited-state ccs-print-icon">Print this page</a>
    <%end %>
  <%end %>
<% end %>
