<!--
<div class="govuk-body">
  <div class="govuk-grid-row">
    <%= render('facilities_management/beta/procurements/shared/backlink_header') %>
    <span class="govuk-caption-m"><%= @procurement.name %></span>
    <h1 class="govuk-heading-xl">Detailed search summary</h1>
    <p>
      Once you have answered all of the questions below, you will be provided with an estimated cost and shortlist of suppliers in the recommended sub-lot.
    </p>
  </div>

  <div class="govuk-grid-row">
    <form>
      <dl class="govuk-summary-list">
        <%= render('about_the_contract') %>
<%= render('contract_period') %>
<%= render('about_the_work') %>
      </dl>
    </form>
  </div>
  <div>
    <%= render('continue_button_footer') %>
  </div>

</div>
-->
<%= render('contract_dates') %>