<%= link_to 'Back', facilities_management_beta_procurements_url, class: "govuk-back-link govuk-!-margin-bottom-5" %>
<span class="govuk-caption-l govuk-!-padding-top-0"><%= t(:search_result, :scope => :edit) %></span>
<h1 class="govuk-heading-xl govuk-!-padding-top-0"><%= @procurement.name %></h1>
<p><%= t('facilities_management.beta.procurements.edit.search_show_body_html') %></p>
<div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
  <%= render partial: 'show_procurement', locals: { delete: false, change: false} %>
</div>
<div class="govuk-!-margin-top-5 ccs-no-print">
  <a id="print-short-list" href="" class="govuk-link--no-visited-state print-page">Print this page</a>
</div>

