<%= content_for :page_title, t('.page_title') %>
<%= crown_marketplace_breadcrumbs(
  { text: t('crown_marketplace.allow_list.index.heading_title'), href: crown_marketplace_allow_list_index_path },
  { text: t('.page_title') }
)%>

<h1 class="govuk-heading-m">
  <%= t('.are_you_sure', email_domain: params[:email_domain])%>
</h1>

<p>
  <%= t('.re_add') %>
</p>

<%= form_with url: destroy_crown_marketplace_allow_list_index_path, model: @allowed_email_domain, method: :delete, html: { specialvalidation: true } do |f| %>
  <%= f.hidden_field :email_domain, value: params[:email_domain] %>

  <%= f.submit t('.remove'), class: 'govuk-button govuk-button--warning govuk-!-margin-right-4' %>
  <%= link_to t('.return_to_allow_list'), crown_marketplace_allow_list_index_path, class: 'govuk-button govuk-button--secondary', 'aria-label': t('.return_to_allow_list') %>
<% end %>