<%= content_for :page_title, t('.heading_title') %>
<%= crown_marketplace_breadcrumbs({ text: t('.heading_title') })%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_notification_banner(:success, t('.added')) { t('.was_added', email_domain: flash[:email_domain_added]) } unless flash[:email_domain_added].blank? %>
    <%= govuk_notification_banner(:success, t('.removed')) { t('.was_removed', email_domain: flash[:email_domain_removed]) } unless flash[:email_domain_removed].blank? %>
    <h1 class="govuk-heading-xl"><%= t('.heading_title') %></h1>
    <p>
      <%= t('.in_order_to') %>
    </p>
    <p>
      <%= t('.the_four_Services_are') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.facilities_management') %></li>
      <li><%= t('.legal_services') %></li>
      <li><%= t('.management_consultancy') %></li>
    </ul>
    <% if can? :manage, AllowedEmailDomain %>
      <p>
        <%= t('.you_can_add') %>
      </p>
      <div class='govuk-!-margin-bottom-4'>
        <%= link_to t('.add_new_email_domain'), new_crown_marketplace_allow_list_path, class: 'govuk-button govuk-button' %>
      </div>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row" id="allow-list-search-container">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: search_allow_list_crown_marketplace_allow_list_index_path, model: @allowed_email_domain, method: :get, remote: true, html: { specialvalidation: true } do |f| %>
      <%= hidden_field_tag :email_domain_added, params[:email_domain_added] %>
      <%= f.label :email_domain, t('.find_an_email_domain'), class: 'govuk-label--m' %>
      <p class="govuk-hint" id="allow-list-search-hint">
        <%= t('.enter_an_email_domain') %>
      </p>
      <%= f.text_field  :email_domain, class: 'govuk-input govuk-!-width-three-quarters govuk-!-margin-right-2', type: 'search', aria: { describedby: 'allow-list-search-hint' } %>
      <%= f.submit t('.search'), class: 'govuk-button govuk-button--secondary' %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="allow-list-table">
    <%= render(partial: 'allow_list_table', locals: { paginated_allow_list: @paginated_allow_list }) %>
  </div>
</div>
