<%= content_for :page_title, t('.heading') %>
<%= crown_marketplace_breadcrumbs(
  { text: t('crown_marketplace.allow_list.index.heading_title'), href: crown_marketplace_allow_list_index_path },
  { text: t('.heading') }
)%>

<%= render partial: 'shared/error_summary', locals: { errors: @allowed_email_domain.errors } %>

<%= form_with url: crown_marketplace_allow_list_index_path, model: @allowed_email_domain, method: :post, html: { specialvalidation: true } do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <%= t('.heading') %>
      </h1>

      <%= govuk_input(
        :email_domain,
        form: f,
        label: {
          text: t('.email_domain_label'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: capture do
            concat(t('.email_domain_hint'))
            concat(tag.p(t('.email_domain_must'), class: 'govuk-body govuk-!-margin-top-4'))
            concat(tag.ul(class: 'govuk-list govuk-list--bullet') do
              concat(tag.li(t('.email_domain_must_1')))
              concat(tag.li(t('.email_domain_must_2')))
              concat(tag.li(t('.email_domain_must_3')))
            end)
          end
        },
        classes: 'govuk-input--width-30 govuk-!-margin-top-4'
      ) %>

      <div class="govuk-!-margin-top-5">
        <%= govuk_button(t('.save_and_continue'), form: f) %>
        <br />
        <%= link_to t('.return_to_allow_list'), crown_marketplace_allow_list_index_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.return_to_allow_list') %>
      </div>
    </div>
  </div>
<% end %>