<div id="ccs-dynamic-accordian" class="govuk-grid-row">
  <form action="" method="" autocomplete="off">

    <section class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-m govuk-!-margin-bottom-1">
            <%= t('.heading') %>
        </h1>

        <p class="govuk-caption-m"><%= t('.sub_txt') %></p>


        <div class="govuk-accordion" data-module="accordion" id="accordion-default">

            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            North West England
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <legend>North West England</legend>

                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box1-1" name="box" type="checkbox" value="cumbria">
                                    <label class="govuk-label govuk-checkboxes__label" for="box1-1">
                                        Cumbria
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box1-2" name="box" type="checkbox" value="cheshire">
                                    <label class="govuk-label govuk-checkboxes__label" for="box1-2">
                                        Cheshire
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box1-3" name="box" type="checkbox" value="greater_manchester">
                                    <label class="govuk-label govuk-checkboxes__label" for="box1-3">
                                        Greater Manchester
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box1-4" name="box" type="checkbox" value="lanchashire">
                                    <label class="govuk-label govuk-checkboxes__label" for="box1-4">
                                        Lancashire
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box1-5" name="box" type="checkbox" value="merseyside">
                                    <label class="govuk-label govuk-checkboxes__label" for="box1-5">
                                        Merseyside
                                    </label>
                                </div>

                                <p class="govuk-body govuk-!-margin-top-4">Or</p>

                                <div class="govuk-checkboxes__item ccs-select-all">
                                    <input class="govuk-checkboxes__input" id="box1-all" name="box1-all" type="checkbox" value=""><!-- no value -->
                                    <label class="govuk-label govuk-checkboxes__label" for="box1-all">
                                        Select all
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Yorkshire and the Humber
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <legend>Yorkshire and the Humber</legend>

                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="box2-1" name="box" type="checkbox" value="humberside">
                                <label class="govuk-label govuk-checkboxes__label" for="box2-1">
                                    Humberside
                                </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            East of England
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <legend>East of England</legend>

                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box3-1" name="box" type="checkbox" value="norfolk">
                                    <label class="govuk-label govuk-checkboxes__label" for="box3-1">
                                        Norfolk
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box3-2" name="box" type="checkbox" value="suffolk">
                                    <label class="govuk-label govuk-checkboxes__label" for="box3-2">
                                        Suffolk
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box3-3" name="box" type="checkbox" value="essex">
                                    <label class="govuk-label govuk-checkboxes__label" for="box3-3">
                                        Essex
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box3-4" name="box" type="checkbox" value="bedforshire_and_hertfordshire">
                                    <label class="govuk-label govuk-checkboxes__label" for="box3-4">
                                        Bedforshire and Hertfordshire
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="box3-5" name="box" type="checkbox" value="cambridgeshire">
                                    <label class="govuk-label govuk-checkboxes__label" for="box3-5">
                                        Cambridgeshire
                                    </label>
                                </div>

                                <p class="govuk-body govuk-!-margin-top-4">Or</p>

                                <div class="govuk-checkboxes__item ccs-select-all">
                                    <input class="govuk-checkboxes__input" id="box3-all" name="box1-all" type="checkbox" value=""><!-- no value -->
                                    <label class="govuk-label govuk-checkboxes__label" for="box3-all">
                                        Select all
                                    </label>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>


      </div>

      <%= submit_tag t('common.submit'), class: "govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-8" %><!-- keep this 2nd button -->

    </section>

    <section class="govuk-grid-column-one-third">
      <div id="css-list-basket">

        <%= submit_tag t('common.submit'), class: "govuk-button" %>

        <div>
          <h3 class="govuk-heading-m" data-txt01="<%= t('.services_selected') %>" data-txt02="<%= t('.no_regions_selected') %>"><span></span> <span></span></h3>
          <a role="button" href="#" class="ccs-remove govuk-link--no-visited-state ccs-no-print" id="removeAll"><%= t('.remove_all') %></a>
          <ul class="govuk-list"></ul>
        </div>

      </div>
    </section>

  </form>
</div>
