<% case @import_error_type %>
<% when :generic %>
  <%= render partial: 'failed_generic'%>
<% when :template %>
  <%= render partial: 'failed_template' %>
<% when :normal %>
  <%= render partial: 'failed_non_generic'%>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @spreadsheet_import, url: facilities_management_rm3830_procurement_spreadsheet_import_path, method: :delete, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
      <%= f.submit t('.start_again'), class: 'govuk-button', 'aria-label': t('.start_again') %>
      <br/>
      <%= link_to t('.return_to_procurement_dashboard'), facilities_management_rm3830_procurements_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.return_to_procurement_dashboard') %>
    <% end %>
  </div>
</div>