<div class="govuk-!-width-two-thirds">
  <p class="govuk-body-l govuk-!-margin-top-2"><%= t('.successful') %></p>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('.about') %></h2>

  <p><%= t('.completed') %></p>

  <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4 govuk-!-margin-left-2">
    <li>
      <%= t('.services') %>
    </li>
    <li>
      <%= t('.buildings') %>
    </li>
    <li>
      <%= t('.services_to_buildings') %>
    </li>
    <li>
      <%= t('.service_requirements') %>
    </li>
  </ul>

  <div class="govuk-body govuk-!-margin-top-2">
    <strong class="govuk-!-font-weight-bold">
      <%= t('.review') %>
    </strong>
  </div>
</div>

<%= form_for @procurement, url: facilities_management_rm3830_procurement_path(@procurement.id), method: :put, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
  <%= f.submit t('.continue_to_procurement'), name: :exit_bulk_upload, class: 'govuk-button govuk-!-font-size-19 govuk-!-margin-top-4', aria: { label: t('.continue_to_procurement') } %>
<% end %>
<br />
<%= link_to t('.return_to_dashboard'), facilities_management_rm3830_procurements_path, class: 'govuk-link govuk-!-font-size-19' %>