<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <div id="ccs-error-sum" class="govuk-error-summary <%= 'govuk-visually-hidden' if flash[:error].nil? %> ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        <%= t('common.error_summary_title') %>
      </h2>
      <div class="govuk-error-summary__body">
        <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list">
          <% if flash[:error] %>
            <li>
              <%= link_to flash[:error], "##{error_id('email')}" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>




    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead') %>
    </p>

    <%= form_tag management_consultancy_users_password_path, class: 'ccs-form', id: 'cog_forgot_password_request_form', method: :post do %>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="email">
          <%= t('.email') %>
        </label>

        <span id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
                    <%= t('.email_hint_html') %>
                </span>

        <span id="email-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                    <%= t('activemodel.errors.models.ccs_patterns/home/cog_forgot_password_request.attributes.please_enter_a_valid_email_address') %>
                </span>

        <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
      </div>

      <%= submit_tag t('common.send_reset_email'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7" %>

    <% end %>



  </div>
</div>
