<div id="call-off-extensions" class="govuk-!-margin-top-5" data-framework="<%= params[:framework].downcase %>">
  <div class="govuk-form-group <%= 'govuk-form-group--error' if extension_periods_error? || total_contract_length_error? %>">
    <fieldset class="govuk-fieldset" role="group">
      <legend class="govuk-fieldset__legend">
      <span class="govuk-heading-m govuk-!-margin-bottom-0">
        <%= t('.heading') %>
      </span>
      </legend>
      <p class="govuk-caption-m govuk-!-margin-top-0 govuk-!-width-two-thirds"><%= t('.description') %></p>
      <% display_extension_error_anchor %>
      <%= govuk_radios_conditional do %>
        <%= display_errors f.object, :extensions_required %>
        <%= govuk_radios_conditional_item(f, :extensions_required, true, 'Yes') %>
        <%= govuk_radios_conditional_area(:extensions_required, true) do %>
          <div id="radio-inner-content-for-call-off-extensions" class="radio-inner-content govuk-!-margin-top-3">
            <%= f.fields_for :call_off_extensions, call_off_extensions do |optional_period_field| %>
              <%= render 'facilities_management/procurement_details/edit_partials/contract_period/extension', f: optional_period_field %>
            <% end %>
            <button id="add-contract-extension-button" class="govuk-button govuk-button--secondary govuk-!-margin-left-3 govuk-!-margin-top-3" aria-label="<%= t('.add_extension_period') %>">
              <%= t('.add_extension_period') %>
            </button>
          </div>
        <% end %>
        <%= govuk_radios_conditional_item(f, :extensions_required, false, 'No') %>
      <% end %>
    </fieldset>
  </div>
</div>
