<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" data-module="find-region">
    <hr class="govuk-section-break govuk-!-margin-top-3">
    
    <div id="select-a-region" class="<%=hidden_class(select_a_region_visible?)%>"  data-propertyname="address_region">
      <%= govuk_select(
        :address_region,
        valid_regions.map do |region|
          {
            value: region[:code],
            text: region[:region],
            attributes: {
              data: {
                address_region: region[:region],
                address_region_code: region[:code]
              }
            }
          }
        end,
        label: {
          text: t('.region'),
          classes: 'govuk-heading-s govuk-!-margin-bottom-1'
        },
        hint: {
          text: t('.region_desc')
        },
        selected: f.object.address_region_code,
        attributes: {
          id: 'regions-results-container',
          tabindex: input_visible?(select_a_region_visible?),
          prompt: t('.option_text', number: valid_regions.length, location: 'region'.pluralize(valid_regions.length)),
          data: {
            text_single: t('.region_singular'),
            text_plural: t('.region_plural')
          }
        },
        error_message: f.object.errors[:address_region].first
      ) %>
    </div>

    <div id='selected-region' class="<%= hidden_class(full_region_visible?) %>">
      <span class="govuk-heading-s govuk-!-margin-bottom-1">
        <%= t('.region') %>
      </span>
      <div class="govuk-body govuk-!-margin-bottom-2" id="region-text">
        <%= f.object.address_region %>
      </div>
      <div id="hidden-region-fields">
        <%= f.hidden_field :address_region, id: 'address-region' %>
        <%= f.hidden_field :address_region_code, id: 'address-region-code' %>
      </div>
      <%= link_to t('.change'), '#select-a-region', class: "govuk-link #{'govuk-visually-hidden' unless multiple_regions?}", id: 'change-input-3', tabindex: input_visible?(full_region_visible? && multiple_regions?) %>
    </div>
  </div>
</div>