<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :das) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :das) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
              <%= t('.outline_your_training_hint') %>
        </h1>
      </legend>
      <%= display_error(@journey, :das) %>
 <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="more-detail3">
            </label>
          </h1>
          <span id="more-detail-hint3" class="govuk-hint">
            <%= t('.outline_your_training') %>
          </span>
          <textarea class="govuk-textarea" id="more-detail3" name="more-detail3" rows="5" aria-describedby="more-detail-hint3"></textarea>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
