<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :central_government) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :central_government) do %>

<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('apprenticeships.page_section') %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl"><%= t('.find_apprenticeship_std') %></h1>

    </div>
  </div>


<<<<<<< HEAD
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="search">
                  <%= t('common.search') %>
                </label>
              </h1>  
              <%= text_field_tag :search, params[:search], class: 'govuk-input ccs-search-icon' %>
            </div>
            
            <%= render 'layouts/button', text: t('common.search')%>
=======
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-tabs" data-module="tabs">
>>>>>>> 974328ebc2fc84c326aef96c93736df2571892e9

          <h2 class="govuk-tabs__title ccs-no-print">
            <%= t('.find_apprenticeship_tab_title') %>
          </h2>

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#search-tab">
                <%= t('.search_tab_label') %>
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#browse-tab">
                <%= t('.browse_tab_label') %>
              </a>
            </li>
          </ul>

          <%= form_tag apprenticeships_search_results_path, method: :get do %>
            <section class="govuk-tabs__panel" id="search-tab">
              <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

              <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--m govuk-!-font-weight-bold" for="search">
                    <%= t('common.search') %>
                  </label>
                </h1>
                <%= text_field_tag :search, params[:search], class: 'govuk-input ccs-search-icon' %>
              </div>

              <%= submit_tag t('common.search'), class: "govuk-button govuk-!-margin-top-5", id: 'submit-search' %>
            </section>
          <% end %>

<<<<<<< HEAD
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                  <h1 class="govuk-fieldset__heading">
                    <%= t('.title_browse_by_route') %>
                  </h1>

                <div class="govuk-checkboxes ccs-govuk-checkboxes--s">
                  <% browse_routes.each do |rating| %>
                  <div class="govuk-checkboxes__item">
                    <%= check_box_tag(
                              "rating[]",
                              rating,
                              false,
                              class: "govuk-checkboxes__input",
                              id: "rating_#{rating}"
                          ) %>
                      <label class="govuk-label govuk-checkboxes__label" for="rating<%= rating %>">
                        <%= rating %>
                      </label>
=======
          <%= form_tag apprenticeships_search_results_path, method: :get do %>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="browse-tab">
              <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-font-weight-bold">
                    <h1 class="govuk-fieldset__heading">
                      <%= t('.title_browse_by_route') %>
                    </h1>
                  </legend>

                  <div class="govuk-checkboxes ccs-govuk-checkboxes--s">
                    <%= browse_routes.each do |rating| %>
                      <div class="govuk-checkboxes__item">
                        <%= check_box_tag(
                                  "rating[]",
                                  rating,
                                  false,
                                  class: "govuk-checkboxes__input",
                                  id: "rating_#{rating}"
                              ) %>
                          <label class="govuk-label govuk-checkboxes__label" for="rating_<%= rating %>">
                            <%= rating %>
                          </label>
                      </div>
                    <% end %>
>>>>>>> 974328ebc2fc84c326aef96c93736df2571892e9
                  </div>

                </fieldset>
              </div>

              <%= submit_tag t('common.browse'), class: "govuk-button govuk-!-margin-top-5", id: 'submit-browse' %>

            </section>
          <% end %>

        </div>

      </div>
    </div>

<% end %>
<!--
  %= submit_tag t('common.search'), class: "govuk-button", id: 'submit-global' %
-->
<% end %>
<% end %>
