<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters govuk-body-l">
    <%= t('.description')%>
  </div>
  <div class="govuk-grid-column-three-quarters govuk-body-m">
    <%= t('.generic_message')%>
  </div>
  <div class="govuk-grid-column-three-quarters govuk-body-m">
    <%= t('.what_next')%>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @spreadsheet_import, url: facilities_management_procurement_spreadsheet_import_path, method: :delete, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
      <%= f.submit t('.start_again'), class: 'govuk-button', 'aria-label': t('.start_again') %>
      <br/>
      <%= link_to t('.return_to_procurement_dashboard'), facilities_management_procurements_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.return_to_procurement_dashboard') %>
    <% end %>
  </div>
</div>
