<h1>Status: Upload successful </h1>

<%= t('.successful') %>

<%= t('.about') %>

<%= t('.completed') %>

<ul class="govuk-list">
  <li>
    <%= t('.services') %>
  </li>
  <li>
    <%= t('.buildings') %>
  </li>
  <li>
    <%= t('.services_to_buildings') %>
  </li>
  <li>
    <%= t('.service_requirements') %>
  </li>
</ul>
<div class="govuk-!-margin-top-4">
  <%= t('.review') %>
</div>
<div class="govuk-!-margin-top-4">
  <%= t('.open_procurement_summary') %>
</div>
