<span class="govuk-caption-xl"><%= @procurement.contract_name %></span>
<h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
<div class="ccs-font-weight-semi-bold govuk-body">
  Status: <%= govuk_tag_with_text(*@spreadsheet_import.state_to_string) %>
</div>
<% if @spreadsheet_import.importing? %>
  <%= render partial: 'importing' %>
<% elsif @spreadsheet_import.succeeded? %>
  <%= render partial: 'success' %>
  <% @spreadsheet_import.procurement.procurement_buildings.each do |pb| %>
    <% if pb.building.address_region_code.nil? %>
      <p><%= pb.building.building_name %> requires region. <%= link_to "Go to: " + pb.building.building_name, facilities_management_building_path(pb.building.id), class: 'govuk-link' %></p>
    <% end %>
  <% end %>
<% else %>
  <p>Something went wrong. Please try again</p>
<% end %>
