<%= form_for @spreadsheet_import, url: facilities_management_procurement_spreadsheet_imports_path, method: :post, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
  <%= govuk_form_group_with_optional_error(@spreadsheet_import, :name) do %>
    <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>
  <% end %>

  <%= govuk_page_header(LayoutHelper::HeadingDetail.new(t('.heading'), @spreadsheet_import.procurement.contract_name, nil, nil, nil)) %>
  <% content_for :page_title, t('.heading') %>

  <div class="govuk-body govuk-!-width-two-thirds">
    <%= t('.description') %>
    <details class="govuk-details govuk-!-margin-top-2 govuk-!-width-two-thirds" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        <%= t('.check') %>
      </span>
      </summary>
      <div class="govuk-details__text">
        <%= t('.check_details') %>
      </div>
    </details>
  </div>
  <div class="govuk-form-group <%= 'govuk-form-group--error govuk-!-padding-bottom-3' if  @spreadsheet_import.errors.any? %>">
    <div class="govuk-heading-m govuk-!-margin-top-4">
      <%= f.label :spreadsheet_file, t('.upload') %>
    <span class="govuk-caption-m govuk-!-margin-top-2"><%= t('.upload_size') %></span>
    </div>
    <div class="govuk-!-margin-top-4 govuk-!-width-two-thirds govuk-body">
      <strong class="ccs-font-weight-semi-bold">
        <%= t('.once_selected') %>
      </strong>
    </div>

    <div class="govuk-!-margin-top-2 govuk-!-width-two-thirds">
      <%= display_error @spreadsheet_import, :spreadsheet_file%>
      <%= tag(:hr, class: 'govuk-section-break govuk-!-margin-top-4') if @spreadsheet_import.errors.any? %>
      <span class="<%= 'govuk-file-upload--error' if @spreadsheet_import.errors.any? %>">
        <%= f.file_field :spreadsheet_file, class: 'govuk-file-upload' %>
        <%= f.hidden_field :facilities_management_procurement_id, value: @spreadsheet_import.facilities_management_procurement_id %>
      </span>
    </div>
  </div>

  <div class="govuk-!-width-two-thirds">
    <%= warning_text(t('.warning')) %>
  </div>

  <div class="govuk-!-margin-top-4">
    <%= f.submit t('.upload_and_continue'), class: "govuk-button govuk-!-margin-top-4", aria: { label: t('.upload_and_continue') } %>
    <%= f.submit t('.cancel_and_return'), name: :cancel_and_return, class: 'govuk-button govuk-button--secondary govuk-!-margin-top-4 govuk-!-margin-left-4', aria: { label: t('.cancel_and_return') } %>
  </div>
<% end %>
