<a class="govuk-back-link" href="<%= @back_link_href %>">Back</a>
<%= render('errors/inline_error_summary') %>
<div id="inline-no-description-error-message" name="inline-no-description-error-message" class="govuk-error-summary govuk-visually-hidden"
     aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a id="error-summary-link" href="#fm-building-security-type-other">You must describe your security level</a>
      </li>
    </ul>
  </div>
</div>
<%if @step.present? %><span class="govuk-caption-m govuk-!-padding-bottom-0">Step <%= @step.floor() %> of 4</span><%end %>
<span class="govuk-caption-l govuk-!-padding-top-0">Manage buildings <%= unless @building_name.blank? then
                                                                           ': ' + @building_name
                                                                         end %></span>
<span class="govuk-heading-xl govuk-!-padding-top-0"><%= @page_title %></span>

<%= render('errors/inline_error_summary') %>
