<a href="/facilities-management/beta" class="govuk-back-link ccs-no-print">Back</a>
<div class="govuk-grid-column-full">
  <%= render('errors/inline_error_summary') %>
</div>
<h1 class="govuk-heading-xl"><%= t('facilities_management.beta.index.manage_building') %></h1>
<a href="/facilities-management/beta/building"
   class="govuk-button ccs-no-print govuk-!-margin-bottom-6"
   role="button">
  <%= t('facilities_management.beta.index.create_new_button') %>
</a>
<p class="govuk-caption-l">
    <%= t('facilities_management.beta.index.start_paragraph')%>
</p>
<p class="govuk-caption-l govuk-!-margin-top-6 govuk-margin-bottom-3">
  <%= t('facilities_management.beta.index.start_warning') %>
</p>
<h2 class="govuk-heading-l govuk-!-margin-top-6"><%= t('facilities_management.beta.index.my_buildings_header') %></h2>
<%= render partial: 'building_list'%>
