<a class="govuk-back-link" href="<%= @back_link_href %>">Back</a>
<%= render('errors/inline_error_summary') %>
<span class="govuk-caption-m govuk-!-padding-bottom-0">Step <%= @step %> of 4</span>
<span class="govuk-caption-l govuk-!-padding-top-0">Manage buildings <%= unless @building_name.blank? then
                                                                           ': ' + @building_name
                                                                         end %></span>
<span class="govuk-heading-xl govuk-!-padding-top-0"><%= @page_title %></span>

<%= render('errors/inline_error_summary') %>
