<div id="fm-buildings-container">
  <% if @building_count.zero? %>
  <table class="govuk-!-width-three-quarters" style="border-collapse: collapse;">
    <thead>
    <tr>
      <th><span class="govuk-caption-m"><%= t('facilities_management.beta.index.no_buildings_text') %></span></th>
    </tr>
    </thead>
  </table>
<% end %>
<% if @building_count.positive? %>
  <form id="details_submission_form" action="building-details-summary" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" value="" name="id" id="target-building"/>
  </form>
  <div class="govuk-table" data-module="table" id="buildings-list">
    <table class="govuk-!-width-three-quarters" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th style="max-width:25%;"><%=t('facilities_management.beta.index.column_name_header') %></th>
          <th style="min-width:25%;"><%=t('facilities_management.beta.index.column_desc_header') %></th>
          <th style="min-width:12ex"><%=t('facilities_management.beta.index.column_lstup_header') %></th>
          <th><%=t('facilities_management.beta.index.column_status_header') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @building_data.each do |record| %>
        <% building = JSON.parse(record['building_json'].to_s) %>
        <tr>
          <td><%= link_to building['name'].to_s, 'building-details-summary', {role: 'details', 'building-id' => record['id'], class: 'govuk-link', 'aria-label' => t('facilities_management.beta.index.link_to_building_summary') } %>
          </td>
          <td><%= building['description'].to_s.length > 0 ? building['description'].to_s : '-'%></td>
          <td><%= record['updated_at'].to_datetime.strftime("%d/%m/%Y") %><br /><%= record['updated_at'].to_datetime.strftime("%H:%M:%S")%></td>
          <td><%= record['status'].to_s %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
</div>
