<h2><%= t('facilities_management.beta.building-details-summary.section-header') %></h2>
<div id="fm-buildings-container">
  <div class="govuk-table" data-module="table" id="buildings-list">
    <table class="govuk-!-width-three-quarters" style="border-collapse: collapse;">
      <thead>
      <tr>
        <th style="min-width: 12em"><%= t('facilities_management.beta.building-details-summary.caption_reference') %></th>
        <td><%= @building['building-ref'] %><br />
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th><%= t('facilities_management.beta.building-details-summary.caption_name') %></th>
        <td>
          <% if !@building['name'].blank? %>
            <%= @building['name'] %>
          <% else %>
            <%= link_to t('facilities_management.beta.building-details-summary.add_name_text'), "../building/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %>
        </td>
        <td>
          <% if !@building['name'].blank? %>
            <%= link_to t('facilities_management.beta.building-details-summary.change_text'), "../building/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('facilities_management.beta.building-details-summary.caption_desc') %></th>
        <td>
          <% if !@building['description'].blank? %>
            <%= @building['description'] %>
          <% else %>
            <%= link_to t('facilities_management.beta.building-details-summary.add_address_text'), "../building/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %>
        </td>
        <td>
          <% if !@building['description'].blank? %>
            <%= link_to t('facilities_management.beta.building-details-summary.change_text'), "../building/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= t('facilities_management.beta.building-details-summary.caption_addr') %></th>
        <td>
          <% if !@building['address'].blank? %>
            <% address = @building['address']['fm-address-line-1'].to_s + (@building['address']['fm-address-line-1'].to_s.length > 0 ? ', ' : ' ') + @building['address']['fm-address-line-2'].to_s + (@building['address']['fm-address-line-2'].to_s.length > 0 ? ', ' : ' ') + @building['address']['fm-address-town'].to_s + (@building['address']['fm-address-town'].to_s.length > 0 ? ', ' : ' ') + @building['address']['fm-address-county'].to_s + (@building['address']['fm-address-county'].to_s.length > 0 ? ', ' : ' ') + @building['address']['fm-address-postcode'].to_s %>
            <%= address %>
          <% else %>
            <%= link_to t('facilities_management.beta.building-details-summary.add_address_text'), "../building/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %>
        </td>
        <td>
          <% if !@building['address'].blank? %>
            <%= link_to t('facilities_management.beta.building-details-summary.change_text'), "../building/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %></td>
      </tr>
      <tr>
        <th><%= t('facilities_management.beta.building-details-summary.caption_gia') %></th>
        <td>
          <% if !@building['gia'].blank? %><%= @building['gia'] %>
          <% else %>
            <%= link_to t('facilities_management.beta.building-details-summary.answer_question_text'), "../building-gross-internal-area/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %></td>
        <td>
          <% if !@building['gia'].blank? %>
            <%= link_to t('facilities_management.beta.building-details-summary.change_text'), "../building-gross-internal-area/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %></td>
      </tr>
      <tr>
        <th><%= t('facilities_management.beta.building-details-summary.caption_type') %></th>
        <td>
          <% if !@building['fm-building-type'].blank? %><%= @building['fm-building-type'] %>
          <% else %>
            <%= link_to t('facilities_management.beta.building-details-summary.select_one_option_text'), "../building-type/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %></td>
        <td>
          <% if !@building['fm-building-type'].blank? %>
            <%= link_to t('facilities_management.beta.building-details-summary.change_text'), "../building-type/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %></td>
      </tr>
      <tr>
        <th><%= t('facilities_management.beta.building-details-summary.caption_sec') %></th>
        <td>
          <% if !@building['security-clearance'].blank? %>
            <%= @building['security-clearance'] %>
          <% else %>
            <%= link_to t('facilities_management.beta.building-details-summary.select_one_option_text'), "../building-security-type/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %>
        </td>
        <td>
          <% if !@building['security-clearance'].blank? %>
            <%= link_to t('facilities_management.beta.building-details-summary.change_text'), "../building-security-type/#{@building['id']}", { class: 'govuk-link' }%>
          <% end %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
