<div class="govuk-body">
  <a href="/facilities-management/building-management" class="govuk-back-link">Back</a>
  <%= render('errors/inline_error_summary') %>
  <% if @building_data %>
    <span class="govuk-heading-m" style="margin-bottom:0; color:#AAAAAA"><%= t('facilities_management.beta.index.manage_buildings_header') %></span>
    <h1 class="govuk-heading-xl">
      <%= @building['name'] %>
      <% if @display_warning %>
        <p class="govuk-caption-m"><%= t('facilities_management.beta.building-details-summary.status_warning_message') %></p>
      <% end %>
    </h1>
    <%= render partial: 'building_details_summary' %>
  <% else %>
    <h1>Manage Buildings</h1>
    <p>
      <%= t('facilities_management.beta.building-details-summary.no_data_message') %>
    </p>
  <% end %>
</div>
