<div>
  <div id="fm-bm-sec-type-container">
    <%= render 'buildings_steps_header' %>
    <span class="govuk-heading-m govuk-!-margin-bottom-0">Select the level of security clearance needed</span>
    <span class="govuk-caption-m">Choose one option only</span>
  </div>
  <form name="fm-building-security-type-form" id="fm-bm-security-type-form" action="building-details-summary" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="detail-type" value="fm-building-security-type"/>
    <input type="hidden" name="building-id" id="building-id" value="<%= @building_id %>"/>
    <div class="govuk-radios">
      <% @security_types.each do |record| %>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="FM-security-type-<%= record['id'] %>" <%= 'checked' if record['title'].to_s == @building['security-type'] %>
                 name="fm-building-security-type-radio" type="radio" value="<%= record['title'] %>">
          <label class="govuk-label govuk-radios__label" for="FM-security-type-<%= record['id'] %>">
            <%= record['title'] %><br>
            <span class="govuk-caption-m"><%= record['description'] %></span>
          </label>
        </div>
      <% end %>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="fm-building-security-type-other"
               name="fm-building-security-type-radio" type="radio" value="other">
        <label class="govuk-label govuk-radios__label" for="fm-building-security-type-other">
          Other<br>
        </label>
      </div>
      <div id="fm-bm-sec-other-container" class="govuk-details__text govuk-!-margin-left-3 govuk-!-width-two-thirds govuk-!-margin-top-1 govuk-visually-hidden">
        <span class="govuk-caption-m govuk-!-margin-bottom-1">Describe security level</span>
        <textarea maxlength="150" class="govuk-textarea govuk-!-margin-bottom-1 govuk-!-margin-top-1" id="fm-building-security-type-more-detail" name="fm-building-security-type-more-detail" rows="4"></textarea>
        <span id="fm-bm-bs-char-count" class="govuk-caption-m govuk-!-margin-top-1 fm-security-type-text">You have 150 characters remaining</span>
      </div>
    </div>
  </form>
</div>
<div class="govuk-!-margin-top-3" id="fm-bm-security-type-footer">
  <%= render partial: 'buildings_steps_footer' unless @editing %>
  <%= render partial: 'buildings_steps_editing_footer' if @editing %>
</div>
