<%= render('errors/inline_error_summary') %>
<div class="procurement">
  <div class="services chooser-component">
    <div id="ccs-dynamic-accordian" class="govuk-grid-row">
      <div>
        <fieldset class="govuk-fieldset" aria-describedby="">
          <h2 class="govuk-heading-m">
            <%= t('.question') %>
          </h2>
        </fieldset>
        <p class="govuk-caption-m">
          <%= t('.subtitle') %>
        </p>
        <p>
          <a href="https://assets.crowncommercial.gov.uk/wp-content/uploads/Framework-Schedule-1-Specification-v1.0-1.docx" alt="<%= t('facilities_management.select_services.servicespec_link_alttext') %>"><%= t('.service_specification_doc') %></a>
        </p>
      </div>
      <%= form_tag @form_path, method: :get do %>
        <div class="govuk-grid-column-two-thirds">
          <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
          <%= govuk_form_group_with_optional_error(@journey, :service_codes) do %>
            <%= govuk_fieldset_with_optional_error(@journey, :service_codes) do %>
              <div class="govuk-grid-column-full" style="padding-left:0">
                <%= form_tag 'choose-services/answer', method: :get do %>
                  <div class="chooser-input">
                    <div class="govuk-accordion" data-module="accordion" id="procurement-services-accordion">
                      <% @journey.current_step.services.each do |service| %>
                        <div class="govuk-accordion__section chooser-section" data-section="<%= service['code'] %>" data-sectionname="<%= service['name'] %>">
                          <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="<%= service['code'] %>"><%= service['name'] %></span>
                            </h2>
                          </div>
                          <div id="<%= service['code'] %>-content" class="govuk-accordion__section-content" aria-labelledby="<%= service['name'] %>">
                            <% @journey.current_step.work_packages.select { |work_package| work_package['work_package_code'] == service['code'] }.each do |work_package| %>
                              <div class="govuk-form-group chooser-input" sectionname="<%= service['name'] %>" section="<%= service['code'] %>">
                                <fieldset class="govuk-fieldset" aria-describedby="<%= work_package['name'] %>">
                                  <div id="services-checkboxes" class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                      <%= check_box_tag("service_codes[]", work_package['code'], @journey.current_step.service_codes.include?(work_package['code']),
                                                        title: work_package['name'],
                                                        class: "govuk-checkboxes__input",
                                                        sectionid: service['code'],
                                                        id: "service_#{work_package['code'].gsub('.', '-')}",) %>
                                      <label style="padding-top:0"
                                             class="govuk-label govuk-checkboxes__label"
                                             for="<%= "service_#{work_package['code'].gsub('.', '-')}" %>">
                                        <%= work_package['name'] %>
                                        <br/>
                                        <span style="font-weight:lighter;"><%= work_package['description'] %></span>
                                      </label>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>
                            <% end %>
                            <% if @journey.current_step.work_packages.select { |work_package| work_package['work_package_code'] == service['code'] }.count > 1 %>
                              <p><%= t('facilities_management.basket.or_text') %></p>
                              <div id="services-checkboxes" class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                  <input title="Select all code-<%= service['code'] %> services"
                                         style="margin-top:4px"
                                         class="govuk-checkboxes__input"
                                         id="<%= service['code'].sub('.', '-') %>_all"
                                         name="section-checkbox_select_all"
                                         forserviceid="<%= service['code'] %>"
                                         type="checkbox"
                                         value="<%= service['code'] %>">
                                  <label class="govuk-label govuk-checkboxes__label"
                                         for="<%= service['code'].sub('.', '-') %>_all">
                                    <%= t('facilities_management.basket.selectall_text') %>
                                  </label>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= submit_tag t('common.submit'), class: "govuk-button" %>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
          <div class="basket">
            <div>
              <h3 class="govuk-heading-m" data-txt01="<%= t('.services_selected') %>" data-txt02="<%= t('.no_services_selected') %>">
                <span id="selected-services-count">0</span> <span><%= t('.services_selected') %></span></h3>
              <a class="govuk-!-padding-left-2 remove-link" role="button" href="#"><%= t('.remove_all') %></a><br/>
              <ul style="margin-top:10px;" class="govuk-list"></ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>