<%= content_for :page_title, t('.heading') %>
<%= crown_marketplace_breadcrumbs({ text: t('.heading') })%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<%= form_with url: crown_marketplace_manage_users_path, method: :get, html: { specialvalidation: true, remote: true } do |f| %>
  <div class="govuk-grid-row" id="users-search-container">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_input(
        :email,
        label: {
          text: t('.find_a_user'),
          classes: 'govuk-label--m',
        },
        hint: {
          text: t('.enter_an_email')
        },
        classes: 'govuk-input--width-20',
        field_type: 'search',
        attributes: {
          value: params[:email]
        },
        error_message: @search[:error]
      ) %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <%= govuk_button(t('.search'), form: f, classes: 'govuk-button--secondary') %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters" id="users-table">
    <%= render(partial: 'users_table', locals: { users: @search[:users] }) %>
  </div>
</div>