<%= content_for :page_title, t('.heading') %>
<%= crown_marketplace_breadcrumbs(
  { text: t('.heading') }
)%>

<%= render partial: 'shared/error_summary', locals: { errors: @user.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @user, url: crown_marketplace_manage_users_path, method: :post, html: { novalidate: true } do |f| %>
      <%= render partial: 'user_details_summary', locals: { allowed_attributes: %i[roles service_access user_details] } %>
      <%= render partial: 'hidden_answers', locals: { f: f, allow_anyway: false } %>

      <%= govuk_button(t('.submit'), form: f) %>
    <% end %>
  </div>
</div>
