<%= content_for :page_title, t('.heading') %>
<%= crown_marketplace_breadcrumbs(
  { text: t('crown_marketplace.manage_users.index.heading'), link: crown_marketplace_manage_users_path },
  { text: t('.heading') }
)%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l"><%= @user.email %></span>
      <%= t('.heading') %>
    </h1>
    <% unless can_edit_user? %>
      <%= warning_text(
        if @minimum_editor
          t('.warning_text', minimum_editor_text: t("crown_marketplace.role_map.#{@minimum_editor}.text"))
        else
          t('.super_admin_warning.warning_text')
        end
      )%>
    <%end%>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" id="view-user__email">
        <dt class="govuk-summary-list__key">
          <%= t('.email') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.email %>
        </dd>
      </div>
      <div class="govuk-summary-list__row" id="view-user__email-status">
        <dt class="govuk-summary-list__key">
          <%= t('.email_status') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= govuk_tag_with_text(*verified_unverified_status_tag(@user.email_verified)) %>
        </dd>
        <% if can_edit_user? %>
          <dd class="govuk-summary-list__actions">
            <%= link_to(edit_crown_marketplace_manage_user_path(section: 'email-verified'), class: 'govuk-link govuk-link--no-visited-state') do %>
              <%= t('.change') %>
              <span class="govuk-visually-hidden"><%= t('.email_status') %></span>
            <% end %>
          </dd>
        <% end %>
      </div>
      <div class="govuk-summary-list__row" id="view-user__account-status">
        <dt class="govuk-summary-list__key">
          <%= t('.account_status') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= govuk_tag_with_text(*enabled_disabled_status_tag(@user.account_status)) %>
        </dd>
        <% if can_edit_user? %>
          <dd class="govuk-summary-list__actions">
            <%= link_to(edit_crown_marketplace_manage_user_path(section: 'account_status'), class: 'govuk-link govuk-link--no-visited-state') do %>
              <%= t('.change') %>
              <span class="govuk-visually-hidden"><%= t('.account_status') %></span>
            <% end %>
          </dd>
        <% end %>
      </div>
      <div class="govuk-summary-list__row" id="view-user__confirmation-status">
        <dt class="govuk-summary-list__key">
          <%= t('.confirmation_status') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= govuk_tag_with_text(*user_confirmation_status_tag(@user.confirmation_status)) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row" id="view-user__telephone-number">
        <dt class="govuk-summary-list__key">
          <%= t('.telephone_number') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @user.telephone_number.blank? ? t('.none') : @user.telephone_number %>
        </dd>
        <% if can_edit_user? && permitted_sections.include?(:telephone_number) %>
          <dd class="govuk-summary-list__actions">
            <%= link_to(edit_crown_marketplace_manage_user_path(section: 'telephone-number'), class: 'govuk-link govuk-link--no-visited-state') do %>
              <%= t('.change') %>
              <span class="govuk-visually-hidden"><%= t('.telephone_number') %></span>
            <% end %>
          </dd>
        <% end %>
      </div>
      <% unless @user.telephone_number.blank? %>
        <div class="govuk-summary-list__row" id="view-user__mfa-status">
          <dt class="govuk-summary-list__key">
            <%= t('.mfa_status') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_tag_with_text(*enabled_disabled_status_tag(@user.mfa_enabled)) %>
          </dd>
          <% if can_edit_user? && permitted_sections.include?(:mfa_enabled) %>
            <dd class="govuk-summary-list__actions">
              <%= link_to(edit_crown_marketplace_manage_user_path(section: 'mfa-enabled'), class: 'govuk-link govuk-link--no-visited-state') do %>
                <%= t('.change') %>
                <span class="govuk-visually-hidden"><%= t('.mfa_status') %></span>
              <% end %>
            </dd>
          <% end %>
        </div>
      <% end %>
      <div class="govuk-summary-list__row" id="view-user__roles">
        <dt class="govuk-summary-list__key">
          <%= t('.roles') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @user.roles.any? %>
            <ul class="govuk-list">
              <% @user.roles.each do |role| %>
                <li>
                  <%= t("crown_marketplace.role_map.#{role}.text") %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <%= t('.none') %>
          <% end %>
        </dd>
        <% if can_edit_user? && permitted_sections.include?(:roles) %>
          <dd class="govuk-summary-list__actions">
            <%= link_to(edit_crown_marketplace_manage_user_path(section: 'roles'), class: 'govuk-link govuk-link--no-visited-state') do %>
              <%= t('.change') %>
              <span class="govuk-visually-hidden"><%= t('.roles') %></span>
            <% end %>
          </dd>
        <% end %>
      </div>
      <div class="govuk-summary-list__row" id="view-user__service-access">
        <dt class="govuk-summary-list__key">
          <%= t('.service_access') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @user.service_access.any? %>
            <ul class="govuk-list">
              <% @user.service_access.each do |service_access| %>
                <li>
                  <%= t("crown_marketplace.service_access_map.#{service_access}.text") %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <%= t('.none') %>
          <% end %>
        </dd>
        <% if can_edit_user? %>
          <dd class="govuk-summary-list__actions">
            <%= link_to(edit_crown_marketplace_manage_user_path(section: 'service-access'), class: 'govuk-link govuk-link--no-visited-state') do %>
              <%= t('.change') %>
              <span class="govuk-visually-hidden"><%= t('.service_access') %></span>
            <% end %>
          </dd>
        <% end %>
      </div>
    </dl>
  </div>
</div>