<%= content_for :page_title, t('.heading') %>
<%= crown_marketplace_breadcrumbs(
  { text: t('crown_marketplace.manage_users.index.heading'), href: crown_marketplace_manage_users_path },
  { text: t('.heading') }
)%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <% if flash[:password_resent] %>
      <%= govuk_notification_banner(nil, true) do %>
        <h3 class="govuk-notification-banner__heading">
          <%= t('.resend_temporary_password_banner.title') %>
        </h3>
        <p class="govuk-body">
          <%= t('.resend_temporary_password_banner.message', user_email: flash[:password_resent]) %>
        </p>
      <% end %>
    <% end %>

    <% if flash[:error_message].present? %>
      <%= govuk_notification_banner(classes: 'ccs-notification-banner--error', title_text: t('crown_marketplace.home.index.something_went_wrong_banner.error'), role: :alert) do %>
        <h3 class="govuk-notification-banner__heading">
          <%= t('crown_marketplace.home.index.something_went_wrong_banner.title') %>
        </h3>
        <p class="govuk-body">
          <%= t('crown_marketplace.home.index.something_went_wrong_banner.message', error_message: flash[:error_message]) %>
        </p>
      <% end %>
    <% end %>

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l"><%= @user.email %></span>
      <%= t('.heading') %>
    </h1>
    <% if can_edit_user? %>
      <% if @user.confirmation_status == 'FORCE_CHANGE_PASSWORD' %>
        <p>
          <%= t('.resend_temporary_password.description') %>
        </p>
        <%= govuk_button(t('.resend_temporary_password.link'), href: resend_temporary_password_crown_marketplace_manage_user_path, classes: 'govuk-button--secondary', attributes: { id: 'resend-temporary-password-button', method: :put }) %>
      <% end %>
    <% else %>
      <%= govuk_warning_text(
        if @minimum_editor
          t('.warning_text', minimum_editor_text: t("crown_marketplace.role_map.#{@minimum_editor}.text"))
        else
          t('.super_admin_warning.warning_text')
        end
      ) %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= govuk_summary_list(
      [
        {
          key: {
            text: t('.email')
          },
          value: {
            text: @user.email
          }
        },
        {
          key: {
            text: t('.email_status')
          },
          value: {
            text: govuk_tag(*verified_unverified_status_tag(@user.email_verified))
          },
          actions: if can_edit_user?
                     {
                       items: [
                         {
                           text: t('.change'),
                           href: edit_crown_marketplace_manage_user_path(section: 'email-verified'),
                           visually_hidden_text: t('.email_status')
                         }
                       ]
                     }
                   end
        },
        {
          key: {
            text: t('.account_status')
          },
          value: {
            text: govuk_tag(*enabled_disabled_status_tag(@user.account_status))
          },
          actions: if can_edit_user?
                     {
                       items: [
                         {
                           text: t('.change'),
                           href: edit_crown_marketplace_manage_user_path(section: 'account_status'),
                           visually_hidden_text: t('.account_status')
                         }
                       ]
                     }
                   end
        },
        {
          key: {
            text: t('.confirmation_status')
          },
          value: {
            text: govuk_tag(*user_confirmation_status_tag(@user.confirmation_status))
          }
        },
        {
          key: {
            text: t('.telephone_number')
          },
          value: {
            text: @user.telephone_number.blank? ? t('.none') : @user.telephone_number
          },
          actions: if can_edit_user? && permitted_sections.include?(:telephone_number)
                     {
                       items: [
                         {
                           text: t('.change'),
                           href: edit_crown_marketplace_manage_user_path(section: 'telephone-number'),
                           visually_hidden_text: t('.telephone_number')
                         }
                       ]
                     }
                   end
        },
        unless @user.telephone_number.blank?
          {
            key: {
              text: t('.mfa_status')
            },
            value: {
              text: govuk_tag(*enabled_disabled_status_tag(@user.mfa_enabled))
            },
            actions: if can_edit_user? && permitted_sections.include?(:mfa_enabled)
                      {
                        items: [
                          {
                            text: t('.change'),
                            href: edit_crown_marketplace_manage_user_path(section: 'mfa-enabled'),
                            visually_hidden_text: t('.mfa_status')
                          }
                        ]
                      }
                    end
          }
        end,
        {
          key: {
            text: t('.roles')
          },
          value: {
            text: if @user.roles.any?
                    tag.ul(class: 'govuk-list') do
                      @user.roles.each do |role|
                        concat(tag.li(t("crown_marketplace.role_map.#{role}.text")))
                      end
                    end
                  else
                    t('.none')
                  end
          },
          actions: if can_edit_user? && permitted_sections.include?(:roles)
                    {
                      items: [
                        {
                          text: t('.change'),
                          href: edit_crown_marketplace_manage_user_path(section: 'roles'),
                          visually_hidden_text: t('.roles')
                        }
                      ]
                    }
                  end
        },
        {
          key: {
            text: t('.service_access')
          },
          value: {
            text: if @user.service_access.any?
                    tag.ul(class: 'govuk-list') do
                      @user.service_access.each do |service_access|
                        concat(tag.li(t("crown_marketplace.service_access_map.#{service_access}.text")))
                      end
                    end
                  else
                    t('.none')
                  end
          },
          actions: if can_edit_user?
                    {
                      items: [
                        {
                          text: t('.change'),
                          href: edit_crown_marketplace_manage_user_path(section: 'service-access'),
                          visually_hidden_text: t('.service_access')
                        }
                      ]
                    }
                  end
        },
      ].compact
    ) %>
  </div>
</div>
