<%= render partial: 'change_log_details' %>

<% if @change_log.data['attribute'] == 'active' %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= govuk_table(
        [
          {
            text: t('.attribute')
          },
          {
            text: t('.prev_value')
          },
          {
            text: t('.new_value')
          }
        ],
        [
          [
            {
              text: t('.lot_status')
            },
            {
              text: get_attribute_value(@change_log.data['attribute'], @change_log.data['removed'])
            },
            {
              text: get_attribute_value(@change_log.data['attribute'], @change_log.data['added'])
            }
          ]
        ],
        first_cell_is_header: true
      ) %>
    </div>
  </div>
<% else %>
  <% if @change_log.data['added'].any? %>
    <hr class="govuk-section-break govuk-!-margin-3">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          <%= t(".items_added.#{@change_log.data['attribute']}") %>
        </h2>
        <ul id="added-items" class="govuk-list govuk-list--bullet">
          <% item_names(@change_log.data['added']).each do |item_name| %>
            <li><%= item_name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @change_log.data['removed'].any? %>
    <hr class="govuk-section-break govuk-!-margin-3">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          <%= t(".items_removed.#{@change_log.data['attribute']}") %>
        </h2>
        <ul id="removed-items" class="govuk-list govuk-list--bullet">
          <% item_names(@change_log.data['removed']).each do |item_name| %>
            <li><%= item_name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
