<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs({ text: t('.heading') })%>

<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <%= t('.below_is_table') %>
    </p>
    <p>
      <%= t('.you_can_download') %>
    </p>
    <%= govuk_button(t('.download_logs'), href: "#{facilities_management_rm6232_admin_change_logs_path}?format=csv", classes: 'govuk-button--secondary', attributes: { download: '', aria: { label: t('.download_logs') } }) %>
    <p>
      <%= t('.you_can_get_a_snapshot_html', snapshot_link: link_to(t('.supplier_data_snapshot'), new_facilities_management_rm6232_admin_supplier_data_snapshot_path, class: 'govuk-link govuk-link--no-visited-state')) %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_table(
      [
        {
          text: t('.change_log_item'),
          attributes: {
            width: '15%'
          }
        },
        {
          text: t('.date_of_change'),
          attributes: {
            width: '20%'
          }
        },
        {
          text: t('.user'),
          attributes: {
            width: '40%'
          }
        },
        {
          text: t('.change'),
          attributes: {
            width: '25%'
          }
        }
      ],
      @audit_logs.map do |audit_log|
        [
          {
            text: link_to(audit_log[:short_id], facilities_management_rm6232_admin_change_log_show_path(audit_log[:id], audit_log[:change_type]), class: 'govuk-link govuk-link--no-visited-state')
          },
          {
            text: format_date_time(audit_log[:created_at])
          },
          {
            text: audit_log[:user_email] || t('.during_a_deployment')
          },
          {
            text: t(".change_made.#{audit_log[:true_change_type]}")
          }
        ]
      end
    ) %>
    <%= paginate @audit_logs, views_prefix: 'shared' %>
  </div>
</div>
