<h1 class="govuk-heading-m govuk-!-margin-bottom-0">
    Supplier contact details
</h1>
<div class="govuk-!-width-full govuk-!-font-size-19">
    <dl class="govuk-summary-list govuk-body">
        <table class="govuk-table govuk-!-margin-bottom-6">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-width-one-third"></td>
                    <td class="govuk-table__cell govuk-!-padding-top-0 govuk-!-width-two-thirds"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-table__header"><%= @contract.supplier.data['supplier_name'] %></th>
                    <td class="govuk-table__cell">
                        <%= govuk_details('Contact details') do %>
                            <%= "Name: #{@contract.supplier.data['contact_name']}"%> <br>
                            <%= "Telephone: #{@contract.supplier.data['contact_phone']}"%> <br>
                            <%= mail_to @contract.supplier.data['contact_email'], @contract.supplier.data['contact_email'], class: 'govuk-link govuk-link--no-visited-state' %>  <br>
                            <%= "Address: #{FacilitiesManagement::SupplierDetail.find_by(name: @contract.supplier.data['supplier_name']).full_organisation_address}"%> 
                        <% end %>
                    </td>
                </tr>
            </tbody>
        </table>
    </dl>
</div>