<%= content_for :page_title, local_header_text %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_warning_text(t('.session_expired')) if params[:expired] == 'true' %>

    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors } %>

    <h1 class="govuk-heading-xl">
      <%= local_header_text %>
    </h1>

    <%= form_with url: new_user_session_path, model: @result, method: :post, html: { novalidate: true } do |f| %>
      <%= hidden_field_tag :expired, params[:expired] %>

      <%= govuk_input(
        :email,
        form: f,
        label: {
          text: t('.email_address'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: t('.email_hint')
        },
        field_type: :email,
        classes: 'govuk-!-width-two-thirds',
        attributes: {
          name: "#{resource_name}[email]",
          autofocus: true,
          autocomplete: 'off',
          spellcheck: false,
          required: true
        }
      ) %>

      <%= govuk_input(
        :password,
        form: f,
        label: {
          text: t('.password'),
          classes: 'govuk-label--m'
        },
        field_type: :password,
        classes: 'govuk-!-width-two-thirds',
        attributes: {
          name: "#{resource_name}[password]",
          autocomplete: 'off',
        }
      ) %>

      <%= govuk_button(t('common.sign_in'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7', attributes: { aria: { label: t('common.sign_in') } }) %>
    <% end %>

    <% if service_has_registration? %>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <%= link_to t('.create_ccs_account'), sign_up_path, class: "govuk-link" %>
      </p>
    <% end %>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= t('.problems_signing_in') %>
    </h2>

    <p class="govuk-body">
      <%= link_to t('.forgotten_password'), new_user_password_path, class: 'govuk-link' %>
    </p>
  </div>
</div>
