<div class="govuk-!-width-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m"/>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
        <%= t('.title') %>
    </h1>
    <div class="govuk-body">
        <%= t('.two_working_days') %>
    </div>
    <ol class="govuk-list govuk-list--number">
        <strong><li> <%= t('.if_accepted_header') %></li></strong>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.if_accepted_list_1') %></li>
            <li><%= t('.if_accepted_list_2') %></li>
            <li><%= t('.if_accepted_list_3') %></li>
            <li><%= t('.if_accepted_list_4') %></li>
        </ul>
        <strong><li> <%= t('.if_declined_header') %> </li></strong>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.if_declined_list_header_1') %></li>
            <li> <%= t('.if_declined_list_header_2') %>
                <ul class="govuk-list">
                    <li> <%= t('.if_declined_list_1') %> </li>
                    <li> <%= t('.if_declined_list_2') %> </li>
                    <li> <%= t('.if_declined_list_3') %> </li>
                    <li> <%= t('.if_declined_list_4') %> </li>
                </ul>
            </li>
        </ul>
    </ol>
    <div class="govuk-body">
        <%= t('.else_declined') %>
    </div>
</div>