<div class="govuk-!-width-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m"/>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-4">
        <%= t('.title') %>
    </h1>
    <div class="govuk-body">
        <%= t('.two_working_days') %>
    </div>
    <div class="govuk-body">
      <span><strong> <%= t('.if_accepted_header') %></strong></span>
      <div class="govuk-!-padding-left-4">
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
            <li><%= t('.if_accepted_list_1') %></li>
            <li><%= t('.if_accepted_list_2') %></li>
            <li><%= t('.if_accepted_list_3') %></li>
            <li><%= t('.if_accepted_list_4') %></li>
        </ul>
      </div>
      <span><strong> <%= t('.if_declined_header') %> </strong></span>
      <div class="govuk-!-padding-left-4">
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
            <li><%= t('.if_declined_list_header_1') %></li>
            <li> <%= t('.if_declined_list_header_2') %>
                <ul class="govuk-list">
                    <li> <%= t('.if_declined_list_1') %> </li>
                    <li> <%= t('.if_declined_list_2') %> </li>
                    <li> <%= t('.if_declined_list_3') %> </li>
                    <li> <%= t('.if_declined_list_4') %> </li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <div class="govuk-body">
        <%= t('.else_declined') %>
    </div>
</div>