<h1 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
    <%= t('.title') %>
</h1>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-three-quarters"/>
<div class="govuk-body govuk-!-width-three-quarters">
    <%= govuk_details('1. Supplier signs the contract') do %>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.supplier_signs_1') %></li>
            <li><%= t('.supplier_signs_2') %></li>
            <li><%= t('.supplier_signs_3') %></li>
        </ul>
    <% end %>
    <div class="govuk-!-margin-bottom-4 govuk-!-margin-top-4">
        <%= govuk_details('2. You sign the contract') do %>
            <ul class="govuk-list govuk-list--bullet">
                <li><%= t('.you_sign_1') %></li>
                <li><%= t('.you_sign_2') %></li>
                <li><%= t('.you_sign_3') %></li>
            </ul>
        <% end %>
    </div>
    <%= govuk_details('3. Confirmation of signed contract') do %>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.confirmation_1') %></li>
            <li><%= t('.confirmation_2') %></li>
        </ul>
    <% end %>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-three-quarters"/>