<hr class="govuk-section-break govuk-section-break--m"/>

<% if @contract.aasm_state == 'expired' && !@contract.closed? %>
    <div class ="govuk-body govuk-!-width-three-quarters">
        <strong>
            <%= t('.expired') %>
        </strong>
    </div>
<% end %>

<% unless @contract.closed? %>
    <% case @contract.aasm_state %>
    <% when 'not_signed', 'declined', 'expired' %>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4"><%= t('.next_steps') %></h2>
    <% end %>
<% end %>

<div class ="govuk-body govuk-!-margin-bottom-8 govuk-!-width-three-quarters">
    <strong>
        <% if @contract.closed? %>
            <%= t('.reuse') %>
        <% else %>
            <% case @contract.aasm_state %>
            <% when 'sent' %>
               <%= t('.withdraw') %> 
            <% when 'accepted' %>
                <%= t('.confirm') %> <br/>
                <%= t('.confirm_and_close') %>
            <% when 'signed' %>
                <%= t('.reuse') %>
            <% when 'not_signed', 'declined', 'expired' %>
                <div class='govuk-!-margin-bottom-2'> <%= t('.next_supplier') %> </div>
                <div class='govuk-!-margin-bottom-2'> <%= t('.or') %> </div>
                <div><%= t('.close') %></div>
            <% end %>
        <% end %>
    </strong>
</div>