<% unless @contract.reason_for_closing.nil? %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
        <%= govuk_details('Reason for closing', true) do %>
            <%= "#{ t('.closed_reason')}: ‘#{@contract.reason_for_closing}’." %>
        <% end %>
    </div>
<% end %>
<% unless @contract.reason_for_not_signing.nil? || @contract.closed? %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
        <%= govuk_details('Reason for not signing', true) do %>
            <%= "#{ t('.reason_for_not_signed')}: ‘#{@contract.reason_for_not_signing}’." %>
        <% end %>
    </div>
<% end %>
<% unless @contract.reason_for_declining.nil? || @contract.closed? %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
        <%= govuk_details('Reason for declining', true) do %>
            <%= "#{t('.supplier_declined_reason')}: ‘#{@contract.reason_for_declining}’." %>
        <% end %>
    </div>
<% end %>

<% if @contract.aasm_state == 'sent' %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
        <%= govuk_details('Contract offer history', true) do %>
            <%= "#{ t('.sent')} #{format_date_time @contract.offer_sent_date}." %>
        <% end %>
    </div>
<% else %>
    <div class="govuk-!-margin-bottom-6 <%= 'govuk-!-width-three-quarters' unless @contract.closed? %>">
        <%= govuk_details('Contract offer history', true) do %>
            <% case @contract.aasm_state%>
            <% when 'accepted' %>
                <%= "#{ t('.sent_accepted')} #{format_date_time @contract.supplier_response_date}.<br/>".html_safe %>
            <% when 'signed' %>
                <%= "#{ t('.signed_confirmed_1')} #{format_date_time @contract.contract_signed_date} #{t('.signed_confirmed_2')}<br/>".html_safe %>
                <%= "#{ t('.sent_accepted')} #{format_date_time @contract.supplier_response_date}.<br/>".html_safe %>
            <% when 'not_signed' %>
                <% if @contract.closed? %>
                    <%= "#{ t('.not_signed_1')} #{format_date_time @contract.contract_closed_date} #{ t('.not_signed_2')}<br/>".html_safe %>
                <% end %>
                <%= "#{ t('.sent_accepted')} #{format_date_time @contract.supplier_response_date}.<br/>".html_safe %>
            <% when 'declined' %>
                <%= "#{t('.declined')} #{format_date_time @contract.supplier_response_date}.<br/>".html_safe if @contract.closed? %>
            <% when 'expired' %>
                <%= "#{ t('.expired')} #{format_date_time (@contract.supplier_response_date)}.<br/>".html_safe %>
            <% when 'withdrawn' %>
                <%= "#{ t('.sent_accepted')} #{format_date_time @contract.supplier_response_date}.<br/>".html_safe unless @contract.supplier_response_date.nil? %>
            <% end %>
            <%= "#{ t('.sent')} #{format_date_time @contract.offer_sent_date}." unless @contract.aasm_state == 'sent' %>
        <% end %>
    </div>
<% end %>

<% if @contract.closed? && @contract.aasm_state == 'declined' %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
        <%= govuk_details('Reason for declining', true) do %>
            <%= "#{t('.supplier_declined_reason')}: ‘#{@contract.reason_for_declining}’." %>
        <% end %>
    </div>
<% end %>
<% if @contract.closed? && @contract.aasm_state == 'not_signed' %>
    <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" >
        <%= govuk_details('Reason for not signing', true) do %>
            <%= "#{ t('.reason_for_not_signed')}: ‘#{@contract.reason_for_not_signing}’." %>
        <% end %>
    </div>
<% end %>
