<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= @procurement.contract_name %></span>
  <%= t('.title') %>
</h1>

<div>
    <p class="govuk-body govuk-!-font-weight-bold"><%= t('.description') %></p>
</div>

<div>
    <p class="govuk-body"><%= t('.next_steps') %></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.next_steps_list_1') %></li>
      <li><%= t('.next_steps_list_2') %></li>
    </ul>
</div>

<div class="govuk-!-width-two-thirds govuk-!-margin-top-4">
    <p class="govuk-body"><%= t('.footer_description') %></p>
</div>
