<div>
    <div class="govuk-grid-row">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t('.title') %>
        </h1>
        <div class="govuk-panel__body">
          <%= t('.closed_1') %> '<%= @procurement.contract_name  %>' (<%= @contract.contract_number %>) <%= t('.closed_2') %>
        </div>
      </div>
    </div>
    <div class="govuk-body">
        <%= t('.description') %>
    </div>
</div>
