<%= govuk_page_content(@page_description, @contract) do |pd|%>
    <div>
        <div class="govuk-grid-row">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              <%= t('.title') %>
            </h1>
            <div class="govuk-panel__body">
              <%= t('.closed_1') %> '<%= @procurement.contract_name  %>' (<%= @procurement.contract_number %>) <%= t('.closed_2') %>
            </div>
          </div>
        </div>
        <div class="govuk-body">
            <%= t('.description') %>
        </div>
        <div class="govuk-!-margin-top-9">
          <%= form_for @page_data[:model_object], url: facilities_management_beta_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
                <%= f.submit(pd.navigation_details.secondary_text, class: 'govuk-button govuk-button--secondary') %>
        <% end %>
        </div>
    </div>
<% end %>
