<%= govuk_page_content(@page_description, @contract) do |pd| %>
    <%= form_for @contract, url: facilities_management_beta_procurement_contract_path do |f| %>
        <%= render partial: 'contract_summary_head' %>

        <%= render partial: 'contract_offer_details' %>

        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
            <%= t('.requirements') %> 
        </h1>

        <%= render partial: 'procurement_requirements_head' %>
        <%= render partial: 'procurement_requirements' %>

        <% if  @contract.aasm_state == 'accepted' %>
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
                <%= t('.supplier_contact_details') %>
            </h1>
            <%= render partial: 'supplier_contact_details' %>
        <% end %>

        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
            <%= t('.call_off_contract_documents') %>
        </h1>
        <%= render partial: 'call_off_contract_documents' %>

        <%= render partial: 'awaiting_response' if  @contract.aasm_state == 'sent' %>
        <%= render partial: 'awaiting_signature' if  @contract.aasm_state == 'accepted' %>

        <%= render partial: 'contract_summary_foot' %>
        <% unless @contract.closed? %>
            <% case  @contract.aasm_state %>
            <% when 'sent' %>
                <div class= 'govuk-!-margin-top-5'>
                    <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'withdraw'), role: 'button', class: 'govuk-button govuk-button--warning', 'aria-labelledby': 'Cancel') %>
                    <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-labelledby': 'Return to procurements dashboard') %>
                </div>
            <% when 'signed' %>
                <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'copy'), role: 'button', class: 'govuk-button govuk-button--secondary', 'aria-labelledby': 'Make a copy of your procurements') %>
                <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-labelledby': 'Return to procurements dashboard') %>
            <% when 'not_signed', 'declined' , 'expired' %>
                <div class= 'govuk-!-margin-top-5'>
                <% if @contract.last_offer? %>
                    <%= form_for @contract, url: facilities_management_beta_procurement_contract_path, method: :put do |f| %>
                        <%= f.submit(value: pd.navigation_details.primary_text, class: 'govuk-!-margin-right-4 govuk-button', data: { disable_with: false }, name: :send_contract_to_next_supplier, 'aria-labelledby': "View next supplier's price") %>
                    <% end %>
                <% else %>
                    <%= link_to(pd.navigation_details.primary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'next_supplier'), role: 'button', class: 'govuk-button govuk-!-margin-right-4', 'aria-labelledby': "View next supplier's price") %>
                <% end %>
                    <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'withdraw'), role: 'button', class: 'govuk-button govuk-button--warning', 'aria-labelledby': 'Make a copy of your requirements') %> <br />
                    <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-labelledby': 'Return to procurements dashboard') %>
                </div>
            <% else %>
                <div class= 'govuk-!-margin-top-5'>
                    <%= link_to(pd.navigation_details.primary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'signed'), role: 'button', class: 'govuk-button govuk-!-margin-right-4', 'aria-labelledby': 'Confirm if contract signed or not') %>
                    <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'withdraw'), role: 'button', class: 'govuk-button govuk-button--warning', 'aria-labelledby': 'Close this procurement') %> <br />
                    <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-labelledby': 'Return to procurements dashboard') %>
                </div>
            <% end %>
        <% else %>
            <%= link_to(pd.navigation_details.secondary_text, new_facilities_management_beta_procurement_copy_procurement_path(id: @procurement.id, contract_id: @contract.id), role: 'button', class: 'govuk-button govuk-button--secondary', 'aria-labelledby': pd.navigation_details.secondary_text) %>
            <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-labelledby': 'Return to procurements dashboard') %>
        <% end %>
    <% end %>
<% end %>
