<%= govuk_page_content(@page_description, @contract) do |pd| %>
    <%= form_for @contract, url: facilities_management_beta_procurement_contract_path do |f| %>
        <%= render partial: 'contract_summary_head' %>

        <%= render partial: 'contract_offer_details' %>

        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
            Requirements
        </h1>
        <%= render partial: 'procurement_requirements' %>

        <% if  @contract.aasm_state == 'accepted' %>
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
                Supplier contact details
            </h1>
            <%= render partial: 'supplier_contact_details' %>
        <% end %>

        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
            Call-off contract documents
        </h1>
        <%= render partial: 'call_off_contract_documents' %>

        <%= render partial: 'whn_awaiting_response' if  @contract.aasm_state == 'sent' %>
        <%= render partial: 'whn_awaiting_signature' if  @contract.aasm_state == 'accepted' %>

        <%= render partial: 'contract_summary_foot' %>
        <% unless @contract.closed? %>
            <% case  @contract.aasm_state %>
            <% when 'sent' %>
                <%= govuk_continuation_buttons(pd, f, true, true, false, true) %>
            <% when 'signed' %>
                <%= govuk_continuation_buttons(pd, f, true, true, false) %>
            <% else %>
                <%= govuk_continuation_buttons(pd, f, true, true, true, true) %>
            <% end %>
        <% else %>
            <%= govuk_continuation_buttons(pd, f, true, true, false) %>
        <% end %>
    <% end %>
<% end %>
