<%= govuk_page_content(@page_description, @contract) do |pd| %>
    <%= form_for @contract, url: facilities_management_beta_procurement_contract_path do |f| %>
        <%= render partial: 'contract_summary_head' %>

        <%= render partial: 'contract_offer_details' %>

        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
            <%= t('.requirements') %> 
        </h1>

        <%= render partial: 'procurement_requirements_head' %>
        <%= render partial: 'procurement_requirements' %>

        <% if  @contract.aasm_state == 'accepted' %>
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
                <%= t('.supplier_contact_details') %>
            </h1>
            <%= render partial: 'supplier_contact_details' %>
        <% end %>

        <h1 class="govuk-heading-m govuk-!-margin-bottom-2">
            <%= t('.call_off_contract_documents') %>
        </h1>
        <%= render partial: 'call_off_contract_documents' %>

        <%= render partial: 'awaiting_response' if  @contract.aasm_state == 'sent' %>
        <%= render partial: 'awaiting_signature' if  @contract.aasm_state == 'accepted' %>

        <%= render partial: 'contract_summary_foot' %>
        <% unless @contract.closed? %>
            <% case  @contract.aasm_state %>
            <% when 'sent' %>
                <div class= 'govuk-!-margin-top-5'>
                    <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'withdraw'), role: 'button', class: 'govuk-button govuk-button--warning') %>
                    <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-caption-m') %>
                </div>
            <% when 'signed' %>
                <%= govuk_continuation_buttons(pd, f, true, true, false) %>
            <% when 'not_signed' , 'declined' %>
                <div class= 'govuk-!-margin-top-5'>
                    <%= link_to(pd.navigation_details.primary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'next_supplier'), role: 'button', class: 'govuk-button govuk-!-margin-right-4') %>
                    <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'withdraw'), role: 'button', class: 'govuk-button govuk-button--warning') %> <br />
                    <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-caption-m') %>
                </div>
            <% else %>
                <div class= 'govuk-!-margin-top-5'>
                    <%= link_to(pd.navigation_details.primary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'signed'), role: 'button', class: 'govuk-button govuk-!-margin-right-4') %>
                    <%= link_to(pd.navigation_details.secondary_text, edit_facilities_management_beta_procurement_contract_path(id: @contract.id, name: 'withdraw'), role: 'button', class: 'govuk-button govuk-button--warning') %> <br />
                    <%= link_to(pd.navigation_details.return_text, pd.navigation_details.return_url, role: 'button', class: 'govuk-link govuk-caption-m') %>
                </div>
            <% end %>
        <% else %>
            <%= govuk_continuation_buttons(pd, f, true, true, false) %>
        <% end %>
    <% end %>
<% end %>
