<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.rm6232.admin.change_logs.index.heading'), href: facilities_management_rm6232_admin_change_logs_path },
  { text: t('.heading') }
)%>

<%= render partial: 'shared/error_summary', locals: { errors: @snapshot.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p class="govuk-body">
      <%= t('.enter_a_date') %>
    </p>
    <p class="govuk-body">
      <%= t('.when_you_click') %>
    </p>
    <p>
      <%= govuk_warning_text(t('.the_date_you_enter', oldest_data_created_at: FacilitiesManagement::RM6232::Admin::SupplierData.oldest_data_created_at_string )) %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @snapshot, url: facilities_management_rm6232_admin_supplier_data_snapshots_path, method: :post, id: 'generate-supplier-zip', html: { specialvalidation: true, novalidate: true } do |f| %>
      <%= govuk_form_group(
        :snapshot_date_time,
        model: f.object
      ) do |error_message| %>
        <%= error_message %>

        <%= govuk_date_input(
          :snapshot_date,
          form: f,
          fieldset: {
            legend: {
              text: t('.snapshot_date_label'),
              classes: 'govuk-fieldset__legend--m'
            }
          },
          date_items: govuk_date_items
        ) %>

        <%= govuk_date_input(
          :snapshot_time,
          form: f,
          fieldset: {
            legend: {
              text: t('.snapshot_time_label'),
              classes: 'govuk-fieldset__legend--m'
            }
          },
          date_items: [
            {
              name: 'hh',
              input: {
                classes: 'govuk-input--width-2'
              },
              label: {
                text: t('.hour')
              }
            },
            {
              name: 'mm',
              input: {
                classes: 'govuk-input--width-2'
              },
              label: {
                text: t('.minute')
              },
              attributes: {
                inputmode: :numeric
              }
            },
          ]
        ) %>
      <% end %>

      <%= govuk_button(t('.generate_spreadsheets'), form: f, attributes: { id: 'generate-supplier-zip-button', aria: { label: t('.generate_spreadsheets') } }) %>
    <% end %>
  </div>
</div>