<% unless fc_chosen %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl govuk-!-font-weight-bold"> <%= t('.summary_header') %></h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"> <%= "Your procurement summary reference number is #{@procurement.contract_number}"%>.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <%= govuk_details(t('.description_header')) do %>
        <p class="govuk-body-m"><%= t('.description_text') %></p>

        <ul class="govuk-list govuk-list--bullet govuk-body-m">
          <li><%= t('.description_list_1') %></li>
          <li><%= t('.description_list_2') %></li>
          <li><%= t('.description_list_3') %></li>
          <li><%= t('.description_list_4') %></li>
          <li><%= t('.description_list_5') %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <h3 class="govuk-heading-l"><%= t('.file_download') %></h3>
      <p class="govuk-body-l"><%= t('.download_file_in_format') %></p>
      <%= link_to_generated_file_for_download(facilities_management_procurement_further_competition_spreadsheet_path(@procurement.id), :xlsx, t('.file_name', procurement_name: @procurement.contract_name), true) %>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.what_happens_next_title') %></h2>
    <p><%= t('.what_happens_next_description') %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_step_by_step_navigation do %>
      <%= govuk_step_by_step_navigation_step(t('.supplier_brief'), 1) do %>
        <ol class="app-step-nav__list " data-length="3">
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="1.1"><%= t('.supplier_brief_1') %></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="1.2"> <%= t('.supplier_brief_2') %></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="1.2"> <%= t('.supplier_brief_3') %></span>
          </li>
        </ol>
      <% end %>
      <%= govuk_step_by_step_navigation_step(t('.invitation_to_tender'), 2) do %>
        <ol class="app-step-nav__list " data-length="4">
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="2.1"><%= t('.invitation_to_tender_1') %></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="2.2"><%= t('.invitation_to_tender_2') %></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="2.3"><%= t('.invitation_to_tender_3') %></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="2.4"><%= t('.invitation_to_tender_4') %></span>
          </li>
        </ol>
      <% end %>
      <%= govuk_step_by_step_navigation_step(t('.publishing_invitation'), 3) do %>
        <ol class="app-step-nav__list " data-length="4">
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="3.1"><%= t('.publishing_invitation_1') %></span>
          </li>
        </ol>
      <% end %>
      <%= govuk_step_by_step_navigation_step(t('.tender_period'), 4) do %>
        <ol class="app-step-nav__list " data-length="3">
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="4.1"><%= t('.tender_period_1')%></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="4.2"><%= t('.tender_period_2')%></span>
          </li>
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="4.3"><%= t('.tender_period_3')%> </span>
          </li>
        </ol>
      <% end %>
      <%= govuk_step_by_step_navigation_step(t('.awarding_the_contract'), 5) do %>
        <ol class="app-step-nav__list " data-length="3">
          <li class="app-step-nav__list-item js-list-item ">
            <span data-position="4.1"><%= t('.awarding_the_contract_1') %></span>
          </li>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.esourcing') %></h2>
    <p> <%= t('.esourcing_description_html', link: link_to(t('.esourcing_description_link_text'), t('.esourcing_description_link_url'))) %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.more_information') %></h2>
    <p> <%= t('.facilities_management_framework_html', link: link_to(t('.facilities_management_framework_link_text'), t('.facilities_management_framework_link_url'))) %></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.more_information_1') %></li>
      <li><%= t('.more_information_2') %></li>
      <li><%= t('.more_information_3') %></li>
      <li><%= t('.more_information_4') %></li>
      <li><%= t('.more_information_5') %></li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-3">
    <%= govuk_details(t('.help')) do %>
      <p class="govuk-body-m">
        <%= t('.help_description') %>
        <br/>
        <br/>
        <%= t('.help_description_1')%>
      </p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-3">
    <p class="govuk-!-font-weight-bold">
      <% if fc_chosen %>
        <%= t('.save_as_fc_instructions') %>
      <% else %>
        <%= t('.make_a_copy')%>
      <% end %>
    </p>
  </div>
</div>
