  <div class="">
    <h2 class="govuk-heading-xl govuk-!-font-weight-bold"> <%= t('.summary_header') %></h2>
    <p class="govuk-body"> <%= "Your procurement summary reference number is #{@procurement_reference}"%>.</p>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('.description_header') %>
          </span>
        </summary>
        <div class="govuk-details__text ">
          <p class="govuk-body-m"><%= t('.description_text') %></p>

          <ul class="govuk-list govuk-list--bullet govuk-body-m">
            <li><%= t('.description_list_1') %></li>
            <li><%= t('.description_list_2') %></li>
            <li><%= t('.description_list_3') %></li>
            <li><%= t('.description_list_4') %></li>
            <li><%= t('.description_list_5') %></li>
          </ul>
        </div>
      </details>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <h3 class="govuk-heading-l">File download</h3>
      <p class="govuk-body-l">Download the procurement summary in XLSX format.</p>
      <a href="<%= facilities_management_procurement_further_competition_spreadsheet_path(@procurement.id) %>?format=xlsx" class="supplier-record__file-download" type="application/msword" download="">
        <%= @page_data[:model_object].contract_name %> procurement summary <span class="govuk-visually-hidden"><abbr title="Microsoft Word">DOC</abbr></span>
      </a>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.what_happens_next_title') %></h2>
    <p><%= t('.what_happens_next_description') %></p>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step step-is-shown" id="creating-your-contract">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

                <span class="js-step-title"><div class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-creating-your-contract-1"><span class="js-step-title-text">
                <%= t('.supplier_brief') %>
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></div></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-creating-your-contract-1">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <%= t('.supplier_brief_1') %>
                  <span data-position="1.1">
                  </span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="1.2"> <%= t('.supplier_brief_2') %>
                  </span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="1.2"> <%= t('.supplier_brief_3') %>
                  </span>
                </li>


              </ol>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="review-contract">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

                <span class="js-step-title"><div class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-review-contract-2"><span class="js-step-title-text">
                <%= t('.invitation_to_tender') %>
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></div></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-review-contract-2">
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.1"><%= t('.invitation_to_tender_1') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.2"><%= t('.invitation_to_tender_2') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.3"><%= t('.invitation_to_tender_3') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.3"><%= t('.invitation_to_tender_4') %></span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="offer-accepted">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

                <span class="js-step-title"><div class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-offer-accepted-3"><span class="js-step-title-text">
                <%= t('.publishing_invitation') %>
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></div></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-accepted-3">
              <ol class="app-step-nav__list " data-length="4">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.1"><%= t('.publishing_invitation_1') %>
                  </span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="offer-declined">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>

                <span class="js-step-title"><div class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-offer-declined-4"><span class="js-step-title-text">
                  <%= t('.tender_period')%>
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></div></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-declined-4">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.1"><%= t('.tender_period_1')%></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.2"><%= t('.tender_period_2')%></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.3"><%= t('.tender_period_3')%> </span>
                </li>
              </ol>
            </div>
          </li>
         <li class="app-step-nav__step js-step step-is-shown" id="offer-awarding">
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>

                <span class="js-step-title"><div class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-offer-awarding-4"><span class="js-step-title-text">
                  <%= t('.awarding_the_contract') %>
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Hide</span></div></span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-awarding-4">
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.1"><%= t('.awarding_the_contract_1') %>
                  </span>
                </li>
              </ol>
            </div>
          </li>
        </ol>
      </div>
    </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.esourcing') %></h2>
    <p> <%= t('.esourcing_description') %> <a href="https://www.gov.uk/government/publications/esourcing-suite-guidance-for-customers" alt="">Click here</a> for further information.</p>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.more_information') %></h2>
    <p>On <a href="https://www.crowncommercial.gov.uk/agreements/rm3830" alt="">facilities management framework page,</a> you can view information including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><%= t('.more_information_1') %></li>
            <li><%= t('.more_information_2') %></li>
            <li><%= t('.more_information_3') %></li>
            <li><%= t('.more_information_4') %></li>
            <li><%= t('.more_information_5') %></li>
          </ul>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-3">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('.help') %>
          </span>
        </summary>
        <div class="govuk-details__text ">
          <p class="govuk-body-m"><%= t('.help_description') %>
          <br/>
          <br/>
          <%= t('.help_description_1')%>
          </p>
        </div>
      </details>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
      <p class="govuk-!-font-weight-bold">
          <%= t('.make_a_copy')%>
      </p>
    </div>
  </div>
