<% content_for :page_title, t('.buyer_account_dashboard') %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t('.buyer_account_title') %> </span>
      <h1 class="govuk-heading-xl"><%= @current_login_email %></h1>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <div class="fm-buyer-account-panel">
        <p>
          <%= link_to t('.quick_view'), '/facilities-management/choose-services', class: 'ccs-font-weight-semi-bold fm-buyer-account-panel__title_no_link govuk-link--no-visited-state ' %>
        </p>
        <p class="fm-buyer-account-panel__body govuk-!-top-margin-4">
        <%= t('.new_procurement_desc') %>
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <div class="fm-buyer-account-panel">
        <p>
          <%= link_to t('.start_procurement_link'), '/facilities-management/procurements/what-happens-next', class: 'ccs-font-weight-semi-bold fm-buyer-account-panel__title_no_link govuk-!-margin-bottom-2 govuk-link--no-visited-state' %>
        </p>
        <p class="fm-buyer-account-panel__body govuk-!-top-padding-4">
          <%= t('.start_procurement_desc') %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="fm-buyer-account-panel">
      <p>
        <%= link_to t('.manage_procurements_link'), facilities_management_procurements_path, class: 'ccs-font-weight-semi-bold fm-buyer-account-panel__title_no_link govuk-link--no-visited-state' %>
      </p>
      <p class="fm-buyer-account-panel__body govuk-!-top-margin-4">
        <%= t('.manage_procurements_desc').html_safe %>
      </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <%= link_to t(".manage_buildings"), facilities_management_buildings_path, class: 'govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state' %>
        <p class="fm-buyer-account-panel__body">
          <%= t('.manage_buildings_desc') %>
        </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <%= link_to t('.manage_account_link'), edit_facilities_management_buyer_detail_path(@buyer_detail), class: 'govuk-!-font-size-19 fm-buyer-account-panel__title govuk-link--no-visited-state' %>
        <p class="fm-buyer-account-panel__body"><%= t('.manage_account_desc') %></p>
    </div>
  </div>
  <div class="govuk-!-margin-top-6 govuk-heading-s">
    <%= t('.return_to_page') %>
  </div>
</div>