<%= govuk_page_content(@page_description, @procurement_copy) do |pd|%>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Create a new procurement using the service requirements and buildings you have previously entered.
    </h1>
    <div>
        <p class="govuk-body-m govuk-!-width-one-half govuk-!-margin-bottom-3">Once saved under a new contract name:</p>
        <ul class="govuk-list govuk-!-width-one-half govuk-list--bullet govuk-!-margin-bottom-6">
            <li>you will have the option to amend your requirements (if needed), and re-run your results</li>
            <li>you will be able to choose from the contract options of direct award (if eligible) or further competition</li>
        </ul>
    </div>
    <%=form_for @procurement_copy, url: facilities_management_procurement_copy_procurement_index_path, method: :post do |f, attr|%>
        <div id="facilities_management_copy_contract" class="govuk-form-group govuk-!-width-one-half govuk-!-margin-bottom-6 <%= 'govuk-form-group--error' if @procurement_copy.errors.any?  %>">
            <%= f.label :contract_name, ' What do you want to call your contract?', class: 'govuk-heading-m' %>
            <%= display_errors @procurement_copy, :contract_name %>
            <%= hidden_field(:contract_id, find_contract_id) unless find_contract_id.nil? %>
            <%= f.text_field :contract_name, class: 'govuk-input', maxlength: 100, id: 'facilities_management_procurement_contract_name' %>
            <span id="facilities_management_procurement_supplier_character_left" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You have 100 characters remaining
            </span>
        </div>
        <%= f.submit pd.navigation_details.primary_text, { class: 'govuk-button govuk-!-margin-right-4', contract_id: find_contract_id, 'aria-label': "#{pd.navigation_details.primary_text}" } %>
        <%= link_to pd.navigation_details.secondary_text, pd.navigation_details.secondary_url, class: 'govuk-button govuk-button--secondary', 'aria-label': "#{pd.navigation_details.secondary_text}" %>
    <% end %>
<% end %>
