<%= content_for :page_title, t('.dashboard_header') %>
<div class="govuk-body">
  <div class="govuk-grid-row govuk-!-padding-left-3">
    <span class="govuk-caption-l"><%= @current_login_email %></span>
    <h1 class="govuk-heading-xl"><%= t('.dashboard_header') %></span>
  </div>

  <%= ccs_dashboard_section(
    [
      {
        title: t('.dashboard_average_rate'),
        href: facilities_management_rm3830_admin_service_rate_path(slug: 'average-framework-rates'),
        description: t('.dashboard_manage_rate')
      },
      {
        title: t('.dashboard_calloff_rate'),
        href: facilities_management_rm3830_admin_service_rate_path(slug: 'call-off-benchmark-rates'),
        description: t('.dashboard_manage_calloff_rate')
      }
    ],
    t('.dashboard_assessed_value')
  ) %>

  <%= ccs_dashboard_section(
    [
      {
        title: t('.dashboard_supplier_framework_data'),
        href: facilities_management_rm3830_admin_supplier_framework_data_path,
        description: t('.dashboard_supplier_prices')
      },
      {
        title: t('.dashboard_supplier_details'),
        href: facilities_management_rm3830_admin_supplier_details_path,
        description: t('.dashboard_manage_supplier_details')
      }
    ],
    t('.dashboard_supplier_data')
  ) %>

  <%= ccs_dashboard_section(
    [
      {
        title: t('.dashboard_management_report_header'),
        href: facilities_management_rm3830_admin_management_reports_path,
        description: t('.dashboard_management_report_detail')
      }
    ],
    t('.dashboard_management_report_header')
  ) %>
</div>
