<p>
  <%= t('supply_teachers.home.temp_to_perm_fee.after_12_weeks_and_not_enough_notice') %>
</p>

<h2>Calculation</h2>

<ul>
  <li>
    <%= display_notice_period_required(calculator) %>
  </li>
  <li>
    <%= display_notice_period_given(calculator) %>
  </li>
  <li>
    <%= display_chargeable_days_for_lack_of_notice(calculator) %>
  </li>
  <li>
    <%= display_suppliers_daily_fee(calculator) %>
  </li>
  <% if display_suppliers_pro_rata_daily_fee?(calculator) %>
    <li>
      <%= display_suppliers_pro_rata_daily_fee(calculator) %>
    </li>
  <% end %>
  <li>
    <%= display_total_fee(calculator) %>
  </li>
</ul>

<%= render partial: 'avoid_paying_fees', locals: { calculator: calculator } %>
