<p>
  <%= t('supply_teachers.home.temp_to_perm_fee.within_first_8_weeks') %>
</p>

<h2>Calculation</h2>

<ul>
  <li>
    <%= display_working_days_required %>
  </li>
  <li>
    <%= display_working_days(calculator) %>
  </li>
  <li>
    <%= display_chargeable_days_for_early_hire(calculator) %>
  </li>
  <li>
    <%= display_suppliers_daily_fee(calculator) %>
  </li>
  <% if display_suppliers_pro_rata_daily_fee?(calculator) %>
    <li>
      <%= display_suppliers_pro_rata_daily_fee(calculator) %>
    </li>
  <% end %>
  <li>
    <%= display_total_fee(calculator) %>
  </li>
</ul>

<%= render partial: 'avoid_paying_fees', locals: { calculator: calculator } %>
