<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t('.header') %>
        </h1>
        <div class="govuk-panel__body">
          <%= t('.panel_body') %>
          <% if @calculator.hiring_after_12_weeks? && @calculator.notice_date.blank? %>
            <br>between <strong>£0</strong> and <strong><%= number_to_currency(@calculator.maximum_fee_for_lack_of_notice) %></strong>
          <% else %>
            <br><strong><%= number_to_currency(@calculator.fee) %></strong>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2>How this fee is calculated</h2>

      <% if @calculator.before_national_deal_began? %>
        <p>The contract start date you have given, <%= @calculator.contract_start_date.to_formatted_s(:long) %>, is before the National Deal was awarded. The terms of the deal may not apply to this worker, unless you have since agreed with the supplier that they should.</p>
      <% end %>

      <p>There is no fee for making a temporary member of staff permanent as long as:<p>
      <ul>
        <li>the worker has been in post for over 12 weeks, and</li>
        <li>you give 4 weeks’ notice to the agency</li>
      </ul>

      <% if @calculator.hiring_after_12_weeks? %>
        <% if @calculator.notice_date.present? && @calculator.enough_notice? %>
          <%= render partial: 'after_12_weeks_and_enough_notice' %>
        <% elsif @calculator.notice_date.present? && !@calculator.enough_notice? %>
          <%= render partial: 'after_12_weeks_and_not_enough_notice',
                     locals: { calculator: @calculator } %>
        <% elsif @calculator.notice_date.blank? %>
          <%= render partial: 'after_12_weeks_and_no_notice_date',
                     locals: { calculator: @calculator } %>
        <% end %>
      <% elsif @calculator.hiring_between_9_and_12_weeks? %>
        <% if @calculator.notice_date.present? && @calculator.enough_notice? %>
          <%= render partial: 'between_9_and_12_weeks_and_enough_notice',
                     locals: { calculator: @calculator } %>
        <% elsif @calculator.notice_date.present? && !@calculator.enough_notice? %>
          <%= render partial: 'between_9_and_12_weeks_and_not_enough_notice',
                     locals: { calculator: @calculator } %>
        <% elsif @calculator.notice_date.blank? %>
          <%= render partial: 'between_9_and_12_weeks_and_no_notice_date',
                     locals: { calculator: @calculator } %>
        <% end %>
      <% elsif @calculator.hiring_within_8_weeks? %>
        <%= render partial: 'within_first_8_weeks',
                   locals: { calculator: @calculator } %>
      <% end %>
    </div>
  </div>
</div>
