<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          <%= t('.header') %>
        </h1>
        <div class="govuk-panel__body">
          <%= t('.panel_body') %>
          <br><strong><%= number_to_currency(@calculator.fee) %></strong>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2>Explanation</h2>

      <% if @calculator.before_national_deal_began? %>
        <p>The contract start date you have given, <%= @calculator.contract_start_date.to_formatted_s(:long) %>, is before the National Deal was awarded. The terms of the deal may not apply to this worker, unless you have since agreed with the supplier that they should.</p>
      <% end %>

      <p>The supplier can charge you a fee for making a temporary member of staff permanent if:<p>
      <ul>
        <li>you take the worker on permanently within the first 12 working weeks of their contract</li>
        <li>you take the worker on permanently after 8 working weeks of their contract and don't give the supplier at least 4 weeks notice</li>
      </ul>

      <% if @calculator.hiring_after_12_weeks? %>
        <% if @calculator.notice_date.present? && @calculator.enough_notice? %>
          <%= render partial: 'after_12_weeks_and_enough_notice' %>
        <% elsif @calculator.notice_date.present? && !@calculator.enough_notice? %>
          <%= render partial: 'after_12_weeks_and_not_enough_notice',
                     locals: { calculator: @calculator } %>
        <% elsif @calculator.notice_date.blank? %>
          <%= render partial: 'after_12_weeks_and_no_notice_date',
                     locals: { calculator: @calculator } %>
        <% end %>
      <% elsif @calculator.hiring_between_9_and_12_weeks? %>
        <% if @calculator.notice_date.present? && @calculator.enough_notice? %>
          <%= render partial: 'between_9_and_12_weeks_and_enough_notice',
                     locals: { calculator: @calculator } %>
        <% elsif @calculator.notice_date.present? && !@calculator.enough_notice? %>
          <%= render partial: 'between_9_and_12_weeks_and_not_enough_notice',
                     locals: { calculator: @calculator } %>
        <% elsif @calculator.notice_date.blank? %>
          <%= render partial: 'between_9_and_12_weeks_and_no_notice_date',
                     locals: { calculator: @calculator } %>
        <% end %>
      <% elsif @calculator.hiring_within_8_weeks? %>
        <%= render partial: 'within_first_8_weeks',
                   locals: { calculator: @calculator } %>
      <% end %>
    </div>
  </div>
</div>
