<div class="lift-row govuk-body govuk-row govuk-!-margin-bottom-6 <%= 'govuk-form-group--error' if ff.object.errors.any? %>">
  <%= ff.label :number_of_floors, "Lift #{ff.index + 1}", class: 'lift-number', id: "lifts[#{ff.index}].number_of_floors-error" %>
  <%= display_error ff.object, :number_of_floors %>
  <span class="govuk-caption-m">
    <%= t('.no_of_floors') %>
  </span>
  <%= ff.number_field :number_of_floors, min: 0, max: 100, class: "number-of-floors govuk-input govuk-input--width-4 #{'govuk-input--error' if ff.object.errors[:number_of_floors].any?}" %>
  <% unless ff.index == 0%>
    <%= link_to 'Remove', '#', class: 'remove-lift-record govuk-button govuk-button--secondary govuk-!-margin-left-4 govuk-!-margin-bottom-0', 'aria-label': "Remove"%>
    <%= ff.text_field :_destroy, as: :hidden, class: 'lift-destroy-box govuk-visually-hidden', 'tabindex': -1, "aria-label": "destroy" %>
  <% end %>
</div>