<%= form_group_with_error(f.object, :service_hours) do |displayed_error| %>
  <h3 class="govuk-heading-m">
    <%= t('.hour_heading') %>
  </h3>
  <p class="govuk-hint">
    <%= t('.hour_hint') %>
  </p>
  <p class="govuk-hint">
    <%= t('.volume_example') %>
  </p>
  <div>
    <%= displayed_error %>
    <%= f.label :service_hours, t('.hour_label'), class: 'govuk-label' %>
    <%= f.number_field :service_hours, class: "govuk-input govuk-input--width-5 #{'govuk-input--error' if f.object.errors.key?(:service_hours)}" %>
  </div>
<% end %>

<%= form_group_with_error(f.object, :detail_of_requirement) do |displayed_error| %>
  <h3 class="govuk-heading-m" id="detail_of_requirement">
    <%= t('.detail_heading') %>
  </h3>
  <div class="govuk-hint">
    <%= t('.detail_hint') %>
  </div>
  <div class="govuk-!-margin-bottom-4">
    <%= govuk_details(t('.detail_example')) do%>
      <div class="govuk-hint">
        <span>
          <%= t('.detail_example_1') %>
        </span><br />
        <span>
          <%= t('.detail_example_2') %>
        </span><br />
        <span>
          <%= t('.detail_example_3') %>
        </span><br />
        <span>
          <%= t('.detail_example_4') %>
        </span><br />
        <br />
        <span>
          <%= t('.detail_example_5') %> 
        </span><br />
        <span>
          <%= t('.detail_example_6') %>
        </span>
      </div>
    <% end %>
  </div>
  <div>
    <%= displayed_error %>
    <%= f.label :detail_of_requirement, t('.detail_label'), class: 'govuk-label' %>
    <%= govuk_character_count(f, :detail_of_requirement, 500, 5) %>
  </div>
<% end %>