<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'journey/error_summary', locals: { errors: @journey.errors } %>
    <%= form_tag @form_path, method: :get do %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= govuk_form_group_with_optional_error(@journey, :contract_start) do %>
        <%= govuk_fieldset_with_optional_error(@journey, :contract_start) do %>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              <%= t('.question') %>
            </h1>
          </legend>
          <%= display_error(@journey, :contract_start) %>
          <span id="contract-start-hint" class="govuk-hint">
            <%= t('.question_hint') %>
          </span>
          <div class="govuk-date-input" id="contract-start">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="contract_start_day">
                  Day
                </label>
                <%= number_field_tag :contract_start_day, nil, pattern: '[0-9]*', class: %w[govuk-input govuk-date-input__input govuk-input--width-2] %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="contract_start_month">
                  Month
                </label>
                <%= number_field_tag :contract_start_month, nil, pattern: '[0-9]*', class: %w[govuk-input govuk-date-input__input govuk-input--width-2] %>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="contract_start_year">
                  Year
                </label>
                <%= number_field_tag :contract_start_year, nil, pattern: '[0-9]*', class: %w[govuk-input govuk-date-input__input govuk-input--width-4] %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= submit_tag t('common.submit'), class: "govuk-button" %>
    <% end %>
  </div>
</div>
