<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'journey/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :days_per_week) do %>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        <%= t('.question') %>
      </h1>
    </legend>
    <%= display_error(@journey, :days_per_week) %>
    <span class="govuk-hint">
      <%= t('.question_hint') %>
    </span>
    <%= text_field_tag :days_per_week, params[:days_per_week], class: css_classes_for_input(@journey, :days_per_week, ['govuk-input--width-10']) %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
