<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        <%= t('.headline') %>
      </h1>
      <p class="govuk-body">
        <%= t('.body') %>
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2 govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <% %w(contingent_labour research_marketplace technology_services digital_outcomes_and_specialists g_cloud).each do |service| %>
          <li class="govuk-!-margin-bottom-5">
            <%= t(".#{service}_html", "#{service}_link": link_to(t(".#{service}_link_text"), t(".#{service}_link"))) %>
          </li>
        <% end %>
      </ul>
      <%= form_tag @form_path, method: :get do %>
        <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
        <%= govuk_form_group_with_optional_error(@journey, :help_needed) do %>
          <%= submit_tag t('common.confirm_and_continue'), class: "govuk-button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
