<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <%= govuk_form_group_with_optional_error(@journey, :lot) do %>
    <%= govuk_fieldset_with_optional_error(@journey, :lot) do %>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          <%= t('.question') %>
        </h1>
      </legend>
      <span class="govuk-hint">
        <%= t('.question_hint') %>
      </span>
      <%= display_error(@journey, :lot) %>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag :lot, '1', checked?(params[:lot], '1'), class: 'govuk-radios__input' %>
          <%= label_tag :lot_1, ManagementConsultancy::Lot['1'].full_description, class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :lot, '2', checked?(params[:lot], '2'), class: 'govuk-radios__input' %>
          <%= label_tag :lot_2, ManagementConsultancy::Lot['2'].full_description, class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :lot, '3', checked?(params[:lot], '3'), class: 'govuk-radios__input' %>
          <%= label_tag :lot_3, ManagementConsultancy::Lot['3'].full_description, class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :lot, '4', checked?(params[:lot], '4'), class: 'govuk-radios__input' %>
          <%= label_tag :lot_4, ManagementConsultancy::Lot['4'].full_description, class: 'govuk-label govuk-radios__label' %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag :lot, 'MCF.3', checked?(params[:lot], 'MCF2.3'), class: 'govuk-radios__input' %>
          <%= label_tag :lot_mcf2_3, ManagementConsultancy::Lot['MCF2.3'].full_description, class: 'govuk-label govuk-radios__label' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag t('common.submit'), class: "govuk-button" %>
<% end %>
