<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <h1 class="govuk-heading-xl">
    <%= t('.question') %>
  </h1>
  <div class="ccs-titles-checkboxes">
    <%= govuk_form_group_with_optional_error(@journey, :lot) do %>
      <%= govuk_fieldset_with_optional_error(@journey, :lot) do %>
        <%= display_error(@journey, :lot) %>
        <div class="govuk-radios">
          <h2 class="govuk-heading-m"><%= t('.mcf_heading') %></h2>
          <% ManagementConsultancy::Journey::ChooseLot.mcf_lots.each do |lot| %>
            <div class="govuk-radios__item">
              <%= radio_button_tag :lot, lot.number, checked?(params[:lot], lot.number), class: 'govuk-radios__input' %>
              <%= label_tag :"lot_#{lot.number}", "#{lot_number_and_description(lot.number,lot.description)}", class: 'govuk-label govuk-radios__label' %>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    <%= lot.description + ' services' %>
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <% lot.services.each do |service| %>
                      <li><%= service.name %></li>
                    <% end %>
                  </ul>
                </div>
              </details>
            </div>
          <% end %>
          <h2 class="govuk-heading-m"><%= t('.mcf2_heading') %></h2>
          <% ManagementConsultancy::Journey::ChooseLot.mcf2_lots.each do |lot| %>
            <div class="govuk-radios__item">
              <%= radio_button_tag :lot, lot.number, checked?(params[:lot], lot.number), class: 'govuk-radios__input' %>
              <%= label_tag :"lot_#{lot.number}", "#{lot_number_and_description(lot.number,lot.description)}", class: 'govuk-label govuk-radios__label' %>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    <%= lot.description %>
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    <% lot.services.each do |service| %>
                      <li><%= service.name %></li>
                    <% end %>
                  </ul>
                </div>
              </details>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= submit_tag t('common.submit'), class: "govuk-button" %>
  </div>
<% end %>
