<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do %>
  <div class="govuk-grid-column-two-thirds">
    <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
    <%= govuk_form_group_with_optional_error(@journey, :services) do %>
      <%= govuk_fieldset_with_optional_error(@journey, :services) do %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            <%= t('.question') %>
          </h1>
          <%= display_error(@journey, :services) %>
        </legend>
        <% if @journey.params['lot'].split('.')[0] == 'MCF2' %>
          <%= render partial: 'mcf2_services', locals: { services: @journey.current_step.services_for_lot(@journey.params['lot']) } %>
        <% else %>
          <%= render partial: 'mcf_services', locals: { services: @journey.current_step.services_for_lot(@journey.params['lot']) } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third govuk-!-margin-top-9">
    <%= submit_tag t('common.submit'), class: "govuk-button" %>
  </div>
<% end %>
