<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors }%>

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead_start') %> <span class="ccs-email-example"><%= cookies[:confirmation_email] %></span> <%= t('.lead_end') %>
    </p>

    <%= form_tag confirm_path, class: 'ccs-form', id: 'cop_confirmation_code', specialvalidation: true, novalidate: true, method: :post do %>

      <div class="govuk-form-group govuk-!-margin-bottom-7  <%= 'govuk-form-group--error' if @result.errors[:confirmation_code].any? %>">
        <label class="govuk-label govuk-label--m govuk-!-margin-bottom-0" for="confirmation">
          <%= t('.confirmation_code') %>
        </label>

        <%= display_error(@result, :confirmation_code) %>
        <%= text_field_tag :confirmation_code, nil, class: "govuk-input govuk-!-width-one-third", id: 'confirmation', type: 'number' %>
      </div>

      <% if cookies[:confirmation_email] %>
        <%= hidden_field_tag :email, cookies[:confirmation_email] %>
      <% else %>
        <div class="govuk-form-group <%= 'govuk-form-group--error' if @result.errors[:email].any? %>">
          <label class="govuk-label" for="email">
            <%= t('.email') %>
          </label>

          <%= display_error(@result, :email) %>
          <%= text_field_tag :email, nil, autofocus: true, autocomplete: "off", class:"govuk-input govuk-!-width-three-quarters", id: "email", spellcheck: false, aria: {describedby: "email-hint"} %>
        </div>
      <% end %>

      <%= submit_tag t('common.continue'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7", 'aria-label': "#{t('common.continue')}" %>

    <% end %>

    <% if cookies[:confirmation_email] %>
      <p class="govuk-body govuk-!-margin-bottom-7">
        <%= t('.resend_the_confirmation_email_html', link: resend_path) %>
      </p>
    <% end %>
  </div>
</div>
