<% unless @procurement.extensions_required %>
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.unanswered_contract_date_questions? && params[:validate] %>">Optional call-off extensions</th>
    <td class="govuk-table__cell" colspan="2">
      <%= 'None' unless @procurement.extensions_required.nil?%>
    </td>
  </tr>
<% end %>

<% 4.times do |period| %>
  <% period += 1%>
  <% unless @procurement.send("optional_call_off_extensions_#{period}").nil? %>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" >
        Optional call-off extension <%= period %>
      </th>
      <td class="govuk-table__cell" colspan="2">
        <%= govuk_details(pluralize(@procurement.send("optional_call_off_extensions_#{period}"), 'year'), true) do %>
          <%= extension_period_description period %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
