<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>

<%= govuk_warning_text(t('facilities_management.rm3830.admin.you_cannot_update.rates')) %>

<p class="govuk-body govuk-!-font-weight-regular govuk-hint">
  <%= t('.leading_text') %><br/>
  <%= t('.percentage_note') %>
</p>

<% @full_services.each do |service| %>
  <% rate_is_money = service['value_type'] == 'money' %>
  <%= govuk_table(
    [
      {
        text: service['name'],
        classes: 'app-custom-class govuk-!-font-weight-bold govuk-!-width-two-thirds left'
      },
      {
        text: t('.rate'),
        classes: 'app-custom-class govuk-!-font-weight-bold left'
      }
    ],
    service['work_package'].map do |work_pckg|
      rate = work_pckg['rate_standard_a_or_blank'].read_attribute_before_type_cast(:framework)

      [
        {
          text: "#{work_pckg['code']} #{work_pckg['name']}",
          classes: 'govuk-!-font-weight-regular supplier-rates-td'
        },
        {
          text: rate ? "#{rate_is_money ? '£' : ''}#{rate * (rate_is_money ? 1.0 : 100.0)}#{rate_is_money ? '' : '%'}" : '',
          classes: 'supplier-rates-td'
        }
      ]
    end,
    first_cell_is_header: true
  ) %>
<% end %>

<h2 class="govuk-heading-xl govuk-!-font-weight-bold govuk-!-margin-bottom-2">
  <%= t('.heading_two') %>
</h2>

<%= render 'variance_table', { attribue: :framework } %>