<div class="govuk-!-margin-top-5">
  <div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:mobilisation_period_required].any? || total_contract_length_error? %>">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        <span class='govuk-heading-m govuk-!-margin-bottom-0'>
          <%= t('.heading') %>
        </span>
      </legend>
      <p class="govuk-caption-m govuk-!-margin-top-0 govuk-!-width-two-thirds"><%= t('.description') %></p>
      <span id="mobilisation-required-warning"></span>
      <div class="govuk-form-group">
        <%= govuk_radios_conditional do %>
          <%= display_errors f.object, :mobilisation_period_required %>
          <%= govuk_radios_conditional_item(f, :mobilisation_period_required, true, 'Yes') %>
          <%= govuk_radios_conditional_area(:mobilisation_period_required, true) do %>
            <%= form_group_with_error(f.object, :mobilisation_period) do |displayed_error| %>
              <%= f.label :mobilisation_period, 'Enter mobilisation length', class: 'govuk-heading-s' %>
              <span class='govuk-caption-m govuk-!-margin-top-2 govuk-!-margin-bottom-2'>
                <%= t('.warning') %>
              </span>
              <%= displayed_error %>
              <%= f.number_field :mobilisation_period, class: "govuk-input govuk-input--width-4 period-input #{'govuk-input--error' if @procurement.errors[:mobilisation_period].any?}", maxlength: 3, min: '1', max: '312', step: 1 %>
              <span class='govuk-label--s govuk-!-margin-left-2'>
                <%= t('.unit') %>
              </span>
            <% end %>
          <% end %>
          <%= govuk_radios_conditional_item(f, :mobilisation_period_required, false, 'No') %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>