<%= govuk_page_content(@page_description, @page_data[:model_object], true) do |pd|%>
    <%=form_for @page_data[:model_object], url: facilities_management_procurements_path do |f|%>
        <div class="govuk-!-width-three-quarters">
            <h1 class="govuk-heading govuk-heading-m govuk-!-margin-bottom-5">
                Are you sure you wish to close the ‘<%= @page_data[:contract_name] %>’ (<%= @page_data[:contract_code] %>) procurement?
            </h1>
            <div class="govuk-body govuk-!-margin-bottom-5">
                Once closed, you will not be able to reopen this procurement to progress it. If this procurement has been offered to a supplier, the supplier will be immediately notified that you are closing this procurement, and your offer is now withdrawn.
            </div>
            <div id="contract-withdrawn-reason" class='govuk-!-margin-bottom-5' data-module="character-count" data-maxlength="500">
                <h1 class="govuk-heading govuk-heading-s">
                    Please provide a reason for closing this procurement
                </h1>
                <%= govuk_text_area_input_contracts(f, :contract_withdrawn_reason, true, ['rows', 10], ['maxlength', 500], [:class, 'govuk-!-margin-bottom-2']) %>
            </div>
            <div class="govuk-body">
                Closed procurements can be viewed in the closed section of your procurements dashboard, where you have the option to create a copy of the requirements for use in a new/similar procurement, or further competition.
            </div>
            <%= govuk_button(f, pd.navigation_details.primary_text, options = { submit: true, button: :warning, class: 'govuk-!-margin-right-4', 'aria-label': "#{pd.navigation_details.primary_text}"}) %>
            <%= govuk_button(f, pd.navigation_details.secondary_text, options = { submit: true, button: :secondary, 'aria-label': "#{pd.navigation_details.secondary_text}" }) %>
        </div>
    <% end %>
<% end %>
