<%= govuk_page_content(@page_description, @page_data[:model_object], true) do |pd|%>
    <%= form_for @page_data[:model_object], url: facilities_management_procurements_path do |f| %>
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
            <h1 class="govuk-panel__title">
                Your contract has been signed
            </h1>
            <div class="govuk-panel__body">
                The ‘<%= @page_data[:contract_name] %>’ <br />
                (<%= @page_data[:contract_code] %>) contract is now a live contract.
            </div>
        </div>
        <h1 class="govuk-heading-m govuk-!-margin-bottom-7">
            You’ve confirmed that both parties have signed. <br />
            This is now a live contract.
        </h1>
        <div class="govuk-body govuk-!-margin-bottom-7">
            <label class="govuk-label ccs-font-weight-semi-bold govuk-!-margin-bottom-2">
                Live contract period
            </label>
            Start date: <%= @page_data[:start_date] %> <br />
            End date: <%= @page_data[:end_date] %>
        </div>
        <%= f.submit(pd.navigation_details.secondary_text, class: 'govuk-button govuk-button--secondary', data: { disable_with: false }, name: 'commit', 'aria-label': "#{@page_description.navigation_details.secondary_text}") %>
    <% end %>
<% end %>
