<div class="govuk-!-font-size-19" id='contract-details-summary'>
  <table class="govuk-table govuk-!-width-three-quarters">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__cell" scope="row" width="45%"></th>
        <td class="govuk-table__cell" width="45%"></td>
        <td class="govuk-table__cell" width="10%"></td>
      </tr>
      <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:payment_method].any? %>">
        <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.errors[:payment_method].any? %>"><%= t('.payment_method') %></th>
        <td class=" govuk-table__cell <%= 'govuk-link govuk-link--no-visited-state' if @procurement.payment_method.nil? %>">
          <% case @procurement.payment_method %>
          <% when 'bacs' %>
            <%= t('facilities_management.procurements.edit.payment_method.bacs_payment') %>
          <% when 'card' %>
            <%= t('facilities_management.procurements.edit.payment_method.government_procurement_card') %>
          <% else %>
            <%= link_to 'Answer question', edit_facilities_management_procurement_path(id: @procurement.id, step: 'payment_method') %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <%= link_to 'Change', edit_facilities_management_procurement_path(id: @procurement.id, step: 'payment_method') unless @procurement.payment_method.nil? || @procurement.da_journey_state == 'review_and_generate' %>
        </td>
      </tr>
      <% if @procurement.errors[:payment_method].any? %>
        <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:payment_method].any? %>">
          <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :payment_method, false) %></td>
        </tr>
      <% end %>

      <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:using_buyer_detail_for_invoice_details].any? %>">
        <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.errors[:using_buyer_detail_for_invoice_details].any? %>"><%= t('.invoicing_contact_details') %></th>
        <td class="govuk-link govuk-table__cell govuk-link--no-visited-state" id='invoice-detail-summary'>
          <% case @procurement.using_buyer_detail_for_invoice_details %>
          <% when true %>
            <%= govuk_details("#{@current_user.buyer_detail.full_name}, #{@current_user.buyer_detail.job_title}", true) do %>
              <%= mail_to @current_user.email, @current_user.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %>  <br>
              <%= "Address: #{@current_user.buyer_detail.full_organisation_address}"%>
            <% end %>
          <% when false %>
            <%= govuk_details("#{@procurement.invoice_contact_detail.name}, #{@procurement.invoice_contact_detail.job_title}", true) do %>
              <%= mail_to @procurement.invoice_contact_detail.email, @procurement.invoice_contact_detail.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %>  <br>
              <%= "Address: #{@procurement.invoice_contact_detail.contact_address}"%>
            <% end %>
          <% else %>
            <%= link_to 'Answer question', edit_facilities_management_procurement_path(id: @procurement.id, step: 'invoicing_contact_details') %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <%= link_to 'Change', edit_facilities_management_procurement_path(id: @procurement.id, step: 'invoicing_contact_details') unless @procurement.using_buyer_detail_for_invoice_details.nil? || @procurement.da_journey_state == 'review_and_generate' %>
        </td>
      </tr>
      <% if @procurement.errors[:using_buyer_detail_for_invoice_details].any? %>
        <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:using_buyer_detail_for_invoice_details].any? %>">
          <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :using_buyer_detail_for_invoice_details, false) %></td>
        </tr>
      <% end %>

      <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:using_buyer_detail_for_authorised_detail].any? %>">
        <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.errors[:using_buyer_detail_for_authorised_detail].any? %>"><%= t('.authorised_representative') %></th>
        <td class="govuk-link govuk-table__cell govuk-link--no-visited-state" id='authorised-detail-summary'>
          <% case @procurement.using_buyer_detail_for_authorised_detail %>
          <% when true %>
            <%= govuk_details("#{@current_user.buyer_detail.full_name}, #{@current_user.buyer_detail.job_title}", true) do %>
              <%= mail_to @current_user.email, @current_user.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %>  <br/>
              <%= "Telephone: #{@current_user.buyer_detail.telephone_number}" %>  <br/>
              <%= "Address: #{@current_user.buyer_detail.full_organisation_address}"%>
            <% end %>
          <% when false %>
            <%= govuk_details("#{@procurement.authorised_contact_detail.name}, #{@procurement.authorised_contact_detail.job_title}", true) do %>
              <%= mail_to @procurement.authorised_contact_detail.email, @procurement.authorised_contact_detail.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %>  <br/>
              <%= "Telephone: #{@procurement.authorised_contact_detail.telephone_number}"%> <br/>
              <%= "Address: #{@procurement.authorised_contact_detail.contact_address}"%>
            <% end %>
          <% else %>
            <%= link_to 'Answer question', edit_facilities_management_procurement_path(id: @procurement.id, step: 'authorised_representative') %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <%= link_to 'Change', edit_facilities_management_procurement_path(id: @procurement.id, step: 'authorised_representative') unless @procurement.using_buyer_detail_for_authorised_detail.nil? || @procurement.da_journey_state == 'review_and_generate' %>
        </td>
      </tr>
      <% if @procurement.errors[:using_buyer_detail_for_authorised_detail].any? %>
        <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:using_buyer_detail_for_authorised_detail].any? %>">
          <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :using_buyer_detail_for_authorised_detail, false) %></td>
        </tr>
      <% end %>

      <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:using_buyer_detail_for_notices_detail].any? %>">
        <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.errors[:using_buyer_detail_for_notices_detail].any? %>"><%= t('.notices_contact_details') %></th>
        <td class="govuk-link govuk-table__cell govuk-link--no-visited-state" id='notice-detail-summary'>
          <% case @procurement.using_buyer_detail_for_notices_detail %>
          <% when true %>
            <%= govuk_details("#{@current_user.buyer_detail.full_name}, #{@current_user.buyer_detail.job_title}", true) do %>
              <%= mail_to @current_user.email, @current_user.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %>  <br/>
              <%= "Address: #{@current_user.buyer_detail.full_organisation_address}"%>
            <% end %>
          <% when false %>
            <%= govuk_details("#{@procurement.notices_contact_detail.name}, #{@procurement.notices_contact_detail.job_title}", true) do %>
              <%= mail_to @procurement.notices_contact_detail.email, @procurement.notices_contact_detail.email, class: 'govuk-link govuk-link--no-visited-state', tabindex: -1 %>  <br/>
              <%= "Address: #{@procurement.notices_contact_detail.contact_address}"%>
            <% end %>
          <% else %>
            <%= link_to 'Answer question', edit_facilities_management_procurement_path(id: @procurement.id, step: 'notices_contact_details') %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <%= link_to 'Change', edit_facilities_management_procurement_path(id: @procurement.id, step: 'notices_contact_details') unless @procurement.using_buyer_detail_for_notices_detail.nil? || @procurement.da_journey_state == 'review_and_generate' %>
        </td>
      </tr>
      <% if @procurement.errors[:using_buyer_detail_for_notices_detail].any? %>
        <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:using_buyer_detail_for_notices_detail].any? %>">
          <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :using_buyer_detail_for_notices_detail, false) %></td>
        </tr>
      <% end %>

      <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:security_policy_document_required].any? %>">
        <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.errors[:security_policy_document_required].any? %>"><%= t('.security_policy_document') %></th>
        <td class=" govuk-table__cell <%= 'govuk-link govuk-link--no-visited-state' if @procurement.security_policy_document_required %>", style="overflow-wrap: anywhere">
          <% case @procurement.security_policy_document_required %>
          <% when true %>
            <!--<a href="<%#= asset_path() %>?format=doc" download> <%#= @procurement.security_policy_document_file.to_s.split('/').last %> </a> -->
            <% if @procurement.security_policy_document_file.attached? %>
              <a href="<%= rails_blob_path(@procurement.security_policy_document_file, disposition: 'attachment') %>&format=<%= @procurement.security_policy_document_file.filename.to_s.split('.').last[0..2] %>" download> <%= @procurement.security_policy_document_file.filename.to_s %> </a>
            <% else %>
              Please upload a security policy document
            <% end %>
          <% when false %>
            Not applicable
          <% else %>
            <%= link_to 'Answer question', edit_facilities_management_procurement_path(id: @procurement.id, step: 'security_policy_document') %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <%= link_to 'Change', edit_facilities_management_procurement_path(id: @procurement.id, step: 'security_policy_document') unless @procurement.security_policy_document_required.nil? || @procurement.da_journey_state == 'review_and_generate' %>
        </td>
      </tr>
      <% if @procurement.errors[:security_policy_document_required].any? %>
        <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:security_policy_document_required].any? %>">
          <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :security_policy_document_required, false) %></td>
        </tr>
      <% end %>

      <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:local_government_pension_scheme].any? %>">
        <th scope="row" class="ccs-font-weight-semi-bold govuk-table__header <%= 'govuk-!-padding-left-2' if @procurement.errors[:local_government_pension_scheme].any? %>"><%= t('.local_government_pension_scheme') %></th>
        <td class=" govuk-table__cell <%= 'govuk-link govuk-link--no-visited-state' if @procurement.local_government_pension_scheme %>">
          <% case @procurement.local_government_pension_scheme %>
          <% when true %>
            <%= govuk_details("Pension scheme details", true) do %>
              <ul class="govuk-list govuk-list--bullet">
                <% @procurement.procurement_pension_funds.order(created_at: :asc).each do | pension_fund | %>
                  <li> <%= "#{pension_fund.name}, #{pension_fund.percentage}%" %> </li>
                <% end %>
              </ul>
            <% end %>
            <%= link_to 'Add or remove pension funds', edit_facilities_management_procurement_path(id: @procurement.id, step: 'pension_funds'), class: "govuk-link--no-visited-state" unless @procurement.da_journey_state == 'review_and_generate' %>
          <% when false %>
            Not applicable
          <% else %>
            <%= link_to 'Answer question', edit_facilities_management_procurement_path(id: @procurement.id, step: 'local_government_pension_scheme') %>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-!-padding-left-2">
          <%= link_to 'Change', edit_facilities_management_procurement_path(id: @procurement.id, step: 'local_government_pension_scheme') unless @procurement.local_government_pension_scheme.nil? || @procurement.da_journey_state == 'review_and_generate' %>
        </td>
      </tr>
      <% if @procurement.errors[:local_government_pension_scheme].any? %>
        <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:local_government_pension_scheme].any? %>">
          <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :local_government_pension_scheme, false) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
