<%= govuk_page_content(@page_description, @page_data[:model_object], false, true, true) do |pd|  %>
    <%= form_for @page_data[:model_object], url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
        <div class="govuk-body govuk-!-font-size-24 govuk-!-width-three-quarters">
            Please review the full details of your requirements below in sections 1 and 2. If you wish to make any amendments, please use the change button relevant to that section. </br>
            Once you are satisfied that all the information is correct please use the generate documents button in section 3 to generate your call off documents. You will then be asked to review the generated contract and associated documents.
        </div>
        <div>
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-9">
                1. Requirements
            </h1>
            <%= render partial: 'facilities_management/procurements/da_buyer/procurement_requirements' %>

            <%= f.submit('Change requirements', class: 'govuk-button govuk-button--warning', data: { disable_with: false }, name: :change_requirements, 'aria-label': "Change requirements") %>
        </div>

        <div>
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
                2. Contract details
            </h1>
            <%= render partial: 'facilities_management/procurements/da_buyer/contract_details_summary' %>

            <%= f.submit('Change contract details', class: 'govuk-button govuk-button--secondary', data: { disable_with: false }, name: :change_contract_details, 'aria-label': "Change contract details") %>
        </div>

        <div>
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
                3. Generate your direct award documents
            </h1>
            <div class="govuk-hint govuk-!-width-three-quarters govuk-!-padding-left-5">
                Click the 'Generate documents' button below to proceed and create all the documents that will form your direct award call-off contract.
            </div>
            <%= govuk_continuation_buttons(pd, f) %>
        </div>
    <%end %>
<% end %>
