<%= govuk_page_content(@page_description, @page_data[:model_object], false, true, true) do |pd|  %>
    <%= form_for @page_data[:model_object], url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
        <div class="govuk-body govuk-!-font-size-24 govuk-!-width-three-quarters">
            <%= t('.please_review')%><br/>
            <%= t('.once_satisfied')%>
        </div>
        <div>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-9">
                <%= t('.requirements')%>
            </h2>
            <%= render partial: 'facilities_management/procurements/da_buyer/procurement_requirements' %>

            <%= f.submit('Change requirements', class: 'govuk-button govuk-button--secondary', name: :change_requirements, 'aria-label': "Change requirements") %>
        </div>

        <div>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
                <%= t('.contract_details')%>
            </h2>
            <%= render partial: 'facilities_management/procurements/da_buyer/contract_details_summary' %>

            <%= f.submit('Change contract details', class: 'govuk-button govuk-button--secondary', name: :change_contract_details, 'aria-label': "Change contract details") %>
        </div>

        <div>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-5">
                <%= t('.generate_your_documents')%>
            </h2>
            <div class="govuk-hint govuk-!-width-three-quarters govuk-!-padding-left-5">
                <%= t('.click_generate_documents')%>
            </div>
            <%= govuk_continuation_buttons(pd, f) %>
        </div>
    <%end %>
<% end %>
