<%= govuk_page_content(@page_description, @page_data[:model_object], false, true) do |pd|  %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <p class="govuk-!-font-size-24">
        <%= t('.contract_ready_to_send_html', supplier_name: @procurement.procurement_suppliers.first.supplier.data['supplier_name']) %>
      </p>
      <p class="govuk-body"><%= t('.click_confirm_and_continue') %></p>
    </div>
  </div>

  <%= warning_text(t('.warning_text')) %>

  <%= form_for @page_data[:model_object], url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
      <%= govuk_continuation_buttons(pd, f) %>
  <%end %>

<% end %>
