<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <p class="govuk-body-l"><%= t('.heading') %></p>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step step-is-shown" id="creating-your-contract">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>
              <span class="js-step-title">
                <span class="js-step-title-text">
                  <%= t('.step_1_title') %>
                </span>
                <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">
                  Hide
                </span>
              </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-creating-your-contract-1" hidden>
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="1.1"><%= t('.step_1_content_1') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="1.2"><%= t('.step_1_content_2') %></span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="review-contract">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>
              <span class="js-step-title">
                <span class="js-step-title-text">
                  <%= t('.step_2_title') %>
                </span>
                <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">
                  Hide
                </span>
              </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-review-contract-2" hidden>
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.1"><%= t('.step_2_content_1') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.2"><%= t('.step_2_content_2') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="2.3"><%= t('.step_2_content_3_html') %></span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step" id="waiting">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__square app-step-nav__square--logic">
                <span class="app-step-nav__square-inner">
                  <span class="app-step-nav__square-background">
                    <%= t('.waiting_html') %>
                  </span>
                </span>
              </span>
                <span class="js-step-title" style="margin-left:0">&nbsp;</span>
              </h2>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="offer-accepted">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>
              <span class="js-step-title">
                <span class="js-step-title-text">
                  <%= t('.step_3_title') %>
                </span>
                <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">
                  Hide
                </span>
              </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-accepted-3" hidden>
              <ol class="app-step-nav__list " data-length="4">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.1"><%= t('.step_3_content_1') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.2"><%= t('.step_3_content_2') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.3"><%= t('.step_3_content_3') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="3.4"><%= t('.step_3_content_4') %></span>
                </li>
              </ol>
            </div>
          </li>
          <li class="app-step-nav__step" id="or">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__square app-step-nav__square--logic">
                <span class="app-step-nav__square-inner">
                  <span class="app-step-nav__square-background">
                    or
                  </span>
                </span>
              </span>
              </h2>
            </div>
          </li>
          <li class="app-step-nav__step js-step step-is-shown" id="offer-declined">
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>
              <span class="js-step-title">
                <span class="js-step-title-text">
                  <%= t('.step_4_title') %>
                </span>
                <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">
                  Hide
                </span>
              </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel" id="step-panel-offer-declined-4" hidden>
              <p class="app-step-nav__paragraph"><%= t('.step_4_content_1') %></p>
              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.1"><%= t('.step_4_content_2') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.2"><%= t('.step_4_content_3') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.3"><%= t('.step_4_content_4') %></span>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <span data-position="4.4"><%= t('.step_4_content_5') %></span>
                </li>
              </ol>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <%= form_for @page_data[:model_object], url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: false, novalidate: true, multipart: true } do |f| %>
    <%= govuk_continuation_buttons(pd, f) %>
  <% end %>
<% end %>
