<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs({text: t('.heading')}) %>
<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-font-weight-regular govuk-hint">
      <%= t('.view_supplier_details') %>
    </p>
    <%= search_box(t('.search_for_a_supplier'))%>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table" id="fm-table-filter">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('.supplier_name') %></th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('.supplier_contact_email') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @suppliers.each do |supplier| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
              <%= link_to supplier.supplier_name, facilities_management_rm3830_admin_supplier_detail_path(id: supplier.supplier_id), class: 'govuk-link--no-visited-state' %>
            </th>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= contact_detail(:contact_email, supplier) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
