<% unless @live_contracts.empty? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"><%= t('.live_contracts')%></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.contract_name')%></th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.buyer')%></th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.start_date')%></th>
        <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter" scope="col"><%= t('.end_date')%></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @live_contracts.each do |live_contract| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= link_to live_contract.procurement.contract_name, facilities_management_supplier_contract_path(live_contract.id), class: 'govuk-link govuk-link--no-visited-state' %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= live_contract.procurement.user.buyer_detail.organisation_name %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= format_date live_contract.contract_start_date %> </td>
          <td class="govuk-table__cell"> <%= format_date live_contract.contract_end_date %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
    <h2 class="govuk-table__caption--m"><%= t('.live_contracts')%></h2>
    <hr class="govuk-section-break govuk-section-break--visible">
      <span class="govuk-hint govuk-!-margin-top-3"><%= t('.no_live_contracts')%></span>
    <hr class="govuk-section-break govuk-section-break--visible">
<% end %>
