<% unless @received_offers.empty? %>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"><%= t('.received_offers')%></caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.contract_name')%></th>
          <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.buyer')%></th>
          <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter govuk-!-padding-right-4" scope="col"><%= t('.date_offer_expires')%></th>
          <td class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-quarter"></td>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @received_offers.each do |received_offer| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= link_to received_offer.procurement.contract_name, facilities_management_supplier_contract_path(received_offer.id), class: 'govuk-link govuk-link--no-visited-state' %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= received_offer.procurement.user.buyer_detail.organisation_name %> </td>
          <td class="govuk-table__cell govuk-!-padding-right-4"> <%= format_date_time received_offer.contract_expiry_date %> </td>
          <td class="govuk-table__cell"><strong class="govuk-tag"> <%= t('.action_required') %> </strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2 class="govuk-table__caption--m"><%= t('.received_offers')%></h2>
  <hr class="govuk-section-break govuk-section-break--visible">
    <span class="govuk-hint govuk-!-margin-top-3"><%= t('.no_received_offers') %></span>
  <hr class="govuk-section-break govuk-section-break--visible">
<% end %>
