<% row_visible = optional_call_off_extension_visible?(f.index) %>
<% remove_button_visible = row_visible && !optional_call_off_extension_visible?(f.index + 1) %>

<div id="extension-<%= f.index %>-container" class="govuk-form-group govuk-!-margin-left-3 extension-container <%= hidden_class(row_visible) %>" data-extension="<%= f.index%>">
  <fieldset class="govuk-fieldset">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <legend class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-padding-left-0">
          <%= t('.extension_period', extension: f.index + 1) %>
        </legend>
        <%= display_error(f.object, :years) %>
        <%= display_error(f.object, :months) %>
        <%= display_error(f.object, :base) %>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <%= f.number_field :years, class: "govuk-input govuk-input--width-5 period-input #{'govuk-input--error' if f.object.errors[:years].any?}", tabindex: input_visible?(row_visible), aria: { label: t('.aria_label_years', extension: f.index + 1) } %>
        <span class="govuk-label--s govuk-!-margin-left-2">
          <%= t('.years') %>
        </span>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <%= f.number_field :months, class: "govuk-input govuk-input--width-5 period-input #{'govuk-input--error' if f.object.errors[:months].any?}", tabindex: input_visible?(row_visible), aria: { label: t('.aria_label_months', extension: f.index + 1) } %>
        <span class="govuk-label--s govuk-!-margin-left-2">
          <%= t('.months') %>
        </span>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= f.hidden_field :extension, value: f.index %>
        <%= f.hidden_field :extension_required, value: row_visible %>
        <%= button_tag(t('.remove'), id: "extension-#{f.index}-remove-button", class: "govuk-button govuk-button--secondary govuk-!-margin-bottom-0 extension-remove-button #{hidden_class(remove_button_visible)}", tabindex: input_visible?(remove_button_visible), data: { extension: f.index }) unless f.index.zero? %>
      </div>
    </div>
  </fieldset>
</div> 