<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_group_with_error(f.object, :active) do |displayed_error, any_errors| %>
      <%= f.hidden_field :active %>
      <%= f.label(:active, t('.supplier_status_question'), class: 'govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-left-0') %>
      <p class="govuk-body govuk-!-margin-top-4"><%= t('.status_hint') %></p>
      <%= displayed_error %>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <%= f.radio_button :active, true, class: 'govuk-radios__input', required: true %>
          <%= f.label :active, value: true, class: 'govuk-label govuk-radios__label' do %>
            <%= govuk_tag(t('.active')) %>
          <% end %>
        </div>
        <div class="govuk-radios__item">
          <%= f.radio_button :active, false, class: 'govuk-radios__input', required: true %>
          <%= f.label :active, value: false , class: 'govuk-label govuk-radios__label' do %>
            <%= govuk_tag(t('.inactive'), :red) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
