<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs(
  { text: t('facilities_management.rm6232.admin.supplier_data.index.heading'), href: facilities_management_rm6232_admin_supplier_data_path },
  { text: t('.heading') }
)%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      <%= @supplier.supplier_name %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
    <p>
      <%= t('.you_can_edit') %>
    </p>
  </div>
</div>

<% @lot_data.each do |lot_data| %>
  <div id="lot-data_table--lot-<%= lot_data[:lot_code] %>" class="govuk-grid-row lot-data-table">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        <%= t('.lot_code', lot_code: lot_data[:lot_code]) %>
      </h2>
      <hr class="govuk-section-break govuk-section-break--visible">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.status') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_tag_with_text(*lot_data[:current_status]) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to facilities_management_rm6232_admin_supplier_lot_datum_edit_path(supplier_lot_datum_id: lot_data[:id], lot_data_type: 'lot_status'), class: 'govuk-link--no-visited-state' do %>
              <%= t('.change') %> <span class="govuk-visually-hidden"><%= t('.lot_status', lot_code: lot_data[:lot_code]) %></span>
            <% end %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.services') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_details(t('.show_services')) do %>
              <ul class="govuk-list govuk-list--bullet">
                <% lot_data[:service_names].each do |service_name| %>
                  <li>
                    <%= service_name %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to facilities_management_rm6232_admin_supplier_lot_datum_edit_path(supplier_lot_datum_id: lot_data[:id], lot_data_type: 'service_codes'), class: 'govuk-link--no-visited-state' do %>
              <%= t('.change') %> <span class="govuk-visually-hidden"><%= t('.lot_services', lot_code: lot_data[:lot_code]) %></span>
            <% end %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('.regions') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= govuk_details(t('.show_regions')) do %>
              <ul class="govuk-list govuk-list--bullet">
                <% lot_data[:region_names].each do |region_name| %>
                  <li>
                    <%= region_name %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to facilities_management_rm6232_admin_supplier_lot_datum_edit_path(supplier_lot_datum_id: lot_data[:id], lot_data_type: 'region_codes'), class: 'govuk-link--no-visited-state' do %>
              <%= t('.change') %> <span class="govuk-visually-hidden"><%= t('.lot_regions', lot_code: lot_data[:lot_code]) %></span>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
<% end %>
