<%= content_for :page_title, t('.title') %>
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= @procurement.contract_name %></span>
  <%= t('.title') %>
</h1>

<div>
  <p class="govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-width-two-thirds">
    <%= t('.description') %>
  </p>
</div>

<div>
  <p class="govuk-body govuk-!-width-two-thirds"><%= t('.next_steps') %></p>
  <ul class="govuk-list govuk-list--bullet govuk-body">
    <li><%= t('.next_steps_list_1') %></li>
    <li><%= t('.next_steps_list_2') %></li>
  </ul>
</div>

<div class="govuk-body govuk-!-width-two-thirds govuk-!-margin-top-4">
  <%= t('.footer_description_1') %><br />
  <%= t('.footer_description_2') %>
</div>

<div class="govuk-!-margin-bottom-4">
  <%= link_to("Return to procurement dashboard", facilities_management_procurements_path, role: 'button', class: 'govuk-link govuk-!-font-size-19', 'aria-label': "Return to procurement dashboard") %>
</div>
