<%= content_for :page_title, t('.title') %>
<div id='supplier-declined-offer'>
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title govuk-!-font-size-36">
            <%= t('.title') %>
        </h1>
        <div class="govuk-panel__body govuk-!-font-size-27">
            <%= "#{t('.contract_name')} #{@contract.procurement.contract_name}" %> <br> 
            <%= "#{t('.contract_number')} #{@contract.contract_number}" %>
        </div>
    </div>
    
    <div class="govuk-body govuk-!-margin-bottom-9">
        <%= t('.description') %>
    </div>
    
</div>
