<div class="govuk-!-width-two-thirds">
    <h2 class="govuk-heading-m"> <%= t('.authorised_representative_detail_description_header') %> </h2>
    <div class="govuk-form-group <%= 'govuk-form-group--error' unless @procurement.errors[:using_buyer_detail_for_authorised_detail].empty? %>">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend <%= 'govuk-!-margin-bottom-6' if @procurement.errors[:using_buyer_detail_for_authorised_detail].empty? %>">
                <%= t('.authorised_representative_detail_description')%>
            </legend><%= display_errors(f.object, :using_buyer_detail_for_authorised_detail)%>
            <div class="govuk-radios">
                <div class="govuk-radios__item govuk-!-margin-bottom-6">
                    <%= f.radio_button :using_buyer_detail_for_authorised_detail, true, class: 'govuk-radios__input' %>
                    <%= f.label :using_buyer_detail_for_authorised_detail, value: true, class: 'govuk-label govuk-radios__label ccs-font-weight-semi-bold' do %>
                    <%= (@current_user.buyer_detail.full_name + ', ' + @current_user.buyer_detail.job_title) if @current_user.buyer_detail.full_name.present? && @current_user.buyer_detail.job_title.present?%>
                    <span class="govuk-caption-m govuk-!-margin-top-2 ">
                        <%= @current_user.buyer_detail.full_organisation_address %>
                    </span>
                    <% end %>
                </div>
                <% if @procurement.authorised_contact_detail.blank? %>
                <div class="govuk-radios__item">
                    <%= f.radio_button :using_buyer_detail_for_authorised_detail, false, class: 'govuk-radios__input' %>
                    <%= f.label :using_buyer_detail_for_authorised_detail, value: false, class: 'govuk-label govuk-radios__label ccs-font-weight-semi-bold' do %>
                    <%= t('.new') %>
                    <% end %>
                </div>
                <% else %>
                    <div class="govuk-radios__item">
                    <%= f.radio_button :using_buyer_detail_for_authorised_detail, false, class: 'govuk-radios__input' %>
                    <%= f.label :using_buyer_detail_for_authorised_detail, value: false, class: 'govuk-label govuk-radios__label ccs-font-weight-semi-bold' do %>
                    <%= @procurement.authorised_contact_detail.name + ", " +  @procurement.authorised_contact_detail.job_title %>
                    <span class="govuk-caption-m govuk-!-margin-top-2 ">
                        <%= @procurement.authorised_contact_detail.contact_address %>
                        <br/>
                        <div class="govuk-!-margin-top-2" >
                        <%= link_to t('.change'), facilities_management_procurement_contract_details_edit_path(page:  'new_authorised_representative') %>
                        </div>
                    </span>
                    <% end %>
                </div>
                <% end %>
            </div>
        </fieldset>
    </div>
</div>
