<div class="govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m"> <%= t('.header') %> </h2>

  <legend class="govuk-fieldset__legend <%= 'govuk-!-margin-bottom-3' if @procurement.errors[:governing_law].empty? %>">
    <%= t('.description_html')%>
  </legend>

  <ul class="govuk-list">
    <% %w[core_terms call_off_24 call_off_25].each do |doc_key| %>
      <li class="govuk-!-margin-bottom-2">
        <a href="<%= asset_path(t(".contract_documents.#{doc_key}.file_name"), skip_pipeline: true) %>?format=pdf" class="supplier-record__file-download" type="<%= t('common.type_pdf') %>" style="min-height: 25px" download>
          <%= t(".contract_documents.#{doc_key}.title") %> <span class="govuk-visually-hidden"><%= t('common.pdf_html') %></span>
        </a>
        <span class="govuk-caption-m" style="padding-left: 70px"><%= t(".contract_documents.#{doc_key}.description") %></span>
      </li>
    <% end %>
  </ul>

  <div class="govuk-form-group <%= 'govuk-form-group--error' unless @procurement.errors[:governing_law].empty? %>">
    <fieldset class="govuk-fieldset">
      <p class="ccs-font-weight-semi-bold"><%= t('.prompt') %></p>

      <%= display_errors(f.object, :governing_law)%>
      <div class="govuk-radios">

        <div class="govuk-radios__item">
          <%= f.radio_button :governing_law, 'english', class: 'govuk-radios__input' %>
          <%= f.label :governing_law, value: 'english', class: 'govuk-label govuk-radios__label' do %>
            <%= t('.english') %>
          <% end %>
        </div>

        <div class="govuk-radios__item">
          <%= f.radio_button :governing_law, 'scottish', class: 'govuk-radios__input' %>
          <%= f.label :governing_law, value: 'scottish', class: 'govuk-label govuk-radios__label'  do %>
            <%= t('.scottish') %>
          <% end %>
        </div>

        <div class="govuk-radios__item">
          <%= f.radio_button :governing_law, 'northern_ireland', class: 'govuk-radios__input' %>
          <%= f.label :governing_law, value: 'northern_ireland', class: 'govuk-label govuk-radios__label'  do %>
            <%= t('.northern_ireland') %>
          <% end %>
        </div>

      </div>
    </fieldset>
  </div>
</div>
