<div class="govuk-!-width-two-thirds govuk-!-padding-left-0" id="edit-contact-detail">
  <% @address_step = address_step %>
  <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:name].any? %>">
    <%= ff.label :name, t('.name'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{page_contact}.name#{'-error' if ff.object.errors[:name].any?}" %>
    <%= display_error(ff.object, :name) %>
    <%= ff.text_field :name, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:name].any? } ", maxlength: 50 %>
  </div>

  <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:job_title].any? %>">
    <%= ff.label :job_title, t('.job_title'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{page_contact}.job_title#{'-error' if ff.object.errors[:job_title].any?}" %>
    <%= display_error(ff.object, :job_title) %>
    <%= ff.text_field :job_title, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:job_title].any? } ", maxlength: 50 %>
  </div>

  <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:email].any? %>">
    <%= ff.label :email, t('.email'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{page_contact}.email#{'-error' if ff.object.errors[:email].any?}" %>
    <%= display_error(ff.object, :email) %>
    <%= ff.text_field :email, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:email].any? } ", maxlength: 50 %>
  </div>
  <% if telephone_number %>
    <div class="govuk-form-group <%= "govuk-form-group--error" if ff.object.errors[:telephone_number].any? %>">
      <%= ff.label :telephone_number, t('.telephone_number'), class: 'govuk-label govuk-!-margin-bottom-3', id: "#{page_contact}.telephone_number#{'-error' if ff.object.errors[:telephone_number].any?}" %>
      <%= display_error(ff.object, :telephone_number) %>
      <%= ff.text_field :telephone_number, class: "govuk-input #{'govuk-input--error' if ff.object.errors[:telephone_number].any? } ", maxlength: 15 %>
    </div>
  <% end %>

  <div class="govuk-heading-s govuk-!-margin-bottom-2">
    <%= t('.address') %>
  </div>

  <%= render partial: 'facilities_management/buyer_details/contact_detail_address_container', locals: { f: ff } %>
</div>
