<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <%= t('.jurisdiction_supplier_offers') %>
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <%= link_to(t("shared.admin.lot_data.show.#{@supplier_framework_lot_jurisdiction_ids.any? ? 'change_html' : 'add_html'}", section: t('.jurisdiction_supplier_offers')), supplier_lot_data_edit_path(@supplier_framework, @lot.number_as_slug, @section), class: 'govuk-link govuk-link--no-visited-state') %>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <% if @supplier_framework_lot_jurisdiction_ids.none? %>
          <p class="govuk-body govuk-!-margin-bottom-0">
            <%= t('.no_jurisdictions_offered') %>
          </p>
        <% else %>
          <% @jurisdictions.each do |group, jurisdictions| %>
            <div class="section-list-group">
              <% unless group.nil? %>
                <p class="govuk-body"><%= group %></p>
              <% end %>
              <ul class="govuk-list govuk-list--bullet">
                <% jurisdictions.each do |jurisdiction| %>
                  <% if @supplier_framework_lot_jurisdiction_ids.include?(jurisdiction.id) %>
                    <li><%= jurisdiction.name %> (<%= jurisdiction.code %>)</li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
