<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




        <div id="ccs-error-sum" class="govuk-error-summary govuk-visually-hidden ccs-e-msg" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                <%= t('common.error_summary_title') %>
            </h2>
            <div class="govuk-error-summary__body">
                <ul id="ccs-error-sum-list" class="govuk-list govuk-error-summary__list"></ul>
            </div>
        </div>





        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            <%= t('.heading_html') %>
        </h1>

        <p class="govuk-body-l govuk-!-margin-bottom-8">
            <%= t('.lead') %>
        </p>

        <%= form_tag @form_path, class: 'ccs-form', id: 'cop_register', method: :get do %>

            <!-- your details start -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <%= t('.your_details') %>
                </legend>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="firstname">
                        <%= t('.first_name') %>
                    </label>

                    <span id="firstname-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.enter_first_name') %>
                    </span>

                    <input class="govuk-input govuk-!-width-three-quarters" id="firstname" name="firstname" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="lastname">
                        <%= t('.last_name') %>
                    </label>

                    <span id="lastname-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.enter_last_name') %>
                    </span>

                    <input class="govuk-input govuk-!-width-three-quarters" id="lastname" name="lastname" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="jobtitle">
                        <%= t('.job_title') %>
                    </label>
                    <input class="govuk-input govuk-!-width-three-quarters" id="jobtitle" name="jobtitle" type="text">
                </div>

            </fieldset>
            <!-- you details end -->

            <!-- organisation details start -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <%= t('.org_details') %>
                </legend>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="organisationname">
                        <%= t('.org_name') %>
                    </label>

                    <span id="organisationname-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.enter_org_name') %>
                    </span>

                    <input class="govuk-input govuk-!-width-three-quarters" id="organisationname" name="organisationname" type="text">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="email">
                        <%= t('.email') %>
                    </label>

                    <span id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
                        <%= t('.email_hint') %>
                    </span>

                    <span id="email-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.email_format') %>
                    </span>

                    <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
                </div>

            </fieldset>
            <!-- organisation details end -->

            <!-- password start -->
            <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">


                <label class="govuk-label govuk-label--m" for="password01">
                    <%= t('.create_password') %>
                </label>

                <div class="govuk-form-group">

                    <p class="govuk-body govuk-!-margin-bottom-1">Your password must have:</p>

                    <%= render '/layouts/password-strength', text: 'password01' %>

                    <span id="password01-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.enter_a_password') %>
                    </span>

                    <span id="password01-eighterror" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.password_must_be') %>
                    </span>

                    <span id="password01-Serror" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.passwords_stronger') %>
                    </span>

                    <span id="password01-uppererror" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.passwords_upper') %>
                    </span>

                    <input class="govuk-input govuk-!-width-three-quarters" id="password01" name="password01" type="password" autocomplete="new-password">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="password02">
                        <%= t('.confirm_password') %>
                    </label>

                    <span id="password02-error" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.enter_your_password') %>
                    </span>

                    <span id="password02-matcherror" class="govuk-error-message govuk-visually-hidden ccs-e-msg">
                        <%= t('activemodel.errors.models.ccs_patterns/home/cog_register.attributes.passwords_dont_match') %>
                    </span>

                    <input class="govuk-input govuk-!-width-three-quarters" id="password02" name="password02" type="password" autocomplete="new-password">
                </div>

            </fieldset>
            <!-- password end -->

            <%= submit_tag t('common.create_account'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7 govuk-!-margin-bottom-8" %>

        <% end %>

    </div>
</div>
