        <!-- ignore this comment -->
        <p style="margin-bottom: 70px; font-style: italic; font-size: 12px;">Note: this HTML is provided and shown here within the context of a standard webpage. (Do not &quot;test/compare&quot; this full page HTML against the design).</p>
        <!-- ignore this comment -->


        <!--
        for email you may have to use inline styles...
        <p style="font: arial 11px;">...</p>
        -->


        <div style="margin: 0 auto; width: 80%; padding: 20px;">

            <p class="govuk-body">
                <%= t('.greeting') %>
            </p>

            <p class="govuk-body">
                <%= t('.line_01') %>
            </p>

            <p class="govuk-body">
                <%= t('.line_02') %>:
            </p>

            <p class="govuk-body">
                <a href="https://www.crowncommercialservice.xyz/lkdjfIUIcx%3D" style="overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-word;">https://www.crowncommercialservice.xyz/lkdjfIUIcx%3D</a>
            </p>

            <p class="govuk-body">
                <%= t('.line_03') %>
            </p>

            <p class="govuk-body">
                <%= t('.sign_off_html') %>
            </p>

        </div>
