        <!-- ignore this comment -->
        <p style="margin-bottom: 70px; font-style: italic; font-size: 12px;">Note: this HTML is provided and shown here within the context of a standard webpage. (Do not &quot;test/compare&quot; this full page HTML against the design).</p>
        <!-- ignore this comment -->





        <div style="margin: 0 auto; width: 80%; padding: 20px;">

            <p class="govuk-body">
                <%= t('.greeting') %>
            </p>

            <p class="govuk-body">
                <%= t('.line_01') %>: <b>ADB123</b>
            </p>

            <p class="govuk-body">
                <%= t('.line_02') %>
            </p>

            <p class="govuk-body">
                <%= t('.line_03_html') %>
            </p>

            <p class="govuk-body">
                <%= t('.sign_off_html') %>
            </p>

        </div>
