<h2 class="govuk-heading-m govuk-!-margin-bottom-1">
  <%= t('.services_and_buildings') %>
</h2>

<div class="govuk-!-margin-left-5 govuk-!-margin-bottom-5">
  <%= link_to t('.excel'), facilities_management_procurement_path(procurement_id: @procurement.id, 'spreadsheet': true) %>,
  <%= t('.which_you_can_upload') %>
</div>

<dl class="govuk-summary-list govuk-!-margin-left-5 procurement-summary">
  <div class="govuk-summary-list__row govuk-summary-list__row-top-border">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <%= link_to t('.services'), facilities_management_procurement_summary_path(@procurement, summary: 'services'), :class => "govuk-link" %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.services_status) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <%= link_to t('.buildings'), facilities_management_procurement_summary_path(@procurement, summary: 'buildings'), :class => "govuk-link" %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.buildings_status) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <% if procurement.buildings_and_services_status == :cannot_start %>
        <%= t('.assigning_services_to_buildings') %>
      <% else %>
        <%= link_to t('.assigning_services_to_buildings'), facilities_management_procurement_summary_path(@procurement, summary: 'buildings_and_services'), :class => "govuk-link" %>
      <% end %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.buildings_and_services_status) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <% if procurement.service_requirements_status == :cannot_start %>
        <%= t('.service_requirements') %>
      <% else %>
        <%= link_to t('.service_requirements'), facilities_management_procurement_summary_path(@procurement, summary: 'service_requirements'), :class => "govuk-link" %>
      <% end %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.service_requirements_status) %>
    </dd>
  </div>
</dl>
