<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header govuk-!-font-size-24" width="30%">About the contract</th>
      <td class="govuk-table__cell" width="45%"></td>
      <td class="govuk-table__cell" width="25%"></td>
    </tr>
    <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:contract_name].any? %>">
      <th scope="row" class="govuk-table__header govuk-!-font-size-19 <%= 'govuk-!-padding-left-2' if @procurement.errors[:contract_name].any? %>">Contract name</th>
      <td class="govuk-table__cell">
        <% unless @procurement.contract_name.nil? %>
          <%= @procurement.contract_name %>
        <% else %>
          <%= link_to "Answer question", edit_facilities_management_procurement_path(:step => 'contract_name'), :class => "govuk-link"%>
        <% end %>
      </td>
      <td class="govuk-table__cell"><%= link_to "Change", edit_facilities_management_procurement_path(:step => 'contract_name'), :class => "govuk-link" unless @procurement.contract_name.nil? %></td>
    </tr>
    <% if @procurement.errors[:contract_name].any? %>
      <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 govuk-form-group--error">
        <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2 " colspan="3"><%= display_error(@procurement, :contract_name, false) %></td>
      </tr>
    <% end %>
    <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:estimated_cost_known].any? %>">
      <th scope="row" class="govuk-table__header govuk-!-font-size-19 <%= 'govuk-!-padding-left-2' if @procurement.errors[:estimated_cost_known].any? %>">Estimated annual cost</th>
      <td class="govuk-table__cell">
        <% unless @procurement.estimated_cost_known.nil? %>
          <%= "£#{number_with_delimiter(@procurement.estimated_annual_cost, :delimiter => ',')}" if @procurement.estimated_cost_known? %>
          <%= t('.no_cost_provided') if !@procurement.estimated_cost_known? %>
        <% else %>
          <%= link_to "Answer question", edit_facilities_management_procurement_path(:step => 'estimated_annual_cost'), :class => "govuk-link"%>
        <% end %>
      </td>
      <td class="govuk-table__cell"><%= link_to "Change", edit_facilities_management_procurement_path(:step => 'estimated_annual_cost'), :class => "govuk-link" unless @procurement.estimated_cost_known.nil? %></td>
    </tr>
    <% if @procurement.errors[:estimated_cost_known].any? %>
      <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 govuk-form-group--error">
        <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2 " colspan="3"><%= display_error(@procurement, :estimated_cost_known, false) %></td>
      </tr>
    <% end %>
    <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:tupe].any? %>">
      <th scope="row" class="govuk-table__header govuk-!-font-size-19 <%= 'govuk-!-padding-left-2' if @procurement.errors[:tupe].any? %>">TUPE</th>
      <td class="govuk-table__cell">
        <% unless @procurement.tupe.nil? %>
          <%= @procurement.tupe? ? 'Yes' : 'No' %>
        <% else %>
          <%= link_to "Answer question", edit_facilities_management_procurement_path(:step => 'tupe'), :class => "govuk-link"%>
        <% end %>
      </td>
      <td class="govuk-table__cell">
        <%= link_to "Change", edit_facilities_management_procurement_path(:step => 'tupe'), :class => "govuk-link" unless @procurement.tupe.nil? %>
      </td>
    </tr>
    <% if @procurement.errors[:tupe].any? %>
      <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 govuk-form-group--error">
        <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2 " colspan="3"><%= display_error(@procurement, :tupe, false) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
