<h2 class="govuk-heading-m govuk-!-margin-bottom-1">
  <%= t('.contract_details') %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-left-5" style="width: 95%">
  <div class="govuk-summary-list__row govuk-summary-list__row-top-border">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <%= link_to t('.contract_name'), edit_facilities_management_procurement_path(:step => 'contract_name'), :class => "govuk-link" %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.contract_name_status) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <%= link_to t('.estimated_annual_cost'), edit_facilities_management_procurement_path(:step => 'estimated_annual_cost'), :class => "govuk-link" %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.estimated_annual_cost_status) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <%=  link_to t('.tupe'), edit_facilities_management_procurement_path(:step => 'tupe'), :class => "govuk-link" %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.tupe_status) %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
      <%= link_to t('.contract_period'), edit_facilities_management_procurement_path(:step => 'contract_dates'), :class => "govuk-link" %>
    </dt>
    <dd class="govuk-summary-list__value">
    </dd>
    <dd class="govuk-summary-list__actions">
      <%= govuk_tag(procurement.contract_period_status) %>
    </dd>
  </div>
</dl>