<% content_for :page_title, 'Contract name' %>
<%= link_to t('.return_to_what_happens_next'), facilities_management_what_happens_next_path, class: 'govuk-back-link ccs-no-print', 'aria-label': t('.return_to_what_happens_next') %>
<%= render partial: 'shared/error_summary', locals: { errors: @procurement.errors } %>
<%= form_for @procurement, url: facilities_management_procurements_path, method: :post, html: { specialvalidation:true, novalidate:true, multipart: true } do |f| %>
<%= govuk_page_header(LayoutHelper::HeadingDetail.new(t('.heading'), nil, nil, nil, nil)) %>
  <div class="govuk-form-group <%='govuk-form-group--error' if @procurement.errors[:contract_name].any? %>" data-propertyname="Contract name"
       style="<%= 'padding-left:1em' if @procurement.errors[:contract_name].any?%>">
    <%= hint_details(t('.contract_name_question'), t('.contract_name_info')) %>
    <div class="govuk-character-count" data-module="character-count" data-maxlength="100">
      <%= display_errors(@procurement, :contract_name)%>
      <%= f.text_field :contract_name, class: 'govuk-input govuk-input--width-30 js-character-count govuk-!-margin-top-4', required: true, maxlength: 100, "aria-describedby": "facilities_management_procurement_contract_name"%>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= f.submit t('.save_and_return'), data: {disable_with:false}, name: 'start_detailed_search', class: 'govuk-button govuk-!-margin-right-4', 'aria-label': "#{t('.save_and_return')}" %>
        <br />
        <%= link_to t('.return_to_your_account'), facilities_management_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.return_to_your_account') %>
      </div>
    </div>
<% end %>