<% if @building_count.zero? %>
  <%= render partial: 'no_buildings' %>
<% else %>
  <div class="govuk-body">
    <%= render('facilities_management/procurements/errors_on_show', procurement: @procurement) %>
    <% if params[:template] == 'review-contract' %>
      <%= render('review_contract') %>
    <% else %>
      <div class="govuk-!-width-three-quarters">
        <span class="govuk-caption-m govuk-!-font-size-24"><%= @procurement.contract_name %></span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.detailed_search_summary_title') %></h1>
        <% content_for :page_title, t('.detailed_search_summary_title') %>
        <p>
          <%= t('.detailed_search_description') %>
        </p>
        <%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :patch, html: { novalidate: true, multipart: true } do |f| %>
          <%= render 'about_the_contract', procurement: @procurement  %>
          <%= render 'about_the_work', procurement: @procurement %>
          <%= render partial: 'continue_button_footer', locals: { f: f } %>
        <% end %>
    <% end %>
    </div>
  </div>
<% end %>
