<% if @delete %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= t('.delete_message') %>
    </strong>
  </div>
<% end %>
<% if @building_count.zero? %>
  <%= render partial: 'no_buildings' %>
<% else %>
  <div class="govuk-body">
    <%= link_to @page_definitions[:default][:back_text], facilities_management_procurements_path, class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6'%>
    <%= render('facilities_management/procurements/errors_on_show', procurement: @procurement) %>
    <% if params[:template] == 'review-contract' %>
      <%= render('review_contract') %>
    <% else %>
      <span class="govuk-caption-m"><%= @procurement.contract_name %></span>
      <h1 class="govuk-heading-xl"><%= t('.detailed_search_summary_title') %></h1>
      <% content_for :page_title, t('.detailed_search_summary_title') %>
      <p>
        <%=t('.detailed_search_description') %>
      </p>
      <%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :patch, html: {novalidate: true, multipart: true} do |f| %>
        <div class="govuk-summary-list">
          <%= render('about_the_contract') %>
        </div>
        <div class="govuk-summary-list">
          <table class="govuk-table">
            <thead>
              <tr class="govuk-table__row <%= 'govuk-no-border govuk-form-group--error' if @procurement.errors[:initial_call_off_period].any? %>">
                <th scope="row" class="govuk-table__header govuk-!-font-size-24 <%= 'govuk-!-padding-left-2' if @procurement.errors[:initial_call_off_period].any? %>" width="30%">Contract period</th>
                <td class="govuk-table__cell" width="45%"><%= link_to('Answer all questions', edit_facilities_management_procurement_path(:step => 'contract_dates'), :class => "govuk-link") if @procurement.unanswered_contract_date_questions? %></td>
                <td class="govuk-table__cell" width="25%"><%= link_to('Change all', edit_facilities_management_procurement_path(:step => 'contract_dates'), :class => "govuk-link") unless @procurement.unanswered_contract_date_questions? %></td>
              </tr>
              <% if @procurement.errors[:initial_call_off_period].any? %>
                <tr class="govuk-table__row govuk-!-margin-0 govuk-!-padding-0 <%= 'govuk-form-group--error' if @procurement.errors[:initial_call_off_period].any? %>">
                  <td class="govuk-table__cell govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-2" colspan="3"><%= display_error(@procurement, :initial_call_off_period, false) %></td>
                </tr>
              <% end %>
            </thead>
            <% if @procurement.errors[:initial_call_off_period].any? %>
              <tbody class="govuk-table__body <%= 'govuk-form-group--error' if @procurement.unanswered_contract_date_questions? %>">
              <%= render partial: 'facilities_management/procurements/contract_period/contract_period_section' %>
              <%= render partial: 'facilities_management/procurements/contract_period/mobilisation_section' %>
              <%= render partial: 'facilities_management/procurements/contract_period/contract_extension_section' %>
              </tbody>
            <% else %>
              <tbody class="govuk-table__body">
              <%= render partial: 'facilities_management/procurements/contract_period/contract_period_section' %>
              <%= render partial: 'facilities_management/procurements/contract_period/mobilisation_section' %>
              <%= render partial: 'facilities_management/procurements/contract_period/contract_extension_section' %>
              </tbody>
            <% end %>
          </table>
        </div>
        <div class="govuk-summary-list">
          <%= render 'about_the_work', procurement: @procurement %>
        </div>
        <%= render partial: 'continue_button_footer', locals: {f: f} %>
      <%end %>
    <% end %>
  </div>
<% end %>
