<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= link_to t('.hide_requirements'), '', class: 'govuk-button govuk-button--secondary', id: 'results-filter-button', style: 'width: 100%', role: 'button', 'alt-text': t('.show_requirements') %>
  </div>
</div>
<div class="govuk-grid-row">
  <div id= 'requirements-list' class="govuk-grid-column-one-third filter-pane">
    <div class="filter-component-container">
      <div class="govuk-!-padding-2">
        <div class="govuk-heading-m govuk-!-margin-left-1">
          <strong><%=t('.requirements') %></strong>
        </div>
        
        <%  selected_service = @procurement.errors.any? ? @procurement.service_codes : params[:service_codes]  %>
        <%  selected_region = @procurement.errors.any? ? @procurement.region_codes : params[:region_codes]  %>

        <%= render partial: 'filter_data_section', locals: { section_name: 'service', section_title: t('.services'), change_title: t('.change_add_service'), change_link: journey_step_url_former(journey_step: 'services', region_codes: selected_region, service_codes: selected_service), collection: @services, superset: @procurement.service_codes} %>
        <%= render partial: 'filter_data_section', locals: { section_name: 'region', section_title: t('.regions'), change_title: t('.change_add_region'), change_link: journey_step_url_former(journey_step: 'locations', region_codes: selected_region, service_codes: selected_service),collection: @regions, superset: @procurement.region_codes} %>
      </div>
    </div>
  </div>
  <div id="proc-CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
    <span class="govuk-heading-l govuk-!-margin-left-2" scope="col">
      <%= t('.total_contract_value') %>
    </span>
    <div class="govuk-width-container">
      <%= render partial: 'lots_list', locals: {lot: t('.lot_1a'), lot_data: @suppliers_lot1a, lot_title: t('.lot_title_1a_html') } %>
      <%= render partial: 'lots_list', locals: {lot: t('.lot_1b'), lot_data: @suppliers_lot1b, lot_title: t('.lot_title_1b_html') } %>
      <%= render partial: 'lots_list', locals: {lot: t('.lot_1c'), lot_data: @suppliers_lot1c, lot_title: t('.lot_title_1c_html') } %>
    </div>
  </div>
</div>