<div class="govuk-!-margin-top-3">
  <div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:initial_call_off_period].any?%>" data-propertyname="Initial call-off period">
    <%= f.label :initial_call_off_period, t('.heading'), class: "govuk-heading-m govuk-!-margin-bottom-0"%>
    <p class="govuk-caption-m govuk-!-margin-top-0 govuk-!-width-two-thirds">
      <%= t('.description') %>
    </p>
    <%= display_errors(f.object, :initial_call_off_period)%>
    <%= f.number_field :initial_call_off_period, class: "govuk-input govuk-input--width-4 #{'govuk-input--error' if @procurement.errors[:initial_call_off_period].any?}", min:1, maxlength:2, max: 7 %>
    <span class="govuk-label--s govuk-!-margin-left-2">
      <%= t('.unit') %>
    </span>
  </div>
</div>

<div class="govuk-!-margin-top-5">
  <div class="govuk-form-group initial_call_off_start_date <%= 'govuk-form-group--error' if @procurement.errors[:initial_call_off_start_date].any?%>" data-propertyname="Initial call-off start date">
    <%= f.label :initial_call_off_start_date, t('.initial_call_off_period_start_date'), class: "govuk-heading-s govuk-!-margin-bottom-0"%>
    <p class="govuk-caption-m">
      <%= t('.example') %>
    </p>
    <%= display_errors(f.object, :initial_call_off_start_date)%>
    <%= f.gov_uk_date_field :initial_call_off_start_date, legend_options: { page_heading: false, visually_hidden: true } %>
  </div>
</div>
