<%= render partial: 'filter_details', locals: { form: f } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-caption-m govuk-!-margin-top-8" data-module="character-count" data-maxlength="100">
      <div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:contract_name].any? %>" data-propertyname="name">
        <%= govuk_form_group_with_optional_error @procurement, :contract_name do %>
          <%= display_errors(f.object, :contract_name)%>
          <p class="govuk-body govuk-!-width-three-quarters">
            <%= t('.save_text') %>
          </p>
          <h2 class="govuk-heading-m"><%= t('.save_headline') %></h2>
          <%= f.label :contract_name, t('.new_name_label'), class: 'govuk-label' %>
          <%= f.text_field :contract_name, maxlength: 110, required: true, class: 'govuk-input govuk-input--width-20 js-character-count', "aria-describedby": "facilities_management_procurement_contract_name" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
