<%= link_to @page_definitions[:default][:back_text], facilities_management_procurements_path, class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>
<%= form_for @procurement, url: facilities_management_procurement_path(@procurement), method: :patch, html: { specialvalidation:true, novalidate:true, multipart: true } do |f| %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl"><%= @procurement.contract_name %></span>
        <h1 class="govuk-heading-xl"><%= t('.quick_view_results') %></h1>
        <% content_for :page_title, t('.quick_view_results') %>
        <p class="govuk-body"><%= t('.search_result_body_html') %></p>
      </div>
    </div>
    <%= render partial: 'filter_details', locals: { form: f } %>
    <div class="govuk-grid-row govuk-!-margin-top-8">
      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">
          <%= t('.save_text') %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= link_to t('.save_and_continue'), facilities_management_procurement_path(@procurement, 'what_happens_next': true ), class: 'govuk-button govuk-!-margin-right-4', 'aria-label': t('.save_and_continue') %>
        <%= f.submit t('.save_for_later'), name: 'save_for_later', data: {disable_with:false}, class: 'govuk-button govuk-button--secondary', 'aria-label': t('.save_for_later') %>
        <br />
        <%= link_to t('.cancel_text'), facilities_management_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.cancel_text') %>
      </div>
    </div>
  </div>
<% end %>
