<span class="govuk-caption-xl"><%= @procurement.contract_name %></span>
  <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>

  <div class="govuk-heading-l">
    <%= t('.instructions') %>
  </div>
  <ol class="govuk-list govuk-list--number govuk-!-width-two-thirds">
    <li class="govuk-!-font-weight-bold govuk-!-font-size-24"><%= t('.download_the_template') %></li>
    <div class="govuk-!-margin-top-2">
      <%= t('.link') %>
      <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-3">
        <a href="<%= asset_path('RM3830 Customer Requirements Capture Matrix - template v2.3.xlsx', skip_pipeline: true) %>?format=xlsx" class="supplier-record__file-download" type="<%= t('common.type_xlsx') %>" download>
          <%= t('.services_and_buildings_template') %> <span class="govuk-visually-hidden"><%= t('common.xlsx_html') %></span>
        </a>
      </div>
      <%= t('.list_description', class: 'govuk-!-margin-top-4') %>
    </div>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4">
      <li> <%= t('.list_information_1') %> </li>
      <li> <%= t('.list_information_2') %> </li>
      <li> <%= t('.list_information_3') %></li>
    </ul>

    <li class="govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-4"><%= t('.uploading') %></li>
    <div class="govuk-!-margin-top-2">
      <%= t('.list_2_description').html_safe %>
    </div>
    <li class="govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-4"><%= t('.results') %></li>
    <div class="govuk-!-margin-top-2">
      <%= t('.list_3_description') %>
    </div>
  </ol>
  <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-width-two-thirds">
    <%= t('.footer_information') %>
  </div>
  <div>
    <%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :patch, html: { novalidate: true, multipart: true } do |f| %>
      <%= f.submit 'Continue to upload your file', name: 'bulk_upload_spreadsheet', class: 'govuk-button govuk-button--primary' %>
      <%= f.submit 'Save for later', name: 'bulk_upload_spreadsheet', class: 'govuk-button govuk-button--secondary govuk-!-margin-left-4' %><br/>
      <%= f.submit( 'Cancel and return to procurement summary',
                   tabindex:-1,
                   class: 'govuk-link govuk-!-margin-right-4 button_as_link',
                   data:  { disable_with: false }, name: 'change_requirements', style: 'display:block', tabindex:-1, 'aria-label': 'Cancel and return to procurement summary') %>
    <% end %>
  </div>
