<span class="govuk-caption-xl"><%= @procurement.contract_name %></span>
  <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>

  <div class="govuk-heading-l">
    <%= t('.instructions') %>
  </div>
  <ol class="govuk-list govuk-list--number govuk-!-width-two-thirds">
    <li class="govuk-!-font-weight-bold govuk-!-font-size-24"><%= t('.download_the_template') %></li>
    <div class="govuk-!-margin-top-2">
      <%= t('.link') %>
      <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-3">
        <a href="<%= asset_path(FacilitiesManagement::SpreadsheetImporter::TEMPLATE_FILE_NAME, skip_pipeline: true) %>?format=xlsx" class="supplier-record__file-download" type="<%= t('common.type_xlsx') %>" download>
          <%= t('.services_and_buildings_template') %> <span class="govuk-visually-hidden"><%= t('common.xlsx_html') %></span>
        </a>
      </div>
      <%= t('.list_description', class: 'govuk-!-margin-top-4') %>
    </div>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4">
      <li> <%= t('.list_information_1') %> </li>
      <li> <%= t('.list_information_2') %> </li>
      <li> <%= t('.list_information_3') %></li>
    </ul>

    <li class="govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-4"><%= t('.uploading') %></li>
    <div class="govuk-!-margin-top-2">
      <%= t('.list_2_description').html_safe %>
    </div>
    <li class="govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-4"><%= t('.results') %></li>
    <div class="govuk-!-margin-top-2">
      <%= t('.list_3_description') %>
    </div>
  </ol>
  <div class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-width-two-thirds">
    <%= t('.footer_information') %>
  </div>
  <div>
    <%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :patch do |f| %>
        <%= f.submit t('.continue_link'), class: 'govuk-!-margin-right-4 govuk-button', data: { disable_with: false }, name: :bulk_upload_spreadsheet, 'aria-label': t('.continue_link') %>
        <%= f.submit t('.save_for_later_link'), class: 'govuk-button govuk-button--secondary', data: { disable_with: false }, name: :bulk_upload_spreadsheet, 'aria-label': t('.save_for_later_link') %><br/>
        <%= f.submit t('.cancel_and_return_link'), class: 'govuk-link button_as_link', data: { disable_with: false }, name: :change_requirements, 'aria-label': t('.cancel_and_return_link') %>
    <% end %>
  </div>
