<%= govuk_page_content(@page_description, @page_data[:model_object], false, true) do |pd| %>
 <%= render "what_happens_next_body" %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_for @procurement, url: facilities_management_procurement_path(@procurement), method: :patch, html: {  specialvalidation:true, novalidate: true, multipart: true } do |f| %>
        <%= f.hidden_field :contract_name %>
        <%= f.submit t('.continue'), data: {disable_with:false}, name: 'start_detailed_search', class: 'govuk-button govuk-!-margin-right-4', 'aria-label': t('.continue') %>
        <%= link_to t('.cancel'), facilities_management_procurements_path, class: 'govuk-button govuk-button--secondary', 'aria-label': t('.cancel') %>
        <br />
        <%= link_to t('.return'), facilities_management_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.return') %>
      <% end %>
    </div>
  </div>
<% end %>
