<% if @building_count.zero? && @procurement.detailed_search? %>
  <%= render partial: 'no_buildings' %>
<% else %>
  <%= link_to 'Back', @back_link, class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' if @procurement.detailed_search? %>
  <%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: does_form_for_current_step_require_special_client_validation?(params), novalidate: true, multipart: true } do |f| %>
    <% unless @page_description || @page_description&.no_error_block || params[:step] == "building_services"%>
      <div class="govuk-grid-row">
        <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>
      </div>
    <%end %>
    <% if @page_description %>
      <% case @page_description.heading_details.text %>
      <% when 'Add address' %>
        <% content_for(:page_title, "#{@page_description.heading_details.text} for #{@page_description.heading_details.caption.downcase}") %>
      <% else %>
        <% content_for(:page_title, @page_description.heading_details.text) %>
      <% end %>
    <% end %>
    <% site_title = { "services" => t('facilities_management.journey.choose_services.heading'), 
                      "regions" => t('facilities_management.journey.choose_locations.heading'), 
    } %>
    <div class="govuk-clearfix">
      <% if !@procurement.persisted? || @procurement.quick_search?%>
        <span class="govuk-caption-xl"><%= @procurement.detailed_search? ? t('.detailed_search') : t('.quick_search') %> <%= " - #{@procurement.contract_name}" if @procurement.contract_name? %></span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-0 govuk-!-margin-bottom-5">
          <%= site_title[params[:step]] if params[:step] && site_title[params[:step]] %>
          <%= t('.heading') if !params[:step] && !site_title[params[:step]] %>
        </h1>
        <p class="govuk-caption-m govuk-!-margin-bottom-5">
          <%= t('.search_result_body_html') if !params[:step] %>
        </p>
      <% end %>
    </div>
    <div class="procurement">
      <%= f.hidden_field :step, value: params[:step] if params[:step]%>
      <%= f.hidden_field :step, value: params[:facilities_management_procurement][:step] if !params[:step] && params.dig(:facilities_management_procurement, :step) %>
      <%= render partial: "facilities_management/procurements/edit/#{params[:step]}", locals: { f: f } %>
      <% if @procurement.detailed_search? || @procurement.quick_search? %>
        <div class="govuk-!-margin-top-5">
          <% case params[:step] %>
          <% when 'regions', 'services' %>
            <%= f.submit t('.save_and_continue'), class: 'govuk-button', 'aria-label': "#{t('.save_and_continue')}", data: { disable_with: false }, name: @procurement.detailed_search? ? 'next_step' : 'start_detailed_search' %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3', name: 'save_and_return_to_detailed_summary', 'aria-label': "#{t('.save_and_return_to_detailed_summary')}", data: { disable_with: false } if @procurement.detailed_search?%>
          <% when 'building_services' %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button', 'aria-label': "#{t('.save_and_return_to_detailed_summary')}", data: { disable_with: false } if @procurement.detailed_search? %>
          <% else %>
            <%= f.submit t('.save_and_continue'), class: 'govuk-button', 'aria-label': "#{t('.save_and_continue')}", data: { disable_with: false }, name: @procurement.detailed_search? ? 'next_step' : 'start_detailed_search' if @procurement.detailed_search? || @procurement.quick_search? %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3', 'aria-label': "#{t('.save_and_return_to_detailed_summary')}", data: { disable_with: false } if @procurement.detailed_search? %>
            <%= f.submit t('.save_for_later'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3', 'aria-label': "#{t('.save_for_later')}", data: { disable_with: false } if @procurement.quick_search? %>
          <% end %>
        </div>
        <% if params[:step] && @procurement.detailed_search? && params[:step] != 'building_services' %>
          <div>
            <span class="govuk-caption-m"><%= t(".next_step.#{params[:step]}") %></span>
          </div>
        <% end %>
        <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-7">
          <%= link_to t('.return_to_detailed_search_summary'), facilities_management_procurement_path(@procurement), class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': "#{t('.return_to_detailed_search_summary')}" if @procurement.detailed_search? %>
          <%= link_to t('.cancel_and_return'), facilities_management_procurements_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': "#{t('.cancel_and_return')}" if @procurement.quick_search? %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
