<% if @delete %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= t('.delete_message') %>
    </strong>
  </div>
<% end %>
<% if @building_count.zero? && @procurement.detailed_search? %>
  <%= render partial: 'no_buildings' %>%
<% else %>
  <%= link_to 'Back', @back_link, class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' if @procurement.detailed_search? %>
  <%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: does_form_for_current_step_require_special_client_validation?(params), novalidate: true, multipart: true } do |f| %>
    <% unless @page_description || @page_description&.no_error_block%>
      <div class="govuk-grid-row">
        <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>
      </div>
    <%end %>
    <% if @page_description %>
      <% case @page_description.heading_details.text %>
      <% when 'Add address' %>
        <% content_for(:page_title, "#{@page_description.heading_details.text} for #{@page_description.heading_details.caption.downcase}") %>
      <% else %>
        <% content_for(:page_title, @page_description.heading_details.text) %>
      <% end %>
    <% end %>
    <div class="govuk-clearfix">
      <% if !@procurement.persisted? || @procurement.quick_search?%>
        <span class="govuk-caption-xl"><%= @procurement.detailed_search? ? t('.detailed_search') : t('.quick_search') %> <%= " - #{@procurement.contract_name}" if @procurement.detailed_search? %></span>
        <h1 class="govuk-heading-xl govuk-!-padding-top-0 govuk-!-margin-bottom-5">
          <%= @procurement.contract_name if @procurement.quick_search? %>
          <%= 'Search Results' unless @procurement.persisted? %>
          <% content_for :page_title, 'Search Results' %>
        </h1>
        <p class="govuk-caption-l govuk-!-margin-bottom-5"><%= t('.search_result_body_html') %></p>
      <% end %>
    </div>
    <div class="procurement">
      <%= f.hidden_field :step, value: params[:step] if params[:step]%>
      <%= f.hidden_field :step, value: params[:facilities_management_procurement][:step] if !params[:step] && params.dig(:facilities_management_procurement, :step) %>
      <% if @procurement.quick_search? %>
        <%= govuk_form_group_with_optional_error(@procurement, :name, :region_codes, :service_codes) do %>
          <div class="quicksearchassistant" classification="procurement" action="edit" module="facilities_management">
            <%= render partial: 'quick_search_form', locals: { f: f, step: params[:step] } %>
          </div>
        <% end %>
      <% else %>
        <%= render partial: "facilities_management/procurements/edit/#{params[:step]}", locals: { f: f } %>
      <% end %>
      <% if @procurement.detailed_search? || @procurement.quick_search? %>
        <div class="govuk-!-margin-top-5">
          <% if @delete %>
            <%= link_to t('.confirm_delete'), facilities_management_procurement_path(@procurement), :method => 'delete', class: "govuk-button govuk-button--warning", 'aria-label': t('.confirm_delete')  %>
            <%= link_to t('.cancel'), facilities_management_procurements_url, class: "govuk-button govuk-button--secondary govuk-!-margin-left-3", 'aria-label': t('.cancel') %>
          <% elsif %w[regions services].include? params[:step] %>
            <%= f.submit t('.save_and_continue'), class: 'govuk-button', 'aria-label': "#{t('.save_and_continue')}", data: { disable_with: false }, name: @procurement.detailed_search? ? 'next_step' : 'start_detailed_search' %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3', 'aria-label': "#{t('.save_and_return_to_detailed_summary')}", data: { disable_with: false } if @procurement.detailed_search? %>
          <% elsif params[:step] == 'building_services' %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button', 'aria-label': "#{t('.save_and_return_to_detailed_summary')}", data: { disable_with: false } if @procurement.detailed_search? %>
          <% else %>
            <%= f.submit t('.save_and_continue'), class: 'govuk-button', 'aria-label': "#{t('.save_and_continue')}", data: { disable_with: false }, name: @procurement.detailed_search? ? 'next_step' : 'start_detailed_search' if @procurement.detailed_search? || @procurement.quick_search? %>
            <%= f.submit t('.save_and_return_to_detailed_summary'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3', 'aria-label': "#{t('.save_and_return_to_detailed_summary')}", data: { disable_with: false } if @procurement.detailed_search? %>
            <%= f.submit t('.save_for_later'), class: 'govuk-button govuk-button--secondary govuk-!-margin-left-3', 'aria-label': "#{t('.save_for_later')}", data: { disable_with: false } if @procurement.quick_search? %>
          <% end %>
        </div>
        <% if params[:step] && @procurement.detailed_search? && params[:step] != 'building_services' %>
          <div>
            <span class="govuk-caption-m"><%= t(".next_step.#{params[:step]}") %></span>
          </div>
        <% end %>
        <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-7">
          <%= link_to t('.back_to_detailed_summary'), facilities_management_procurement_path(@procurement), class: 'govuk-link--no-visited-state', 'aria-label': "#{t('.back_to_detailed_summary')}" if @procurement.detailed_search? %>
          <%= link_to t('.cancel_and_return'), facilities_management_procurements_path, class: 'govuk-link--no-visited-state', 'aria-label': "#{t('.cancel_and_return')}" if @procurement.quick_search? %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
