
<%= link_to t('.return_to_requirements'), @back_link, class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' if @procurement.detailed_search? && requires_back_link? %>
<%= form_for @procurement, url: facilities_management_procurement_path(@procurement.id), method: :put, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
  <% unless params[:step] == "buildings_and_services"%>
    <div class="govuk-grid-row">
      <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>
    </div>
  <%end %>
  <% site_title = { "services" => t('facilities_management.journey.choose_services.heading'),
                    "regions" => t('facilities_management.journey.choose_locations.heading'),
  } %>
  <div class="govuk-clearfix">
    <% if !@procurement.persisted? || @procurement.quick_search?%>
      <span class="govuk-caption-xl"><%= [@procurement.detailed_search? ? t('.detailed_search') : nil, @procurement.contract_name].compact.join(' - ') if @procurement.contract_name? %></span>
      <h1 class="govuk-heading-xl govuk-!-padding-top-0 govuk-!-margin-bottom-5">
        <%= site_title[params[:step]] if params[:step] && site_title[params[:step]] %>
        <%= t('.heading') if !params[:step] && !site_title[params[:step]] %>
      </h1>
      <p class="govuk-caption-m govuk-!-margin-bottom-5">
        <%= t('.search_result_body_html') if !params[:step] %>
      </p>
    <% end %>
  </div>
  <div class="procurement">
    <%= f.hidden_field :step, value: params[:step] if params[:step]%>
    <%= f.hidden_field :step, value: params[:facilities_management_procurement][:step] if !params[:step] && params.dig(:facilities_management_procurement, :step) %>
    <%= render partial: "facilities_management/procurements/edit/#{params[:step]}", locals: { f: f } %>
    <% if @procurement.detailed_search? || @procurement.quick_search? %>
      <div class="govuk-!-margin-top-5">
        <% case params[:step] %>
        <% when 'regions', 'services' %>
          <%= f.submit t('.save_and_continue'), class: 'govuk-button', 'aria-label': "#{t('.save_and_continue')}", name: @procurement.detailed_search? ? 'next_step' : 'start_detailed_search' %>
        <% when 'buildings'%>
          <%= f.submit t(".#{continue_button_text}"), class: 'govuk-button', 'aria-label': "#{t('.save_and_return')}", name: 'buildings' if current_user.buildings.any? %>
        <% else %>
          <%= f.submit t(".#{continue_button_text}"), class: 'govuk-button', 'aria-label': "#{t('.save_and_return')}", name: 'next_step' if @procurement.detailed_search? %>
        <% end %>
      </div>
      <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
        <%= link_to t('.return_to_requirements'), facilities_management_procurement_path(@procurement), class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': "#{t('.return_to_requirements')}" if @procurement.detailed_search? %>
        <%= link_to t('.cancel_and_return'), facilities_management_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': "#{t('.cancel_and_return')}" if @procurement.quick_search? %>
      </div>
    <% end %>
  </div>
<% end %>
