  <%= render partial: 'shared/error_summary', locals: { errors: @procurement.errors } %>
<%= form_for @procurement, url: facilities_management_procurements_path, method: :post, html: { specialvalidation:true, novalidate:true, multipart: true } do |f| %>
  <div class="quicksearchassistant" classification="procurement" action="new" module="facilities_management">
    <div class="procurement govuk-row">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl"><%= t('.search_results') %></h1>
          <% content_for :page_title, t('.search_results') %>
          <p class="govuk-caption-l govuk-!-margin-bottom-5"><%= t('.search_result_body_html') %></p>
        </div>
      </div>
      <%= render partial: 'quick_search_form', locals: { f: f, step: nil } %>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"
        <%= f.submit t('.save_your_search'), data: {disable_with:false}, class: 'govuk-button', 'aria-label': t('.save_your_search') %>
        <%= f.submit t('.save_for_later'), name: 'save_for_later', data: {disable_with:false}, class: 'govuk-button govuk-button--secondary', 'aria-label': t('.save_for_later') %>
        <br />
        <%= link_to t('.cancel_text'), facilities_management_procurements_path, class: 'govuk-link govuk-link--no-visited-state', 'aria-label': t('.cancel_text') %>
      </div>
    </div>
  </div>
<% end %>
