<%= render partial: 'shared/error_summary', locals: { errors: @procurement.errors } %>
<%= form_for @procurement, url: facilities_management_procurements_path, method: :post, html: { specialvalidation:true, novalidate:true, multipart: true } do |f| %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl"><%= t('.quick_view_results') %></h1>
        <% content_for :page_title, t('.quick_view_results') %>
        <p class="govuk-body"><%= t('.search_result_body_html') %></p>
      </div>
    </div>
    <%= render partial: 'quick_search_form', locals: { f: f, step: nil } %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= f.submit t('.save_and_continue'), data: {disable_with:false}, name: 'save_and_continue', class: 'govuk-button govuk-!-margin-right-4', 'aria-label': t('.save_and_continue') %>
        <%= f.submit t('.save_for_later'), name: 'save_for_later', data: {disable_with:false}, class: 'govuk-button govuk-button--secondary', 'aria-label': t('.save_for_later') %>
        <br />
        <%= link_to t('.cancel_text'), facilities_management_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.cancel_text') %>
      </div>
    </div>
  </div>
<% end %>
