<h1 class="govuk-heading-xl"> <%= t('.heading') %></h1>
<%= render 'what_happens_next_body' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= link_to t('.continue'), '', data: {disable_with:false}, name: 'start_detailed_search', class: 'govuk-button govuk-button--primary govuk-!-margin-right-4', 'aria-label': t('.continue') %>
    <%= link_to t('.cancel'), facilities_management_procurements_path, class: 'govuk-button govuk-button--secondary', 'aria-label': t('.cancel') %>
    <br />
    <%= link_to t('.return'), facilities_management_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19', 'aria-label': t('.return') %>
  </div>
</div>