<% content_for :page_title, t('.heading') %>

<%= render partial: 'facilities_management/rm3830/new_framework_banner' %>

<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <%= t('.heading') %>
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-size-19"><%= t('.subheading') %></p>
      <ul class="govuk-list govuk-list--bullet">
        <%= t('.usagelist_html') %>
      </ul>

      <div class="govuk-inset-text">
        <%= t('.note')%>
      </div>

      <p class="govuk-!-font-size-24 ccs-font-weight-semi-bold"><%= t('.beforeyoustart') %></p>
      <p class="govuk-!-font-size-19"><%= t('.youneedtoknow') %></p>
      <ul class="govuk-list govuk-list--bullet">
        <%= t('.startlist_html') %>
      </ul>

      <%= link_to t('.further_information'), 'https://www.crowncommercial.gov.uk/agreements/rm3830', target: "_blank", class: 'govuk-link--no-visited-state' %>
      <br/>
      <%= govuk_button_start(t('.startnow'), facilities_management_rm3830_new_user_session_path, class: 'govuk-!-margin-top-6 govuk-!-margin-bottom-8', aria: { label: t('.startnow') }) %>
    </div>

    <div class="govuk-grid-column-one-third">
      <p class="govuk-!-font-size-24 ccs-font-weight-semi-bold"><%= t('.how_it_works') %></p>
      <p><%= t('.you_can_progress') %></p>

      <%= govuk_details(t('.1_title')) do %>
        <div class="govuk-!-padding-bottom-3">
          <p class="ccs-font-weight-semi-bold govuk-!-margin-bottom-0">
            <%= t('.you_will_tell_us') %>
          </p>
        </div>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><%= t('.1_you_will_tell_us_html') %></ul>
        <div class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">
          <p class="ccs-font-weight-semi-bold govuk-!-margin-bottom-0"><%= t('.we_will_tell_you') %></p>
        </div>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><%= t('.1_we_will_tell_you_html') %></ul>
      <% end %>

      <%= govuk_details(t('.2_title')) do %>
        <div class="govuk-!-padding-bottom-3">
          <p class="ccs-font-weight-semi-bold govuk-!-margin-bottom-0"><%= t('.you_will_tell_us') %></p>
        </div>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><%= t('.2_you_will_tell_us_html') %></ul>
        <div class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">
          <p class="ccs-font-weight-semi-bold govuk-!-margin-bottom-0"><%= t('.we_will_tell_you') %></p>
        </div>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><%= t('.2_we_will_tell_you_html') %></ul>
      <% end %>

      <%= govuk_details(t('.3_title')) do %>
        <div class="govuk-!-padding-bottom-3">
          <p class="ccs-font-weight-semi-bold govuk-!-margin-bottom-0"><%= t('.3_DA_tile') %></p>
        </div>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><%= t('.3_DA_list_html') %></ul>
        <div class="govuk-!-padding-top-3 govuk-!-padding-bottom-3">
          <p class="ccs-font-weight-semi-bold govuk-!-margin-bottom-0"><%= t('.3_further_comp') %></p>
        </div>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0"><%= t('.3_FC_list_html') %></ul>
      <% end %>

      <p class="ccs-font-weight-semi-bold govuk-!-font-size-24 govuk-!-margin-top-6"> <%= t('.da_title') %></p>
      <p><%= t('.da_description') %></p>

      <p class="ccs-font-weight-semi-bold govuk-!-font-size-24 govuk-!-margin-top-6"><%= t('.international_coverage') %></p>
      <p><%= t('.please_email') %></p>

    </div>
  </div>
</div>
