<% x = 0; %>
<h2 class="govuk-caption-xl">Your buildings</h2>
<h1 class="govuk-heading-xl">Add your buildings</h1>
<h2 class="govuk-heading-m govuk-!-margin-0"><%= @building_count %> building(s) are on your list now</h2>
<h2 class="govuk-caption-m govuk-!-margin-4">Browse the list of <%= @building_count %> building(s) in total so far.</h2>

<div id="fm-buildings-container">
  <div class="govuk-accordion" data-module="accordion" id="services-accordion">
    <div class="govuk-radios">
      <% @building_data.each do |record| %>
        <% x = x +1; building = JSON.parse(record['building'].to_s) %>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="<%= building['id'].to_s + '_btn' %>"><%= 'Building ' + x.to_s + ' - ' + building['name'].to_s %>
                  <br>
                <span class="govuk-caption-m govuk-!-font-size-18">
                  <% if building['address'].any? %>
                    <% address = building['address']['fm-address-line-1'].to_s + ', ' +
                       building['address']['fm-address-line-2'].to_s + ', ' +
                           building['address']['fm-address-town'].to_s + ', ' +
                           building['address']['fm-address-county'].to_s + ', ' +
                           building['address']['fm-address-postcode'].to_s
                    %>
                    <%= address.sub(', , ', ', ') %>
                  <% end %>
                </span>
              </span>
            </h2>
          </div>
          <div class="govuk-accordion__section-content" aria-labelledby="<%= building['name'] %>">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                Type:
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                <%= building['fm-building-type'] %>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                Region:
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                <%= building['region'] %>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                Postcode in london:
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                <%= building['isLondon'] %>
              </div>
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                Internal area:
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                <%= building['gia'] %>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                Total number of lifts:
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                <% if @lift_data.any? { |p| p.values.member?(building['id']) } %>
                  <% @lift_data.each do |lift| %>
                    <% if building['id'].to_s == lift['building_id'].to_s %>
                      <%= lift['lift_qty'] %>
                    <% end %>
                  <% end %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                Number of floors:
              </div>
              <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                <% if @lift_data.any? { |p| p.values.member?(building['id']) } %>
                  <% @lift_data.each do |lift| %>
                    <% if building['id'].to_s == lift['building_id'].to_s %>
                      <%= lift['total_floor_count'] %>
                    <% end %>
                  <% end %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>

            <% @uom_values.each do |values| %>
              <% if building['id'].to_s == values['building_id'].to_s %>
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-font-size-16 govuk-!-font-weight-bold">
                    <%= values['description'] %>:
                  </div>
                  <div class="govuk-grid-column-two-thirds govuk-!-font-size-16">
                    <%= values['uom_value'] %>&nbsp;<%= values['unit_text'] %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>


</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-6 govuk-!-margin-left-4">
    <div>
      <a id="fm-buildings-add-building" href="buildings/new-building" class="govuk-link--no-visited-state ccs-no-print" role="button">+
        Add a
        building
      </a>
    </div>
  </div>
</div>

