<details class="govuk-details" style="z-index: 1; margin-left:1ex; margin-top:1ex; display:inline-block; position:absolute; font-size:smaller; width:50%;" data-module="govuk-details" tabindex="-1">
  <summary class="govuk-details__summary" tabindex="-1">
  <span class="govuk-details__summary-text">
    Postcode lookup helpers (visible in dev &amp; test)
  </span>
  </summary>
  <div class="govuk-details__text" onclick="this.parentElement.getElementsByTagName('summary').item(0).click()" style="background-color: lemonchiffon;">
    <p class="govuk-heading-s">Bad postcodes:</p>
    <blockquote>
      <% ['X12 1XX'].each do |pcode| %>
        <span style="cursor: default;" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" data-module-helper=postcode><%= pcode %></span>
      <% end %>
    </blockquote>
    <p class="govuk-heading-s">Postcode with new developments (non-existant addresses?):</p>
    <blockquote>
      <%
        ['NN8 1RF', 'NN8 1LF', 'WV1 4JX'].each do |pcode| %>
        <span style="cursor: default;" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" data-module-helper=postcode><%= pcode %></span>
      <% end %>
    </blockquote>
    <p class="govuk-heading-s">Multiple regions:</p>
    <blockquote>
      <% ['N12 9RF'].each do |pcode| %>
        <span style="cursor: default;" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" data-module-helper=postcode><%= pcode %></span>
      <% end %>
    </blockquote>
    <p class="govuk-heading-s">No regions:</p>
    <blockquote>
      <% ['NN8 1LF', 'BL0 0KX'].each do |pcode| %>
        <span style="cursor: default;" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" data-module-helper=postcode><%= pcode %></span>
      <% end %>
    </blockquote>
    <p class="govuk-heading-s">Complex results:</p>
    <blockquote>
      <%
        ['L3 9PP', 'L7 6HD', 'SA38 9BH', 'SP11 9AY', 'NN1 5BT', 'NN8 1LS', 'BL5 1HT', 'N12 9RF', 'AB11 5PN', 'AB11 5PL', 'AB12 4SB', 'AB12 3LF', 'AB10 6PP', 'AB10 1QS', 'NE6 1LA', 'SW1X 9AE', 'MK41 0RU', 'NN8 4PW'].each do |pcode| %>
        <span style="cursor: default;" onmouseout="this.style.textDecoration='none'" onmouseover="this.style.textDecoration='underline'" data-module-helper=postcode><%= pcode %></span>
      <% end %>
    </blockquote>
  </div>
</details>