<%= govuk_grouped_field(f, t('.select_security'), :security_type, t('.security_description_html')) do %>
  <%= f.hidden_field :security_type %>
  <%= govuk_radios_conditional do %>
    <% FacilitiesManagement::SecurityTypes.order(:sort_order).each do |security_type| %>
      <div class="govuk-radios__item">
        <%= f.radio_button :security_type, security_type[:title], id: security_type[:id], class: 'govuk-radios__input' %>
        <%= f.label :security_type, security_type[:title], for: security_type[:id], class: 'govuk-label govuk-radios__label govuk-label--s' %>
        <span class="govuk-hint govuk-radios__hint"><%= security_type[:description] %></span>
      </div>
    <% end %>
    <%= govuk_radio_driver %>
    <%= render partial: 'facilities_management/buildings/other', locals: { f: f, attribute: :security_type, other_attribute: :other_security_type, description: t('.describe_security'), disabled: false, not_other: f.object.security_type != 'other'}%>
  <% end %>
<% end %>
