<p class="govuk-caption-m govuk-!-width-two-thirds"><%= t('.help_text') %></p>
<%= form_group_with_error(f.object, :building_type) do |displayed_error| %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <%= t('.choose_building_type') %>
    </legend>
    <%= displayed_error %>
    <%= f.hidden_field :building_type %>
    <div class="govuk_radios">
      <% FacilitiesManagement::Building::BUILDING_TYPES[0..1].each do |building_type| %>
        <div class="govuk-radios__item">
          <%= f.radio_button :building_type, building_type[:id], class: 'govuk-radios__input' %>
          <%= f.label :building_type, value: building_type[:id], class: 'govuk-label govuk-radios__label govuk-label--s' do %>
            <%= building_type[:title] %>
            <%= building_type_caption(building_type) %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= govuk_radio_driver %>
    <details class="govuk-details" data-module="govuk-details" <%= 'open' if open_state_of_building_details %>>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t('.view_more') %>
        </span>
      </summary>
      <div class="govuk-details__text govuk-!-padding-bottom-0">
        <%= govuk_radios_conditional do %>
          <% FacilitiesManagement::Building::BUILDING_TYPES.drop(2).each do |building_type| %>
            <div class="govuk-radios__item">
              <%= f.radio_button :building_type, building_type[:id], class: 'govuk-radios__input', disabled: !open_state_of_building_details %>
              <%= f.label :building_type, value: building_type[:id], class: 'govuk-label govuk-radios__label govuk-label--s' do %>
                <%= building_type[:title] %>
                <%= building_type_caption(building_type) %>
              <% end %>
            </div>
          <% end %>
          <%= govuk_radio_driver %>
          <%= render partial: 'facilities_management/buildings/other', locals: { f: f, attribute: :building_type, other_attribute: :other_building_type, description: t('.describe_building'), disabled: !open_state_of_building_details, not_other: f.object.building_type != 'other'}%>
        <% end %>
      </div>
    </details>
  </fieldset>
<% end %>
