<p class="govuk-caption-m govuk-!-width-two-thirds"><%= t('.help_text') %></p>
<%= form_group_with_error(f.object, :building_type) do |displayed_error| %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <%= t('.choose_building_type') %>
    </legend>
    <%= displayed_error %>
    <%= f.hidden_field :building_type %>
    <%= govuk_radios_conditional do %>
      <% FacilitiesManagement::Building::BUILDING_TYPES[0..1].each do |building_type| %>
        <%= building_type_radio_button(f, building_type, false) %>
      <% end %>
      <%= govuk_radio_driver %>
      <details class="govuk-details govuk-!-margin-left-0" data-module="govuk-details" <%= 'open' if open_state_of_building_details %>>
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            <%= t('.view_more') %>
          </span>
        </summary>
        <div class="govuk-details__text govuk-!-padding-bottom-0">
          <% FacilitiesManagement::Building::BUILDING_TYPES.drop(2).each do |building_type| %>
            <%= building_type_radio_button(f, building_type, !open_state_of_building_details) %>
          <% end %>
          <%= govuk_radio_driver %>
          <%= render partial: 'facilities_management/buildings/other', locals: { f: f, attribute: :building_type, other_attribute: :other_building_type, description: t('.describe_building'), disabled: !open_state_of_building_details, not_other: f.object.building_type != 'other'}%>
        </div>
      </details>
    <% end %>
  </fieldset>
<% end %>
