<% content_for :page_title, t(".heading") %>
<%= render partial: 'shared/error_summary', locals: { errors: @building.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">
      <%= t('.step') %>
    </span>
    <span class="govuk-caption-xl">
      <%= t('.sub_title') %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<%= form_with url: create_path, model: @building, method: :post, html: { specialvalidation: true, novalidate: true } do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= hidden_field_tag :step, 'add_address' %>
      <%= render partial: "facilities_management/buildings/edit_partials/add_address", locals: { f: f } %>
      <%= f.hidden_field :address_region, value:'' %>
      <%= f.hidden_field :address_region_code, value:'' %>
      <%= f.hidden_field :building_name %>
      <%= f.hidden_field :description %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <%= f.submit(t('.save_and_continue'), class: 'govuk-button govuk-!-margin-right-4', data: { module: 'govuk-button' }, name: :add_address) %>
    </div>
  </div>
<% end %>
