<% content_for :page_title, t(".heading.#{section}") %>
<%= render partial: 'shared/error_summary', locals: { errors: @building.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">
      <%= t('.step', step_number: section_number) %>
    </span>
    <span class="govuk-caption-xl">
      <%= t('.sub_title', building_name: @building.building_name) %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= t(".heading.#{section}") %>
    </h1>
  </div>
</div>

<%= form_with url: update_path, model: @building, method: :put, html: { specialvalidation: true, novalidate: true } do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "facilities_management/buildings/edit_partials/#{section}", locals: { f: f } %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <% if section == :add_address %>
        <%= f.submit(t('.save_and_continue'), class: 'govuk-button govuk-!-margin-right-4', data: { module: 'govuk-button' }) %>
      <% else %>
        <div class="govuk-button-group">
          <%= f.submit(t('.save_and_continue'), class: 'govuk-button', data: { module: 'govuk-button' }) unless last_step? %>
          <%= f.submit(t('.save_and_return'), class: "govuk-button #{ 'govuk-button--secondary' unless last_step? }", data: { module: 'govuk-button' }, name: :save_and_return) %>
        </div>
        <p>
          <%= link_to t('.skip_this_step'), next_step_path, class: 'govuk-link--no-visited-state' %>
        </p>
        <% unless last_step? %>
          <p class='govuk-caption-m'>
            <%= t('.next_step', next_step: t(".next_steps.#{section}")) %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>