<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
  <%= content_for :page_title, pd.heading_details.text %>
    <div class="govuk-!-width-two-thirds">
    <%= form_for @page_data[:model_object], url: facilities_management_building_path(@page_data[:model_object].id), html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
      <%= render partial: 'area', locals: { f: f } %>
      <%= govuk_continuation_buttons(pd, f, true, true, true, false, false, false) %>
    <% end %>
    <p class="govuk-caption-m govuk-!-margin-top-3"><%= step_footer %></p>
  </div>
<% end %>
