<%= govuk_page_content(@page_description, @page_data[:model_object]) do |pd| %>
<%= content_for :page_title, pd.heading_details.text %>
  <div class="govuk-!-width-two-thirds">
    <%= form_for @page_data[:model_object], url: facilities_management_building_path(@page_data[:model_object].id), html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('.gia_header') %></h2>
    <p class="govuk-caption-m"><%= t('.description_html') %></p>
    <p class="govuk-caption-m"><%= t('.further_info_html') %></p>
      <input type="hidden" name="step" value="gia"/>
      <%= govuk_start_individual_field(f, :gia, {}, false, true, { 'data-module': 'ccs-character-count', 'data-maxlength': '9', 'data-numbertype': 'integer' }) do %>
        <span class="input-type">
          <span class="input-type__inner ccs-character-count-container">
            <%= f.label :gia, 'gia', class: "govuk-heading-s govuk-!-margin-bottom-0 govuk-visually-hidden"%>
            <%= govuk_text_input(f, :gia, :large, type: 'number', pattern: '[0-9]', required: 'true', maxlength: 9, size: 12, class: 'input-type__input ccs-character-count', style: 'min-width: 10ex', 'aria-live': 'polite', 'aria-describedby': "facilities_management_building_gia") %>
            <abbr class="input-type__type" aria-hidden="true" title="Square metres">sqm</abbr>
          </span>
        </span>
        <div id="<%= "#{f.object_name}[gia]".gsub(/(\])?\[/, "_").chop %>-info" class="govuk-hint govuk-character-count__message ccs-character-count-message no-move" aria-live="polite"></div>
      <% end %>
      <%= govuk_continuation_buttons(pd, f, true, true, true, false, false, false) %>
    <% end %>
    <p class="govuk-caption-m govuk-!-margin-top-3"><%= step_footer %></p>
  </div>
<% end %>
