<% content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('.create_new_button'), "/facilities-management/#{params[:framework]}/buildings/new", class: "govuk-button ccs-no-print govuk-!-margin-bottom-6", role: "button", aria: { label: t('.create_new_button') } %>
    <div>
      <p class="govuk-!-margin-bottom-2">
        <%= t('.start_paragraph_html', start_a_procurement_link: link_to(t('.start_a_procurement_link_text'), start_a_procurement_path, class: 'govuk-link govuk-link--no-visited-state')) %>
      </p>
      <%= govuk_details(t('.how_it_works')) do %>
          <p class="govuk-!-margin-bottom-2">
            <%= t('.start_warning_1') %>
          </p>
          <p class="govuk-!-margin-bottom-2">
            <%= t('.start_warning_2') %>
          </p>
          <p>
            <%= t('.start_warning_3') %>
          </p>
      <% end %>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      <%= t('.my_buildings_header') %>
    </h2>
    <% if @buildings.count.zero? %>
      <hr class="govuk-section-break govuk-section-break--visible">
      <p class="govuk-!-margin-top-4">
        <%= t('.no_buildings_text') %>
      </p>
      <hr class="govuk-section-break govuk-section-break--visible">
    <% else %>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t('.column_name_header') %></th>
            <th scope="col" class="govuk-table__header"><%= t('.column_desc_header') %></th>
            <th scope="col" class="govuk-table__header"><%= t('.column_lstup_header') %></th>
            <th scope="col" class="govuk-table__header"><%= t('.column_status_header') %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @buildings.each do |building| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= link_to building.building_name, show_path(building), class: 'govuk-link', aria: { label: t('.link_to_building_summary', building_name: building.building_name) } %>
              </td>
              <td class="govuk-table__cell">
                <%= building.description.to_s.length > 0 ? building.description : '-' %>
              </td>
              <td class="govuk-table__cell">
                <%= format_date_time(building.updated_at) %>
              <td class="govuk-table__cell">
                <%= govuk_tag(building.building_status) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @buildings, views_prefix: 'shared' %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= link_to t('.return_to_your_account'), facilities_management_index_path, class: "govuk-link", aria: { label: t('.return_to_your_account') } %>
    </p>
  </div>
</div>
