<% content_for :page_title, t(".heading") %>
<%= render partial: 'shared/error_summary', locals: { errors: @building.errors } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">
      <%= t('.step') %>
    </span>
    <span class="govuk-caption-xl">
      <%= t('.sub_title') %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<%= form_with url: create_path, model: @building, method: :post, html: { specialvalidation: true, novalidate: true } do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "facilities_management/buildings/edit_partials/building_details", locals: { f: f } %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-full">
      <%= f.submit(t('.save_and_continue'), class: 'govuk-button govuk-!-margin-right-4', data: { module: 'govuk-button' }) %>
      <%= f.submit(t('.save_and_return'), class: 'govuk-button govuk-button--secondary', data: { module: 'govuk-button' }, name: :save_and_return) %>
      <p class='govuk-caption-m'>
        <%= t('.next_step', next_step: t(".next_step")) %>
      </p>
    </div>
  </div>
<% end %>