<% content_for :page_title, t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m govuk-!-font-size-24">
      <%= t('.sub_title') %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= @building.building_name %>
    </h1>
  </div>
</div>

<div class="govuk-body govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-!-font-weight-bold"><%= t('.status') %></span>
    <%= govuk_tag(@building.building_status) %>

    <div class="govuk-inset-text">
      <%= @building.status == 'Ready' ? t('.complete_text') : t('.incomplete_text') %>
    </div>
  </div>
</div>

<div class="govuk-body govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m"><%= t('.page_title') %></h2>

    <dl class="govuk-summary-list">
      <% building_rows.each do |attribute, building_detail| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t(".row_name.#{attribute}") %>
          </dt>
          <% if building_detail[:value].present? %>
            <dd class="govuk-summary-list__value">
              <%= building_row_text(attribute, building_detail[:value]) %>
            </dd>
            <dd class="govuk-summary-list__actions">
              <%= link_to(t('.change'), edit_path(@building, building_detail[:section]), role: 'link', class: 'govuk-link') %>
            </dd>
          <% else %>
            <dd class="govuk-summary-list__value">
              <%= link_to(t('.answer_question'), edit_path(@building, building_detail[:section]), role: 'link', class: 'govuk-link') unless attribute == :region %>
            </dd>
            <dd class="govuk-summary-list__actions"></dd>
          <% end %>
        </div>
      <% end %>
    </dl>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      <%= link_to @back_text, @back_path, class: "govuk-link", aria: { label: @back_text } %>
    </p>
  </div>
</div>
