<%= form_for @building_service, url: facilities_management_procurement_buildings_service_path(@building_service.id), method: :put, html: {specialvalidation: true, novalidate: true, multipart: true} do |f| %>
  <%= f.hidden_field :step, value: @partial_prefix %>
  <%= render partial: 'shared/error_summary', locals: { errors: f.object.errors } %>
  <%= form_group_with_error(f.object, :service_hours) do %>
    <h3 class="govuk-heading-m">
      <%= t('.hour_heading') %>
    </h3>
    <div class="govuk-hint">
      <%= t('.hour_hint') %>
    </div>
    <div>
      <%= display_error f.object, :service_hours %>
      <%= f.label :service_hours, t('.hour_label'), class: 'govuk-label' %>
      <%= f.number_field :service_hours, class: "govuk-input govuk-input--width-5 #{'govuk-input--error' if f.object.errors.key?(:service_hours)}" %>
    </div>
  <% end %>

  <%= form_group_with_error(f.object, :detail_of_requirement) do %>
    <h3 class="govuk-heading-m">
      <%= t('.detail_heading') %>
    </h3>
    <div class="govuk-hint">
      <%= t('.detail_hint') %>
    </div>
    <div class="govuk-!-margin-bottom-4">
      <%= govuk_details(t('.detail_example'), true) do%>
        <div class="govuk-hint">
          <span>
            <%= t('.detail_example_1') %>
          </span><br />
          <span>
            <%= t('.detail_example_2') %>
          </span><br />
          <span>
            <%= t('.detail_example_3') %>
          </span><br />
          <span>
            <%= t('.detail_example_4') %>
          </span><br />
          <br />
          <span>
            <%= t('.detail_example_5') %> 
          </span><br />
          <span>
            <%= t('.detail_example_6') %>
          </span>
        </div>
      <% end %>
    </div>
    <div>
      <%= display_error f.object, :detail_of_requirement %>
      <%= f.label :detail_of_requirement, t('.detail_label'), class: 'govuk-label' %>
      <div class="ccs-character-count-container" data-module="ccs-character-count" data-maxlength="500">
        <%= govuk_text_area_input f, :detail_of_requirement, true, rows: 5, maxlength: 500, class: 'govuk-!-margin-bottom-2' %>
      </div>
    </div>
  <% end %>

  <div class="govuk-grid-row govuk-!-margin-top-9">
    <%= f.submit t('.save_and_return'), class: 'govuk-button govuk-button--primary govuk-!-margin-left-3 govuk-!-margin-bottom-4', data: { disable_with:false }, 'aria-label': t('.save_and_return') %>
  </div>
  <%= link_to t('.return_to_service_requirements_summary'), facilities_management_procurement_building_path(@procurement_building), class: 'govuk-link--no-visited-state' %>
<% end %>
