<% attribute =  volume_question(f.object) %>
<%= form_group_with_error(f.object, attribute) do %>
  <%= f.label attribute, t(".question.#{attribute}"), class: 'govuk-heading-m govuk-!-margin-bottom-0' %><br>
  <%= display_error f.object, attribute %>
  <%= f.text_field attribute, class: "govuk-input ccs-number-field ccs-integer-field govuk-input--width-10 #{'govuk-input--error' if f.object.errors[attribute].any?}", min: 1, maxlength: 11 %>
  <span class="ccs-unit-label <%= 'ccs-unit-label--error' if f.object.errors[attribute].any?%>"><%= t(".unit.#{attribute}") %></span>
<% end %>
