<%= content_for :page_title, @building_service.name.html_safe %>
<div class="govuk-body govuk-grid-row procurement-building-service">
    <div class="govuk-grid-column-full">
      <%= render('facilities_management/procurements/shared/backlink_header') %>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <span class="govuk-caption-m"><%= @procurement_building.procurement.contract_name %>
        - <%= @procurement_building.name %></span>
      <h1 class="govuk-heading-xl"><%= @building_service.name %></h1>
      <%= render partial: "#{@partial_prefix}"%>
  </div>
</div>
