<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-bottom-0"><%= t('.caption') %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 cmp-page-heading"><%= t('.heading', number: @upload.short_uuid) %></h1>
    <table>
      <tbody>
      <tr>
        <td>
          <p class="govuk-body govuk-!-margin-bottom-0"><strong><%= t('.status') %></strong></p>
        </td>
        <td>
          <p class="govuk-body govuk-!-margin-bottom-0"><strong class="govuk-tag ccs-tag-<%= @upload.aasm_state %>"><%= t("supply_teachers.admin.uploads.index.#{@upload.aasm_state}") %></strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong><%= t('.datetime') %></strong></p>
        </td>
        <td>
          <p><%= @upload.created_at.in_time_zone.strftime('%d %b %Y at %l:%M%P') %></p>
        </td>
      </tr>
      </tbody>
    </table>
    <% if @upload.fail_reason.present? %>
      <div class="govuk-inset-text cmp-inset-text--error">
        <h3><%= t('.error_heading') %></h3>
        <p class="govuk-body govuk-body-s govuk-error-message">
          <%= @upload.fail_reason %>
        </p>
      </div>
    <% end %>

    <table class="govuk-table govuk-!-margin-top-4">
      <caption class="govuk-table__caption"><%= t('.files') %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><%= t('.spreadsheet') %></th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @attributes.each do |attribute| %>
        <% if @upload.send(attribute).file.present? %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row"><%= t(".#{attribute.to_s}") %></th>
            <td class="govuk-table__cell"><%= link_to 'Download', @upload.send(attribute).url %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <% if @upload.in_review? %>
      <p class="govuk-body govuk-!-margin-top-8"><%= t('.confirm_changes') %></p>
      <%= link_to t('.approve'), supply_teachers_admin_upload_approve_path(@upload), class: 'govuk-button' %>
      <%= link_to t('.reject'), supply_teachers_admin_upload_reject_path(@upload), class: 'govuk-button govuk-button--warning' %>
    <% end %>
  </div>
</div>