<% content_for(:page_title, t('.heading')) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to t('.return_link'), facilities_management_rm3830_procurements_path,  'aria-label': t('.return_link'), class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>
    <%= govuk_page_header(FacilitiesManagement::PageDetail::Heading.new(t('.heading'), @procurement.contract_name, nil, nil, nil)) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      <%= t('.before_you_proceed') %> 
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Review <%= pluralize(buildings_with_missing_regions.count, 'building') %> with missing <%= 'region'.pluralize(buildings_with_missing_regions.count) %>
    </h2>
    <p>
      <%= t('.could_you_review') %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 30%"> <%= t('.building_name') %> </th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 40%"> <%= t('.building_address') %> </th>
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 30%"> <%= t('.building_region') %> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% buildings_with_missing_regions.each do |building| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= building.name %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= building.full_address %></td>
            <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to t('.select_region'), edit_facilities_management_rm3830_procurement_building_path(building, step: 'missing_region'), class: 'govuk-link govuk-link--no-visited-state' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <%= link_to t('.return_link'), facilities_management_rm3830_procurements_path,  'aria-label': t('.return_link'), class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19' %>
  </div>
</div>