<div class="govuk-body">
  <%= render partial: 'facilities_management/rm3830/procurements/requirements/errors_on_requirements', locals: { errors: @procurement.errors } %>
  <div class="govuk-!-width-three-quarters">
    <span class="govuk-caption-m govuk-!-font-size-24"><%= @procurement.contract_name %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.title') %></h1>
    <% content_for :page_title, t('.title') %>
    <p>
      <%= t('.description') %>
    </p>
    <%= form_for @procurement, url: facilities_management_rm3830_procurement_path(@procurement.id), method: :patch, html: { specialvalidation: true, novalidate: true, multipart: true } do |f| %>
      <%= render 'facilities_management/rm3830/procurements/requirements/contract_details'  %>
      <%= render 'facilities_management/rm3830/procurements/requirements/services_and_buildings' %>
      <%= render partial: 'continue_button_footer', locals: { f: f } %>
    <% end %>
  </div>
</div>
