<fieldset class="govuk-fieldset">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    <%= heading %>
  </h2>
</fieldset>
<p class="govuk-caption-m govuk-!-margin-top-0" id="service-caption">
  <%= subtitle %>
</p>
<p class="govuk-!-margin-bottom-1">
  <%= service_specification_document('rm3830') %>
</p>
<p class="govuk-caption-m govuk-!-margin-top-0"><%= t('.caption2') %></p>
<%= display_error @procurement, :service_codes %>
<div class="govuk-grid-column-full" style="padding-left:0">
  <div class="chooser-input">
    <%= govuk_accordion_with_checkboxes(
      'edit-services',
      rm3830_accordion_service_items(service_codes),
      'facilities_management_rm3830_procurement_service_codes',
      'facilities_management_rm3830_procurement[service_codes]'
    ) do |section_id, item| %>
      <%= link_to t('.learn_more'), facilities_management_rm3830_service_specification_path(item[:code], section_id), target: '_blank' %>
      <%= govuk_tag_with_text(:grey, t('common.da_eligible')) if da_eligible?(item[:value]) %>
    <% end %>
  </div>
</div>
