<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p>
      <%= t('.page_details_1')%>
    </p>
    <p>
      <%= t('.page_details_2')%>
    </p>
  </div>
  <div class="govuk-grid-column-one-half procurement-add-buildings-container">
    <h2 class="govuk-heading-m">
     <%= t('.new_buildings')%>
    </h2>
    <p>
      <%= t('.new_buildings_details')%>
    </p>
    <%= link_to t('.add_a_building'), new_building_path, class: 'govuk-button govuk-button--secondary' %>
    <%= govuk_details(t('.how_it_works')) do %>
      <p>
        <%= t('.how_it_works_1') %>
      </p>
      <p>
        <%= t('.how_it_works_2') %>
      </p>
      <p>
        <%= t('.how_it_works_3') %>
      </p>
    <% end %>
  </div>
</div>

<%= form_group_with_error f.object, :procurement_buildings do |displayed_error| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        <%= t('.my_buildings') %>
      </h2>
      <%= displayed_error %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <% if current_user.buildings.any? %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 55%"><%= t('.building_name_and_address') %></th>
              <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 30%"><%= t('.status') %></th>
              <td class="govuk-table__header govuk-!-font-weight-bold" style="width: 15%"></td>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @buildings.each_with_index do |building, index| %>
              <%= f.fields_for :procurement_buildings_attributes, building, index: index, include_id: false do |pb_field|%>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-padding-right-2">
                    <div class="govuk-fieldset <%= 'govuk-form-group--error' if f.object.errors.any? && building.status == 'Ready' %>">
                      <%= procurement_building_row(pb_field, building) %>
                    </div>
                    <%= pb_field.hidden_field(:building_id, value: building.id) %>
                  </td>
                  <td class="govuk-table__cell govuk-!-padding-right-2"><%= govuk_tag(*building.building_status)%></td>
                  <td class="govuk-table__cell govuk-!-padding-right-2"><%= link_to t('.details'), show_building_path(building.id), class: "govuk-link govuk-link--no-visited-state", aria: { label: t('.details_link_aria_label', building_name: building.building_name) } %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <% @hidden_buildings.each.with_index(100) do |hidden_building, index| %>
          <%= f.fields_for :procurement_buildings_attributes, hidden_building, index: index, include_id: false do |pb_field|%>
            <%= pb_field.hidden_field :active, value: @building_params[hidden_building.id] %>
            <%= pb_field.hidden_field :building_id, value: hidden_building.id %>
          <% end %>
        <% end %>

        <input type="hidden" name="page" value="<%= params[:page]%>"/>
        <%= paginate @buildings, views_prefix: 'facilities_management/procurement_details', f: f %>
      <% else %>
        <hr class="govuk-section-break govuk-section-break--visible">
          <p class="govuk-hint govuk-!-margin-top-2 govuk-!-margin-bottom-2">
            <%= t('.no_saved_buildings') %>
          </p>
        <hr class="govuk-section-break govuk-section-break--visible">
      <% end %>
    </div>
  </div>
<% end %>
