<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <fieldset class="govuk-fieldset">
      <%= form_group_with_error(f.object, :tupe) do |displayed_error| %>
        <%= hint_details(t('.first_question'), t('.body_text_html')) %>

        <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-4">
          <%= govuk_details(t('.what_you_need_to_know_title')) do %>
            <%= t('.what_you_need_to_know_html') %>
            <%= link_to t('.tupe_link_text'), t('.tupe_link'), class: 'govuk-link', tabIndex: -1, target: :blank %>
          <% end %>
        </div>

        <div class="govuk-!-margin-top-3">
          <%= displayed_error %>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <%= f.radio_button :tupe, true, class: 'govuk-radios__input', required: true %>
              <%= f.label :tupe, 'Yes', value: true, class: 'govuk-label govuk-radios__label' %>
            </div>
            <div class="govuk-radios__item">
              <%= f.radio_button :tupe, false, class: 'govuk-radios__input', required: true %>
              <%= f.label :tupe, 'No', value: false , class: 'govuk-label govuk-radios__label' %>
            </div>
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
