<div class="govuk-!-margin-top-5">
  <div class="govuk-form-group <%= 'govuk-form-group--error' if @procurement.errors[:mobilisation_period_required].any? || total_contract_length_error? %>">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        <span class='govuk-heading-m govuk-!-margin-bottom-0'>
          <%= t('.heading') %>
        </span>
      </legend>
      <p class="govuk-caption-m govuk-!-margin-top-0 govuk-!-width-two-thirds"><%= t('.description') %></p>
      <span id="mobilisation-required-warning"></span>
      <div class="govuk-form-group">
        <%= govuk_radios_conditional do %>
          <%= display_errors f.object, :mobilisation_period_required %>
          <%= govuk_radios_conditional_item(f, :mobilisation_period_required, true, 'Yes') %>
          <%= govuk_radios_conditional_area(:mobilisation_period_required, true) do %>
            <%= govuk_text_input(
              f,
              :mobilisation_period,
              {
                label: {
                  text: t('.label_text'),
                  classes: 'govuk-label--s'
                },
                hint: {
                  text: t('.hint_text'),
                  id: 'mobilisation-period-hint'
                },
                input: {
                  classes: 'govuk-input--width-4',
                  maxlength: 3,
                  suffix: {
                    text: t('.unit')
                  },
                  aria: {
                    describedby: 'mobilisation-period-hint'
                  }
                }
              }
            )%>
          <% end %>
          <%= govuk_radios_conditional_item(f, :mobilisation_period_required, false, 'No') %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
