<%= content_for :page_title, t('.admin_page_heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if flash[:account_added] %>
      <%= govuk_notification_banner(nil, true) do %>
        <h3 class="govuk-notification-banner__heading">
          <%= t('.user_account_created_banner.title') %>
        </h3>
        <p class="govuk-body">
          <%= t('.user_account_created_banner.message', user_email: flash[:account_added]) %>
        </p>
      <% end %>
    <% end %>

    <% if flash[:error_message].present? %>
      <%= govuk_notification_banner(classes: 'ccs-notification-banner--error', title_text: t('.something_went_wrong_banner.error'), role: :alert) do %>
        <h3 class="govuk-notification-banner__heading">
          <%= t('.something_went_wrong_banner.title') %>
        </h3>
        <p class="govuk-body">
          <%= t('.something_went_wrong_banner.message', error_message: flash[:error_message]) %>
        </p>
      <% end %>
    <% end %>

    <h1 class="govuk-heading-xl"><%= t('.admin_page_heading') %></h1>
    <p class="govuk-body"><%= t('.support_users_blurb') %></p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= t('.facilities_management') %></li>
      <li><%= t('.legal_service') %></li>
      <li><%= t('.management_consultancy') %></li>
      <li><%= t('.supply_teachers') %></li>
    </ul>
  </div>
</div>

<%= ccs_dashboard_section(
  [
    {
      title: t('.new_user_invite_title'),
      href: add_user_crown_marketplace_manage_users_path(section: 'select-role'),
      description: t('.new_user_body')
    },
    {
      title: t('.manage_users_title'),
      href: crown_marketplace_manage_users_path,
      description: t('.manage_users_body')
    }
  ],
  t('.user_support_heading')
) %>

<%= ccs_dashboard_section(
  [
    {
      title: t('.allow_list_heading'),
      href: crown_marketplace_allow_list_index_path,
      description: t('.allow_list_body')
    }
  ],
  t('.allow_list_heading')
) %>
