<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="<%= facilities_management_beta_admin_path %>">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.leading_text') %></li>
  </ol>
</div>
<h1 class="govuk-heading-xl"><%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.heading_title') %></h1>
<p class="govuk-body govuk-!-font-weight-regular govuk-brand-light-grey">
  <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.leading_text') %>
</p>
<p class="govuk-body govuk-body govuk-!-font-weight-bold">
  <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.note') %>
</p>
<form>
  <% @full_services.each do |service| %>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold govuk-!-width-one-quarter left"><%= service['name'] %></th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left">
            <% if(service['value_type'] == 'money') %>
              <% if(service['standard_b'].length > 0 || service['standard_c'].length > 0) %>
                <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rate_a') %>
              <% else %>
                <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rate_pound_a') %>
              <% end %>
            <% else %>
              <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rate_percentage_a') %>
            <% end %>
          </th>
          <% if(service['standard_b'].length > 0) %>
            <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left"><%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rate_b') %> </th>
          <% end %>
          <% if(service['standard_c'].length > 0) %>
            <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left"> <%= raw t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rate_c') %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% service['work_package'].each do |work_pckg| %>
         
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td"><%= work_pckg['code'] %> <%= work_pckg['name'] %></td>
            
            
            <% work_pckg['rates'].each do |rate| %>
              <% if rate.standard.blank? %>
                  <td class="govuk-table__cell supplier-rates-td">
                      <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= rate.benchmark %>">
                  </td>
              <% end %>


              <% if rate.standard == 'A' %>
                  <td class="govuk-table__cell  supplier-rates-td">
                      <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= rate.benchmark %>">
                  </td>
              <% end %>
              
              <% if rate.standard == 'B' %>
                  <td class="govuk-table__cell  supplier-rates-td">
                      <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= rate.benchmark %>">
                  </td>
              <% end %>
              
              <% if rate.standard == 'C' %>
                  <td class="govuk-table__cell  supplier-rates-td">
                      <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= rate.benchmark %>">
                  </td>
              <% end %>              
            
            <% end %>
          </tr>
        <% end %>  
      </tbody>
    </table>
  <% end %>



  <h3 class="govuk-heading-xl govuk-!-font-weight-bold"><%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.heading_title_two') %></h3>
  <p class="govuk-body govuk-body govuk-brand-light-grey-benchmark">
    <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.benchmark_text') %>
  </p>
  

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold govuk-!-width-two-quarters left">
            <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.item') %>
          </th>
          <th scope="col" class="govuk-table__header app-custom-class govuk-!-font-weight-bold left">
            <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rate') %>
          </th>
        <tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= raw t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_overhead') %>
        </td>
  
        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "M.140" ).benchmark %>">
        </td>
  </tr>
  <tr class="govuk-table__row">        
        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_corporate') %>
        </td>

        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "M.141" ).benchmark %>">
        </td>
  </tr>
    <tr class="govuk-table__row">

        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_profit') %>
        </td>

        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "M.142" ).benchmark %>">
        </td>

    </tr>
    <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_london') %>
        </td>

        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "M.144" ).benchmark %>">
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= raw t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_cleaning') %>
        </td>

        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "M.146" ).benchmark %>">
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_tupe') %>
        </td>

        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "M.148" ).benchmark %>">
        </td>
    </tr>
    <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular supplier-rates-td">
          <%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.td_mobilisation') %>
        </td>

        <td class="govuk-table__cell supplier-rates-td">
          <input class="govuk-input govuk-input--width-3" id="event-name" name="event-name" type="number" value="<%= @rates.find_by(code: "B.1" ).benchmark %>">
        </td>
    </tr>
          
      </tbody>
    </table>


  <input type="submit" name="update_benchmark_rates" value="<%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.update_button') %>" class="govuk-button" data-disable-with="Continue">
  <a href="<%= facilities_management_beta_admin_path %>" class="govuk-link govuk-caption-m" alt="Return to admin dashboard"><%= t('facilities_management.beta.admin.supplier_rates.supplier_benchmark_rates.rtrn_link') %></a>
</form>