<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <%= t('.status') %> <span class=govuk-!-padding-left-2><%= govuk_tag(@procurement.buildings_and_services_status) %></span>
  </div>
  <div class="govuk-grid-column-full govuk-hint">
    <%= t('.summary_html', buildings_link: link_to(t('.buildings_link_text'), facilities_management_procurement_summary_path(@procurement, summary: 'buildings'), class: 'govuk-link govuk-link--no-visited-state')) %>
  </div>
</div>

<table class="govuk-table govuk-!-width-full">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 50%"> <%= t('.buildings') %> </td>
      <th class="govuk-table__header govuk-!-font-weight-bold" scope="col" style="width: 50%"> <%= t('.services') %> </td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @active_procurement_buildings.each do |procurement_building| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-padding-right-2" valign="top">
          <%= link_to procurement_building.name, edit_facilities_management_procurement_building_path(procurement_building, step: 'buildings_and_services'), class: 'govuk-link--no-visited-state ccs-font-weight-semi-bold' %>
          <br/>
          <%= procurement_building.address_no_region %>
        </td>
        <% if procurement_building.service_codes.any? %>
          <td class="govuk-table__cell govuk-!-padding-right-2" valign="top">
            <%= govuk_details("#{pluralize(procurement_building.service_codes.count, 'service')} selected") do %>
              <ul class="govuk-!-padding-left-3 govuk-!-margin-top-2">
                <% procurement_building.service_codes.each_with_index do |service_code, index| %>
                  <li class="<%= 'govuk-!-padding-top-2' unless index == 0%>">
                    <%= "#{service_name(service_code)}" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
        <% else %>
          <td class="govuk-table__cell govuk-!-padding-right-2" valign="middle">
            <span class="govuk-hint"> <%= t('.no_service_selected') %> </span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @active_procurement_buildings, views_prefix: 'shared' %>
