<h2 class="govuk-heading-l">
  <%= t('.heading') %>
</h2>
<%= link_to 'Change', edit_facilities_management_procurement_path(@procurement, step: @summary_page), class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-2' %>

<table class="govuk-table govuk-!-width-three-quarters">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-font-weight-bold" style="width: 50%"></td>
      <td class="govuk-table__header govuk-!-font-weight-bold" style="width: 50%"></td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row" id="contract-period">
      <th class="govuk-table__header govuk-border-bottom_none govuk-table__cell govuk-!-padding-right-2"> <%= t('.initial_call_off_period') %> </th>
      <td class="govuk-table__cell govuk-border-bottom_none govuk-!-padding-right-2"><%= initial_call_off_period %></td>
    </tr>
    <tr class="govuk-table__row" id="contract-period-description">
      <td class="govuk-table__cell govuk-!-padding-right-2"></td>
      <td class="govuk-table__cell govuk-!-padding-right-2"><%= initial_call_off_period_description %></td>
    </tr>
    <% if @procurement.mobilisation_period_required %>
      <tr class="govuk-table__row" id="mobilisation-period">
        <th class="govuk-table__header govuk-border-bottom_none govuk-table__cell govuk-!-padding-right-2"> <%= t('.mobilisation_period') %> </th>
        <td class="govuk-table__cell govuk-border-bottom_none govuk-!-padding-right-2"><%= mobilisation_period %></td>
      </tr>
      <tr class="govuk-table__row" id="mobilisation-period-description">
        <td class="govuk-table__cell govuk-!-padding-right-2"></td>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= mobilisation_period_description %></td>
      </tr>
    <% else %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-table__cell govuk-!-padding-right-2"> <%= t('.mobilisation_period') %> </th>
        <td class="govuk-table__cell govuk-!-padding-right-2"><%= mobilisation_period %></td>
      </tr>
    <% end %>
    <% if @procurement.extensions_required %>
      <% @procurement.optional_call_off_extensions.sorted.each do |optional_call_off_extension| %>
        <tr class="govuk-table__row" id="<%= "call-off-extension-#{optional_call_off_extension.extension}" %>">
          <th class="govuk-table__header govuk-border-bottom_none govuk-table__cell govuk-!-padding-right-2"> <%= t('.optional_call_off_extension_period') %> <%= optional_call_off_extension.extension + 1 %> </th>
          <td class="govuk-table__cell govuk-border-bottom_none govuk-!-padding-right-2"> <%= optional_call_off_extensions_period(optional_call_off_extension) %> </td>
        </tr>
        <tr class="govuk-table__row" id="<%= "call-off-extension-#{optional_call_off_extension.extension}-description" %>">
          <td class="govuk-table__cell govuk-!-padding-right-2"></td>
          <td class="govuk-table__cell govuk-!-padding-right-2"> <%= extension_period_description(optional_call_off_extension.extension) %> </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="govuk-table__row" id="call-off-extension">
        <th class="govuk-table__header govuk-table__cell govuk-!-padding-right-2"> <%= t('.optional_call_off_extensions') %> </th>
        <td class="govuk-table__cell govuk-!-padding-right-2"> <%= t('.none') %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
