<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-7">
      <%= t('.lead_html') %>
    </p>

    <p class="govuk-body">
      <%= t('.line_01') %>
    </p>

    <p class="govuk-body">
      <%= t('.line_02_html') %>:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-1">
      <li>
        <%= t('.list_01') %>
      </li>
      <li>
        <%= t('.list_02') %>
      </li>
    </ul>

    <%= govuk_button(t('.back_to_create'), href: sign_up_path, classes: 'govuk-!-margin-top-4  govuk-!-margin-bottom-8 govuk-!-padding-left-5 govuk-!-padding-right-5') %>
  </div>
</div>
