<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render partial: 'shared/error_summary', locals: { errors: @result.errors }%>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= t('.heading_html') %>
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-8">
      <%= t('.lead') %>
    </p>

    <%= form_with url: sign_up_path, model: @result, method: :post, html: { novalidate: true } do |f| %>
      <%= govuk_input(
        :email,
        form: f,
        label: {
          text: t('.email'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: t('.email_hint')
        },
        field_type: :email,
        classes: 'govuk-!-width-three-quarters',
        attributes: {
          name: "#{resource_name}[email]",
          autofocus: true,
          autocomplete: 'off',
          spellcheck: false,
          required: true
        }
      ) %>

      <%= govuk_password_input(
        :password,
        form: f,
        label: {
          text: t('.create_password'),
          classes: 'govuk-label--m'
        },
        hint: {
          text: capture do
            concat(tag.p(t('.your_password_must_have'), class: 'govuk-body'))
            concat(password_strength('password01'))
          end
        },
        form_group: {
          classes: 'govuk-!-width-three-quarters'
        },
        attributes: {
          name: "#{resource_name}[password]",
          id: "password01",
          autocomplete: 'off',
        }
      ) %>

      <%= govuk_password_input(
        :password_confirmation,
        form: f,
        label: {
          text: t('.confirm_password'),
          classes: 'govuk-label--m'
        },
        form_group: {
          classes: 'govuk-!-width-three-quarters'
        },
        attributes: {
          name: "#{resource_name}[password_confirmation]",
          id: "password02",
          autocomplete: 'off',
        }
      ) %>

      <%= govuk_button(t('common.create_account'), form: f, classes: 'govuk-!-padding-left-7 govuk-!-padding-right-7 govuk-!-margin-bottom-8', attributes: { aria: { label: t('common.create_account') } }) %>
    <% end %>
  </div>
</div>
