
    <a href="/facilities-management/select-services" class="govuk-back-link ccs-no-print">Back</a>

    <%= render('errors/inline_error_summary') %>

    <div>
      <fieldset class="govuk-fieldset" aria-describedby="">
        <strong class="govuk-heading-xl"> Review services without pricing</strong>
<!--
        <div class="govuk-inset-text ccs-no-print">
          <strong>On this page</strong><br>
          <span>Based on your choices, we are showing suppliers in three different groups.</span>
       </div>
-->
      </fieldset>
      <p class="govuk-!-font-size-36">
        <strong><%= @without_pricing.count %> suppliers found</strong>
         (from <%= @without_pricing.count + @with_pricing.count%> selected) without a price.
      </p>
      <p class="govuk-!-font-size-36">
        Your assessed value is £???,??? for the contract term of 7 years.
      </p>
      <p class="govuk-!-font-size-36">
        Your suggested sub-lot at this time is: <strong>Lot 1a</strong>, subject to the contract value being up to £7m.
      </p>


      <!-- Start of filter section -->
      <div class="govuk-grid-row">



<!--
        <a id="filter-toggle-btn" id="filter-toggle-btn" href="" class="govuk-button ccs-no-print" role="button">Hide filters</a><br>
        <div id="fm-filter-pane" class="govuk-grid-column-one-third">
          <%= render('facilities_management/long_list/filters') %>
        </div>
-->

<!---

        <div id="CCS-fm-suppliers-long-list" class="govuk-grid-column-two-thirds">
            <% if (@suppliers_lot1a) %>
            <%= render('facilities_management/long_list/lot1a') %>
            <% end %>
            <% if (@suppliers_lot1b) %>
            <%= render('facilities_management/long_list/lot1b') %>
            <% end %>
            <% if (@suppliers_lot1c) %>
            <%= render('facilities_management/long_list/lot1c') %>
            <% end %>
        </div>
--->



      </div>

<!----
<p>Choices used to generate your shortlist:</p>
<p>Filters used</p>
<p>Regions(<%= @subregions.count %>)</p>
<% @subregions.each do |key2, value2| %>
<div>
  <fieldset aria-describedby="<%= value2 %>">
    <div id="location-checkboxes">
      <div>
        <input class="govuk-checkboxes__input" id="<%= key2 %>" name="<%= key2 %>" locationid="<%= value2 %>" type="checkbox" value="<%= key2 %>">
        <label id="<%= key2 %>_label" for="<%= key2 %>">
          <%= value2 %>
        </label>
      </div>
    </div>
  </fieldset>
</div>
<% end %>
----->
<!--
<p/>
<p>Services with pricing (<%= @with_pricing.count %>):</p>
<% @with_pricing.each do | service | %>
<p><strong><%= service.name %></strong></p>
<% end %>
-->
<p/>
<p>Services without pricing (<%= @without_pricing.count %>):</p>
<% @without_pricing.each do | service | %>
<p><strong><%= service.name %></strong></p>
<% end %>
<!------->

<p/>
<div class="">
    <p><strong>You can now download the supplier list and requirements document</strong></p>

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This list will be saved and it will be available for you later, for up to 60 days from today.
        </strong>
    </div>

    <p class="govuk-body govuk-body-s supplier-record__print-option">
        <a class="supplier-record__file-download ga-download-calculator" aria-label="Download supplier list and Deliverables Matrix Lite" href="/facilities-management/summary?calculations=yes&amp;format=xlsx&amp;job_type=qt&amp;looking_for=worker&amp;payroll_provider=agency&amp;postcode=sw1p+2ba&amp;term=8_12&amp;worker_type=agency_supplied">Download supplier list and Deliverables Matrix Lite</a>
    </p>
</div>

      <div class="govuk-grid-row ccs-no-print">


        <a id="suppliers-continue-button" href="/facilities-management/standard-contract/questions" class="govuk-button ccs-no-print" role="button">Continue</a><br>
        <a id="suppliers-summary-button" href="/facilities-management/summary" class="govuk-button ccs-no-print" role="button">XX Summary</a><br>
        <a id="suppliers-summary-button" href="/facilities-management/summary?lot=1a" class="govuk-button ccs-no-print" role="button">XX Summary Lot 1a</a><br>
        <a id="suppliers-summary-button" href="/facilities-management/summary?lot=1b" class="govuk-button ccs-no-print" role="button">XX Summary Lot 1b</a><br>
        <a id="suppliers-summary-button" href="/facilities-management/summary?lot=1c" class="govuk-button ccs-no-print" role="button">XX Summary Lot 1c</a><br>






        <p>
          <a id="FM-print-supplier-list" role="button" class="supplier-record__print-option ccs-no-print" href="" >Print this page</a>
        </p>
      </div>
    </div>

