<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <p class="govuk-body-l">
      <%= t('.if_you_need_to_talk') %>
    </p>
    <div class="ccs-panel ccs-panel--confirmation">
      <div class="ccs-panel__title">
        <%= t('.your_unique_reference_number') %>
      </div>
      <div class="ccs-panel__body">
        <%= @procurement.contract_number %>
      </div>
    </div>
    <p>
      <%= t('.you_have_two_option') %>
    </p>
    <div>
      <h2 class="govuk-heading-m">
        <%= t('.option_1.heading') %>
      </h2>
      <p>
        <%= t('.option_1.details') %>
      </p>
    </div>
    <div class="govuk-heading-m govuk-!-margin-left-4">
      <%= t('.or') %>
    </div>
    <div>
      <h2 class="govuk-heading-m">
        <%= t('.option_2.heading') %>
      </h2>
      <p>
        <%= t('.option_2.details') %>
      </p>
    </div>
    <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-3">
      <%= link_to_generated_file_for_download(facilities_management_rm6232_procurement_supplier_shortlist_spreadsheet_path(@procurement.id), :xlsx, t('.selected_suppliers'), true) %>
    </div>
  </div>
</div>