<%= content_for :page_title, t('.heading') %>
<%= admin_breadcrumbs({ text: t('.heading') })%>

<h1 class="govuk-heading-xl">
  <%= t('.heading') %>
</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-hint">
      <%= t('.view_supplier_data') %>
    </p>
    <p class="govuk-body govuk-hint">
      <%= t('.find_supplier') %>
    </p>
    <%= search_box(t('.search_for_a_supplier'))%>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table" id="fm-table-filter">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-bold" scope="col"><%= t('.supplier_name') %></th>
          <td class="govuk-table__header"></td>
          <td class="govuk-table__header"></td>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @suppliers.each do |supplier| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-padding-right-2" scope="row">
              <%= supplier.supplier_name %>
            </th>
            <td class="govuk-table__cell govuk-!-padding-right-2">
              <%= link_to t('.view_details'), facilities_management_admin_supplier_detail_path(id: supplier.id), class: 'govuk-link govuk-link--no-visited-state' %>
            </td>
            <td class="govuk-table__cell govuk-!-padding-right-2">
              <%= link_to t('.view_lot_data'), facilities_management_rm6232_admin_supplier_lot_datum_path(supplier.id), class: 'govuk-link govuk-link--no-visited-state' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
