<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= t('.you_have_selected') %>
    </h2>
    <div id="number-of-buildings">
      <p class="govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">
        <%= @active_procurement_buildings.count %>
      </p>
      <p class="govuk-!-font-weight-bold">
        <%= t('.building').pluralize(@active_procurement_buildings.count) %>
      </p>
    </div>
    <p class="govuk-caption-m">
      <%= t('.the_buildings_below') %>
    </p>

    <%= link_to t('.change'), edit_path, class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-2' %>
    
    <hr class="govuk-section-break govuk-section-break--m">
    
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-font-weight-bold"><%= t('.table_caption') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @active_procurement_buildings.each do |procurement_building| %>
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-table__cell govuk-border-bottom_none govuk-!-padding-bottom-0"><%= procurement_building.building_name %></th>
          </tr>
          <tr>
            <td class="govuk-table__cell govuk-!-padding-top-0"><%= procurement_building.address_no_region %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <hr class="govuk-section-break govuk-section-break--m">

    <%= paginate @active_procurement_buildings, views_prefix: 'shared' %>
  </div>
</div>
