      <div class="govuk-header__container govuk-width-container">

        <div class="govuk-header__logo">
          <a href="<%= ccs_homepage_url %>" class="govuk-header__link govuk-header__link--homepage ga-crown-logo" aria-label="Crown Commercial Service homepage">
            <span class="govuk-header__logotype">
              <%= render partial: '/layouts/logotype' %>
            </span>
          </a>
        </div>

        <div class="govuk-header__content">
          <% if the_landing_page %>
            <span class="govuk-header__link govuk-header__link--service-name" style="text-decoration: none;">Crown Marketplace</span>
          <% else %>
           <%= link_to_service_start_page %>
            <nav>
              <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                <% if logged_in? %>
                  <li class="govuk-header__navigation-item">
                    <%= link_to 'Back to start', service_start_page_path, class: 'govuk-header__link' %>
                  </li>
                  <li class="govuk-header__navigation-item">
                      <%= button_to "Sign out", sign_out_path, class: 'ccs-header__signout' %>
                  </li>
                <% end %>
              </ul>
            </nav>
          <% end %>
        </div>

      </div>
