<ul id="ccs-password-rules" class="govuk-list govuk-!-margin-left-2  govuk-!-margin-bottom-6">
  <li id="passeight" aria-labelledby="<%= text %>">
    <span><b>&bullet;</b></span>&nbsp;<%= t('common.passeight') %>
  </li>
  <li id="passsymbol" aria-labelledby="<%= text %>">
    <span><b>&bullet;</b></span>&nbsp;<%= t('common.passsymbol_html') %>
  </li>
  <li id="passcap" aria-labelledby="<%= text %>">
    <span><b>&bullet;</b></span>&nbsp;<%= t('common.passcap') %>
  </li>
  <li id="passnum" aria-labelledby="<%= text %>">
    <span><b>&bullet;</b></span>&nbsp;<%= t('common.passnum') %>
  </li>
</ul>
