<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8" />
  <title>GOV.UK - The best place to find government services and information</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

  <!--[if !IE 8]><!-->
    <%= stylesheet_link_tag 'govuk-frontend/all' %>
  <!--<![endif]-->

  <!--[if IE 8]>
    <%= stylesheet_link_tag 'govuk-frontend/all-ie8' %>
  <![endif]-->

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv/dist/html5shiv' %>
  <![endif]-->

  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<body class="govuk-template__body ">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">

      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <%= image_tag('ccs_logotype_med.png', alt: 'Crown Commercial Service') %>
          </span>
        </a>
      </div>
    </div>
  </header>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <% if flash.key?(:error) %>
        <span class="govuk-error-message">
          <%= flash[:error] %>
        </span>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-footer__container govuk-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <span class="govuk-footer__logotype">
            <%= image_tag('ccs_logotype_med.png', alt: '') %>
          </span>
        </div>

        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item">
              © Crown copyright
            </div>
          </div>
        </div>
    </div>
  </footer>

  <%= javascript_include_tag 'govuk-frontend/all' %>
  <%= javascript_include_tag 'application' %>
  <script>
    window.GOVUKFrontend.initAll()

  </script>
</body>

</html>
