<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8" />
    <title><%= page_title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_path('images/ccs-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <%= favicon_link_tag asset_path('images/favicon.ico') %>
    <%= favicon_link_tag asset_path('images/favicon.svg'), type: "image/svg+xml" %>
    <%= favicon_link_tag asset_path('images/ccs-icon-mask.svg'), rel: 'mask-icon', type: 'image/svg', color: "#0b0c0c" %>
    <% %w[ 180 192 512 ].each do |size| %>
    <%= favicon_link_tag asset_path("images/ccs-icon-#{size}.png"), rel: 'apple-touch-icon', type: 'image/png', size:"#{size}x#{size}" %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', type: 'module' %>

    <%= render partial: '/shared/google/tag_manager_head' if Marketplace.google_tag_manager_tracking_id.present? %>
  </head>
  <body class="govuk-template__body">
    <%= render partial: '/shared/google/tag_manager_body' if Marketplace.google_tag_manager_tracking_id.present? %>
    <%= javascript_tag nonce: true do -%>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end -%>
    <% if Rails.env.production? && user_signed_in? %>
      <%= auto_session_timeout_js(attributes: { nonce: true }) %>
    <% end %>

    <div id="wrapper">
      <%= govuk_skip_link(t('.skip'), '#main-content')%>
      <%= render partial: '/layouts/cookie-banner' unless cookie_preferences_settings['settings_viewed'] || controller.action_name == 'cookie_settings' %>
      <%= render partial: '/layouts/header' %>

      <main class="govuk-width-container govuk-!-margin-bottom-6" role="main">
        <%= render partial: '/layouts/phase-banner' %>

        <div id="main-content" >
          <div class="back-button-wrapper govuk-!-margin-top-3 govuk-!-margin-bottom-7">
            <%= render(partial: '/layouts/back-link') if @back_path.present? %>
          </div>

          <%= yield %>
        </div>
      </main>

      <%= render partial: '/layouts/footer' %>
    </div>
  </body>
</html>
