<%= content_for :page_title, t('.title') %>
<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
    <h1 class="govuk-panel__title">
        <%= t('.title') %>
    </h1>
    <div class="govuk-panel__body">
        Contract name: <%= @contract.procurement.contract_name %> </br>
        Contract number: <%= @contract.contract_number %> 
    </div>
</div>

<div class="govuk-!-width-three-quarters">
  <h2 class="govuk-heading-m govuk-!-margin-top-4"><%= t('.what_happens_next') %></h2>

  <h2 class="govuk-heading-m govuk-!-margin-top-0"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list01_title') %></h2>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list01_1') %></li>
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list01_2') %></li>
  </ul>
  
  <h2 class="govuk-heading-m govuk-!-margin-top-0"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list02_title') %></h2>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list02_1') %></li>
  </ul>
    
  <h2 class="govuk-heading-m govuk-!-margin-top-0"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list03_title') %></h2>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list03_1') %></li>
  </ul>
    
  <h2 class="govuk-heading-m govuk-!-margin-top-0"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list04_title')  %></h2>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-0 govuk-!-padding-0 govuk-!-padding-left-7">
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list04_1') %></li>
    <li class="govuk-!-margin-top-2 govuk-!-margin-bottom-2"><%= t('facilities_management.supplier.contracts.accepted_contract_offer.list04_2') %></li>
  </ul>
    
</div>
