<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

      <% if Marketplace.dfe_signin_enabled? %>
        <p>
          <%= t('.dfe_signin.instructions') %>
        </p>

        <%= link_to('Sign in with DfE Sign-in',
                    dfe_sign_in_path,
                    role: 'button',
                    class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 ga-auth-dfe') %>

        <p>
          <%= t('.dfe_signin.create_account_html',
                link: support_email_link(t('.cmp_support_aria_label'))) %>
        </p>

        <p>
          <%= t('.dfe_signin.outside_england_html',
                link: support_email_link(t('.cmp_support_aria_label'))) %>
        </p>
      <% end %>

      <%= link_to('Sign in with beta credentials',
                  cognito_sign_in_path,
                  role: 'button',
                  class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 ga-auth-cognito') %>
    </div>
  </div>
</div>
