<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

      <% if Marketplace.dfe_signin_enabled? %>
        <p>
          <%= t('.dfe_signin.instructions') %>
        </p>

        <%= link_to('Sign in with DfE Sign-in',
                    dfe_sign_in_path,
                    role: 'button',
                    class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 ga-auth-dfe') %>

        <h2 class="govuk-heading-l"><%= t(".subheading") %></h2>

        <p>
          <%= t('.dfe_signin.create_account_html',
                get_signin_url: 'https://help.signin.education.gov.uk/contact/service/45df2595-90b2-4662-b1ad-a94afa60615b/create-account',
                gias_url: 'https://get-information-schools.service.gov.uk/') %>
        </p>

        <p>
          <%= t('.dfe_signin.find_more_info_html', terms_url: 'https://interactions.signin.education.gov.uk/terms') %>
        </p>
        <p>
          <%= t('.dfe_signin.not_for_profit_html') %>
        </p>
        <p>
          <%= t('.dfe_signin.outside_england_html',
                url: dfe_account_request_url) %>
        </p>
      <% end %>

      <% if @cognito_enabled %>
        <%= link_to('Sign in with beta credentials',
                    cognito_sign_in_path,
                    role: 'button',
                    class: 'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8 ga-auth-cognito') %>
      <% end %>
    </div>
  </div>
</div>
